Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

Make adjustment to allow average ratings for new feedback model
  app/dashboard/models.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/models/index.html
  dashboard/views/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

scrub keywords during filter rendering
  app/assets/v2/js/pages/dashboard.js
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/models/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

fix for https://gitcoincore.slack.com/archives/CC24APWGN/p1554170508003800
  app/dashboard/helpers.py
Due: none

change content
  app/assets/v2/images/rate-capture.svg
  app/dashboard/templates/rating_capture.html
Due: none

fix isort
  app/dashboard/views.py
Due: none

add email
  app/assets/v2/images/emails/rate-capture.png
  app/retail/templates/emails/new_bounty_acceptance.html
Due: none

add capture rating
  app/app/urls.py
  app/assets/v2/js/capture-rating.js
  app/dashboard/templates/dashboard/index.html
  app/dashboard/templates/rating_capture.html
  app/dashboard/templates/shared/rate_bounties.html
  app/dashboard/views.py
Due: eslint

http response
  app/dashboard/helpers.py
Due: none

es6 style
  app/assets/v2/js/pages/dashboard.js
Due: eslint

bounty/detail : refactor NDA section
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/templates/addinterest.html
Due: eslint

review comments
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

change to rest
  app/app/urls.py
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
Due: eslint

attempted fix for https://sentry.io/organizations/gitcoin/issues/967586873/?project=1398424&referrer=slack&statsPeriod=14d
  app/marketing/views.py
Due: none

Fix the query both star rating and star rating count
  app/dashboard/views.py
Due: none

Adds unrating bounty to the emails
  app/dashboard/utils.py
  app/dashboard/views.py
  app/marketing/mails.py
  app/retail/emails.py
  app/retail/templates/emails/new_bounty_acceptance.html
  app/retail/templates/emails/new_bounty_acceptance.txt
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix the email html to add the check in the correct position
  app/retail/templates/emails/new_bounty_acceptance.html
Due: none

backend
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
Due: eslint

Update eos-tutorial.zh-CN.md
  tutorial/eos-tutorial.zh-CN.md
Due: none

Update eos-tutorial.en.md
  tutorial/eos-tutorial.en.md
Due: none

Update erc20-tutorial.en.md
  tutorial/erc20-tutorial.en.md
Due: none

Update erc20-tutorial.zh-CN.md
  tutorial/erc20-tutorial.zh-CN.md
Due: none

Update README.md
  README.md
Due: none

Update README.zh-CN.md
  README.zh-CN.md
Due: none

fix jsonresponse data and add test
  app/dashboard/tests/test_users_list.py
  app/dashboard/views.py
Due: none

fix be results
  app/dashboard/views.py
Due: none

fix non zero
  app/dashboard/models.py
Due: none

make fix + results page update
  app/dashboard/helpers.py
  app/retail/templates/results.html
  app/retail/utils.py
Due: none

move to vue to handle data
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/users.html
Due: eslint

add infinite pagination + usersearch
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
Due: eslint

comment not active filters
  app/dashboard/templates/dashboard/users.html
Due: none

Makes keywords clickable and selectable
  app/assets/v2/css/forms/select.css
  app/assets/v2/css/submit_bounty.css
  app/assets/v2/js/shared.js
  app/dashboard/templates/bounty/new.html
Due: eslint, stylelint

Makes changes to the TOS
  app/dashboard/templates/legal/terms.html
Due: none

Add CXC token (#3873)
  erc20/0x8F7073BC9d6bDec30640938667B29981dbfB8ED0.json
  images/0x8F7073BC9d6bDec30640938667B29981dbfB8ED0.png
Due: none

update docs with cypress info and makefile
  Makefile
  docs/RUNNING_LOCALLY_DOCKER.md
Due: none
