Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

fix unclosed div
  app/dashboard/templates/profiles/profile.html
Due: none

added fee when funder tries to increase bounty
  app/assets/v2/css/base.css
  app/assets/v2/css/submit_bounty.css
  app/assets/v2/js/pages/increase_bounty.js
  app/dashboard/templates/bounty/increase.html
Due: eslint, stylelint

https://gitcoincore.slack.com/archives/CAW05FUD7/p1552931946106100
  app/dashboard/templates/profiles/organization.html
  app/dashboard/templates/profiles/profile.html
Due: none

Fix for conversion rate on bounty email is wrong
  app/retail/templates/emails/funded_featured_bounty.html
Due: none

fix btns
  app/assets/v2/css/buttons.css
  app/assets/v2/css/colors.css
  app/assets/v2/css/ethhack2019.css
  app/dashboard/templates/dashboard/hackathon/ethhack_2019.html
Due: stylelint

links blank
  app/dashboard/templates/dashboard/hackathon/ethhack_2019.html
Due: none

fixes and cleanup
  app/assets/v2/css/ethhack2019.css
  app/assets/v2/images/hackathon/bg.jpg
  app/assets/v2/images/hackathon/bg2.jpg
  app/assets/v2/images/hackathon/ethback2.png
  app/assets/v2/images/hackathon/ethmain.svg
  app/assets/v2/images/hackathon/ethtext.png
  app/assets/v2/images/hackathon/microsoft.svg
  app/assets/v2/images/hackathon/plus.svg
  app/dashboard/templates/dashboard/hackathon/ethhack_2019.html
Due: stylelint

address review
  app/dashboard/templates/dashboard/hackathon/ethhack_2019.html
Due: none

old mission page was hurting my brainzzzz
  app/retail/templates/mission.html
Due: none

fixes https://sentry.io/organizations/gitcoin/issues/902519056/?project=1398424&referrer=slack&statsPeriod=14d
  app/gitcoinbot/management/commands/get_notifications.py
  scripts/debug/check_approval_amount.js
Due: eslint

cleanup logging setup
  app/app/settings.py
  docs/ENVIRONMENT_VARIABLES.md
  docs/THIRD_PARTY_SETUP.md
  requirements/base.txt
Due: none

fix responsive
  app/assets/v2/css/ethhack2019.css
  app/dashboard/templates/dashboard/hackathon/ethhack_2019.html
Due: stylelint

fix responsive sizes
  app/assets/v2/css/ethhack2019.css
  app/dashboard/templates/dashboard/hackathon/ethhack_2019.html
Due: stylelint

kudos
  app/kudos/kudos.yaml
Due: none

hidden flag for grants
  app/grants/admin.py
  app/grants/migrations/0018_grant_hidden.py
  app/grants/models.py
  app/grants/views.py
Due: none

add description
  app/dashboard/views.py
Due: none

skip grants migration 0011
  app/grants/migrations/0011_auto_20190221_2050.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

hide refund button
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

CSS changes
  app/dashboard/templates/bounty/details.html
Due: none

CSS changes
  app/assets/v2/css/bounty.css
  app/dashboard/templates/bounty/details.html
Due: stylelint

Backend changes to kudos in activity
  app/dashboard/router.py
Due: none

Frontend for kudos in bounty activities
  app/assets/v2/css/bounty.css
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/templates/bounty/details.html
Due: eslint, stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/router/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Change options multiple times.
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/shared/issue_details.html
Due: eslint

Add gettext to js
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

Removing trailing spaces
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

Undo change from `far` to `fa` (requested by @thelostone-mc) (#3316)
  app/retail/templates/shared/activity.html
Due: none

ecosystem numbers were not propogated back
  app/retail/utils.py
Due: none

https://sentry.io/organizations/gitcoin/issues/948380081/?project=1398424&referrer=slack&statsPeriod=14d
  app/dashboard/utils.py
Due: none

Fixes migrations related_names
  app/dashboard/helpers.py
  app/dashboard/migrations/0022_merge_20190325_1402.py
  app/dashboard/migrations/0023_auto_20190325_1404.py
  app/dashboard/models.py
Due: none

store useragent on metadata
  app/app/context.py
Due: none

make sure all handles are lowercase
  app/app/utils.py
Due: none
