Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

Add hcc tomken15
  eos-token/HCC@hurricaneccc.json
Due: none

gas station fix
  app/retail/templates/gas.html
Due: none

fixes https://github.com/gitcoinco/web/commit/ba7af6f6d2b48a3b89b2c6919414368b90cf43d1#diff-8f8c96fe9d5d098d20400c616f7e5917R51
  app/economy/management/commands/refresh_bounties.py
Due: none

add field to change font color
  app/dashboard/migrations/0044_auto_20190729_1703.py
  app/dashboard/models.py
  app/dashboard/templates/dashboard/index.html
Due: none

add loading
  app/assets/v2/css/vue-loader.css
  app/assets/v2/js/board.js
  app/dashboard/templates/board.html
Due: eslint, stylelint

Revert "model setup for donation tracking (#4838)"
  app/grants/migrations/0025_donation.py
  app/grants/models.py
Due: none

fixed up gold + sliver sponsor size
  app/assets/v2/css/hackathons/explorer.css
  app/dashboard/templates/shared/hackathon_sponsors.html
Due: stylelint

hardcode css styling
  app/assets/v2/css/hackathons/explorer.css
Due: stylelint

https://github.com/gitcoinco/web/commit/f6b75d7d07c6274dd757b3e0ea4d9075f47936ce#r34485683
  app/dashboard/migrations/0044_auto_20190729_1817.py
Due: none

fixed up gold + sliver sponsor size (#4880)
  app/assets/v2/css/hackathons/explorer.css
  app/dashboard/templates/shared/hackathon_sponsors.html
Due: stylelint

fix grants owner migration
  app/grants/migrations/0026_auto_20190729_1727.py
Due: none

fix grants owner migration (#4881)
  app/grants/migrations/0026_auto_20190729_1727.py
Due: none

remove bad migration
  app/dashboard/migrations/0044_auto_20190729_1703.py
Due: none

Revert "fix grants owner migration (#4881)"
  app/grants/migrations/0026_auto_20190729_1727.py
Due: none

add migrations
  app/dashboard/migrations/0045_auto_20190729_1900.py
Due: none

add contrib loading
  app/assets/v2/js/board.js
  app/dashboard/templates/board.html
  app/dashboard/templates/shared/nav_auth.html
  app/dashboard/views.py
Due: eslint

lint fixes
  app/assets/v2/js/board.js
  app/dashboard/templates/board.html
Due: eslint

default to funder
  app/assets/v2/js/board.js
  app/dashboard/templates/board.html
Due: eslint

owocki feedback
  app/assets/v2/css/board.css
  app/dashboard/templates/board.html
  app/dashboard/views.py
Due: stylelint

mobile love
  app/assets/v2/css/board.css
  app/dashboard/templates/board.html
Due: stylelint

add pending interest
  app/dashboard/views.py
Due: none

Correctly catch the error in dashboard#profile_job_opportunity
  app/dashboard/views.py
Due: none

change query
  app/dashboard/router.py
Due: none

Fixes #4870
  app/app/urls.py
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/views.py
Due: eslint

add missing migration
  app/dashboard/migrations/0044_auto_20190730_1237.py
  app/grants/migrations/0026_auto_20190730_1237.py
Due: none

Add button to sync Github issue
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/templates/bounty/details.html
  app/dashboard/views.py
Due: eslint

Fix lint formatting
  app/assets/v2/js/grants/detail.js
Due: eslint

Issue#4817 - invite_url variable removed from the dom - invite_url removed from the client request when sharing a bounty
  app/assets/v2/js/pages/bounty_share.js
  app/dashboard/templates/social_contribution_modal.html
  app/dashboard/views.py
Due: eslint

sets user personas
  app/dashboard/models.py
  app/dashboard/sql/persona.py
  scripts/crontab
Due: none

persona calc on safve
  app/dashboard/models.py
Due: none

a few small fixes
  app/dashboard/management/commands/set_user_personas.py
  app/dashboard/models.py
  scripts/crontab
Due: none

Update Github sync alert messages syntax
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

of a tip
  docs/README.md
Due: none

docs on crowdfund contribution page were wrong
  app/assets/v2/js/pages/increase_bounty.js
  app/dashboard/templates/bounty/increase.html
Due: eslint

crowdfund contribs + USD estimates for them were completely jacked
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/shared.js
Due: eslint

make fix
  app/assets/v2/js/pages/increase_bounty.js
Due: eslint

Libra vote token (#4606)
  erc20/0x82A81Ef62aBdF0e9cA4C25ec9eC5CA0234235Ab7.json
  images/0x82A81Ef62aBdF0e9cA4C25ec9eC5CA0234235Ab7.png
Due: none

add card desc for grow eth hackathon
  app/dashboard/views.py
Due: none

removing local.env
  .gitignore
  app/app/local.env
Due: none

fix typo in eth_sum calc
  app/dashboard/models.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
