Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

Adds more margin to end of About section
  app/grants/templates/grants/detail/template-grant-details.html
Due: none

Fix linters
  app/assets/v2/js/pages/profile-trust.js
  app/assets/v2/scss/gitcoin.scss
Due: eslint, stylelint

Fixes Hackathon sponsor tribes follow buttons
  app/dashboard/templates/dashboard/index-vue.html
Due: none

Fixes web3 modal z-index (so that its above navbars menu)
  app/assets/v2/scss/gitcoin.scss
Due: stylelint

Fixes margins on Hackathon areas sticky header
  app/dashboard/templates/dashboard/hackathon/project_page.html
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/templates/dashboard/sponsors.html
  app/dashboard/templates/profiles/tribes-vue.html
Due: none

Updates various b-buttons variant attr (so that they don't default to secondary)
  app/assets/v2/js/pages/profile-trust.js
  app/assets/v2/js/vue-components.js
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/templates/dashboard/sponsors.html
  app/dashboard/templates/dashboard/users-elastic.html
  app/dashboard/templates/profiles/tribes-vue.html
  app/grants/templates/grants/cart/extension/binance.html
  app/grants/templates/grants/cart/extension/harmony.html
  app/grants/templates/grants/cart/extension/kusama.html
  app/grants/templates/grants/cart/extension/polkadot.html
  app/grants/templates/grants/cart/extension/rsk.html
  app/grants/templates/grants/cart/qr/celo.html
  app/grants/templates/grants/cart/qr/zcash.html
  app/grants/templates/grants/cart/qr/zil.html
Due: eslint

hide active QF card on collection page
  app/assets/v2/js/grants/index.js
  app/grants/templates/grants/index.html
Due: eslint

fix follow button position on list view
  app/grants/templates/grants/components/card.html
Due: none

add missing chain logo on grant card
  app/grants/templates/grants/components/card.html
Due: none

ensure followed grants + idle grants show up on clr page
  app/grants/templates/grants/shared/sidebar_search.html
Due: none

recreate cards
  app/assets/v2/scss/grants/card.scss
  app/dashboard/templates/dashboard/sponsors.html
  app/grants/templates/grants/components/card.html
Due: stylelint

fix value
  app/assets/v2/scss/grants/card.scss
Due: stylelint

show active round section in CLR page
  app/grants/urls.py
  app/grants/views.py
Due: none

Add CNHC token
  erc20/0x9293C7B4B4FB90FB3EE76f7C6189aA841E57E5c0.json
  images/0x9293C7B4B4FB90FB3EE76f7C6189aA841E57E5c0.png
Due: none

show custom % in active state on entering custom amount
  app/grants/templates/grants/cart/eth.html
Due: none

adds the ability to access grants API data via API KEYs
  app/grants/migrations/0112_grantapikey.py
  app/grants/models.py
  app/grants/views.py
  docs/API.md
Due: none

Update views.py
  app/grants/views.py
Due: none

fix is collection
  app/assets/v2/js/grants/index.js
Due: eslint

recreate migration
  app/grants/migrations/0113_grantapikey.py
Due: none

Brings back Sybil Profile and Stats tabs
  app/assets/v2/js/grants/_detail.js
  app/grants/templates/grants/detail/_index.html
Due: eslint

Tidies up region/category/sub-category columns
  app/grants/templates/grants/detail/template-grant-details.html
Due: none

fix migration
  app/grants/migrations/0113_grantapikey.py
Due: none

Switches collections static image for robot static image
  app/retail/templates/shared/grant_thanks_modal.html
Due: none

responsivity updates + f pattern + font hierarchy
  app/retail/emails.py
  app/retail/templates/emails/bounty_startwork_expire_warning.html
  app/retail/templates/emails/bounty_uninterested.html
  app/retail/templates/emails/comment.html
  app/retail/templates/emails/faucet_request.html
  app/retail/templates/emails/funded_featured_bounty.html
  app/retail/templates/emails/grant_recontribute.html
  app/retail/templates/emails/grant_txn_failed.html
  app/retail/templates/emails/grant_update.html
  app/retail/templates/emails/grants/grant_cancellation.html
  app/retail/templates/emails/grants/new_grant.html
  app/retail/templates/emails/grants/new_grant_approved.html
  app/retail/templates/emails/grants/new_supporter.html
  app/retail/templates/emails/grants/subscription_terminated.html
  app/retail/templates/emails/grants/successful_contribution.html
  app/retail/templates/emails/grants/support_cancellation.html
  app/retail/templates/emails/grants/thank_you_for_supporting.html
  app/retail/templates/emails/grants/update_notification.html
  app/retail/templates/emails/kudos_mint.html
  app/retail/templates/emails/kudos_mkt.html
  app/retail/templates/emails/match_distribution.html
  app/retail/templates/emails/mention.html
  app/retail/templates/emails/new_bounty.html
  app/retail/templates/emails/new_bounty_acceptance.html
  app/retail/templates/emails/new_bounty_expire_warning.html
  app/retail/templates/emails/new_kudos.html
  app/retail/templates/emails/new_tip.html
  app/retail/templates/emails/no_applicant_reminder.html
  app/retail/templates/emails/no_applicant_reminder.txt
  app/retail/templates/emails/request_funds.html
  app/retail/templates/emails/share_bounty_email.html
  app/retail/templates/emails/shared_activities_actions.html
  app/retail/templates/emails/shared_bounty_actions.html
  app/retail/templates/emails/shared_quest_actions.html
  app/retail/templates/emails/start_work_applicant_about_to_expire.html
  app/retail/templates/emails/start_work_new_applicant.html
  app/retail/templates/emails/start_work_rejected.html
  app/retail/templates/emails/template.html
  app/retail/templates/emails/tribe_hackathon_prizes.html
Due: none

dashboard wallet
  app/assets/quadraticlands/css/app.css
  app/assets/quadraticlands/css/app.css.map
  app/assets/quadraticlands/scss/dashboard/content-wallet.scss
  app/assets/quadraticlands/scss/dashboard/section_dashboard.scss
  app/quadraticlands/templates/quadraticlands/components/footer.html
  app/quadraticlands/templates/quadraticlands/dashboard/index.html
  app/quadraticlands/templates/quadraticlands/dashboard/wallet.html
  app/quadraticlands/templates/quadraticlands/index.html
Due: stylelint

fix logic fetching tokens
  app/assets/v2/js/cart.js
Due: eslint

Clear only the checked-out data from the cart after successful checkout
  app/assets/v2/js/cart-data.js
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/create-collection-modal.js
  app/assets/v2/js/grants/grant-thanks-modal.js
Due: eslint

Drops surplus console.log messages
  app/assets/v2/js/cart.js
Due: eslint

fix filters when moving around my collections
  app/assets/v2/js/grants/index.js
  app/grants/templates/grants/shared/landing_qf_active.html
  app/grants/templates/grants/shared/sidebar_search.html
Due: eslint

Drops surplus console.log messages
  app/assets/v2/js/cart-data.js
Due: eslint

Updating text slightly
  app/retail/emails.py
Due: none

Switches collections static image for space-funding-woman
  app/assets/v2/images/grants/chloes-list.png
  app/assets/v2/images/grants/space-funding-woman.png
  app/retail/templates/shared/grant_thanks_modal.html
Due: none

change rsk logo
  app/assets/v2/images/chains/rsk.svg
Due: none

Changes grant creation message prompt to success (green)
  app/grants/views.py
Due: none

revised verbiage
  app/retail/templates/emails/grants/new_grant.html
Due: none

Fixes follow button on tribes
  app/dashboard/templates/profiles/tribes-vue.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

remove collection to add if already on it
  app/assets/v2/js/grants/index.js
  app/assets/v2/scss/gitcoin.scss
  app/assets/v2/scss/hackathons/explorer.scss
  app/grants/templates/grants/components/card.html
Due: eslint, stylelint

fix bug when on collection click filters
  app/assets/v2/js/grants/index.js
Due: eslint

R-BTC -> RBTC; use sharper logo
  app/assets/v2/images/chains/rsk.svg
  app/assets/v2/js/cart-data.js
  app/assets/v2/js/grants/cart/rsk_extension.js
  app/assets/v2/js/grants/funding.js
  app/assets/v2/js/pages/bounty_detail/rsk_extension.js
  app/assets/v2/js/pages/bounty_details2.js
  app/dashboard/sync/rsk.py
  app/grants/sync/rsk.py
Due: eslint

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
