Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

handle nonce too low issues in grants payout
  app/grants/management/commands/payout_round.py
Due: none

Change pagination from 100 -> 10 for hackathon project response fix for infinite scrolling on project directory
  app/assets/v2/js/vue-components.js
Due: eslint

let sponsors set winners
  app/dashboard/views.py
Due: none

add mentors to bounty channels
  app/dashboard/views.py
Due: none

add event as a valid param key for bounties viewset
  app/dashboard/router.py
Due: none

Wip can manage for sponsors on mentors
  app/assets/v2/js/vue-components.js
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/views.py
Due: eslint

remove mention of embed.html to ensure no crashing, TODO: remove embed.html
  app/chat/templates/embed.html
  app/retail/templates/shared/embed_chat_iframe.html
Due: none

update bootstrap vue to 2.1.5, migrate chat functionality into a slideout sidebar
  app/assets/v2/css/base.css
  app/assets/v2/css/bootstrap-vue.min.css
  app/assets/v2/css/dashboard-vue-hackathon.css
  app/assets/v2/js/chatWindow.js
  app/assets/v2/js/lib/bootstrap-vue.min.js
  app/assets/v2/js/pages/dashboard-hackathon.js
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/templates/shared/chat_nav.html
  app/retail/templates/shared/embed_chat_iframe.html
  app/retail/templates/shared/footer_scripts.html
  app/retail/templates/shared/footer_scripts_lite.html
  app/townsquare/templates/townsquare/index.html
Due: eslint, stylelint

users are now automatically logged in if no session found when activating the chat window
  app/app/urls.py
  app/assets/v2/css/base.css
  app/assets/v2/js/chatWindow.js
  app/assets/v2/js/pages/dashboard-hackathon.js
  app/chat/templates/chat_login.html
  app/chat/views.py
  app/dashboard/templates/shared/chat_nav.html
Due: eslint, stylelint

Chat is now in a Sidebar, needs testing
  app/app/urls.py
  app/assets/v2/js/chatWindow.js
  app/assets/v2/js/pages/dashboard-hackathon.js
  app/assets/v2/js/users.js
  app/assets/v2/js/vue-components.js
  app/chat/templates/embed.html
  app/chat/views.py
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/templates/profiles/tribes-vue.html
  app/dashboard/templates/shared/chat_nav.html
  app/retail/templates/shared/head.html
Due: eslint

wip, chat sidebar works across browsers with notifications, NOTE: mattermost webapp changes needed
  app/assets/v2/js/chatWindow.js
  app/assets/v2/js/pages/dashboard-hackathon.js
  app/chat/templates/chat_login.html
  app/dashboard/templates/shared/chat_nav.html
  app/retail/templates/shared/head.html
Due: eslint

remove some comments and eslint fixes
  app/assets/v2/js/base.js
  app/assets/v2/js/chatWindow.js
Due: eslint

WIP, more chatWindow handlers to be migrated and rebound/moved to the new flow, e2e flow is in place
  app/assets/v2/js/chatWindow.js
  app/chat/templates/chat_login.html
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/templates/shared/chat_nav.html
  app/dashboard/views.py
Due: eslint

Mobile Fixes - sidebar is full width for mobile now, and has a header(needs styling) - login flow is improved for mobile apps.
  app/assets/v2/js/chatWindow.js
  app/chat/templates/chat_login.html
  app/dashboard/templates/shared/chat_nav.html
Due: eslint

Chat Mentors Release - project channel refactor into a celery task - set mentors through the sponsorship dashboard in the hackathon view
  app/app/utils.py
  app/assets/v2/css/base.css
  app/assets/v2/js/chatWindow.js
  app/assets/v2/js/vue-components.js
  app/chat/tasks.py
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/views.py
Due: eslint, stylelint

remove jquery from the contentWindow if check
  app/assets/v2/js/chatWindow.js
  app/chat/templates/chat_login.html
Due: eslint

updates to fix the sponsor widget margins
  app/dashboard/templates/dashboard/index-vue.html
Due: none

rm test nginx conf
  data/nginx/app.conf
Due: none

use .first()
  app/chat/tasks.py
Due: none

chat panel app cleanup, needs styling around copy/content of loading
  .gitignore
  app/assets/v2/css/base.css
  app/assets/v2/js/chatWindow.js
  app/dashboard/templates/shared/chat_nav.html
  chatdata/config/config.json
Due: eslint, stylelint

eslint fixes
  app/assets/v2/js/chatWindow.js
Due: eslint

mentor v0 - can add N number of mentors to the mentor group per bounty, and they are added into the project channels of which are associated
  app/app/urls.py
  app/assets/v2/js/user-search.js
  app/assets/v2/js/vue-components.js
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/views.py
Due: eslint

abstract iframe fetch into helper
  app/assets/v2/js/chatWindow.js
Due: eslint

remove the socket hijack for the frame logged in test, use the window and content document of hte iframe through cross origin setup.
  app/assets/v2/js/chatWindow.js
  app/chat/templates/chat_login.html
  app/dashboard/templates/shared/chat_nav.html
  data/nginx/app.conf
Due: eslint

WIP, default mentors now can be setup from the hackathon dashboard, adjustments to what js is loaded, chat is now available everywhere
  app/assets/v2/js/chatWindow.js
  app/assets/v2/js/user-search.js
  app/assets/v2/js/vue-components.js
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/templates/profiles/tribes-vue.html
  app/dashboard/views.py
  app/retail/templates/shared/footer_scripts.html
  app/retail/templates/shared/footer_scripts_lite.html
  app/townsquare/templates/townsquare/index.html
Due: eslint

updated chat docs
  docs/RUNNING_CHAT_LOCALLY_DOCKER.md
Due: none

hardcode the document.domain to gitcoin.co
  app/chat/templates/chat_login.html
  app/retail/templates/shared/head.html
  chatdata/config/config.json
Due: none

rename all posts to all
  app/dashboard/templates/dashboard/index-vue.html
Due: none

cleanup and mentors are now apart of the hackathon chat sync tasks
  app/assets/v2/js/vue-components.js
  app/chat/tasks.py
  app/dashboard/views.py
Due: eslint

move dashboard next to guide
  app/dashboard/templates/dashboard/index-vue.html
Due: none

fix for the intro filter and expanded it to allow filtering by sponsors including @sponsor handle posts
  app/app/urls.py
  app/assets/v2/js/chatWindow.js
  app/assets/v2/js/pages/dashboard-hackathon.js
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/templates/dashboard/sidebar_search_hackathon.html
  app/dashboard/templates/shared/chat_nav.html
  app/dashboard/views.py
  app/retail/views.py
Due: eslint

fix for bad anchor element placement
  app/dashboard/templates/dashboard/sidebar_search_hackathon.html
Due: none

for the chat application move all logger calls to info instead of debug or error
  app/chat/tasks.py
Due: none

adds logos to presss kit
  app/assets/v2/images/presskit/logos.zip
  app/retail/templates/presskit/logo.html
Due: none

add: Feature Hackathon on townsquare #6870
  app/assets/v2/css/town_square.css
  app/townsquare/templates/townsquare/shared/hackathons.html
Due: stylelint

chore: change Townsquare Card New Hacker #7084 - [x] show hackthon tag on Looking_team_members and looking_project
  app/assets/v2/css/town_square.css
  app/dashboard/models.py
  app/dashboard/templates/dashboard/sidebar_search_hackathon.html
  app/retail/templates/shared/activity.html
Due: stylelint

removes tip per txn limit
  app/dashboard/tip_views.py
Due: none
