Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

fix conflict
  images/0xBAb165dF9455AA0F2AeD1f2565520B91DDadB4c8.png
Due: none

delete conflict images
  images/0xBAb165dF9455AA0F2AeD1f2565520B91DDadB4c8.png
  images/0xbab165df9455aa0f2aed1f2565520b91ddadb4c8.png
Due: none

re-add image
  images/0xBAb165dF9455AA0F2AeD1f2565520B91DDadB4c8.png
Due: none

stake via tips
  app/assets/v2/css/bounty.css
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/shared.js
  app/dashboard/models.py
  app/dashboard/templates/addinterest.html
  app/dashboard/templates/shared/issue_details.html
  app/dashboard/templates/shared/permissions_type_tooltip.html
  app/dashboard/views.py
  app/marketing/utils.py
  app/retail/templates/how_it_works/permissions.html
Due: eslint, stylelint

fix for https://sentry.io/organizations/gitcoin/issues/1140427881/?project=1398424&query=is%3Aunresolved&statsPeriod=14d&utc=true
  app/dashboard/admin.py
Due: none

Add press page
  app/app/urls.py
  app/retail/templates/press_page.html
  app/retail/templates/shared/minihero.html
  app/retail/views.py
Due: none

Update press page
  app/retail/templates/press_page.html
Due: none

Update css
  app/assets/v2/css/press_page.css
Due: stylelint

Remove duplicate /press url
  app/app/urls.py
Due: none

Update press page
  app/assets/v2/css/press_page.css
  app/retail/templates/press_page.html
  app/retail/templates/shared/minihero.html
Due: stylelint

Add press link to homepage
  app/retail/templates/press_page.html
  app/retail/views.py
Due: none

Update style changes
  app/assets/v2/css/press_page.css
  app/retail/templates/press_page.html
Due: stylelint

Fix indentation
  app/retail/templates/press_page.html
Due: none

Update main.css
  app/assets/onepager/css/main.css
Due: stylelint

Fix bugs
  app/assets/onepager/css/main.css
  app/dashboard/templates/ens/base.html
Due: stylelint

Update changes
  app/assets/onepager/css/main.css
  app/dashboard/templates/ens/base.html
Due: stylelint

Update ens base
  app/dashboard/templates/ens/base.html
Due: none

Update changes
  app/assets/onepager/css/main.css
Due: stylelint

Fix dark font to white
  app/assets/onepager/css/main.css
Due: stylelint

dont re-sync bounty event tags from IPFS if previous bounty had been changed in admin
  app/dashboard/helpers.py
Due: none

testing
  app/dashboard/helpers.py
Due: none

Issue#4817 (#4945)
  app/assets/v2/js/pages/bounty_share.js
  app/dashboard/templates/social_contribution_modal.html
  app/dashboard/views.py
Due: eslint

Update sidebar_search.html
  app/dashboard/templates/dashboard/sidebar_search.html
Due: none

Update users.html
  app/dashboard/templates/dashboard/users.html
Due: none

add bounty id to basic payout and not found feedback
  app/assets/v2/js/pages/process_bounty.js
  app/assets/v2/js/users.js
Due: eslint

fix for profile/virgil
  app/dashboard/templates/shared/profile_activities_tip.html
Due: none

add datepicker
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/bounty/fund.html
  app/dashboard/templates/shared/issue_deadline.html
Due: eslint

add bounty id to basic payout and not found feedback (#4966)
  app/assets/v2/js/pages/process_bounty.js
  app/assets/v2/js/users.js
Due: eslint

Finishing up the favorites backend part
  app/favorites/urls.py
  app/favorites/views.py
  app/grants/serializers.py
  app/kudos/router.py
Due: none

fix cursor pointer on dashboard left sidebar
  app/assets/v2/css/dashboard.css
Due: stylelint

Fixes and cleanup and addition
  docs/README.md
Due: none

add datepicker to details
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/bounty/details.html
  app/dashboard/templates/extend_issue_deadline.html
  app/dashboard/templates/shared/issue_deadline.html
  app/dashboard/views.py
Due: eslint

modify token info
  erc20/0x069d733a2A1cd42B130804B46BF2bB3D3f02aE9c.json
  erc20/0x4612CB7Cca81131c0F31986c562286B064A75E7A.json
  erc20/0x693d04b55963B62EF2bb7F8F28B03B25023286Ce.json
  erc20/0x7E5720b925659F711F8c243F21E3856D2f0Dcc71.json
  erc20/0xB9CC2Ddcd34a4A0D44Acb19758f56854A4499E5d.json
  erc20/0xC3db10bf52D7C4E48EEe40CB1026336eB785baA9.json
  erc20/0xE019070CA3EE26f0fed7CEd235a69992014c3181.json
  erc20/0xFE1B1e7B930Df449cD789c4C38a81a86FB15b97E.json
  erc20/0xed314Bf44013612e8c00ABd3Cb6EADe61CC8c72e.json
  images/0x069d733a2A1cd42B130804B46BF2bB3D3f02aE9c.png
  images/0x4612CB7Cca81131c0F31986c562286B064A75E7A.png
  images/0x693d04b55963B62EF2bb7F8F28B03B25023286Ce.png
  images/0x7E5720b925659F711F8c243F21E3856D2f0Dcc71.png
  images/0xB9CC2Ddcd34a4A0D44Acb19758f56854A4499E5d.png
  images/0xC3db10bf52D7C4E48EEe40CB1026336eB785baA9.png
  images/0xE019070CA3EE26f0fed7CEd235a69992014c3181.png
  images/0xFE1B1e7B930Df449cD789c4C38a81a86FB15b97E.png
Due: none

Modify token state
  erc20/0x4612CB7Cca81131c0F31986c562286B064A75E7A.json
  erc20/0x7E5720b925659F711F8c243F21E3856D2f0Dcc71.json
  erc20/0xB9CC2Ddcd34a4A0D44Acb19758f56854A4499E5d.json
  erc20/0xC3db10bf52D7C4E48EEe40CB1026336eB785baA9.json
  erc20/0xE019070CA3EE26f0fed7CEd235a69992014c3181.json
  erc20/0xFE1B1e7B930Df449cD789c4C38a81a86FB15b97E.json
Due: none

dont re-sync bounty event tags from IPFS if previous bounty event tags had been changed in admin (#4962)
  app/dashboard/helpers.py
Due: none

Fixes #4522 (#4552)
  app/dashboard/tests/test_dashboard_utils.py
  app/dashboard/utils.py
  app/healthcheck/healthchecks.py
  app/kudos/utils.py
  requirements/base.txt
Due: none

Add carousel arrows
  app/assets/v2/css/featured-bounties.css
  app/assets/v2/js/pages/dashboard.js
  app/dashboard/templates/dashboard/featured_bounties.html
Due: eslint, stylelint
