Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

add flexbox helpers class
  app/retail/templates/jtbd/fund.html
Due: none

Tidies up landings and extracts css
  app/assets/v2/scss/gc-mixins.scss
  app/assets/v2/scss/gc-utilities.scss
  app/assets/v2/scss/jtbd.scss
  app/assets/v2/scss/lib/index.scss
  app/retail/templates/jtbd/connect.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/jtbd/fund.html
  app/retail/templates/jtbd/learn.html
Due: stylelint

fix layout from landing
  app/assets/v2/scss/gitcoin.scss
  app/retail/templates/jtbd/fund.html
Due: stylelint

Fixes padding and accordions
  app/retail/templates/jtbd/connect.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/jtbd/fund.html
  app/retail/templates/jtbd/learn.html
Due: none

fix earn ctas
  app/retail/templates/jtbd/earn.html
  app/retail/templates/jtbd/fund.html
Due: none

Updates fonts and add page titles/descriptions
  app/retail/templates/jtbd/connect.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/jtbd/learn.html
  app/retail/views.py
Due: none

remove css on html tags
  app/assets/v2/scss/jtbd.scss
Due: stylelint

fix layout on earn grants
  app/retail/templates/jtbd/earn.html
Due: none

fix layout earn grants
  app/retail/templates/jtbd/earn.html
Due: none

Corrects section padding
  app/assets/v2/scss/jtbd.scss
  app/retail/templates/jtbd/connect.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/jtbd/learn.html
Due: stylelint

fix cache failing login
  app/retail/templates/jtbd/connect.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/jtbd/fund.html
  app/retail/templates/jtbd/learn.html
  app/retail/views.py
Due: none

Reduces cta btn widths
  app/assets/v2/scss/jtbd.scss
Due: stylelint

remove cache :(
  app/retail/templates/jtbd/connect.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/jtbd/fund.html
  app/retail/templates/jtbd/learn.html
Due: none

Tidies up bounties and cta sections
  app/assets/v2/scss/gc-utilities.scss
  app/assets/v2/scss/jtbd.scss
  app/retail/templates/jtbd/connect.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/jtbd/fund.html
  app/retail/templates/jtbd/learn.html
Due: stylelint

fix: UncompressableFileError due to non-existent file
  app/retail/templates/shared/head.html
Due: none

modify info
  erc20/0x8b92A08E9456a649EAA4a163fF2f42b34D6d37d1.json
Due: none

fix: UncompressableFileError due to non-existent file (#8737)
  app/retail/templates/shared/head.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Changes line-heights and colors, and fixes bounty section on earn
  app/assets/v2/scss/gc-utilities.scss
  app/assets/v2/scss/lib/index.scss
  app/perftools/management/commands/create_page_cache.py
  app/retail/templates/jtbd/connect.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/jtbd/fund.html
  app/retail/templates/jtbd/learn.html
Due: stylelint

Allows each testimonial to be seeded from the cached data (allowing for missing twitter_handles / github_handles / avatar_url's)
  app/perftools/management/commands/create_page_cache.py
  app/retail/templates/jtbd/connect.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/jtbd/fund.html
  app/retail/templates/jtbd/learn.html
Due: none

Makes the testimonials consistently spaced and uses handle for alt text
  app/retail/templates/jtbd/connect.html
  app/retail/templates/jtbd/fund.html
  app/retail/templates/jtbd/learn.html
Due: none

new noncustodial payout addr
  app/app/settings.py
  app/grants/management/commands/payout_round_noncustodial.py
  app/grants/views.py
Due: none

handles invalid payout addresses
  app/grants/management/commands/payout_round_noncustodial.py
Due: none

Fixes alignments and makes the spacing more consistent between pages
  app/retail/templates/jtbd/connect.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/jtbd/fund.html
  app/retail/templates/jtbd/learn.html
Due: none

Updates fund accordion svgs and adjusts spacing for mobile views
  app/assets/v2/images/jtbd/jtbd-10.svg
  app/assets/v2/images/jtbd/jtbd-11.svg
  app/assets/v2/images/jtbd/jtbd-12.svg
  app/retail/templates/jtbd/connect.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/jtbd/fund.html
  app/retail/templates/jtbd/learn.html
Due: none

add adfs token
  erc20/0xB406d2104417BaEC6DB073983A10154014a9F6CD.json
Due: none

https://gitcoincore.slack.com/archives/G01JE138QQH/p1617410401006100
  app/dashboard/tasks.py
  scripts/debug/recalc_earnings.py
Due: none

add fei
  erc20/0x956F47F50A910163D8BF957Cf5846D573E7f87CA.json
  erc20/0xc7283b66Eb1EB5FB86327f08e1B5816b0720212B.json
  images/0x956F47F50A910163D8BF957Cf5846D573E7f87CA.png
  images/0xc7283b66Eb1EB5FB86327f08e1B5816b0720212B.png
Due: none

purge: remove DEAD code (#8681)
  app/assets/v2/js/grants/cancel_subscription.js
  app/assets/v2/js/grants/compiledSplitter.js
  app/assets/v2/js/grants/compiledSubscriptionContract0.js
  app/assets/v2/js/grants/compiledSubscriptionContract1.js
  app/assets/v2/js/grants/compiledTokenContract.js
  app/assets/v2/js/grants/new.js
  app/grants/templates/grants/cancel.html
  app/grants/templates/grants/detail/funding.html
  app/grants/templates/grants/detail/index.html
  app/grants/templates/grants/new-whitelabel.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/shared/waiting_state.html
  app/grants/urls.py
  app/grants/views.py
  app/retail/templates/emails/grants/successful_contribution.html
  app/retail/templates/emails/grants/successful_contribution.txt
  app/retail/templates/emails/grants/thank_you_for_supporting.html
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  grants/views/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

support assets
  app/assets/v2/js/pages/bounty_detail/algorand_extension.js
  app/assets/v2/js/pages/bounty_details2.js
  app/dashboard/sync/algorand.py
Due: eslint

add migration
  app/dashboard/migrations/0176_auto_20210401_0921.py
Due: none

Adds xDai to POAP verification (#8677)
  app/dashboard/utils.py
  app/dashboard/views.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

tweak polakscan URL
  app/app/db.py
  app/dashboard/tasks.py
  app/grants/management/commands/update_contributor_address.py
  app/grants/sync/polkadot.py
  app/grants/tasks.py
  app/quests/management/commands/migrate_deadbeat_quests.py
Due: none

fix hackathons on connect
  app/perftools/management/commands/create_page_cache.py
  app/retail/templates/jtbd/connect.html
Due: none

fix hackathons on landings
  app/dashboard/utils.py
  app/perftools/management/commands/create_page_cache.py
  app/retail/templates/jtbd/connect.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/jtbd/learn.html
Due: none

fix hackathon img
  app/retail/templates/jtbd/connect.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/jtbd/learn.html
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
