Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

update per engineering convo
  docs/performance.md
Due: none

foo
  docs/performance.md
Due: none

allow change of funder address
  app/assets/v2/js/pages/bounty_details2.js
  app/dashboard/templates/bounty/details2.html
Due: eslint

post to bounty change api
  app/assets/v2/js/pages/bounty_details2.js
  app/dashboard/views.py
Due: eslint

remove check for bounty eligibility
  app/dashboard/views.py
Due: none

lower handle
  app/marketing/management/commands/ingest_csv.py
Due: none

add deeper network ERC20 token DPR
  erc20/0xf3AE5d769e153Ef72b4e3591aC004E89F48107a1.json
  images/0xf3AE5d769e153Ef72b4e3591aC004E89F48107a1.png
Due: none

Add files via upload
  images/0x3B73c1B2ea59835cbfcADade5462b6aB630D9890.png
Due: none

add chainswap token info
  erc20/0x3B73c1B2ea59835cbfcADade5462b6aB630D9890.json
Due: none

bug: bounty not defined - https://sentry.io/organizations/gitcoin/issues/2337064359/\?project\=1398424\&query\=is%3Aunresolved
  app/marketing/mails.py
Due: none

bug: invalid literal for int() with base 10: 'found'
  app/grants/management/commands/estimate_clr.py
Due: none

bug: bounty flow - invalid literal for int() for base 10
  app/git/utils.py
Due: none

invalid literal for int() with base 10: 'test ORDER BY 1#'
  app/retail/views.py
Due: none

bug: invalid literal for int() with base 10: '832170?utm_source=gitcoin'
  app/retail/views.py
Due: none

bug: Cannot read property 'length' of null
  app/assets/v2/js/cart.js
Due: eslint

rounding
  app/marketing/management/commands/ingest_csv.py
Due: none

adds quests to JTBD
  app/retail/templates/jtbd/learn.html
Due: none

fix quest
  app/retail/templates/emails/new_bounty.html
Due: none

add sum token
  erc20/0x043C308BB8a5aE96D0093444be7f56459F1340b1.json
  images/0x043C308BB8a5aE96D0093444be7f56459F1340b1.png
Due: none

add 2 logo
  images/0x3506424F91fD33084466F402d5D97f05F8e3b4AF.png
  images/0xd2877702675e6cEb975b4A1dFf9fb7BAF4C91ea9.png
Due: none

postcard
  app/quadraticlands/templates/quadraticlands/mission/postcard/postcard.html
  app/quadraticlands/urls.py
  app/quadraticlands/views.py
Due: none

bug: bounty not defined - https://sentry.io/organizations/gitcoin/issues/2337064359/\?project\=1398424\&query\=is%3Aunresolved (#8782)
  app/marketing/mails.py
Due: none

invalid literal for int() with base 10: 'test ORDER BY 1#' (#8785)
  app/retail/views.py
Due: none

bug: bounty flow - invalid literal for int() for base 10 (#8784)
  app/git/utils.py
Due: none

fix quest (#8788)
  app/retail/templates/emails/new_bounty.html
Due: none

update gitcoin address in bounty + grant
  app/dashboard/templates/bounty/invoice.html
  app/grants/templates/grants/invoice.html
Due: none

Revert "show submission only to needed folks (#8684)"
  app/assets/v2/js/pages/bounty_details2.js
  app/dashboard/templates/bounty/details2.html
Due: eslint

feat: have ability to set latest flag to 0 in GrantCLRCalculation
  app/grants/admin.py
  app/grants/clr.py
  app/marketing/management/commands/assemble_leaderboards.py
  app/retail/templates/admin/change_form.html
Due: none

bugfix: add error checking for new users when round_num is [None]
  app/grants/models.py
Due: none

defer funder address api call
  app/assets/v2/js/pages/bounty_details2.js
  app/dashboard/templates/bounty/details2.html
Due: eslint

add new logo
  app/dashboard/templates/bounty/invoice.html
  app/grants/templates/grants/invoice.html
Due: none

remove bounty_owner_address from change_bounty
  app/dashboard/views.py
Due: none

Removes logo breakpoints for shared nav and ensures dark-mode nav stays white
  .stylelintrc
  app/assets/v2/js/navbar.js
  app/assets/v2/scss/fontawesome-all.min.scss
  app/assets/v2/scss/gc-utilities.scss
  app/assets/v2/scss/navbar.scss
  app/assets/v2/scss/notifications.scss
  app/dashboard/templates/shared/menu.html
  app/retail/templates/shared/helmet-purple-animated-townsquare.html
Due: eslint, stylelint

Separates gc-menu bg color to its own class
  app/assets/v2/scss/navbar.scss
  app/dashboard/templates/shared/menu.html
Due: stylelint

Hide mobile menu on resize if we move into md breakpoint
  app/assets/v2/js/base.js
Due: eslint

Allows touch devices to interact with products menu
  app/assets/v2/js/navbar.js
Due: eslint

its aliveeeee
  app/assets/v2/images/quadraticlands/postcard.svg
  app/assets/v2/quadraticlands/js/postcard.js
  app/quadraticlands/templates/quadraticlands/mission/index.html
  app/quadraticlands/templates/quadraticlands/mission/postcard/postcard.html
  app/quadraticlands/views.py
Due: eslint

feat: replace xdai block explorer url
  app/dashboard/utils.py
Due: none
