Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

fixes dumb sendgrid links in feedback emails
  app/marketing/mails.py
  app/retail/emails.py
Due: none

fixes timers on daily actions
  app/townsquare/templates/townsquare/index.html
  app/townsquare/views.py
Due: none

fix for orgs layout
  app/retail/templates/shared/activity.html
Due: none

grants fee
  app/grants/models.py
  app/grants/templates/grants/activity.html
  app/grants/templates/grants/transaction.html
  app/grants/utils.py
Due: none

search box fixed css
  app/assets/v2/css/base.css
  app/assets/v2/css/search.css
  app/assets/v2/js/search.js
  app/retail/templates/shared/head.html
  app/search/views.py
Due: eslint, stylelint

css fix for search
  app/assets/v2/css/search.css
Due: stylelint

dom on ORGs
  app/retail/templates/shared/activity.html
Due: none

search keys works now
  app/assets/v2/css/search.css
  app/assets/v2/js/search.js
  app/search/views.py
Due: eslint, stylelint

dedupe search rsults
  app/search/views.py
Due: none

add initial framework for session scheduling
  app/app/settings.py
  app/app/urls.py
  app/assets/v2/js/gitmentor/schedule.js
  app/gitmentor/__init__.py
  app/gitmentor/abi.py
  app/gitmentor/admin.py
  app/gitmentor/apps.py
  app/gitmentor/forms.py
  app/gitmentor/models.py
  app/gitmentor/sablier.json
  app/gitmentor/templates/gitmentor/index.html
  app/gitmentor/templates/gitmentor/schedule.html
  app/gitmentor/urls.py
  app/gitmentor/views.py
Due: eslint

style: missing quotation mark
  app/gitmentor/models.py
Due: none

feat: add basic scheduling form UI
  app/assets/v2/css/gitmentor/schedule.css
  app/assets/v2/images/gitmentor/gitmentor.png
  app/assets/v2/images/gitmentor/gitmentor.svg
  app/assets/v2/js/gitmentor/schedule.js
  app/gitmentor/forms.py
  app/gitmentor/models.py
  app/gitmentor/templates/gitmentor/schedule.html
  app/gitmentor/templates/gitmentor/session_types.html
  app/gitmentor/views.py
Due: eslint, stylelint

check if user is mentor
  app/dashboard/migrations/0079_auto_20200123_1721.py
  app/dashboard/migrations/0080_auto_20200123_1957.py
  app/dashboard/migrations/0081_auto_20200124_0552.py
  app/dashboard/models.py
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
  app/gitmentor/migrations/0001_initial.py
  app/gitmentor/migrations/0002_auto_20200124_0552.py
  app/gitmentor/migrations/__init__.py
  app/gitmentor/models.py
  app/gitmentor/templates/gitmentor/schedule.html
  app/gitmentor/templates/gitmentor/session_types.html
  app/marketing/views.py
  app/retail/templates/settings/account.html
Due: none

feat: create money streams
  app/app/settings.py
  app/assets/v2/js/abi.js
  app/assets/v2/js/gitmentor/schedule.js
  app/assets/v2/js/lib/bignumber.min.js
  app/gitmentor/forms.py
  app/gitmentor/migrations/0003_auto_20200124_2125.py
  app/gitmentor/migrations/0004_auto_20200125_1925.py
  app/gitmentor/migrations/0005_auto_20200126_0122.py
  app/gitmentor/migrations/0006_auto_20200128_0033.py
  app/gitmentor/migrations/0007_auto_20200129_2353.py
  app/gitmentor/migrations/0008_sessionrequest_gitmentor_session_id.py
  app/gitmentor/models.py
  app/gitmentor/templates/gitmentor/schedule.html
  app/gitmentor/urls.py
  app/gitmentor/utils.py
  app/gitmentor/views.py
  app/marketing/views.py
Due: eslint

take a penny give a penny jar
  app/assets/onepager/js/receive.js
  app/assets/onepager/js/send.js
  app/assets/v2/css/town_square.css
  app/assets/v2/js/pages/townsquare.js
  app/dashboard/templates/onepager/receive.html
  app/dashboard/tip_views.py
  app/townsquare/templates/townsquare/index.html
  app/townsquare/views.py
Due: eslint, stylelint

chore: update save about info
  app/assets/v2/js/pages/tribe-edit.js
  app/dashboard/templates/profiles/tab_tribe.html
Due: eslint

Document special instructions for running docker locally in WSL
  docs/RUNNING_LOCALLY_DOCKER.md
Due: none

cleanup imports
  app/marketing/views.py
Due: none

initial django app setup
  app/questions/.views.py.swp
  app/questions/__init__.py
  app/questions/admin.py
  app/questions/apps.py
  app/questions/migrations/__init__.py
  app/questions/models.py
  app/questions/tests.py
  app/questions/views.py
Due: none

search css
  app/assets/v2/css/search.css
Due: stylelint

pixelant feedback on products page
  app/faucet/templates/faucet_form.html
  app/retail/templates/products.html
  app/retail/views.py
Due: none

serch feedback from octavio
  app/assets/v2/css/search.css
Due: stylelint

entity search
  app/compliance/admin.py
Due: none

add matching bounties
  app/assets/v2/js/board.js
  app/dashboard/templates/board/index.html
  app/dashboard/templates/board/matching.html
  app/dashboard/views.py
Due: eslint

hackathon hover
  app/assets/v2/images/products/hackathons.gif
  app/retail/templates/shared/nav_hackathons.html
Due: none

announcements in admin
  app/app/context.py
  app/assets/v2/js/base.js
  app/assets/v2/js/search.js
  app/retail/templates/shared/bottom_notification.html
  app/retail/templates/shared/top_nav.html
  app/townsquare/migrations/0004_auto_20200130_2150.py
  app/townsquare/models.py
  app/townsquare/views.py
Due: eslint

footer msg
  app/dashboard/templates/dashboard/index.html
Due: none

search fix
  app/dashboard/models.py
Due: none

add to nav
  app/gitmentor/templates/gitmentor/index.html
  app/gitmentor/templates/gitmentor/nav.html
  app/gitmentor/templates/gitmentor/schedule.html
  app/gitmentor/templates/gitmentor/session.html
  app/gitmentor/urls.py
  app/gitmentor/views.py
  app/retail/templates/shared/top_nav.html
Due: none

change navigation
  app/app/context.py
  app/assets/v2/css/base.css
  app/assets/v2/images/top-bar/bounties_desktop_dark.svg
  app/assets/v2/images/top-bar/bounties_mobile_dark.svg
  app/assets/v2/images/top-bar/bounties_symbol_dark.svg
  app/assets/v2/images/top-bar/codefund_symbol_dark.svg
  app/assets/v2/images/top-bar/grants_symbol_dark.svg
  app/assets/v2/images/top-bar/hackathons_symbol_dark.svg
  app/assets/v2/images/top-bar/kudos_symbol_dark.svg
  app/assets/v2/images/top-bar/quests_symbol_dark.svg
  app/dashboard/templates/shared/nav_auth.html
  app/retail/templates/home/nav.html
  app/retail/templates/shared/top_nav.html
Due: stylelint

You can now add tips to newsfeed items. YOLO
  app/app/templates/shared/tip_dependancies.html
  app/assets/onepager/js/send.js
  app/assets/v2/css/activity_stream.css
  app/assets/v2/js/activity.js
  app/dashboard/models.py
  app/retail/templates/emails/new_tip.html
  app/retail/templates/shared/activity.html
  app/retail/templates/shared/activity_scripts.html
  app/townsquare/templates/townsquare/index.html
Due: eslint, stylelint

two quick fixes for newsfeed tipping
  app/assets/v2/js/activity.js
Due: eslint

people can now tip commenters too... yolo (well just staff... but stilll yolo)
  app/assets/v2/css/activity_stream.css
  app/assets/v2/js/activity.js
  app/dashboard/models.py
  app/townsquare/models.py
  app/townsquare/views.py
Due: eslint, stylelint

Add transaction process to attach and redeem from status
  app/assets/onepager/js/send.js
  app/assets/v2/js/activity.js
  app/assets/v2/js/status.js
  app/retail/views.py
  app/townsquare/migrations/0005_comment_tip.py
  app/townsquare/models.py
  app/townsquare/templates/townsquare/index.html
  app/townsquare/views.py
Due: eslint

wip
  app/app/settings.py
  app/app/urls.py
  app/assets/v2/js/questions.js
  app/questions/admin.py
  app/questions/migrations/0001_initial.py
  app/questions/migrations/0002_auto_20200130_1551.py
  app/questions/models.py
  app/questions/templates/__init__.py
  app/questions/templates/questions_index.html
  app/questions/views.py
  app/retail/templates/shared/footer_scripts.html
Due: eslint

forgot js file
  app/assets/v2/js/pages/tribe_title.js
Due: eslint

female avatar builder
  app/assets/v2/images/avatar3d/avatar_female.svg
  app/avatar/views_3d.py
  app/dashboard/views.py
Due: none

bug: fix increase funding
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

show increase funding to owner only
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

Update emails.py
  app/retail/emails.py
Due: none
