Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

fix imports and remove custom migration
  app/grants/migrations/0011_auto_20190221_2050.py
  app/revenue/migrations/0002_auto_20190123_2203_squashed_0008_auto_20190304_1330.py
Due: none

fix stylelint
  app/assets/v2/js/shared.js
Due: eslint

fix issues, style
  app/assets/v2/js/grants/fund.js
  app/grants/management/commands/subminer.py
Due: eslint

Add caseInsensitiveCompare method to the shared.js
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/shared.js
Due: eslint

remove comments
  app/assets/v2/css/profile.css
  app/assets/v2/images/badge-verify.svg
  app/assets/v2/js/pages/profile.js
Due: eslint, stylelint

use 1.1 for new contract
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/models/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

more designs added
  app/assets/v2/images/avatar/Clothing/armour-4242F4.svg
  app/assets/v2/images/avatar/Clothing/armour-43B9F9.svg
  app/assets/v2/images/avatar/Clothing/armour-684A23.svg
  app/assets/v2/images/avatar/Clothing/armour-CCCCCC.svg
  app/assets/v2/images/avatar/Clothing/armour-F48914.svg
  app/assets/v2/images/avatar/Clothing/armour-FFCC3B.svg
  app/assets/v2/images/avatar/Clothing/pilot-4242F4.svg
  app/assets/v2/images/avatar/Clothing/pilot-43B9F9.svg
  app/assets/v2/images/avatar/Clothing/pilot-684A23.svg
  app/assets/v2/images/avatar/Clothing/pilot-CCCCCC.svg
  app/assets/v2/images/avatar/Clothing/pilot-F48914.svg
  app/assets/v2/images/avatar/Clothing/pilot-FFCC3B.svg
  app/assets/v2/images/avatar/Clothing/space_suit-4242F4.svg
  app/assets/v2/images/avatar/Clothing/space_suit-43B9F9.svg
  app/assets/v2/images/avatar/Clothing/space_suit-684A23.svg
  app/assets/v2/images/avatar/Clothing/space_suit-CCCCCC.svg
  app/assets/v2/images/avatar/Clothing/space_suit-F48914.svg
  app/assets/v2/images/avatar/Clothing/space_suit-FFCC3B.svg
  app/avatar/templates/clothing/armour.txt
  app/avatar/templates/clothing/pilot.txt
  app/avatar/templates/clothing/space_suit.txt
  app/avatar/utils.py
Due: none

fix profiles show more
  app/assets/v2/css/profile.css
  app/dashboard/templates/profiles/organization.html
  app/dashboard/templates/profiles/profile.html
Due: stylelint

more designs added
  app/assets/v2/images/avatar/Accessories/Masks-football.svg
  app/assets/v2/images/avatar/Clothing/baseball-4242F4.svg
  app/assets/v2/images/avatar/Clothing/baseball-43B9F9.svg
  app/assets/v2/images/avatar/Clothing/baseball-684A23.svg
  app/assets/v2/images/avatar/Clothing/baseball-CCCCCC.svg
  app/assets/v2/images/avatar/Clothing/baseball-F48914.svg
  app/assets/v2/images/avatar/Clothing/baseball-FFCC3B.svg
  app/assets/v2/images/avatar/Clothing/football-4242F4.svg
  app/assets/v2/images/avatar/Clothing/football-43B9F9.svg
  app/assets/v2/images/avatar/Clothing/football-684A23.svg
  app/assets/v2/images/avatar/Clothing/football-CCCCCC.svg
  app/assets/v2/images/avatar/Clothing/football-F48914.svg
  app/assets/v2/images/avatar/Clothing/football-FFCC3B.svg
  app/avatar/templates/accessories/masks/football.txt
  app/avatar/templates/clothing/baseball.txt
  app/avatar/templates/clothing/football.txt
  app/avatar/utils.py
Due: none

add funder payment reminder
  app/app/urls.py
  app/assets/v2/css/bounty.css
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/bounty_funder_payout_reminder.js
  app/assets/v2/js/shared.js
  app/dashboard/migrations/0007_auto_20190115_0528.py
  app/dashboard/migrations/0009_merge_20190122_2108.py
  app/dashboard/migrations/0010_merge_20190127_1548.py
  app/dashboard/migrations/0011_auto_20190129_0443.py
  app/dashboard/migrations/0012_merge_20190205_0434.py
  app/dashboard/migrations/0014_merge_20190218_1651.py
  app/dashboard/migrations/0015_merge_20190305_1435.py
  app/dashboard/migrations/0016_auto_20190305_1443.py
  app/dashboard/migrations/0017_merge_20190305_2048.py
  app/dashboard/models.py
  app/dashboard/router.py
  app/dashboard/templates/bounty/details.html
  app/dashboard/templates/funder_payout_reminder_modal.html
  app/dashboard/templates/notifyfunder.html
  app/dashboard/utils.py
  app/dashboard/views.py
  app/git/utils.py
  app/grants/migrations/0008_auto_20190129_0443.py
  app/grants/migrations/0009_merge_20190218_1651.py
  app/grants/migrations/0010_auto_20190218_1841.py
  app/grants/migrations/0016_merge_20190305_1435.py
  app/marketing/mails.py
  app/marketing/management/commands/sync_pull_request_with_bounty_fulfillments.py
  app/marketing/tests/management/commands/github_api_issue_with_pr_call.json
  app/marketing/tests/management/commands/test_sync_pull_request_with_bounty_fulfillments.py
  app/marketing/tests/test_mail_funder_payout_reminder.py
  app/retail/emails.py
  app/retail/templates/emails/funder_payout_reminder.html
Due: eslint, stylelint

and the 2nd day, they said until the blockchain, let there be more kudos
  app/assets/v2/images/kudos/3box.svg
  app/assets/v2/images/kudos/bug21.svg
  app/assets/v2/images/kudos/clap.svg
  app/assets/v2/images/kudos/connector.svg
  app/assets/v2/images/kudos/deadly.svg
  app/assets/v2/images/kudos/friend.svg
  app/assets/v2/images/kudos/natural.svg
  app/assets/v2/images/kudos/prob_solver.svg
  app/kudos/kudos.yaml
Due: none

crontab fix
  scripts/crontab
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

add tests
  app/grants/tests/__init__.py
  app/grants/tests/test_metatx.py
Due: none

styles small changes
  app/assets/v2/css/profile.css
Due: stylelint

add funder payment reminder (#3894)
  app/app/urls.py
  app/assets/v2/css/bounty.css
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/bounty_funder_payout_reminder.js
  app/assets/v2/js/shared.js
  app/dashboard/migrations/0007_auto_20190115_0528.py
  app/dashboard/migrations/0009_merge_20190122_2108.py
  app/dashboard/migrations/0010_merge_20190127_1548.py
  app/dashboard/migrations/0011_auto_20190129_0443.py
  app/dashboard/migrations/0012_merge_20190205_0434.py
  app/dashboard/migrations/0014_merge_20190218_1651.py
  app/dashboard/migrations/0015_merge_20190305_1435.py
  app/dashboard/migrations/0016_auto_20190305_1443.py
  app/dashboard/migrations/0017_merge_20190305_2048.py
  app/dashboard/models.py
  app/dashboard/router.py
  app/dashboard/templates/bounty/details.html
  app/dashboard/templates/funder_payout_reminder_modal.html
  app/dashboard/templates/notifyfunder.html
  app/dashboard/utils.py
  app/dashboard/views.py
  app/git/utils.py
  app/grants/migrations/0008_auto_20190129_0443.py
  app/grants/migrations/0009_merge_20190218_1651.py
  app/grants/migrations/0010_auto_20190218_1841.py
  app/grants/migrations/0016_merge_20190305_1435.py
  app/marketing/mails.py
  app/marketing/management/commands/sync_pull_request_with_bounty_fulfillments.py
  app/marketing/tests/management/commands/github_api_issue_with_pr_call.json
  app/marketing/tests/management/commands/test_sync_pull_request_with_bounty_fulfillments.py
  app/marketing/tests/test_mail_funder_payout_reminder.py
  app/retail/emails.py
  app/retail/templates/emails/funder_payout_reminder.html
Due: eslint, stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/models/index.html
  retail/emails/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Add process to generate random avatars
  app/app/utils.py
  app/assets/v2/js/avatar_builder.js
  app/avatar/utils.py
  app/dashboard/templates/ftux/avatar.html
  app/dashboard/templatetags/jsonify.py
Due: eslint

add handle if not name
  app/dashboard/templates/profiles/profile.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  avatar/utils/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

test fix attempt
  app/app/settings.py
  app/grants/management/commands/subminer.py
  app/grants/tests/test_metatx.py
Due: none

try another fix
  app/grants/tests/test_metatx.py
Due: none

adds profile images to header
  app/assets/v2/css/profile.css
  app/dashboard/templates/profiles/profile.html
  app/dashboard/views.py
Due: stylelint

fix image profile size
  app/assets/v2/css/profile.css
Due: stylelint

add kudos section to modal
  app/assets/v2/images/special-kudos.svg
  app/dashboard/templates/social_contribution_modal.html
Due: none

change sizes
  app/dashboard/templates/social_contribution_modal.html
Due: none

responsive design fixes, rain on profile, etc
  app/assets/v2/css/profile.css
  app/dashboard/templates/profiles/profile.html
Due: stylelint

tests fixed
  app/grants/tests/test_metatx.py
Due: none

fix style
  app/grants/tests/test_metatx.py
Due: none

center values
  app/retail/templates/emails/funded_featured_bounty.html
Due: none

[Issue #3850] Add current and past partners to grants view
  app/assets/v2/images/grants/robots.png
  app/grants/migrations/0017_matchpledge_end_date.py
  app/grants/models.py
  app/grants/templates/grants/index.html
  app/grants/views.py
Due: none

approve()
  scripts/debug/check_approval_amount.js
Due: eslint

Adding verified page to modals and beginning wireframe from help page.
  app/app/urls.py
  app/assets/v2/css/verified.css
  app/retail/templates/verified.html
  app/retail/views.py
Due: stylelint

change html and styles
  app/assets/v2/css/verified.css
  app/retail/templates/verified.html
Due: stylelint
