Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

monthly recurring funding was inexplicably listed twice on the new grant detail page :)
  app/grants/templates/grants/detail/info.html
  app/grants/templates/grants/detail/matching.html
Due: none

MAU numbers
  app/retail/templates/results.html
Due: none

fix for https://gitcoincore.slack.com/archives/CAXQ7PT60/p1559722958001600
  app/dashboard/helpers.py
Due: none

Fixes #4292
  app/app/fixtures/bounties.json
  app/app/fixtures/grants.json
  app/app/fixtures/profiles.json
  app/app/fixtures/users.json
  bin/docker-command.bash
Due: none

set approval tx hash to sync with final subscription
  app/assets/v2/js/grants/fund.js
  app/grants/management/commands/subminer.py
Due: eslint

add new data setup
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/views.py
Due: eslint

added promotion for userdir/bounties
  app/assets/v2/images/promote_bounties.png
  app/assets/v2/images/promote_userdir.png
  app/dashboard/templates/dashboard/sidebar_search.html
  app/dashboard/templates/dashboard/users.html
Due: none

added width:100% for images and changed CSS for featured bounties
  app/assets/v2/css/featured-bounties.css
  app/dashboard/templates/dashboard/sidebar_search.html
  app/dashboard/templates/dashboard/users.html
Due: stylelint

make text readable again
  app/assets/v2/css/featured-bounties.css
Due: stylelint

change color green
  app/assets/v2/css/featured-bounties.css
Due: stylelint

resized images
  app/assets/v2/images/promote_bounty.png
  app/assets/v2/images/promote_userdir.png
Due: none

misnamed png...
  app/assets/v2/images/promote_bounties.png
  app/assets/v2/images/promote_bounty.png
Due: none

newsletter 2019-06-07
  app/retail/emails.py
Due: none

begining of dashboard
  app/app/settings.py
  app/app/urls.py
  app/board/__init__.py
  app/board/admin.py
  app/board/apps.py
  app/board/migrations/__init__.py
  app/board/models.py
  app/board/templates/board.html
  app/board/tests.py
  app/board/urls.py
  app/board/views.py
  app/dashboard/models.py
Due: none

remove reverse test for dashboard
  app/app/tests/test_app_urls.py
Due: none

fix for https://github.com/gitcoinco/web/issues/4569
  app/dashboard/views.py
Due: none

add fetch
  app/assets/v2/js/board.js
  app/board/templates/board.html
Due: eslint

fix for line breaks
  app/kudos/kudos.yaml
Due: none

add fields
  app/assets/v2/js/board.js
  app/board/templates/board.html
  app/board/views.py
Due: eslint

cherrypick user dir fixes
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
Due: none

add network and current to queries
  app/dashboard/views.py
Due: none

hackathon : wiring up customizable hackathon page
  app/app/urls.py
  app/assets/v2/css/hackathons/static.css
  app/assets/v2/images/hackathon/ethhack/banner.svg
  app/assets/v2/images/hackathon/ethhack/microsoft.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/big/Labs-Logo-Black.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/big/MythX dark.png
  app/assets/v2/images/hackathon/ethhack/sponsors/big/adex-vector-logo.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/big/labs-logo-blue.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/big/labs-logo-white.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/big/microsoft.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/big/mythx-light.png
  app/assets/v2/images/hackathon/ethhack/sponsors/big/pegasys-logo.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/big/quorum.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/alethio-no-bg.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/alethio-white-bg.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/autom8.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/chainlink-combo-black.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/chainlink-combo-logo.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/chainlink-combo-white.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/chainlink-hexagon.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/coinmark_blue_lg.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/fluence-h.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/fluence.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/kauri_logo_vertical.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/kleros-logo-vertical.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/leapdao.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/logo_poa.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/small/wordmark_blue copy 6.svg
  app/assets/v2/images/hackathon/ethhack/sponsors/sponsor-placeholder.svg
  app/dashboard/templates/dashboard/hackathon/ethhack_2019.html
  app/dashboard/templates/dashboard/hackathon/index.html
  app/dashboard/templates/shared/hackathon_sponsors.html
  app/dashboard/views.py
Due: stylelint

refactor
  app/dashboard/context/__init__.py
  app/dashboard/context/hackathon.py
  app/dashboard/views.py
Due: none

remove old ethhack page
  app/app/urls.py
  app/assets/v2/css/ethhack2019.css
  app/dashboard/context/hackathon.py
  app/dashboard/templates/dashboard/hackathon/ethhack_2019.html
  app/dashboard/views.py
Due: stylelint

change query
  app/assets/v2/js/board.js
  app/board/templates/board.html
  app/board/views.py
Due: eslint

Add send_weekly_recap to crontab
  scripts/crontab
Due: none

MOD: update the BEC's token profile with new token contract address
  erc20/0x3495ffcee09012ab7d827abf3e3b3ae428a38443.json
  images/0x3495ffcee09012ab7d827abf3e3b3ae428a38443.png
  images/0xC5d105E63711398aF9bbff092d4B6769C82F793D.png
Due: none

MOD: add more information about bec token
  erc20/0x3495ffcee09012ab7d827abf3e3b3ae428a38443.json
Due: none

FIX: use mixed capital contract address
  erc20/0x3495Ffcee09012AB7D827abF3E3b3ae428a38443.json
  images/0x3495Ffcee09012AB7D827abF3E3b3ae428a38443.png
Due: none

My created Bounties -> My Funded Bounties
  app/dashboard/templates/shared/nav_auth.html
Due: none

Add EGOLD-token (#4206)
  erc20/0xB8b8086e1C5BcBd3Ab99c1B77D5c865C80566b5a.json
  images/0xB8b8086e1C5BcBd3Ab99c1B77D5c865C80566b5a.png
Due: none

Add MC token (#4204)
  erc20/0xe8E507d131b8F6fFd76fa4ce73DDf8dC983362dD.json
  images/0xe8E507d131b8F6fFd76fa4ce73DDf8dC983362dD.png
Due: none

Add IPWT token (#4239)
  erc20/0xA02d0b6bfcE1dBd02b9cBB70e6b480333E8A86eC.json
  images/0xA02d0b6bfcE1dBd02b9cBB70e6b480333E8A86eC.png
Due: none

Add pcd token (#4214)
  erc20/0xA19Fb222DA725b34B8bC54BD43F167948cc0F79B.json
  images/0xA19Fb222DA725b34B8bC54BD43F167948cc0F79B.png
Due: none

add the smp token (#4209)
  erc20/0x696A846252E7d19caE1ca30dd918768C0623ED6c.json
  images/0x696A846252E7d19caE1ca30dd918768C0623ED6c.png
Due: none

Update overview (#4245)
  erc20/0xefDcAF50A82aB1Ea811FF9b240A7CCF150b4898e.json
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
