Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

Apply admin bg on all admin actions
  app/dashboard/templates/dashboard/hackathon/onboard.html
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/templates/dashboard/users-elastic.html
  app/dashboard/templates/dashboard/users.html
  app/dashboard/templates/onepager/send2.html
  app/grants/templates/grants/_new.html
  app/grants/templates/grants/shared/landing_navbar.html
  app/quests/templates/quests/new.html
  app/quests/templates/quests/types/quiz_style.html
Due: none

tweak the UI for missing extension
  app/assets/v2/css/colors.css
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/cart/harmony_extension.js
  app/grants/templates/grants/cart/extension/harmony.html
  app/grants/views.py
Due: eslint, stylelint

Add OBVO token
  erc20/0x4B92e1593f230cE5Ab2A9c739aD08EeeF624ce1B.json
  images/0x4B92e1593f230cE5Ab2A9c739aD08EeeF624ce1B.png
Due: none

fix: pass contract address to getAddressTokenBalance
  app/assets/v2/js/lib/binance/utils.js
Due: eslint

add txn_id in dialog
  app/assets/v2/js/cart-data.js
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/cart/harmony_extension.js
  app/grants/templates/grants/cart/extension/harmony.html
Due: eslint

disables production logging per https://gitcoincore.slack.com/archives/CAXQ7PT60/p1610053535277900
  app/app/settings.py
Due: none

Revert "disables production logging per https://gitcoincore.slack.com/archives/CAXQ7PT60/p1610053535277900"
  app/app/settings.py
Due: none

Add NLC token
  erc20/0xB69F79c42aB79F40932faB3c7B415af76093f2Fb.json
  images/0xB69F79c42aB79F40932faB3c7B415af76093f2Fb.png
Due: none

checksum
  0x330bd9e313b251d395071b8B2eDbDE61B31f56F1.json
  0x330bd9e313b251d395071b8B2eDbDE61B31f56F1.png
Due: none

delete no checksum png
  erc20/0x330bd9e313b251d395071b8b2edbde61b31f56f1.png
Due: none

delete no checksum json
  erc20/0x330bd9e313b251d395071b8b2edbde61b31f56f1.json
Due: none

shift to mainnet
  app/assets/v2/js/grants/cart/harmony_extension.js
  app/grants/sync/harmony.py
Due: eslint

update txn section in grant details
  app/assets/v2/js/vue-filters.js
  app/grants/templates/grants/detail/_index.html
  app/grants/views.py
Due: eslint

fix bug in binance sync tx
  app/dashboard/sync/binance.py
Due: none

remove failing import
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
Due: none

Merge Stable into master in preparation for regression (#8219)
  app/grants/admin.py
  app/quests/quest_types/quiz_style.py
  app/retail/templates/admin/change_form.html
  app/retail/utils.py
Due: none

integrates site with mautic
  app/app/context.py
  app/app/settings.py
  app/app/urls.py
  app/assets/v2/js/mautic.js
  app/dashboard/migrations/0169_profile_mautic_id.py
  app/dashboard/migrations/0170_auto_20210106_2045.py
  app/dashboard/models.py
  app/dashboard/views.py
  app/retail/templates/shared/footer_scripts.html
Due: eslint

fix: copy
  app/retail/templates/home/index2020.html
Due: none

Fix Lint * 1 tab = 2 spaces
  app/retail/templates/home/index2020.html
Due: none

delete unwanted svg
  app/assets/v2/images/helmet-white.svg
Due: none

Lint fixes
  app/assets/landingpage/app.css
  app/assets/landingpage/section_whatisgitcoin.scss
Due: stylelint

fix address bug
  app/assets/v2/js/cart-ethereum-zksync.js
  app/assets/v2/js/lib/binance/utils.js
Due: eslint

add bounty payout wallet connect verification
  app/assets/v2/js/pages/bounty_detail/web3_modal.js
Due: eslint

eslint fixes
  app/assets/v2/js/cart-ethereum-zksync.js
Due: eslint

Remove pandas
  app/townsquare/clr.py
  requirements/base.txt
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

update
  app/assets/quadraticlands/config.codekit3
  app/assets/quadraticlands/css/app.css
  app/assets/quadraticlands/css/app.css.map
  app/assets/quadraticlands/js/leaderboard-min.js
  app/assets/quadraticlands/js/leaderboard-min.js.map
  app/assets/quadraticlands/js/leaderboard.js
  app/assets/quadraticlands/scss/app.scss
  app/assets/quadraticlands/scss/dashboard/content-mission.scss
  app/assets/quadraticlands/scss/header.scss
  app/assets/quadraticlands/scss/quest/quest-claim.scss
  app/assets/quadraticlands/scss/quest/quest-setup.scss
  app/assets/quadraticlands/scss/quest/quest-vote.scss
  app/assets/quadraticlands/scss/quest/section.scss
  app/quadraticlands/templates/quadraticlands/_inlinesvg/burger.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/close.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/delegation.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/disconnect.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/gtctoken.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/gtcwallet.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/kudos.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/leaderboard.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/logo_arrow.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/logo_gitcoin.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/missioncontrol.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/proposals.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/ql.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/search.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/setup.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/spinner.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/sybil.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/volume.svg
  app/quadraticlands/templates/quadraticlands/_inlinesvg/wallet.svg
  app/quadraticlands/templates/quadraticlands/components/nav.html
  app/quadraticlands/templates/quadraticlands/dashboard/leaderboard.html
  app/quadraticlands/templates/quadraticlands/dashboard/mission.html
  app/quadraticlands/templates/quadraticlands/dashboard/mission_item.html
  app/quadraticlands/templates/quadraticlands/mission/index.html
  app/quadraticlands/templates/quadraticlands/mission/receive/claim.html
  app/quadraticlands/templates/quadraticlands/mission/use/vote.html
  app/quadraticlands/templates/quadraticlands/mission/use/vote_item.html
Due: eslint, stylelint

Upload DSM token
  erc20/0xab8e8F2f6684685aA09135Cd03b3a7CEa2CFb11E.json
Due: none

Upload DSM token
  images/0xab8e8F2f6684685aA09135Cd03b3a7CEa2CFb11E.png
Due: none

0x9c405acf8688AfB61B3197421cDeeC1A266c6839.json
  erc20/0x9c405acf8688AfB61B3197421cDeeC1A266c6839.json
Due: none

0x9c405acf8688AfB61B3197421cDeeC1A266c6839.png
  images/0x9c405acf8688AfB61B3197421cDeeC1A266c6839.png
Due: none

Add glex token
  erc20/0x5b28CE9b710ea83AA27c6D6c8d5251eD006d2e38.json
  images/0x5b28CE9b710ea83AA27c6D6c8d5251eD006d2e38.png
Due: none

更新snp logo
  images/0x795dBF627484F8248D3d6c09c309825c1563E873.png
Due: none

Revert "Add WGLS token"
  0x330bd9e313b251d395071b8B2eDbDE61B31f56F1.json
  0x330bd9e313b251d395071b8B2eDbDE61B31f56F1.png
Due: none

add dltc token
  erc20/0xCA73211950dfD6747066EEa4d55c0363D4627F2c.json
  images/0xCA73211950dfD6747066EEa4d55c0363D4627F2c.png
Due: none

feat(binance): integrate BUSD for bounties and hackathons 2 (#8213)
  app/assets/v2/js/lib/binance/utils.js
  app/assets/v2/js/pages/bounty_detail/binance_extension.js
  app/assets/v2/js/pages/hackathon_new_bounty.js
  app/dashboard/sync/binance.py
  app/dashboard/templates/bounty/new_bounty.html
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
Due: eslint

Update views.py
  app/retail/views.py
Due: none

Update views.py (#8224)
  app/retail/views.py
Due: none

Prevent Enter to Submit Update (#8198)
  app/assets/v2/js/status.js
  app/dashboard/templates/profiles/status_box.html
Due: eslint

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
