Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

sms verified calculation
  app/grants/clr.py
Due: none

sms verified calculation (#6924)
  app/grants/clr.py
Due: none

lowercase address
  app/assets/v2/js/pages/cancel_bounty/ETH.js
Due: eslint

Connect createPToken on Dashboard and do some cleanup
  app/assets/v2/js/abi.js
  app/assets/v2/js/board.js
  app/assets/v2/js/pages/profile_tokens.js
  app/dashboard/migrations/0120_merge_20200614_1942.py
  app/dashboard/templates/board/ptokens.html
  app/ptokens/templates/shared/create_ptoken.html
Due: eslint

Add support for share amount and tokens
  app/assets/v2/js/cart-data.js
  app/economy/models.py
  app/grants/templates/grants/bulk_add_to_cart.html
  app/grants/templates/grants/shared/hidden_inputs.html
  app/grants/views.py
Due: eslint

Persist comments on grants
  app/assets/v2/js/cart.js
  app/grants/templates/grants/cart-vue.html
Due: eslint

stupid abi
  app/assets/v2/js/abi.js
Due: eslint

update kpl
  images/kusama.png
  images/litecoin.png
  images/polkadot.png
Due: none

Add JinZu Token
  erc20/0x55cA65946818F0b02B267c935887b1082E4D829b.json
  images/0x55cA65946818F0b02B267c935887b1082E4D829b.png
Due: none

fixes tuple
  app/grants/models.py
  app/kudos/admin.py
  app/retail/templates/emails/request_funds.html
Due: none

mesh viz
  app/dataviz/templates/dataviz/mesh.html
Due: none

Revert "stupid abi"
  app/assets/v2/js/abi.js
Due: eslint

purged card style code owocki-lostone request
  app/quests/templates/quests/index.html
Due: none

wiki timeout fix
  app/app/settings.py
Due: none

timeout time
  app/app/settings.py
Due: none

Change Gitcoin's Terms & Conditions to point to legal/terms instead of legal/policy
  app/retail/templates/cookielaw/banner.html
Due: none

expose hackathon email checkboxes in user settings
  app/retail/emails.py
Due: none

add token to profile card
  app/assets/v2/js/user_card.js
Due: eslint

Update create ptokens
  app/dashboard/migrations/0120_merge_20200614_1942.py
  app/ptokens/templates/shared/buy_token_modal.html
  app/ptokens/templates/shared/create_ptoken.html
  app/ptokens/templates/shared/redeem_token_modal.html
Due: none

add create_ptokens to db
  app/assets/v2/js/board.js
Due: eslint

expose hackathon email checkboxes in hackathon onboard
  app/dashboard/templates/dashboard/hackathon/onboard.html
  app/dashboard/views.py
Due: none

daily action in different timezone
  app/retail/templates/emails/new_bounty.html
Due: none

Use create_tokens from ptokens.js; other cleanup
  app/assets/v2/js/board.js
  app/assets/v2/js/ptokens/ptokens.js
  app/dashboard/migrations/0120_merge_20200614_1942.py
  app/dashboard/templates/board/index.html
Due: eslint

WIP web3 and DB logic for buying and redeeming pTokens
  app/assets/v2/js/pages/profile_tokens.js
Due: eslint

no daily action
  app/marketing/mails.py
Due: none

Add SPO token
  erc20/0x738e20A5442F40056E7085E386e2FF9284D8d402.json
  images/0x738e20A5442F40056E7085E386e2FF9284D8d402.png
Due: none

purged card style
  app/assets/v2/css/quests.css
Due: stylelint

Update index.html
  app/quests/templates/quests/index.html
Due: none

main.yml
  .github/workflows/main.yml
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/models/index.html
  grants/admin/index.html
  grants/models/index.html
  kudos/admin/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Add token info on profile
  app/app/context.py
  app/dashboard/templates/profiles/scorecard_ptoken.html
  app/dashboard/views.py
  app/ptokens/models.py
Due: none

Add current ptoken vars on profile
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/profiles/scorecard_ptoken.html
  app/ptokens/models.py
Due: none

Update profile card with real ptoken info
  app/dashboard/models.py
Due: none

.
  eos-token/GAMT@eosgoaskmetoken.json
  images/GAMT@eosgoaskmetoken.png
Due: none

Add GAMT token
  eos-token/GAMT@eosgoaskmetoken.json
Due: none

Update and rename GAMT@eosgoaskmetoken.json to GAMT@e5dwgxa3e.tm.json
  eos-token/GAMT@e5dwgxa3e.tm.json
Due: none

Add hooks and add new question type (#6778)
  app/assets/v2/css/colors.css
  app/assets/v2/css/town_square.css
  app/assets/v2/images/dots.svg
  app/assets/v2/images/townsquare-nh.svg
  app/assets/v2/images/townsqure-party.png
  app/dashboard/admin.py
  app/dashboard/migrations/0123_auto_20200617_1549.py
  app/dashboard/models.py
  app/dashboard/templates/dashboard/hackathon/onboard.html
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/templates/dashboard/sidebar_search_hackathon.html
  app/dashboard/views.py
  app/retail/templates/shared/activity.html
  app/retail/views.py
Due: stylelint

only use a profiles most recent location to mark a location, for leaderboards (#6772)
  app/dashboard/models.py
  app/marketing/management/commands/assemble_leaderboards.py
  app/marketing/tests/management/commands/test_assemble_leaderboards.py
Due: none

add missing migration files
  app/grants/migrations/0063_auto_20200622_1218.py
Due: none

feat: update detail2 to payout ETH bounties
  app/assets/v2/js/pages/bounty_detail/web3_modal.js
  app/assets/v2/js/pages/bounty_details2.js
  app/dashboard/models.py
  app/dashboard/templates/bounty/details2.html
  app/dashboard/views.py
  app/economy/utils.py
Due: eslint

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
