Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

cleanup for the chat dropdown on project panels
  app/assets/v2/js/pages/dashboard-hackathon.js
  app/dashboard/templates/dashboard/index-vue.html
Due: eslint

fix merge conflicts
  app/dashboard/templates/dashboard/index-vue.html
Due: none

Update vue-filters.js
  app/assets/v2/js/vue-filters.js
Due: eslint

fix for the hackathon banner background and text overrides
  app/assets/v2/js/vue-filters.js
  app/dashboard/templates/dashboard/index-vue.html
Due: eslint

updates for the project-panel, removing redundant css, adding a truncate filter to prevent long running paragraphs
  app/dashboard/templates/dashboard/index-vue.html
Due: none

recreate migrations
  app/dashboard/migrations/0100_delete_refundfeerequest.py
  app/grants/management/commands/ingest_givingblock_txns.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/admin/index.html
  dashboard/models/index.html
  dashboard/views/index.html
  mk_envvars/index.html
  mk_third_party_integrations/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

fix for the add channel task to not quit if it encounters an error on one of the items
  app/chat/tasks.py
Due: none

fix for the hackathon banner background and text overrides
  app/dashboard/templates/dashboard/index-vue.html
Due: none

remove no_grow from status include
  app/dashboard/templates/dashboard/index-vue.html
Due: none

Hackathon TS Tweaks - register button pushes users to onboarding - only prizes and projects are available to non registered users - cleanup of stale code/review tweaks
  app/assets/v2/js/pages/dashboard-hackathon.js
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/views.py
Due: eslint

max length calcs
  app/townsquare/views.py
Due: none

updates for the project-panel, removing redundant css, adding a truncate filter to prevent long running paragraphs
  app/assets/v2/js/vue-filters.js
  app/dashboard/templates/dashboard/index-vue.html
Due: eslint

rm searchjs duplication
  app/townsquare/templates/townsquare/index.html
Due: none

cleanup for the chat dropdown on project panels
  app/assets/v2/js/pages/dashboard-hackathon.js
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/views.py
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

project-grid responsive adjustments
  app/dashboard/templates/dashboard/index-vue.html
Due: none

set to boolean since we're using json_script for filtering to javascript/json
  app/dashboard/views.py
Due: none

Add ignoredsuggestedtribes list. Filter tribes list by the flag
  app/app/urls.py
  app/assets/v2/css/gitcoin.css
  app/assets/v2/js/pages/join_tribe.js
  app/assets/v2/js/pages/townsquare.js
  app/dashboard/migrations/0099_ignoredsuggestedtribes.py
  app/dashboard/models.py
  app/dashboard/views.py
  app/townsquare/templates/townsquare/shared/feednav.html
  app/townsquare/views.py
Due: eslint, stylelint

Remove unused block of code.
  app/assets/v2/js/activity.js
Due: eslint

add a button to message users from the participant/user directory
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/views.py
Due: eslint

add no provider
  app/assets/v2/js/shared.js
Due: eslint

support for etc
  app/assets/v2/js/shared.js
Due: eslint

change logo
  app/assets/v2/js/shared.js
Due: eslint

slack invites were busted
  app/marketing/utils.py
  app/retail/views.py
Due: none

tip receiver
  app/assets/onepager/js/receive.js
  app/assets/v2/js/pages/kudos_receive.js
Due: eslint

weve spent k on kudos airdrops in the past; no bueno - so this commit asks people to contribute gas moneys
  app/assets/v2/js/pages/kudos_bulk_receive.js
  app/grants/management/commands/ingest_givingblock_txns.py
  app/kudos/templates/transaction/receive_bulk.html
  app/kudos/views.py
Due: eslint

fix popovers not closing
  app/assets/v2/js/user_card.js
Due: eslint

Update 0xf46dF22B35d0F56c90241C362db892dDf62da60B.json
  erc20/0xf46dF22B35d0F56c90241C362db892dDf62da60B.json
Due: none

feat: enable editing townsquare comments
  app/assets/v2/js/activity.js
  app/townsquare/migrations/0018_comment_is_edited.py
  app/townsquare/models.py
  app/townsquare/views.py
Due: eslint

fixed a minor issue
  app/quests/templates/quests/new.html
Due: none

fixed a typo
  app/quests/templates/quests/new.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

changes payout date - sorry everyone, we are behind
  app/grants/templates/grants/shared/landing_hero.html
Due: none

replaces OG video with twitter cards across the site
  app/assets/v2/images/twitter_cards/tw_cards-01 copy.png
  app/assets/v2/images/twitter_cards/tw_cards-01.png
  app/assets/v2/images/twitter_cards/tw_cards-01.svg
  app/assets/v2/images/twitter_cards/tw_cards-02.png
  app/assets/v2/images/twitter_cards/tw_cards-02.svg
  app/assets/v2/images/twitter_cards/tw_cards-03.png
  app/assets/v2/images/twitter_cards/tw_cards-03.svg
  app/assets/v2/images/twitter_cards/tw_cards-04.png
  app/assets/v2/images/twitter_cards/tw_cards-04.svg
  app/assets/v2/images/twitter_cards/tw_cards-05.png
  app/assets/v2/images/twitter_cards/tw_cards-05.svg
  app/assets/v2/images/twitter_cards/tw_cards-06.png
  app/assets/v2/images/twitter_cards/tw_cards-06.svg
  app/assets/v2/images/twitter_cards/tw_cards-07.png
  app/assets/v2/images/twitter_cards/tw_cards-07.svg
  app/dashboard/templates/dashboard/index.html
  app/dashboard/templates/ftux/onboard.html
  app/dashboard/views.py
  app/grants/views.py
  app/kudos/views.py
  app/quests/views.py
  app/retail/templates/bounties/funder.html
  app/retail/views.py
Due: none

"Got a distribution of"
  app/retail/templates/shared/activity.html
Due: none

Fix remove suggested tribes.
  app/app/urls.py
  app/assets/v2/js/pages/join_tribe.js
  app/dashboard/migrations/0099_ignoredsuggestedtribes.py
  app/dashboard/migrations/0099_profile_ignored_suggested_tribes.py
  app/dashboard/models.py
  app/dashboard/views.py
  app/townsquare/views.py
Due: eslint

Fix remove and populate methods
  app/app/urls.py
  app/assets/v2/js/pages/join_tribe.js
  app/dashboard/views.py
  app/townsquare/templates/townsquare/shared/feednav.html
Due: eslint

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
