Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

Remove type on polls
  app/dashboard/admin.py
  app/dashboard/migrations/0101_auto_20200421_0330.py
  app/dashboard/models.py
Due: none

Add migration
  app/dashboard/migrations/0101_auto_20200422_0353.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/models/index.html
  dashboard/notifications/index.html
  marketing/views/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Add missed button on banner
  app/assets/v2/css/town_square.css
  app/townsquare/templates/townsquare/index.html
Due: stylelint

Update home.css
  app/assets/v2/css/home.css
Due: stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  grants/models/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Update views.py
  app/retail/views.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

re-add admin actions
  app/assets/v2/js/pages/bounty_details2.js
  app/dashboard/templates/bounty/details2.html
Due: eslint

willsputra feedback changes Explore Tribes & Create actions
  app/assets/v2/css/town_square.css
Due: stylelint

Popover in dark mode and some properties for octaviou
  app/assets/v2/css/town_square.css
Due: stylelint

remove displaying duplicate kudos_friday
  app/retail/emails.py
  app/retail/templates/emails/bounty_roundup.html
Due: none

make qr code dynamic
  app/assets/v2/js/pages/bounty_details2.js
  app/dashboard/templates/bounty/details2.html
Due: eslint

temp fix pydoc google analytics
  pydocmd.yml
Due: none

temp fix pydoc google analytics (#6490)
  pydocmd.yml
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/views/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

back to boolean var
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/views.py
Due: none

get back hackathon_not_started
  app/dashboard/views.py
Due: none

comment out repeated btn
  app/dashboard/templates/dashboard/index-vue.html
Due: none

recreate migration
  app/dashboard/migrations/0102_auto_20200422_1452.py
Due: none

recreate migration
  app/grants/migrations/0055_remove_grant_amount_goal.py
  app/grants/migrations/0056_auto_20200422_1510.py
Due: none

Add Uniswap price integration
  app/economy/management/commands/get_prices.py
Due: none

dont show transaction id if cross-chain tx pending
  app/dashboard/templates/bounty/details2.html
Due: none

add fulfillment.token_name
  app/dashboard/views.py
Due: none

use bounty.token_name
  app/dashboard/templates/bounty/details2.html
Due: none

fallback check fulfillment bounty token in sync
  app/dashboard/utils.py
Due: none

test fix
  app/dashboard/models.py
Due: none

wip tribes ts
  app/assets/v2/js/pages/dashboard-hackathon.js
  app/assets/v2/js/pages/profile-tribes.js
  app/assets/v2/js/status.js
  app/assets/v2/js/users.js
  app/assets/v2/js/vue-components.js
  app/dashboard/router.py
  app/dashboard/templates/profiles/tribes-vue.html
  app/dashboard/views.py
Due: eslint

project mandatory on interest
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/templates/dashboard/hackathon/project_new.html
Due: eslint

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
