Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

comment emails
  app/app/urls.py
  app/assets/v2/js/activity.js
  app/assets/v2/js/shared.js
  app/dashboard/templates/profiles/status_box.html
  app/marketing/mails.py
  app/retail/emails.py
  app/retail/templates/emails/comment.html
  app/retail/templates/emails/comment.txt
  app/townsquare/models.py
  app/townsquare/utils.py
  app/townsquare/views.py
Due: eslint

5456 - Category tagging on Gitcoin Grants
  app/assets/v2/js/grants/detail.js
  app/assets/v2/js/grants/new.js
  app/assets/v2/js/grants/shared.js
  app/grants/migrations/0036_grantcategory.py
  app/grants/models.py
  app/grants/templates/grants/card/front.html
  app/grants/templates/grants/detail/info.html
  app/grants/templates/grants/index.html
  app/grants/templates/grants/new.html
  app/grants/urls.py
  app/grants/views.py
Due: eslint

make fix
  app/marketing/mails.py
  app/townsquare/views.py
Due: none

Update vision.css
  app/assets/v2/css/vision.css
Due: stylelint

Update vision.html
  app/retail/templates/vision.html
Due: none

HANbBE Token submit
  erc20/0x1845461382adc4c677cBa93073f7849a7947b629.json
  images/0x1845461382adc4c677cBa93073f7849a7947b629.png
Due: none

live updates on town square
  app/app/urls.py
  app/assets/v2/css/activity_stream.css
  app/assets/v2/js/activity.js
  app/assets/v2/js/pages/townsquare.js
  app/assets/v2/js/status.js
  app/retail/templates/shared/activity.html
  app/retail/templates/shared/activity_container.html
  app/retail/views.py
  app/townsquare/models.py
Due: eslint, stylelint

make fix
  app/assets/v2/js/activity.js
  app/assets/v2/js/pages/townsquare.js
  app/assets/v2/js/status.js
  scripts/debug/grants_round_stats.py
Due: eslint

special announcements
  app/assets/v2/css/town_square.css
  app/assets/v2/js/pages/townsquare.js
  app/townsquare/admin.py
  app/townsquare/models.py
  app/townsquare/templates/townsquare/index.html
  app/townsquare/views.py
Due: eslint, stylelint

support for activity feed view counts
  app/assets/v2/js/pages/townsquare.js
  app/dashboard/migrations/0070_activity_view_count.py
  app/dashboard/models.py
  app/retail/templates/shared/activity.html
  app/retail/views.py
  app/townsquare/admin.py
  app/townsquare/migrations/0004_auto_20200109_0437.py
  app/townsquare/migrations/0005_auto_20200109_0500.py
  app/townsquare/models.py
  app/townsquare/tasks.py
  app/townsquare/views.py
Due: eslint

cleanup
  app/townsquare/tasks.py
Due: none

提提
  erc20/0x5b055936a0c72d68469d0071b00f399a362b128f.json
Due: none

bug: profile fix
  app/assets/v2/css/profile.css
  app/dashboard/templates/profiles/header_details.html
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/profiles/tabs.html
Due: stylelint

删除
  erc20/0x5b055936a0c72d68469d0071b00f399a362b128f.json
Due: none

add wgt token
  erc20/0x5b055936a0c72d68469d0071b00f399a362b128f.json
Due: none

add wgt token
  images/0x5b055936a0c72d68469d0071b00f399a362b128f.png
Due: none

删除
  images/0x5b055936a0c72d68469d0071b00f399a362b128f.png
Due: none

shcn
  images/0x5b055936a0c72d68469d0071b00f399a362b128f.png
Due: none

minor fixes
  app/assets/v2/css/profile.css
  app/dashboard/templates/profiles/header_details.html
  app/dashboard/templates/profiles/status_box.html
  app/dashboard/templates/profiles/tab_active.html
  app/dashboard/templates/profiles/tab_grant_contribs.html
  app/dashboard/templates/profiles/tab_portfolio.html
  app/dashboard/templates/profiles/tab_viewers.html
  app/dashboard/templates/profiles/tabs.html
Due: stylelint

Add gitcoin videos to vision page
  app/retail/templates/vision.html
Due: none

Add video links to view
  app/retail/templates/vision.html
  app/retail/views.py
Due: none

Fix changes
  app/retail/templates/vision.html
Due: none

del tep
  erc20/0xd7cC16500d0b0aC3d0Ba156A584865a43B0B0050
  images/0xd7cC16500d0b0aC3d0Ba156A584865a43B0B0050.png
Due: none

bug: profile fix (#5750)
  app/assets/v2/css/profile.css
  app/dashboard/templates/profiles/header_details.html
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/profiles/status_box.html
  app/dashboard/templates/profiles/tab_active.html
  app/dashboard/templates/profiles/tab_grant_contribs.html
  app/dashboard/templates/profiles/tab_portfolio.html
  app/dashboard/templates/profiles/tab_viewers.html
  app/dashboard/templates/profiles/tabs.html
Due: stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/models/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  grants/admin/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

fix hiding etherscan link in grants activity
  app/grants/templates/grants/activity.html
Due: none

fix for one-off
  app/grants/templates/grants/activity.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

https://github.com/gitcoinco/web/issues/5751
  app/grants/templates/grants/detail/info.html
Due: none

hide download apps
  app/chat/templates/chat.html
Due: none

fixes clr script
  app/grants/clr.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
