Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.3'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: [-r, -e, "app/**/migrations/", app/dataviz/, app/app/]

Adds check for ids in localstorage
  app/assets/v2/js/avatar_builder.js
Due: eslint

add DEC token
  erc20/0xff9Bce8409df637CD3936bA77f8746bf99a4f80B.json
  images/0xff9Bce8409df637CD3936bA77f8746bf99a4f80B.png
Due: none

这样填写还有哪里有问题?
  erc20/0xc5faadd1206ca91d9f8dd015b3498affad9a58bc.json
Due: none

本地能通过检测
  erc20/0xc5faadd1206ca91d9f8dd015b3498affad9a58bc.json
Due: none

Add onboard url to welcomebot
  ops/lambdas/welcomebot/app.py
Due: yapf

Internationalization of email
  app/retail/templates/emails/quarterly_stats.html
Due: none

Clean user's personal url from github
  app/dashboard/templates/profile_details.html
  app/dashboard/templatetags/clean_url.py
Due: yapf

Fix selectmenu initialization issue
  app/assets/v2/js/pages/dashboard.js
Due: eslint

Modify docstrings, isort imports, noopener noreferrer, and rename
  app/dashboard/templates/profile_details.html
  app/dashboard/templatetags/add_url_schema.py
Due: yapf

Update docstring
  app/dashboard/templatetags/add_url_schema.py
Due: yapf

Clean up user's personal URL from github (#1512)
  app/dashboard/templates/profile_details.html
  app/dashboard/templatetags/add_url_schema.py
Due: yapf

modify GSG logo
  images/0x08b427001ba2150490fe4d18b76700fe6e38136c.png
Due: none

Updates some suggestions by Alisa
  app/assets/v2/js/pages/wallet_estimate.js
  app/assets/v2/js/shared.js
  app/dashboard/templates/submit_bounty.html
Due: eslint

Modify file encoding
  erc20/0xabc1280a0187a2020cc675437aed400185f86db6.json
Due: none

modified file encoding
  erc20/0xe99ddae9181957e91b457e4c79a1b577e55a5742.json
Due: none

Add FoodSafetyChain Token(FSC).
  erc20/0xb026840be538828f3a43520420e69fc8548f5ef8.json
Due: none

Update 0x28Ed591C567Ab57aC3a885DF7770eBfd82D8Cd3e.json
  erc20/0x28Ed591C567Ab57aC3a885DF7770eBfd82D8Cd3e.json
Due: none

add Test button in discord.html and validate_discord_integration
  app/dashboard/notifications.py
  app/marketing/utils.py
  app/marketing/views.py
  app/retail/templates/settings/discord.html
Due: yapf

add new token:Rating
  erc20/0xe8663a64a96169ff4d95b4299e7ae9a76b905b31.json
  images/0xe8663a64a96169ff4d95b4299e7ae9a76b905b31.png
Due: none

Remove 3F2A18 and add EEE3C1 skintones
  app/assets/v2/images/avatar/Ears/0-EEE3C1.svg
  app/assets/v2/images/avatar/Ears/1-EEE3C1.svg
  app/assets/v2/images/avatar/Ears/2-EEE3C1.svg
  app/assets/v2/images/avatar/Ears/3-EEE3C1.svg
  app/assets/v2/images/avatar/Head/0-EEE3C1.svg
  app/assets/v2/images/avatar/Head/1-EEE3C1.svg
  app/assets/v2/images/avatar/Head/2-EEE3C1.svg
  app/assets/v2/images/avatar/Head/3-EEE3C1.svg
  app/assets/v2/images/avatar/Head/4-EEE3C1.svg
  app/assets/v2/js/avatar_builder.js
Due: eslint

Change quickstart link copy
  app/avatar/models.py
  app/dashboard/templates/_dashboard/ftux.html
  app/dashboard/templates/dashboard.html
Due: yapf

Do this later button changestep
  app/assets/v2/js/avatar_builder.js
  app/dashboard/templates/_dashboard/ftux.html
  app/dashboard/templates/ftux/avatar.html
Due: eslint

Adjust pallete to palette
  app/assets/v2/js/avatar_builder.js
Due: eslint

hide do later button on save, show on error
  app/assets/v2/js/avatar_builder.js
Due: eslint

Typos and disable login redirect to accommodate the ftux github login step
  app/assets/v2/js/avatar_builder.js
  app/dashboard/views.py
Due: eslint, yapf

Fixes some more things suggested by Alisa
  app/assets/v2/css/forms/button.css
  app/assets/v2/css/onboard.css
  app/assets/v2/js/avatar_builder.js
  app/assets/v2/js/pages/onboard.js
  app/dashboard/templates/ftux/avatar.html
  app/dashboard/templates/ftux/onboard.html
Due: eslint, stylelint

Updates for account settings for avatar editing
  app/avatar/models.py
  app/avatar/utils.py
  app/avatar/views.py
  app/dashboard/templates/shared/nav_auth.html
  app/retail/templates/settings/account.html
Due: yapf

Adjust use_github_avatar on svg av save
  app/avatar/views.py
Due: yapf

Fix taking to the next step after saving
  app/assets/v2/js/avatar_builder.js
Due: eslint

Adds default message and fast gas message
  app/assets/v2/css/base.css
  app/assets/v2/js/pages/wallet_estimate.js
  app/dashboard/templates/shared/wallet_estimate.html
Due: eslint, stylelint

fix stickler issues
  app/marketing/utils.py
  app/marketing/views.py
Due: yapf

Changes to be committed: new file: erc20/0xbab6f30c81209433a3ced28ca8e19256440547d9.json new file: images/0xbab6f30c81209433a3ced28ca8e19256440547d9.png
  erc20/0xbab6f30c81209433a3ced28ca8e19256440547d9.json
  images/0xbab6f30c81209433a3ced28ca8e19256440547d9.png
Due: none

电报
  erc20/0x0c07799c548ba0c54467e30173764d2221b5e1db.json
Due: none

Update slack notification format
  app/dashboard/notifications.py
Due: yapf

update DST icon
  images/0xc5807256e2e2fe85ca94c3617c4bc5ff2bd9cfb6.png
Due: none

remove empty price
  erc20/0x86e92c595de61fd22c0f0a0458c6eaa63d0b06ef.json
Due: none

modify GSG token logo
  images/0x08b427001ba2150490fe4d18b76700fe6e38136c.png
Due: none

Create 0x778608c4ac424522180a43329ff5145400b9d409.json
  erc20/0x778608c4ac424522180a43329ff5145400b9d409.json
Due: none

Update 0x778608c4ac424522180a43329ff5145400b9d409.json
  erc20/0x778608c4ac424522180a43329ff5145400b9d409.json
Due: none
