Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

purge inline style
  app/quests/templates/quests/index.html
Due: none

responsive properties
  app/assets/v2/css/quests.css
Due: stylelint

Update new_bounty.html
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
Due: none

celo: move to mainnet (#7040)
  app/assets/v2/js/pages/bounty_details2.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/sync/celo.py
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
  app/dashboard/utils.py
Due: eslint

small fixes for hackathon form
  app/assets/v2/js/pages/hackathon_new_bounty.js
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
Due: eslint

more coming soon
  app/grants/templates/grants/detail/tabs.html
Due: none

consistent liscense
  app/assets/LICENSE.txt
Due: none

User Card Grants/Podium/Kudos (#7024)
  app/grants/templates/grants/card/front.html
  app/kudos/templates/kudos_details.html
  app/retail/templates/leaderboard.html
Due: none

fix eslint
  app/assets/v2/js/pages/results.js
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  grants/models/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  grants/models/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

cherry-pick of https://github.com/gitcoinco/web/pull/7022/filesgs
  app/grants/management/commands/sent_cart_reminder.py
  app/marketing/mails.py
  app/retail/emails.py
  app/retail/templates/emails/cart.html
  app/retail/templates/emails/cart.txt
Due: none

chore: fixed link “Prize explorer” #7044
  app/dashboard/templates/dashboard/hackathon/onboard.html
Due: none

responsive
  app/assets/v2/css/quests.css
Due: stylelint

fix usd bounty detail
  app/dashboard/templates/bounty/details2.html
Due: none

fix hack onboard explorer link
  app/dashboard/templates/dashboard/hackathon/onboard.html
Due: none

fix onboard
  app/dashboard/templates/dashboard/hackathon/onboard.html
Due: none

improved code and style
  app/assets/v2/css/quests.css
Due: stylelint

some style
  app/assets/v2/css/quests.css
Due: stylelint

some fixes
  app/assets/v2/css/quests.css
Due: stylelint

lint fixes
  app/assets/v2/css/quests.css
Due: stylelint

lint
  app/assets/v2/css/quests.css
Due: stylelint

chore: fix sync_amount API + prettify conversion table
  app/dashboard/helpers.py
  app/economy/admin.py
Due: none

add GEC token
  erc20/0x9dffe202DF7f82bA57a7f8D571628805EFF7Fed9.json
  images/0x9dffe202DF7f82bA57a7f8D571628805EFF7Fed9.png
Due: none

Update gitcoin.css
  app/assets/v2/css/gitcoin.css
Due: stylelint

fix link to showcase
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/views.py
Due: none

display hackathon and filter in the next line
  app/retail/templates/shared/activity.html
Due: none

Add slm token
  erc20/0x478B95c1a32a8b8123Baf59436F403FcC994DcE2.json
  images/0x478B95c1a32a8b8123Baf59436F403FcC994DcE2.png
Due: none

chore: fix sync_amount API + prettify conversion table (#7049)
  app/dashboard/helpers.py
  app/economy/admin.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  economy/admin/index.html
  grants/models/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

modifiedd twitter address
  erc20/0x478B95c1a32a8b8123Baf59436F403FcC994DcE2.json
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

be smarter about earners
  app/marketing/management/commands/assemble_leaderboards.py
Due: none

admin fixes, ability to tweet about a new grant fund
  app/assets/v2/js/grants/funding.js
  app/grants/admin.py
Due: eslint

wrong end time for grant round, so numbers didnt increment
  app/grants/views.py
Due: none

closest CLR round
  app/grants/templates/grants/shared/landing_hero.html
  app/grants/views.py
Due: none

dates
  app/grants/templates/grants/shared/landing_hero.html
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
