Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

add survey link
  app/retail/templates/emails/grants/clr_match_claim.html
Due: none

add br
  app/retail/templates/emails/grants/clr_match_claim.html
Due: none

bug: ensure contract_address check is added only in verify
  app/grants/management/commands/payout_round_noncustodial.py
Due: none

ensure token_info is added
  app/grants/management/commands/payout_round_noncustodial.py
Due: none

fix test for payout round noncustodial
  app/grants/management/commands/sync_clr_match_payouts.py
  app/grants/tests/factories/clr_match_factory.py
  app/grants/tests/management/commands/test_payout_round_noncustodial.py
Due: none

fix lint
  app/assets/v2/scss/grants/grant.scss
Due: stylelint

resolving duplicate class issue
  app/assets/v2/scss/grants/grant.scss
Due: stylelint

fix test for payout round noncustodial (#10475)
  app/assets/v2/scss/grants/grant.scss
  app/grants/management/commands/sync_clr_match_payouts.py
  app/grants/tests/factories/clr_match_factory.py
  app/grants/tests/management/commands/test_payout_round_noncustodial.py
Due: stylelint

checking for grants by tenant before acessing
  app/grants/templates/grants/cart/extension/algorand.html
Due: none

linting and removed unused code
  app/assets/v2/js/grants/matching_funds.js
  app/assets/v2/js/grants/ready_claim.js
Due: eslint

update conversion rate
  app/grants/management/commands/payout_round_noncustodial.py
Due: none

chore: add missing filter param
  app/grants/management/commands/payout_round_noncustodial.py
Due: none

chore: use token amount instead of USD amount
  app/grants/management/commands/payout_round_noncustodial.py
Due: none

stable -> master (#10486)
  app/grants/management/commands/payout_round_noncustodial.py
  app/retail/templates/mission.html
Due: none

checking for grants by tenant before acessing (#10483)
  app/grants/templates/grants/cart/extension/algorand.html
Due: none

Update app/retail/templates/home/index2021.html
  app/retail/templates/home/index2021.html
Due: none

Remove gr13 carousel (#10472)
  app/retail/templates/home/index2021.html
Due: none

Remove gr13 carousel (#10472) (#10490)
  app/retail/templates/home/index2021.html
Due: none

Testing input validation in bounty creation flow, steps 1 & 2)
  cypress/integration/bounties/test_bounty_creation.js
Due: eslint

updated twitter unfurl
  app/assets/v2/images/twitter_cards/GenericTwitterUnfurl.png
  app/assets/v2/images/twitter_cards/grants13-1.png
  app/grants/views.py
Due: none

update tenant
  app/grants/management/commands/sync_pending_contributions.py
  app/grants/models/subscription.py
  app/grants/utils.py
  app/grants/views.py
Due: none

frontend changes
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/index.js
  app/assets/v2/js/lib/cosmos/cosmwasmjs.js
  app/grants/templates/grants/components/card.html
Due: eslint

write extension
  app/assets/v2/js/grants/cart/cosmos_extension.js
Due: eslint

fix review feedback
  app/grants/templates/grants/grant-preview.html
Due: none

Testing that validation works in new bounty creation flow
  cypress/integration/bounties/test_bounty_creation.js
Due: eslint

feat: cosmos integration for bounties/hackathons (#9588)
  app/assets/v2/images/chains/cosmos.svg
  app/assets/v2/js/lib/cosmos/cosmwasmjs.js
  app/assets/v2/js/pages/bounty_detail/cosmos_extension.js
  app/assets/v2/js/pages/bounty_details2.js
  app/dashboard/management/commands/sync_pending_fulfillments.py
  app/dashboard/models.py
  app/dashboard/sync/cosmos.py
  app/dashboard/templates/bounty/details2.html
  app/dashboard/templates/bounty/new_bounty.html
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
  app/dashboard/utils.py
  app/dashboard/views.py
Due: eslint

updated twitter unfurl (#10495)
  app/assets/v2/images/twitter_cards/GenericTwitterUnfurl.png
  app/assets/v2/images/twitter_cards/grants13-1.png
  app/grants/views.py
Due: none

updated twitter unfurl (#10495) (#10498)
  app/assets/v2/images/twitter_cards/GenericTwitterUnfurl.png
  app/assets/v2/images/twitter_cards/grants13-1.png
  app/grants/views.py
Due: none

fix: set ready_for_payout as True
  app/grants/management/commands/payout_round_noncustodial.py
Due: none

remove unused code
  app/retail/emails.py
  app/retail/templates/emails/grants/clr_match_claim.txt
Due: none

ensure duplicate contribution is not created
  app/grants/management/commands/payout_round_noncustodial.py
Due: none

WIP adding harmony mm checkout
  app/assets/v2/js/cart.js
  app/assets/v2/js/wallet.js
  app/grants/templates/grants/cart/extension/harmony.html
Due: eslint

fixes overzealours email warner
  app/marketing/management/commands/warn_when_wallet_out_of_eth.py
Due: none

bug: ensure older claims show up after contract is drained
  app/grants/templates/grants/components/historical_claim.html
Due: none

added link to grant details from flag page on admin (#10463)
  app/grants/admin.py
  app/grants/models/flag.py
Due: none

Change e-mail address to support@gitcoin.co
  app/assets/v2/js/pages/bounty_details2.js
Due: eslint

make ingest case insensitive
  app/grants/views.py
Due: none
