Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

eslint fix
  app/assets/v2/js/pages/bounty_details2.js
  app/assets/v2/js/pages/hackathon_new_bounty.js
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

Add KANI token
  erc20/0x790aCe920bAF3af2b773D4556A69490e077F6B4A.json
  images/0x790aCe920bAF3af2b773D4556A69490e077F6B4A.png
Due: none

new grants header + a few other things
  app/assets/v2/images/grants/grants_header_donors_round_7.png
  app/marketing/management/commands/post_data.py
Due: none

matt request
  app/grants/migrations/0084_auto_20200917_1631.py
  app/grants/models.py
Due: none

Tweak validator comments
  app/grants/models.py
  app/grants/views.py
Due: none

make sure it uses python3 (#7383)
  docs/RUNNING_LOCALLY_DOCKER.md
Due: none

Add SMS Verification directly on the Trust Bonus tab
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/profiles/tab_trust.html
Due: eslint

save contrib earlier
  app/grants/tasks.py
Due: none

Add link to refresh page after verification, so status can be seen on page
  app/assets/v2/js/pages/profile-trust.js
Due: eslint

Add TODO notes about refactoring SMS UI post grants round 7
  app/assets/v2/js/cart.js
  app/assets/v2/js/pages/profile-trust.js
  app/grants/templates/grants/cart-vue.html
Due: eslint

up the pagination size to 10k from 10
  app/dashboard/templates/dashboard/users-elastic.html
Due: none

prompt wallet if not connected
  app/assets/v2/js/cart.js
  app/assets/v2/js/wallet.js
Due: eslint

Revert "up the pagination size to 10k from 10"
  app/dashboard/templates/dashboard/users-elastic.html
Due: none

fix up cache logic
  app/grants/management/commands/estimate_clr.py
  app/grants/management/commands/reclass_grants.py
  app/perftools/management/commands/create_page_cache.py
Due: none

fix spelling
  app/perftools/management/commands/create_page_cache.py
Due: none

exception was busted
  app/grants/views.py
Due: none

show content before wallet
  app/assets/v2/js/cart.js
Due: eslint

cache stats viewg
  app/grants/views.py
Due: none

Rename Vue app const on Trust Bonus page
  app/assets/v2/js/pages/profile-trust.js
Due: eslint

title
  app/grants/views.py
Due: none

remove is_postive_vote from clr.py and models.py
  app/grants/clr.py
  app/grants/models.py
Due: none

move out from unpk cdn
  app/app/templates/search/search.html
  app/dashboard/templates/bounty/new_bounty.html
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
  app/dashboard/templates/dashboard/users-elastic.html
  app/dashboard/templates/ftux/onboard.html
  app/grants/templates/grants/cart-vue.html
  app/retail/templates/shared/footer_scripts.html
  app/retail/templates/shared/footer_scripts_lite.html
Due: none

eslint
  app/assets/v2/js/cart.js
Due: eslint

Collection search and filtering
  app/assets/v2/css/grants/collection.css
  app/assets/v2/js/grants/index.js
  app/grants/templates/grants/components/collection.html
  app/grants/templates/grants/shared/landing_grants.html
  app/grants/templates/grants/shared/landing_subnav.html
  app/grants/views.py
Due: eslint, stylelint

fix migration error
  app/grants/migrations/0085_grantcollections.py
Due: none

Fix pagination
  app/grants/templates/grants/components/collection.html
  app/grants/views.py
Due: none

debug script
  scripts/debug/recreate_subscriptions_contributoins_.py
Due: none

Add AAB token
  erc20/0x686C650dbcFEaa75D09B883621Ad810F5952bD5d.json
  images/0x686C650dbcFEaa75D09B883621Ad810F5952bD5d.png
Due: none

grants header
  app/assets/v2/images/grants/grants_header_donors_round_7.png
Due: none

one small rounding issue
  app/grants/views.py
Due: none

web
  app/grants/models.py
  app/grants/views.py
Due: none

accidental commit
  app/grants/views.py
Due: none

fix grant banner
  app/assets/v2/images/grants/grants_header_donors_round_7-2.png
  app/assets/v2/images/grants/grants_header_donors_round_7.png
  app/grants/templates/grants/index.html
  app/grants/views.py
Due: none

alethio being down workaround
  app/grants/models.py
  scripts/debug/grants_revalidatte_contributions.py
Due: none

hanging commit
  app/grants/models.py
Due: none

Validator fix to account for floating point error
  app/grants/models.py
Due: none

fix for grant banner
  app/grants/templates/grants/index.html
Due: none

https://gitcoincore.slack.com/archives/CAXQ7PT60/p1600390329000200
  app/kudos/migrations/0019_tokenrequest_gas_price_overide.py
  app/kudos/models.py
  app/kudos/tasks.py
  scripts/debug/grants_revalidatte_contributions.py
Due: none

adds contribution multiplier
  app/grants/clr.py
  app/grants/migrations/0085_grantclr_contribution_multiplier.py
  app/grants/models.py
Due: none
