Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

read-> listen
  app/quadraticlands/templates/quadraticlands/mission/lore/index.html
Due: none

add UI behind staff flag
  app/quadraticlands/views.py
  app/retail/templates/jtbd/fund.html
  app/retail/templates/shared/top_nav.html
Due: none

Comments out nav item and ql-banner css/js
  app/dashboard/templates/shared/menu.html
  app/retail/templates/shared/head.html
  app/retail/templates/shared/top_nav.html
Due: none

replace staff with staff/ ql tester decorator
  app/quadraticlands/decorators.py
  app/quadraticlands/views.py
Due: none

ADD IGA TOKEN
  erc20/0xF0A95500f3aC1b2d70E1D8dFa7CD2D863aFb6069.json
  images/0xF0A95500f3aC1b2d70E1D8dFa7CD2D863aFb6069.png
Due: none

Update privacy.html
  app/dashboard/templates/legal/privacy.html
Due: none

kweiss-formatting-fix
  app/dashboard/templates/legal/privacy.html
Due: none

fix redirect issue
  app/dashboard/views.py
  app/quadraticlands/templates/quadraticlands/index.html
Due: none

fixing issue #251
  app/assets/v2/js/quadraticlands/mission/mission_receive_check.js
  app/quadraticlands/templates/quadraticlands/mission/index.html
Due: eslint

Uses numpy to fix float formatting/rounding
  app/quadraticlands/templatetags/token_format.py
Due: none

a few copy updates
  app/quadraticlands/templates/quadraticlands/index.html
  app/quadraticlands/templates/quadraticlands/mission/receive/outro.html
  app/quadraticlands/templates/quadraticlands/workstream/decentralization.html
Due: none

Updating error messages.
  app/tdi/views.py
Due: none

Fixes linting issues
  app/assets/v2/js/quadraticlands/dashboard/wallet.js
  app/assets/v2/js/quadraticlands/mission/mission_receive_check.js
  app/assets/v2/js/quadraticlands/ql-web3.js
Due: eslint

Press Kit Update 03
  app/assets/v2/images/presskit/Gitcoin_Products.zip
  app/assets/v2/images/presskit/illustrations/presskit-illus-04.svg
  app/assets/v2/images/presskit/illustrations/pressklit-illus-05.svg
  app/assets/v2/scss/presskit.scss
  app/retail/templates/presskit.html
  app/retail/templates/presskit/colors.html
  app/retail/templates/presskit/logo.html
  app/retail/templates/presskit/resources.html
  app/retail/templates/presskit/usage.html
Due: stylelint

Removes duplicated wallet
  app/assets/v2/js/quadraticlands/components/wallet-provider.js
  app/assets/v2/scss/quadraticlands/wallet-provider.scss
Due: eslint, stylelint

duplicate selector fix on presskit.scss
  app/assets/v2/scss/presskit.scss
Due: stylelint

Fixes naming conflicts on spin animation
  app/assets/v2/js/ql-banner.js
  app/assets/v2/scss/ql-banner.scss
  app/retail/templates/shared/top_nav.html
Due: eslint, stylelint

image cleanup
  app/assets/v2/images/presskit/Gitcoin_Press_Kit.fig
  app/assets/v2/images/presskit/figma.svg
  app/assets/v2/images/presskit/github.svg
  app/assets/v2/images/presskit/grants-logotype.svg
  app/assets/v2/images/presskit/illustrations/presskit-illus-05.svg
Due: none

animated hero svg
  app/retail/templates/presskit.html
Due: none

receive outro visual fix
  app/quadraticlands/templates/quadraticlands/mission/receive/outro.html
Due: none

updates Question Answers to match latest video
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_1.html
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_2.html
Due: none

Fixes duplicated wallet on network/chain change
  app/assets/v2/js/quadraticlands/components/wallet-provider.js
  app/assets/v2/js/wallet.js
Due: eslint

add ingestion scripts
  app/quadraticlands/scripts/ingest_faq.py
  app/quadraticlands/scripts/ingest_stewards.py
  app/quadraticlands/scripts/intial_dist.py
  app/quadraticlands/scripts/stewards.csv
Due: none

steward fix
  app/quadraticlands/templates/quadraticlands/stewards.html
Due: none

for prod - route users that have claimed to outro
  app/assets/v2/js/quadraticlands/mission/receive/claim.js
Due: eslint

production ratelimting tuning for QL
  app/quadraticlands/helpers.py
Due: none

svg update
  app/retail/templates/presskit.html
Due: none

prod settings - vote.js set verifying contract addy to blackhole
  app/assets/v2/js/quadraticlands/mission/use/vote.js
Due: eslint

prod config - remove test/direct access to missions
  app/quadraticlands/helpers.py
  app/quadraticlands/views.py
Due: none

fix csv
  app/quadraticlands/scripts/stewards.csv
Due: none

update delegate.html
  app/quadraticlands/templates/quadraticlands/mission/use/delegate.html
Due: none

Moves knowledge quiz validation to the backend
  app/assets/v2/scss/quadraticlands/quest/quest-quiz.scss
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_1.html
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_2.html
  app/quadraticlands/urls.py
  app/quadraticlands/views.py
Due: stylelint

Ensures web3Modal exists before checking web3Modal.show
  app/assets/v2/js/quadraticlands/forceWallet.js
Due: eslint

randomize stewards order
  app/quadraticlands/helpers.py
Due: none

2021 wallpaper update
  app/assets/wallpapers/2021_839292.png
  app/assets/wallpapers/2021_9032902.png
Due: none

fix
  app/quadraticlands/templates/quadraticlands/mission/use/delegate.html
Due: none

Add O3 Swap Token
  erc20/0xEe9801669C6138E84bD50dEB500827b776777d28.json
  images/0xEe9801669C6138E84bD50dEB500827b776777d28.png
Due: none

minor updates
  erc20/0xEe9801669C6138E84bD50dEB500827b776777d28.json
Due: none

Add STS Token
  erc20/0x33afDedD864fa9d438D7E65d215C10A8eB141c62.json
  images/0x33afDedD864fa9d438D7E65d215C10A8eB141c62.png
Due: none
