Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

Adding web3 dev dependency
  package.json
  yarn.lock
Due: none

Fixes: have created stub for Web3Modal
  cypress/support/commands.js
Due: eslint

Changes to allow stub for Web3Modal
  app/assets/v2/js/wallet.js
Due: eslint

temp skip cypress
  .github/workflows/ci.yml
  app/app/ci.env
Due: none

Enabling retries in cypress
  cypress.json
Due: none

replace usages of travis with ci + check event env
  .github/workflows/ci.yml
  app/app/ci.env
  app/app/settings.py
  app/grants/tests/factories/grant_hall_of_fame_factory.py
  app/grants/tests/models/test_grant.py
  app/grants/tests/models/test_grant_hall_of_fame.py
Due: none

Fixing linter warnings
  cypress/support/commands.js
Due: eslint

Fixing linter issues
  .travis.yml
  app/assets/v2/js/wallet.js
  cypress/integration/bounties/test_bounty_creation.js
  cypress/integration/grants/test_contributing_to_grant.js
  cypress/integration/grants/test_grant_creation.js
  cypress/integration/grants/test_grant_explorer.js
  cypress/integration/landing_page/test_products_menu.js
Due: eslint

Fixing errors in cypress.json
  cypress.json
Due: none

update envs + restore cypress
  .github/workflows/ci.yml
Due: none

restore codeql
  .github/workflows/codeql-analysis.yml
Due: none

Fixing stubs, removing errors ...
  cypress/support/commands.js
  package.json
  yarn.lock
Due: eslint

accessing cached count for collections card
  app/grants/templates/grants/components/collection.html
Due: none

Create Sjenica1
  Sjenica1
Due: none

comment out extra duplicate PYTHON_PATH
  docker-compose.yml
Due: none

run yarn install
  Dockerfile
Due: none

update command
  Dockerfile
Due: none

breaking pending claims into smaller components
  app/assets/v2/js/grants/matching_claim.js
  app/grants/templates/grants/components/matching_claim.html
  app/grants/templates/grants/matching_funds.html
Due: eslint

refactored matching claims view into smaller components
  app/assets/v2/js/grants/historical_claim.js
  app/assets/v2/js/grants/ready_claim.js
  app/assets/v2/scss/grants/grant.scss
  app/grants/templates/grants/components/historical_claim.html
  app/grants/templates/grants/components/ready_claim.html
  app/grants/templates/grants/matching_funds.html
Due: eslint, stylelint

linting
  app/assets/v2/js/grants/ready_claim.js
  app/grants/templates/grants/components/historical_claim.html
  app/grants/templates/grants/components/ready_claim.html
Due: eslint

linting
  app/app/fixtures/json_store.json
  app/assets/v2/js/grants/historical_claim.js
Due: eslint

remove duplicate call to db
  app/grants/views.py
Due: none

removed fixture
  app/app/fixtures/json_store.json
Due: none

removed extends at-rule per linting rule
  app/assets/v2/scss/grants/grant.scss
  app/grants/templates/grants/components/historical_claim.html
Due: stylelint

Fix linter issues
  cypress/support/commands.js
Due: eslint

Fixing ci script
  bin/cypress/ci
Due: none

Skipping some tests ...
  cypress/integration/grants/test_grant_explorer.js
  cypress/integration/landing_page/test_products_menu.js
  cypress/integration/test_visit.js
Due: eslint

Have added cypress-grep to enable selecting specs to be run.
  cypress/integration/connect-wallet/test_connect_with_metamask.js
  cypress/integration/grants/test_grant_explorer.js
  cypress/integration/landing_page/test_products_menu.js
  cypress/integration/test_visit.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  yarn.lock
Due: eslint

accessing cached count for collections card (#9981)
  app/grants/templates/grants/components/collection.html
Due: none

GITC-610: fixes auth on portfolioItem deletion (#9977)
  app/dashboard/tests/views/test_profile_projects.py
  app/dashboard/views.py
Due: none

GITC-721 - updating grants CTA (#9955)
  app/retail/templates/home/index2021.html
Due: none

added comments
  app/grants/templates/grants/matching_funds.html
Due: none

fix: caches sqrts and reduces time complexity of pairwise match/clr calc
  app/grants/clr.py
Due: none

fix: updates old clr calc records when creating new record
  app/grants/models/grant.py
Due: none

fix: 'dict' object has no attribute 'body'
  app/gitcoinbot/management/commands/get_notifications.py
Due: none

fix: ensures url is defined
  app/gitcoinbot/management/commands/get_notifications.py
Due: none

fix: ensures non-numeric comments are ignored and fixes post_issue_comment_reaction
  app/gitcoinbot/management/commands/get_notifications.py
Due: none

fix: ensure bounty.titles are escaped before becoming part of notifications
  app/inbox/signals.py
Due: none

fix: run any db writes via an atomic transaction
  app/grants/clr.py
Due: none

remove empty data option
  app/assets/v2/js/cart.js
Due: eslint

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
