Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

remove reliance on the z check to ensure that if check passes correctly on all hosts
  scripts/deploy.bash
Due: none

a few small fixes
  app/townsquare/models.py
  app/townsquare/templates/townsquare/index.html
Due: none

make fix
  app/assets/v2/css/activity_stream.css
  app/assets/v2/css/town_square.css
  app/assets/v2/js/pages/townsquare.js
  app/assets/v2/js/status.js
  app/townsquare/admin.py
  app/townsquare/views.py
Due: eslint, stylelint

responsiveness
  app/assets/v2/css/activity_stream.css
  app/retail/templates/shared/activity.html
Due: stylelint

Add CI token
  images/0x456326C25FD504e4E4324000405bA7564fd212E0.JPG
  images/0x456326C25FD504e4E4324000405bA7564fd212E0.PNG
Due: none

Add CI token
  erc20/0x456326C25FD504e4E4324000405bA7564fd212E0.json
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

remove console logs
  app/assets/v2/js/3box-sync.js
Due: eslint

Update views.py
  app/grants/views.py
Due: none

Toggle ethereum wallet address (#5689)
  app/dashboard/migrations/0069_profile_hide_wallet_address.py
  app/dashboard/models.py
  app/dashboard/templates/profiles/header_details.html
  app/grants/templates/grants/activity.html
  app/grants/templates/grants/fund.html
  app/grants/views.py
  app/marketing/views.py
  app/retail/templates/settings/privacy.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/models/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

updated code to reflect review
  app/chat/management/commands/sync_users_to_chat.py
  app/dashboard/views.py
Due: none

Fix navigation error
  app/quests/templates/quests/nav.html
Due: none

fix incorrect link
  app/quests/templates/quests/nav.html
Due: none

include all rounds in phantom funding calc
  app/grants/views.py
Due: none

Fix navigation error (#5729)
  app/quests/templates/quests/nav.html
Due: none

Gitcoin Grants CLR Graphs - breakdown of contribution volume over time (#5687)
  app/assets/v2/css/grants/detail.css
  app/assets/v2/js/grants/stats.js
  app/grants/models.py
  app/grants/templates/grants/detail/tabs.html
  app/grants/views.py
Due: eslint, stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  grants/models/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

disabled email notify props for initial release
  app/chat/management/commands/sync_users_to_chat.py
  app/dashboard/views.py
Due: none

compliance - blocked country and user list (#5602)
  app/app/settings.py
  app/compliance/__init__.py
  app/compliance/admin.py
  app/compliance/apps.py
  app/compliance/management/__init__.py
  app/compliance/management/commands/__init__.py
  app/compliance/management/commands/pull_compliance_list.py
  app/compliance/migrations/0001_initial.py
  app/compliance/migrations/__init__.py
  app/compliance/models.py
  app/compliance/tests.py
  app/compliance/views.py
  app/dashboard/utils.py
  scripts/crontab
Due: none

WIP, adding funder and hunter into the same chat channel on bounty work start, only applys to bounties that are tied to an event
  app/app/settings.py
  app/app/urls.py
  app/chat/tasks.py
  app/chat/templates/chat.html
  app/chat/utils.py
  app/chat/views.py
  app/dashboard/models.py
  app/dashboard/views.py
  app/retail/views.py
Due: none

copy and fixes small issues
  app/app/urls.py
  app/assets/v2/css/chat.css
  app/assets/v2/images/chat/feature_1.png
  app/assets/v2/images/chat/feature_2.png
  app/assets/v2/images/chat/feature_3.png
  app/assets/v2/images/chat/placeholder_feature_image.png
  app/retail/templates/chat.html
Due: stylelint

removing check for bounty.event.slug and just relying on an event existing to gate the channel creation
  app/dashboard/views.py
Due: none

fixing a mistype in tar extraction for GeoLite (#5714)
  Dockerfile
Due: none

Auto reload the workers in development environments to aid in celery task development
  app/__init__.py
  app/app/settings.py
  app/taskapp/management/__init__.py
  app/taskapp/management/commands/__init__.py
  app/taskapp/management/commands/celery.py
  bin/celery/worker/run.sh
Due: none

some small email changes as i practice gitting before 2019 ends
  app/retail/emails.py
  scripts/crontab
Due: none

Settings for 1.2(mattermost driver)
  app/app/settings.py
  app/chat/__init__.py
  app/chat/apps.py
  app/dashboard/models.py
  app/dashboard/tasks.py
  app/retail/emails.py
Due: none

Add chat page
  app/app/urls.py
  app/assets/v2/css/chat.css
  app/assets/v2/images/chat/android.png
  app/assets/v2/images/chat/apple.png
  app/assets/v2/images/chat/chat.png
  app/assets/v2/images/chat/desktop.png
  app/assets/v2/images/chat/mobile.png
  app/assets/v2/images/chat/placeholder_feature_image.png
  app/assets/v2/images/chat/web.png
  app/assets/v2/images/chat/windows.png
  app/retail/templates/chat.html
  app/retail/views.py
Due: stylelint

added gitcoin chat total user count into stats
  app/marketing/management/commands/pull_stats.py
  app/marketing/stats.py
Due: none

remove default token for chat driver
  app/app/settings.py
Due: none

adding email supression check into the oauth route
  app/dashboard/views.py
Due: none

fix geoip download
  .travis.yml
  Dockerfile
Due: none

fix stylelint
  app/assets/v2/js/grants/detail.js
Due: eslint

notification dot added to the chat icon in the header, and a chat_unread_messages boolean added to context.py
  app/app/context.py
  app/assets/v2/js/base.js
  app/dashboard/templates/shared/chat_nav.html
Due: eslint

updated update_user job to not rely on serialized query objects
  app/chat/tasks.py
Due: none

Initial Documentation for Gitcoin Mattermost Setup
  docs/RUNNING_CHAT_LOCALLY_DOCKER.md
Due: none

set nickname to profile handle when creating a new user
  app/dashboard/views.py
Due: none

Mattermost Driver added - bounty on create task added to dashboard/tasks.py - chat/tasks.py created - wip tasks
  app/chat/tasks.py
  app/chat/templates/embed.html
  app/chat/views.py
  app/dashboard/helpers.py
  app/dashboard/tasks.py
  requirements/base.txt
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
