Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

patch for static file link
  app/kudos/templates/kudos_marketplace.html
Due: none

js link
  app/assets/v2/js/midi.js
  app/kudos/templates/kudos_marketplace.html
Due: eslint

trying to get this soudn to work
  app/assets/v2/js/libtimidity.js
  app/kudos/templates/kudos_marketplace.html
Due: eslint

commented out v2
  app/dashboard/templates/bounty/new.html
Due: none

eff it ,we ll use native js
  app/assets/v2/audio/secret-discovery-sound.mid
  app/assets/v2/audio/secret-discovery-sound.wav
  app/assets/v2/js/libtimidity.js
  app/assets/v2/js/midi.js
  app/kudos/templates/kudos_marketplace.html
Due: eslint

hide why-gitcoin for logged in users
  app/retail/templates/shared/nav.html
Due: none

hide why-gitcoin for logged in users (#3758)
  app/retail/templates/shared/nav.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

use mainnet contract
  app/event_ethdenver2019/views.py
Due: none

links were badgc
  app/event_ethdenver2019/templates/ethdenver2019/receive_bulk.html
Due: none

add nda, change modal
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/addinterest.html
  app/dashboard/templates/bounty/details.html
Due: eslint

change validation
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/bounty/new.html
Due: eslint

change featured bounty order
  app/assets/v2/js/pages/dashboard.js
Due: eslint

fix js
  app/assets/v2/js/pages/dashboard.js
  app/retail/templates/shared/featured_bounty_cards.html
Due: eslint

error handling for kudos
  app/event_ethdenver2019/management/commands/bootstrap_kudos.py
  app/event_ethdenver2019/views.py
  app/kudos/views.py
Due: none

add meta title and description to explorer, homepage
  app/dashboard/templates/dashboard/index.html
  app/dashboard/views.py
  app/retail/templates/shared/head.html
  app/retail/views.py
Due: none

sign txn with 0 "gas price" embedded
  app/assets/v2/js/grants/fund.js
Due: eslint

Update issue 794
  app/app/urls.py
  app/marketing/mails.py
  app/marketing/views.py
  app/retail/templates/emails/campaigns/email_campaign_day_1.html
  app/retail/templates/emails/campaigns/email_campaign_day_2.html
  app/retail/templates/emails/campaigns/email_campaign_day_3.html
  app/retail/views.py
Due: none

Update import
  app/retail/views.py
Due: none

Fix test failures
  app/marketing/mails.py
  app/retail/views.py
Due: none

Add condition to show featured funded bounty section of the mail
  app/dashboard/helpers.py
  app/retail/templates/emails/funded_featured_bounty.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

fix missing img
  app/retail/templates/bounties/funder/press.html
Due: none

purge styleguide-alpha
  app/app/urls.py
  app/retail/templates/ui_inventory.html
  app/retail/views.py
  docs/CONTRIBUTING.md
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  mk_contributors/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

resubmit kudos transfers
  scripts/debug/resubmit_kudos_transfers.py
Due: none

conditional notifications logged user
  app/assets/v2/js/notifications.js
Due: eslint

update bootstrap
  app/assets/v2/css/bootstrap.min.css
  app/assets/v2/js/bootstrap.min.js
  app/assets/v2/js/jquery.js
  app/assets/v2/js/popper.min.js
Due: eslint, stylelint

Adds backend for unsigned nda
  app/app/urls.py
  app/app/utils.py
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/helpers.py
  app/dashboard/migrations/0015_auto_20190215_1104.py
  app/dashboard/models.py
  app/dashboard/views.py
Due: eslint

make fix
  scripts/debug/resubmit_kudos_transfers.py
Due: none

add preload
  app/retail/templates/bounties/funder.html
  app/retail/templates/index.html
  app/retail/templates/shared/footer_scripts_ligth.html
  app/retail/templates/shared/head.html
  app/retail/templates/shared/tag_manager_1.html
  app/retail/templates/shared/tag_manager_2.html
Due: none

change home modal
  app/assets/v2/js/base.js
  app/retail/templates/shared/footer_scripts_ligth.html
  app/retail/templates/shared/head.html
Due: eslint

add condition header script
  app/grants/templates/grants/cancel.html
  app/grants/templates/grants/detail/index.html
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/index.html
  app/grants/templates/grants/leaderboard.html
  app/grants/templates/grants/milestones.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/profile/index.html
  app/grants/templates/grants/quickstart.html
  app/grants/templates/grants/shared/error.html
  app/retail/templates/shared/head.html
Due: none

add slim header
  app/retail/templates/bounties/funder.html
  app/retail/templates/index.html
  app/retail/templates/shared/footer_scripts_ligth.html
  app/retail/templates/shared/head.html
Due: none

Refs:#3713 updated
  app/assets/v2/images/avatar/Accessories/Glasses-6.svg
  app/assets/v2/images/avatar/Accessories/Masks-construction_helmet.svg
  app/assets/v2/images/avatar/Accessories/Masks-viking.svg
  app/avatar/templates/accessories/glasses/6.txt
  app/avatar/templates/accessories/masks/construction_helmet.txt
  app/avatar/templates/accessories/masks/viking.txt
  app/avatar/utils.py
Due: none

Add KETC token (#3681)
  erc20/0xd0059e9D822C471F394Ae5974d783e86b2Aa0853.json
  images/0xd0059e9D822C471F394Ae5974d783e86b2Aa0853.png
Due: none

Add LPK Token (#3684)
  erc20/0x2cc71c048A804Da930e28E93F3211dC03c702995.json
  images/0x2cc71c048A804Da930e28E93F3211dC03c702995.png
Due: none

NFXC token (#3686)
  erc20/0x2D39EC4da54329D28d230B4973F5Aa27886C3AeE.json
  images/0x2D39EC4da54329D28d230B4973F5Aa27886C3AeE.png
Due: none
