Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

makes grants homepage much faster
  app/assets/v2/js/grants/index.js
  app/grants/templates/grants/card/back.html
Due: eslint

make fix
  app/assets/v2/js/grants/index.js
Due: eslint

stopgap for API performance, show lower amount of results upon api call
  app/assets/v2/js/pages/dashboard.js
  app/dashboard/router.py
Due: eslint

fix for grant flipcard for grants that were AJASX-ily loaded
  app/assets/v2/js/grants/index.js
Due: eslint

fixes for code review
  app/economy/models.py
  app/perftools/management/commands/create_page_cache.py
  app/retail/views.py
Due: none

make fix
  app/assets/v2/js/grants/index.js
  app/economy/models.py
  app/retail/views.py
Due: eslint

makemigrations
  app/dashboard/migrations/0014_merge_20190221_2246.py
  app/grants/migrations/0012_merge_20190221_2246.py
  app/perftools/management/commands/create_page_cache.py
Due: none

serializer
  app/economy/models.py
Due: none

fixes
  app/perftools/management/commands/create_page_cache.py
Due: none

fix grants creation
  app/assets/v2/js/grants/new.js
  app/grants/views.py
Due: eslint

[Fix] Input field in Send Tip feature should not be colored red
  app/assets/onepager/css/main.css
Due: stylelint

make fix
  app/assets/v2/js/grants/index.js
  app/avatar/utils.py
Due: eslint

fix lint
  app/assets/v2/js/grants/index.js
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

fixes infinite scroll on grants
  app/grants/templates/grants/index.html
  app/grants/views.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  mk_envvars/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

a few items from regression testing
  app/assets/v2/js/grants/fund.js
  app/dashboard/templates/bounty/increase.html
Due: eslint

stopgap for https://github.com/gitcoinco/web/issues/3809
  app/app/settings.py
Due: none

reads paid options
  app/avatar/utils.py
Due: none

more avatar options
  app/assets/v2/images/avatar/Wallpaper/city.svg
  app/assets/v2/images/avatar/Wallpaper/city2.svg
  app/assets/v2/images/avatar/Wallpaper/flowers.svg
  app/assets/v2/images/avatar/Wallpaper/mountains.svg
  app/assets/v2/images/avatar/Wallpaper/mountains2.svg
  app/assets/v2/images/avatar/Wallpaper/trees.svg
  app/assets/v2/images/avatar/Wallpaper/trees2.svg
  app/assets/v2/images/avatar/Wallpaper/trees3.svg
  app/avatar/utils.py
Due: none

do not try to recreate avatar upon save
  app/avatar/admin.py
Due: none

a magic fix
  app/dashboard/templates/bounty/details.html
Due: none

adds code avatar items
  app/assets/v2/images/avatar/Wallpaper/abstract.svg
  app/assets/v2/images/avatar/Wallpaper/bokeh6.svg
  app/assets/v2/images/avatar/Wallpaper/code.svg
  app/assets/v2/images/avatar/Wallpaper/code2.svg
  app/assets/v2/images/avatar/Wallpaper/code3.svg
  app/avatar/utils.py
Due: none

upgrade daec contract (#3698)
  erc20/0x96e9F45A47Be8E3E5eb395394c7e28B73aa931ac.json
  images/0x96e9F45A47Be8E3E5eb395394c7e28B73aa931ac.png
Due: none

add lgcc token (#3701)
  erc20/0x0Ee1F2567e9B90BA36905e8bE842aB728F166A02.json
  images/0x0Ee1F2567e9B90BA36905e8bE842aB728F166A02.png
Due: none

Add INVE token (#3694)
  eos-token/INVE@intervalue11.json
  images/INVE@intervalue11.png
Due: none

Add MSEC token (#3704)
  erc20/0xf924eA38c31feCe95Bf5fE1ad8e49a0c242EF169.json
  images/0xf924eA38c31feCe95Bf5fE1ad8e49a0c242EF169.png
Due: none

Fixes migrations
  app/dashboard/migrations/0014_feedbackentry.py
Due: none

new batch of kudi
  app/assets/v2/images/kudos/ShowMeWhatYouGot.svg
  app/assets/v2/images/kudos/logical_spock.svg
  app/assets/v2/images/kudos/nyan.svg
  app/kudos/kudos.yaml
Due: none

migrations fixes for grants
  app/grants/migrations/0012_auto_20190222_1611.py
  app/grants/models.py
Due: none

fix for https://gitcoincore.slack.com/archives/CBDTKB59A/p1550853225010000
  app/grants/admin.py
Due: none

- pricing: fixed banner css - added fadein animation code + documented - used fadein animation on homepage
  app/assets/v2/css/base.css
  app/assets/v2/css/gitcoin.css
  app/assets/v2/css/retail/plans.css
  app/assets/v2/js/grants/fund.js
  app/assets/v2/js/shared.js
  app/dashboard/templates/shared/no_metamask_error.html
  app/retail/templates/home/index.html
  app/retail/templates/pricing/subscribe.html
  docs/STYLEGUIDE.md
Due: eslint, stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  mk_styleguide/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

stopgap for https://github.com/gitcoinco/web/issues/3812
  app/assets/v2/js/grants/new.js
  app/grants/views.py
Due: eslint

make fix and readonly field list
  app/assets/v2/js/grants/fund.js
  app/assets/v2/js/grants/new.js
  app/avatar/utils.py
  app/grants/admin.py
Due: eslint

sort on gitcoin.co/grants
  app/grants/views.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
