Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

make fix
  app/assets/v2/js/grants/funding.js
  app/grants/management/commands/sent_cart_reminder.py
  app/grants/tasks.py
  app/marketing/mails.py
Due: eslint

auto border
  app/assets/v2/css/quests.css
Due: stylelint

Clarify variable names
  app/assets/v2/js/board.js
  app/assets/v2/js/pages/profile_tokens.js
Due: eslint

ingest txn now supports ethertransfers
  scripts/debug/ingest_grant_txn.py
Due: none

Add missing indicateMetamaskPopup calls
  app/assets/v2/js/board.js
Due: eslint

Fix bug that logged incorrect minted value to DB
  app/ptokens/views.py
Due: none

adds profile_for_clr for clr calcs
  app/grants/admin.py
  app/grants/clr.py
  app/grants/migrations/0066_contribution_profile_for_clr.py
  app/grants/models.py
Due: none

system is smart enough to know who has already gone through kyc
  app/grants/management/commands/payout_round.py
  app/grants/migrations/0066_clrmatch_has_passed_kyc.py
  app/grants/models.py
Due: none

Delete quests.css
  app/assets/v2/css/quests.css
Due: stylelint

Info on Description row
  app/quests/templates/quests/index.html
Due: none

cursor default on info
  app/assets/v2/css/quests.css
Due: stylelint

id
  app/quests/templates/quests/index.html
Due: none

Save network to DB when ptoken is created
  app/assets/v2/js/board.js
  app/assets/v2/js/ptokens/ptokens.js
Due: eslint

ptoken addresses are now updated via cronjob
  app/assets/v2/js/board.js
  app/dashboard/abi.py
  app/ptokens/models.py
Due: eslint

Token price can now be updated
  app/assets/v2/js/board.js
Due: eslint

lint fixes
  app/assets/v2/js/grants/funding.js
  app/grants/management/commands/sent_cart_reminder.py
  app/grants/tasks.py
  app/marketing/mails.py
Due: eslint

Token supply can now be updated
  app/assets/v2/js/board.js
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Info on Description row (#7067)
  app/assets/v2/css/quests.css
  app/quests/templates/quests/index.html
Due: stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

feat: add support for new type manual
  app/assets/v2/js/pages/bounty_details2.js
  app/assets/v2/js/pages/hackathon_new_bounty.js
  app/dashboard/models.py
  app/dashboard/templates/bounty/details2.html
  app/dashboard/views.py
Due: eslint

fix: count distinct registrants to avoid duplicates
  app/dashboard/views.py
Due: none

disable sync slack as slack api has changed
  scripts/crontab
Due: none

disable codefund number pulling
  app/dashboard/management/commands/pull_codefund_numbers.py
  scripts/crontab
Due: none

add cookielaw script ever ywhere
  app/dashboard/templates/onepager/base.html
  app/grants/templates/grants/new-whitelabel.html
  app/kudos/templates/transaction/base.html
  app/retail/templates/bounties/contributor.html
  app/retail/templates/bounties/funder.html
  app/retail/templates/how_it_works/index.html
Due: none

undo whitelabel change
  app/grants/templates/grants/new-whitelabel.html
Due: none

disable sync slack as slack api has changed (#7073)
  scripts/crontab
Due: none

Fix ptoken display and available amount
  app/assets/v2/js/board.js
  app/assets/v2/js/ptokens/ptokens.js
  app/assets/v2/js/user_card.js
  app/dashboard/models.py
  app/dashboard/templates/board/index.html
  app/dashboard/views.py
  app/ptokens/models.py
  app/ptokens/views.py
Due: eslint

Fix error handling and token creation
  app/assets/v2/js/board.js
Due: eslint

merge migration
  app/grants/migrations/0067_merge_20200707_1654.py
Due: none

fix for tokens balance
  app/assets/v2/js/pages/create_bounty/ETH.js
Due: eslint

unsubscribe daily email people if they haven't read in the last 30 days
  app/marketing/management/commands/unsubscribe_daily_emails.py
  scripts/crontab
Due: none

unsub
  app/marketing/management/commands/unsubscribe_daily_emails.py
Due: none

fix
  app/marketing/management/commands/unsubscribe_daily_emails.py
Due: none

fix icon pixel
  images/0x4E2cE0c9979e5b9B87591Dc042D77Ae2fDcC1A79.png
Due: none

Update 0xb51F64A297122D44822FcCeecEa3ae63b98F4297.json
  erc20/0xb51F64A297122D44822FcCeecEa3ae63b98F4297.json
Due: none

feat: add support for new type manual (#7069)
  app/assets/v2/js/pages/bounty_details2.js
  app/assets/v2/js/pages/hackathon_new_bounty.js
  app/dashboard/models.py
  app/dashboard/templates/bounty/details2.html
  app/dashboard/views.py
Due: eslint

add cookielaw script ever ywhere (#7072)
  app/dashboard/templates/onepager/base.html
  app/kudos/templates/transaction/base.html
  app/retail/templates/bounties/contributor.html
  app/retail/templates/bounties/funder.html
  app/retail/templates/how_it_works/index.html
Due: none

disable codefund number pulling (#7074)
  app/dashboard/management/commands/pull_codefund_numbers.py
  scripts/crontab
Due: none
