Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

wait for data each to be done before saving
  app/assets/v2/js/grants/fund.js
Due: eslint

undo async check
  app/assets/v2/js/grants/fund.js
Due: eslint

added {}
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

review feedback
  app/dashboard/views.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  grants/views/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

changed to pointer
  app/assets/v2/css/grants/fund.css
Due: stylelint

fix filename for contract
  app/grants/templates/grants/fund.html
Due: none

bug: add missing link
  app/grants/templates/grants/cancel.html
Due: none

newsletter 2019-05-24
  app/retail/emails.py
Due: none

set valid default for one time contribution
  app/grants/views.py
Due: none

fix org filters
  app/dashboard/views.py
Due: none

fix for kudos being too wide on profile on mobile
  app/assets/v2/css/kudos/styles.css
  app/kudos/templates/shared/kudos_card_profile.html
Due: stylelint

fixes fund bounty flow
  app/dashboard/templates/bounty/fund.html
Due: none

fix bad paths to js lib files
  app/dashboard/templates/bounty/change.html
  app/dashboard/templates/bounty/fund.html
  app/grants/templates/grants/newv0.html
  app/retail/templates/gas_heatmap.html
Due: none

fix bad paths to js lib files
  app/dashboard/templates/bounty/change.html
  app/grants/templates/grants/newv0.html
  app/retail/templates/gas_heatmap.html
Due: none

fix call before initialization
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

fix lint
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

fix cors
  app/dashboard/templates/bounty/change.html
  app/dashboard/templates/bounty/fund.html
  app/dashboard/templates/dashboard/users.html
  app/grants/templates/grants/fund.html
Due: none

disable access to various sensitive info on site
  app/dashboard/views.py
Due: none

users: enable invite button by default
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
Due: none

users: updated view
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/users.html
Due: eslint

make GCC address as checksum
  erc20/0x500565E098d98A273224eC8Fb33d98dC8946F8B9.json
Due: none

detail: indent + refactor
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/shared.js
Due: eslint

funding.yml for gitcoin
  .github/FUNDING.yml
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

patch
  app/retail/emails.py
Due: none

email
  app/retail/emails.py
Due: none
