Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

fix newsletter
  app/retail/emails.py
Due: none

Add TOK token
  erc20/0xa51406f33aC4518D039756B15e85572a51E145a9.json
  images/0xa51406f33aC4518D039756B15e85572a51E145a9.png
Due: none

only allow kudos owned by gitcoin to be reward kudos
  app/assets/v2/js/kudos-search.js
  app/dashboard/templates/shared/add_kudos.html
  app/dashboard/views.py
  app/quests/templates/quests/new.html
Due: eslint

protect Gitcoin's ETH
  app/kudos/models.py
Due: none

adds runrate to results page
  app/assets/v2/js/kudos-search.js
  app/assets/v2/js/pages/results.js
  app/perftools/management/commands/create_page_cache.py
  app/retail/templates/results.html
  app/retail/utils.py
Due: eslint

Add Gitcoin Weekly sponsor for Nov 8 email
  app/retail/emails.py
Due: none

est read time mins was not coming through for the form
  app/quests/views.py
Due: none

latest product updates on footer
  app/retail/templates/shared/footer.html
Due: none

create quest is now create/edit quest
  app/app/urls.py
  app/assets/v2/js/pages/quests.index.js
  app/marketing/mails.py
  app/quests/migrations/0019_auto_20191101_2156.py
  app/quests/models.py
  app/quests/templates/quests/index.html
  app/quests/templates/quests/new.html
  app/quests/views.py
Due: eslint

ability to edit fix
  app/quests/views.py
Due: none

ability to edit fix + title fix
  app/quests/views.py
Due: none

add save/create and logic
  app/app/urls.py
  app/assets/v2/js/hackathon-projects.js
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/migrations/0063_auto_20191101_2159.py
  app/dashboard/models.py
  app/dashboard/templates/bounty/details.html
  app/dashboard/templates/dashboard/hackathon/project_new.html
  app/dashboard/templates/dashboard/hackathon/projects.html
  app/dashboard/views.py
Due: eslint

core: revamp advanced payout to make it cleaner
  app/assets/v2/css/base.css
  app/assets/v2/css/bulk_payout_bounty.css
  app/assets/v2/css/gitcoin.css
  app/assets/v2/js/pages/bulk_payout.js
  app/assets/v2/js/tooltip_hover.js
  app/dashboard/templates/bulk_payout_bounty.html
  app/retail/templates/shared/bulk_payout_form.html
Due: eslint, stylelint

Add TOK token
  erc20/0xa51406f33aC4518D039756B15e85572a51E145a9.json
Due: none

update
  erc20/0x1457Ef45c753E2675A409537250b66b3D0cAdbAD.json
Due: none

Add GDCT token
  erc20/0xD215A7823840a7f7e7450E2edF643C9FA2FCd0A7.json
  images/0xD215A7823840a7f7e7450E2edF643C9FA2FCd0A7.png
Due: none

oAuth 2.0 provider enabled, - new api endpoint to retreive logged oauth user - oauth middleware enabled - oauth authentication enabled - django-oauth-toolkit dependency added
  app/app/settings.py
  app/app/urls.py
  app/chat/__init__.py
  app/chat/apps.py
  app/chat/migrations/__init__.py
  app/chat/templates/inbox.html
  app/chat/views.py
  app/chat2/__init__.py
  app/chat2/apps.py
  app/chat2/migrations/__init__.py
  app/chat2/templates/__init__.py
  app/chat2/templates/embed.html
  app/chat2/views.py
  app/dashboard/views.py
  app/retail/templates/shared/nav.html
  requirements/base.txt
Due: none

results page update
  app/feeswapper/management/commands/feeSwapper.py
  app/retail/templates/results.html
  app/retail/views.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/admin/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Add SpreaderChain (SPC) Token
  erc20/0x48887755B1811Aeced308dBC564180E113F90670.json
  images/0x48887755b1811aeced308dbc564180e113f90670.png
Due: none

Add NTC token
  erc20/0xBaACCd12A980bb01Fbbdb4f41462B5CeC49671A0.json
  images/0xBaACCd12A980bb01Fbbdb4f41462B5CeC49671A0.png
Due: none

Add BFC token
  eos-token/BFC@befullcoin33.json
  images/BFC@befullcoin33.png
Due: none

Decolor FPC
  images/FPC@fupindotclub.png
Due: none

update whitepaper url
  eos-token/BFC@befullcoin33.json
Due: none

update lwht token overview
  erc20/0xD27dD54750a7c0d9293Eb4Fb24D89DC5f9f32343.json
Due: none

add rab
  erc20/0x425E539F5c7BbA689A75ee8238Fd8DCb7A82FB7B.json
  images/0x425E539F5c7BbA689A75ee8238Fd8DCb7A82FB7B.png
Due: none

add rab
  erc20/0x425E539F5c7BbA689A75ee8238Fd8DCb7A82FB7B.json
Due: none

shows quests on ajax instead of right away
  app/assets/v2/js/pages/quests.index.js
  app/quests/templates/quests/index.html
  app/quests/views.py
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  kudos/admin/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Rename 0xa07991e8ac4da7582ad99e7486cb9643cab41530.json to 0xA07991E8aC4Da7582Ad99e7486cb9643cAb41530.json
  erc20/0xA07991E8aC4Da7582Ad99e7486cb9643cAb41530.json
Due: none

Update 0xA07991E8aC4Da7582Ad99e7486cb9643cAb41530.json
  erc20/0xA07991E8aC4Da7582Ad99e7486cb9643cAb41530.json
Due: none

fix typecast for query param
  app/retail/views.py
Due: none

Add files via upload
  images/0xA07991E8aC4Da7582Ad99e7486cb9643cAb41530.png
Due: none

feat: add tribes landing page
  app/app/urls.py
  app/assets/v2/css/retail/tribes_landing.css
  app/assets/v2/images/hackathon/beyond_block/sponsors/matic.svg
  app/assets/v2/images/hackathon/beyond_block/sponsors/portis.svg
  app/assets/v2/images/project_logos/airswap.svg
  app/assets/v2/images/project_logos/algorand.svg
  app/assets/v2/images/project_logos/arweave.svg
  app/assets/v2/images/project_logos/bancor.svg
  app/assets/v2/images/project_logos/bzx.svg
  app/assets/v2/images/project_logos/consensys_grants.svg
  app/assets/v2/images/project_logos/consensys_labs.svg
  app/assets/v2/images/project_logos/eth_foundation.svg
  app/assets/v2/images/project_logos/matic.svg
  app/assets/v2/images/project_logos/portis.svg
  app/assets/v2/images/project_logos/portis_text.svg
  app/assets/v2/images/project_logos/status.svg
  app/assets/v2/images/tribes/how-it-works.svg
  app/assets/v2/images/tribes/landing/abstract-square.svg
  app/assets/v2/images/tribes/landing/purple-strip.svg
  app/assets/v2/images/tribes/landing/tribe-one.svg
  app/assets/v2/images/tribes/landing/tribe-two.svg
  app/assets/v2/images/tribes/logo-with-text.svg
  app/assets/v2/images/tribes/logo.svg
  app/assets/v2/images/tribes/tribe-1
  app/dashboard/context/hackathon.py
  app/dashboard/context/hackathon_explorer.py
  app/retail/templates/tribes/landing.html
  app/retail/views.py
Due: stylelint

addressed comment
  app/assets/v2/images/tribes/landing/sam.jpg
  app/assets/v2/images/tribes/landing/scott.png
  app/assets/v2/images/tribes/tribe-1
  app/retail/views.py
Due: none

Delete 0xa07991e8ac4da7582ad99e7486cb9643cab41530.png
  images/0xa07991e8ac4da7582ad99e7486cb9643cab41530.png
Due: none

update scrub logic
  app/assets/v2/js/pages/dashboard.js
Due: eslint
