Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

modify styling for footer
  app/retail/templates/emails/template.html
Due: none

remove bottom padding for .primary-content
  app/retail/templates/emails/template.html
Due: none

address review comments
  app/assets/v2/js/search.js
  app/dashboard/templates/shared/search.html
Due: eslint

feat: redo search UI
  app/assets/v2/css/search.css
  app/assets/v2/js/search.js
  app/assets/v2/js/vue-filters.js
  app/dashboard/templates/shared/nav_auth.html
  app/dashboard/templates/shared/search.html
Due: eslint, stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

update filter
  app/assets/v2/js/vue-filters.js
  app/dashboard/templates/shared/search.html
Due: eslint

fix merge conflicts
  app/dashboard/templates/dashboard/index-vue.html
Due: none

fix project desc overflow
  app/dashboard/templates/dashboard/index-vue.html
Due: none

fix hackathon backgrounds
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/views.py
Due: none

fix for the hackathon banner background and text overrides
  app/dashboard/templates/dashboard/index-vue.html
Due: none

fix registration boolean
  app/dashboard/views.py
Due: none

fix resgister js boolean
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/templates/dashboard/sidebar_search_hackathon.html
  app/dashboard/views.py
Due: none

fix conditional dates
  app/assets/v2/js/pages/dashboard-hackathon.js
  app/dashboard/templates/dashboard/index-vue.html
Due: eslint

Hackathon TS Tweaks - register button pushes users to onboarding - only prizes and projects are available to non registered users - cleanup of stale code/review tweaks
  app/assets/v2/js/pages/dashboard-hackathon.js
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/views.py
Due: eslint

more options for validating txns
  app/grants/management/commands/validate_grants_contributions.py
  scripts/crontab
Due: none

updates for the project-panel, removing redundant css, adding a truncate filter to prevent long running paragraphs
  app/assets/v2/js/vue-filters.js
  app/dashboard/templates/dashboard/index-vue.html
Due: eslint

ensure that the we can support the old format for hackathon onboard urls into the current flow
  app/dashboard/models.py
Due: none

remove no_grow from status include
  app/dashboard/templates/dashboard/index-vue.html
Due: none

script to ingest givingblock txns for scott
  app/grants/clr.py
  app/grants/management/commands/ingest_givingblock_txns.py
  scripts/input/givingblock_txns.csv
Due: none

Update vue-filters.js
  app/assets/v2/js/vue-filters.js
Due: eslint

final CLR match copy
  app/grants/templates/grants/card/clr_match.html
  app/grants/templates/grants/card/front.html
Due: none

cleanup for the chat dropdown on project panels
  app/assets/v2/js/pages/dashboard-hackathon.js
  app/dashboard/templates/dashboard/index-vue.html
Due: eslint

fix for the add channel task to not quit if it encounters an error on one of the items
  app/chat/tasks.py
Due: none

eslint fixes
  app/assets/v2/js/vue-filters.js
Due: eslint

Project Panel - looking for members projects filter - button dropdown to message chat members
  app/assets/v2/js/pages/dashboard-hackathon.js
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/views.py
Due: eslint

fix svg not showing and img ratios
  app/dashboard/templates/dashboard/index-vue.html
Due: none

fix prize visibility and tribes cards
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/views.py
Due: none

fix hackathon bg, add register btn, remove redirect
  app/app/urls.py
  app/dashboard/templates/dashboard/hackathon/onboard.html
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/templates/dashboard/index.html
  app/dashboard/templates/dashboard/sidebar_search_hackathon.html
  app/dashboard/views.py
Due: none

The big anti-collusion commit.
  app/grants/clr.py
  app/grants/management/commands/estimate_clr.py
  app/grants/migrations/0053_grant_backup_clr_prediction_curve.py
  app/grants/migrations/0054_auto_20200414_1141.py
  app/grants/models.py
  scripts/debug/grants_collusion_stats.py
Due: none

fix spell
  app/dashboard/templates/dashboard/index-vue.html
Due: none

commenst from last commit
  app/grants/management/commands/estimate_clr.py
Due: none

fixes the issue with provenance of the origination address on grants
  app/economy/tx.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
