Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

feat: allow passing grant_pot as an argument in mgmt command
  app/grants/clr.py
  app/grants/management/commands/estimate_clr.py
  scripts/crontab
Due: none

Add Troy token，already edited
  images/0x4574562e9310a94f9ca962bd23168d8a06875b1a.png
Due: none

Fixes #4292 - Better Test Data Fixtures (#4601)
  app/app/fixtures/avatar.json
  app/app/fixtures/dashboard.json
  app/app/fixtures/economy.json
  app/app/fixtures/grants.json
  app/app/fixtures/kudos.json
  app/app/fixtures/marketing.json
  app/app/fixtures/profiles.json
  app/app/fixtures/users.json
  app/avatar/models.py
  app/dashboard/fixtures/initial.json
  bin/docker-command.bash
  docs/RUNNING_LOCALLY_DOCKER.md
  economy.json
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  mk_setup/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Update README.md
  app/gitcoinbot/README.md
Due: none

- claeanup landing page
  app/assets/v2/css/buttons.css
  app/assets/v2/css/home.css
  app/assets/v2/images/home/bots.svg
  app/dashboard/templates/shared/newsletter.html
  app/retail/templates/home/index.html
Due: stylelint

make fix & add scott ot low bounty notifications
  app/app/urls.py
  app/dashboard/notifications.py
Due: none

Delete 0xfcf3740dEe50E5c4AFa16730baFf0E84E2F34aC3.json
  erc20/0xfcf3740dEe50E5c4AFa16730baFf0E84E2F34aC3.json
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

Reupload Add Cz langage
  erc20/0xfcf3740dEe50E5c4AFa16730baFf0E84E2F34aC3.json
Due: none

new avatar
  app/assets/v2/css/avatar.css
  app/assets/v2/images/avatar3d/avatar_bufficorn.svg
Due: stylelint

fix send eth btn styles
  app/dashboard/templates/profiles/header_details.html
Due: none

sections
  app/avatar/views_3d.py
Due: none

add styles header boxes
  app/assets/v2/css/home.css
  app/assets/v2/images/home/bg-index.jpg
  app/retail/templates/home/index.html
Due: stylelint

add notification when logged
  app/dashboard/templates/shared/labs_nav.html
  app/grants/templates/grants/nav.html
  app/kudos/templates/shared/kudos_nav.html
  app/quests/templates/quests/nav.html
  app/retail/templates/home/nav.html
  app/retail/templates/shared/nav.html
  app/retail/templates/shared/nav_hackathons.html
Due: none

Update detail.js
  app/assets/v2/js/grants/detail.js
Due: eslint

Add backup settings view
  app/app/urls.py
  app/dashboard/models.py
  app/marketing/views.py
  app/retail/templates/settings/backup.html
Due: none

Add action to backup at profile
  app/dashboard/templates/profiles/header_details.html
Due: none

Add 3box integrations
  app/app/urls.py
  app/assets/v2/js/lib/3box.min.js
  app/dashboard/context/backup/__init__.py
  app/dashboard/context/backup/generator.py
  app/dashboard/context/backup/schema.py
  app/dashboard/migrations/0069_auto_20191218_0139.py
  app/dashboard/migrations/0070_profile_last_backup.py
  app/dashboard/migrations/0071_profile_backup_acknowledgment.py
  app/dashboard/models.py
  app/dashboard/templates/profiles/profile_backup.html
  app/dashboard/utils.py
  app/dashboard/views.py
  app/marketing/views.py
  app/retail/templates/shared/backup_section.html
Due: eslint

Add more entities to backup spec
  app/assets/v2/js/backup_data.js
  app/dashboard/context/backup/generator.py
  app/dashboard/context/backup/schema.py
  app/dashboard/migrations/0072_auto_20191218_1249.py
  app/dashboard/models.py
  app/dashboard/templates/profiles/profile_backup.html
  app/dashboard/utils.py
  app/dashboard/views.py
  app/marketing/views.py
  app/retail/templates/settings/backup.html
Due: eslint

fix image
  app/assets/v2/images/home/bg-index.jpg
  app/assets/v2/images/home/bg-index.png
  app/retail/templates/home/index.html
Due: none

chore: redo landing header (#5646)
  app/assets/v2/css/buttons.css
  app/assets/v2/css/home.css
  app/assets/v2/images/home/bg-index.png
  app/assets/v2/images/home/bots.svg
  app/dashboard/templates/shared/labs_nav.html
  app/dashboard/templates/shared/newsletter.html
  app/grants/templates/grants/nav.html
  app/kudos/templates/shared/kudos_nav.html
  app/quests/templates/quests/nav.html
  app/retail/templates/home/index.html
  app/retail/templates/home/nav.html
  app/retail/templates/shared/nav.html
  app/retail/templates/shared/nav_hackathons.html
Due: stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  index.html
  mk_contributors/index.html
  sitemap.xml.gz
Due: none

text update
  app/assets/v2/css/grants/grant.css
  app/grants/templates/grants/index.html
  app/retail/templates/shared/top_nav.html
Due: stylelint
