Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

Update about.html
  app/quadraticlands/templates/quadraticlands/about.html
Due: none

get_organization - members - repos
  app/dashboard/management/commands/sync_orgs_repos.py
Due: none

Add stnd token
  erc20/0x9040e237C3bF18347bb00957Dc22167D0f2b999d.json
  images/0x9040e237C3bF18347bb00957Dc22167D0f2b999d.png
Due: none

enables PoPP for mainnet (staff only)
  app/assets/v2/js/pages/profile-trust.js
  app/passport/views.py
Due: eslint

enables PoPP for mainnet (staff only) (#8855)
  app/assets/v2/js/pages/profile-trust.js
  app/passport/views.py
Due: eslint

recreate mig
  app/dashboard/migrations/0180_auto_20210503_0431.py
  app/dashboard/poh_utils.py
  app/dashboard/views.py
Due: none

Proof of Humanity Integration (#8682)
  app/app/urls.py
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/migrations/0180_auto_20210503_0431.py
  app/dashboard/models.py
  app/dashboard/poh_utils.py
  app/dashboard/templates/profiles/trust-vue.html
  app/dashboard/views.py
  app/grants/views.py
  app/marketing/management/commands/post_data.py
Due: eslint

https://github.com/gitcoinco/web/pull/8835#issuecomment-830441261
  app/grants/router.py
Due: none

fix algorand
  app/assets/v2/js/pages/bounty_detail/algorand_extension.js
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/sync/algorand.py
Due: eslint

backup logic for algo sync
  app/dashboard/sync/algorand.py
Due: none

fix backup
  app/dashboard/templates/bounty/new_bounty.html
Due: none

docs: organization and spelling
  docs/README.md
  docs/RUNNING_LOCALLY_DOCKER.md
Due: none

change content
  app/perftools/management/commands/create_jtbd_cache.py
  app/retail/templates/about.html
  app/retail/views.py
Due: none

fix visuals
  app/retail/templates/about.html
Due: none

docs: organization and spelling (#8856)
  docs/README.md
  docs/RUNNING_LOCALLY_DOCKER.md
Due: none

add decorator
  app/quadraticlands/views.py
Due: none

Adds merge_js and merge_css, moves bundled dir, fixes linting and prod build, injects variables/mixins to every scss script
  app/app/templates/shared/tip_dependancies.html
  app/assets/v2/js/base.js
  app/assets/v2/js/cart-data.js
  app/assets/v2/js/grants/cart/binance_extension.js
  app/assets/v2/js/grants/cart/harmony_extension.js
  app/assets/v2/js/grants/cart/polkadot_extension.js
  app/assets/v2/js/grants/cart/rsk_extension.js
  app/assets/v2/js/note.js
  app/assets/v2/js/pages/bounty_detail/algorand_extension.js
  app/assets/v2/js/pages/bounty_detail/binance_extension.js
  app/assets/v2/js/pages/bounty_detail/rsk_extension.js
  app/assets/v2/js/pages/bounty_detail/web3_modal.js
  app/assets/v2/js/pages/bounty_detail/xinfin_extension.js
  app/assets/v2/js/pages/carousel.js
  app/assets/v2/js/pages/fulfill_bounty/token.js
  app/assets/v2/js/pages/profile-trust.js
  app/assets/v2/js/shared.js
  app/assets/v2/js/truncate-hash.js
  app/assets/v2/scss/gc-utilities.scss
  app/assets/v2/scss/gc-variables.scss
  app/assets/v2/scss/gitcoin.scss
  app/assets/v2/scss/lib/typography.scss
  app/dashboard/management/commands/compress2.py
  app/dashboard/templatetags/compress2.py
  app/retail/templates/shared/footer_scripts.html
  app/retail/templates/shared/onboard.html
  bin/docker-command.bash
  package.json
  requirements/base.txt
  requirements/test.txt
  webpack.config.js
Due: eslint, stylelint

post/patch issue comment
  app/git/utils.py
Due: none

fixing red tests in assemble_leaderboards, should_suppress_leaderboard
  app/marketing/management/commands/assemble_leaderboards.py
  app/marketing/tests/management/commands/test_assemble_leaderboards.py
Due: none

changes requested
  app/retail/templates/about.html
  app/retail/templates/home/index2021.html
  app/retail/templates/mission.html
Due: none

postcard implementation better scss / html
  app/assets/v2/quadraticlands/scss/app.scss
  app/assets/v2/quadraticlands/scss/section_postcard.scss
  app/quadraticlands/templates/quadraticlands/mission/postcard/postcard.html
Due: stylelint

chore: update snapshot
  app/quadraticlands/templates/quadraticlands/dashboard/proposals.html
Due: none

Adds POC for bundle template tag
  .babelrc
  .gitignore
  app/app/urls.py
  app/assets/v2/js/bundle_experiment.js
  app/dashboard/management/commands/bundle.py
  app/dashboard/templatetags/bundle.py
  app/retail/templates/home/bundle_experiment.html
  app/retail/views.py
  package.json
  scripts/deploy.bash
  webpack.config.js
  yarn.lock
Due: eslint

move kinetics & tone to lib/
  app/assets/v2/js/lib/quadraticlands/kinetics.umd.js
  app/assets/v2/js/lib/quadraticlands/tone.js
  app/quadraticlands/templates/quadraticlands/about.html
  app/quadraticlands/templates/quadraticlands/components/footer_scripts.html
  app/quadraticlands/templates/quadraticlands/workstream/index.html
Due: eslint

fix img
  app/quadraticlands/templates/quadraticlands/about.html
  app/quadraticlands/templates/quadraticlands/dashboard/governance.html
  app/quadraticlands/templates/quadraticlands/dashboard/mission.html
  app/quadraticlands/templates/quadraticlands/dashboard/proposals.html
  app/quadraticlands/templates/quadraticlands/dashboard/wallet.html
  app/quadraticlands/templates/quadraticlands/index.html
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_1.html
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_2.html
  app/quadraticlands/templates/quadraticlands/mission/postcard/postcard.html
  app/quadraticlands/templates/quadraticlands/mission/receive/claim.html
  app/quadraticlands/templates/quadraticlands/mission/use/delegationmode.html
  app/quadraticlands/templates/quadraticlands/mission/use/vote.html
  app/quadraticlands/templates/quadraticlands/workstream/anti-collusion.html
  app/quadraticlands/templates/quadraticlands/workstream/decentralize-gitcoin.html
  app/quadraticlands/templates/quadraticlands/workstream/index.html
  app/quadraticlands/templates/quadraticlands/workstream/public-goods-funding.html
  app/quadraticlands/templates/quadraticlands/workstream/stewards.html
Due: none

move quadraticlands/js -> js/quadraticlands + reindent files
  app/assets/v2/js/quadraticlands/app.js
  app/assets/v2/js/quadraticlands/cookielaw.js
  app/assets/v2/js/quadraticlands/forceWallet.js
  app/assets/v2/js/quadraticlands/postcard.js
  app/assets/v2/js/quadraticlands/ql-web3.js
  app/assets/v2/js/quadraticlands/questCountdown.js
  app/assets/v2/js/quadraticlands/snapshot.js
  app/assets/v2/quadraticlands/js/app.js
  app/assets/v2/quadraticlands/js/cookielaw.js
  app/assets/v2/quadraticlands/js/forceWallet.js
  app/assets/v2/quadraticlands/js/postcard.js
  app/assets/v2/quadraticlands/js/ql-web3.js
  app/assets/v2/quadraticlands/js/questCountdown.js
  app/assets/v2/quadraticlands/js/snapshot.js
  app/quadraticlands/templates/quadraticlands/components/footer_scripts.html
  app/quadraticlands/templates/quadraticlands/dashboard/index.html
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_1.html
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_2.html
  app/quadraticlands/templates/quadraticlands/mission/postcard/postcard.html
  app/quadraticlands/templates/quadraticlands/mission/receive/claim.html
  app/quadraticlands/templates/quadraticlands/mission/use/delegationmode.html
  app/quadraticlands/templates/quadraticlands/mission/use/vote.html
Due: eslint

Improves quote removal from inputted html block
  app/dashboard/templatetags/bundle.py
  app/retail/templates/mission.html
Due: none

Adds minifiers to requirements
  requirements/base.txt
Due: none

fix postcard
  app/quadraticlands/templates/quadraticlands/mission/postcard/postcard.html
Due: none

bundled/scss/*.css -> bundled/css/*.css --- keeping bundled dir consistent between [merge_css|css]
  .gitignore
  app/dashboard/management/commands/bundle.py
  app/dashboard/templatetags/bundle.py
  webpack.config.js
Due: eslint

Adds merge_js and merge_css, moves bundled dir, fixes linting and prod build, injects variables/mixins to every scss script
  app/app/templates/shared/tip_dependancies.html
  app/assets/v2/js/pages/fulfill_bounty/token.js
  app/assets/v2/scss/gc-utilities.scss
  app/assets/v2/scss/gc-variables.scss
  app/assets/v2/scss/gitcoin.scss
  app/assets/v2/scss/lib/typography.scss
  app/dashboard/management/commands/compress2.py
  app/dashboard/templatetags/compress2.py
  app/retail/templates/shared/footer_scripts.html
  app/retail/templates/shared/onboard.html
  bin/docker-command.bash
  requirements/test.txt
Due: eslint, stylelint
