Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

detecting if more results can be loaded
  app/assets/v2/js/search.js
  app/dashboard/templates/shared/search.html
Due: eslint

paginating individual searches
  app/assets/v2/js/search.js
Due: eslint

removing logs and ironing out search logic with new totals
  app/assets/v2/js/search.js
  app/search/views.py
Due: eslint

linting and reverting elastic url
  app/search/models.py
  app/search/views.py
Due: none

moving index name into environment variable
  app/search/models.py
Due: none

remove authereum
  app/assets/v2/js/wallet.js
  app/retail/templates/shared/footer_scripts.html
Due: eslint

use web3modal for polygon interactions (#10564)
  app/assets/v2/js/cart-ethereum-polygon.js
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/ingest-missing-contributions.js
  app/assets/v2/js/wallet.js
Due: eslint

use rpc method to broadcast tx
  app/assets/v2/js/grants/cart/harmony_extension.js
Due: eslint

Fixing the duplicate discovery of files by the bundle command, depending on the current working dir
  app/dashboard/management/commands/bundle.py
Due: none

Adding print statement
  app/dashboard/management/commands/bundle.py
Due: none

bump
  app/assets/v2/js/wallet.js
  app/retail/templates/shared/footer_scripts.html
Due: eslint

remove authereum (#10581)
  app/assets/v2/js/wallet.js
  app/retail/templates/shared/footer_scripts.html
Due: eslint

tweak match condition
  app/assets/v2/js/grants/ready_claim.js
  app/grants/templates/grants/components/ready_claim.html
Due: eslint

Fixing the duplicate discovery of files by the bundle command, depend… (#10582)
  app/dashboard/management/commands/bundle.py
Due: none

Revert "Fixing the duplicate discovery of files by the bundle command, depend… (#10582)"
  app/dashboard/management/commands/bundle.py
Due: none

fix missing variable
  app/assets/v2/js/grants/landingpage.js
Due: eslint

check if hackathon is expired and redirect to onboarding if true
  app/dashboard/models.py
  app/dashboard/views.py
Due: none

added discord server field to model, and added buttons to pages
  app/dashboard/migrations/0202_hackathonevent_discord_server.py
  app/dashboard/models.py
  app/dashboard/templates/dashboard/hackathon/onboard.html
  app/dashboard/templates/dashboard/index-vue.html
Due: none

check for correct env variables
  app/search/models.py
Due: none

copy changes
  app/grants/templates/grants/_new.html
Due: none

Removing json.loads() when loading the contract abi per review from Tim. This stays consistent with the surrounding code
  app/dashboard/poh_utils.py
Due: none

landing update
  app/retail/templates/home/index2021.html
Due: none

checking for value before accessing networkName to display connection status and giving a more descriptive network error for matching claims
  app/assets/v2/js/grants/matching_funds.js
  app/assets/v2/js/wallet.js
Due: eslint

return token amount from matching endpoint and display on claim
  app/grants/serializers.py
  app/grants/templates/grants/components/historical_claim.html
  app/grants/templates/grants/components/ready_claim.html
Due: none

use named redirect
  app/dashboard/views.py
Due: none

landing update (#10594)
  app/retail/templates/home/index2021.html
Due: none

copy changes (#10592)
  app/grants/templates/grants/_new.html
Due: none

check if hackathon is expired and redirect to onboarding if true (#10587)
  app/dashboard/models.py
  app/dashboard/views.py
Due: none

added discord server field to model, and added buttons to pages (#10588)
  app/dashboard/migrations/0202_hackathonevent_discord_server.py
  app/dashboard/models.py
  app/dashboard/templates/dashboard/hackathon/onboard.html
  app/dashboard/templates/dashboard/index-vue.html
Due: none

checking for value before accessing networkName to display connection… (#10597)
  app/assets/v2/js/grants/matching_funds.js
  app/assets/v2/js/wallet.js
  app/grants/serializers.py
  app/grants/templates/grants/components/historical_claim.html
  app/grants/templates/grants/components/ready_claim.html
Due: eslint

Update app/app/settings.py
  app/app/settings.py
Due: none

10480 change result amount logic (#10557)
  app/app/settings.py
  app/assets/v2/js/search.js
  app/assets/v2/scss/search.scss
  app/dashboard/templates/shared/search.html
  app/search/management/commands/create_search_index_with_active_grants.py
  app/search/models.py
  app/search/views.py
Due: eslint, stylelint

add missing migration
  app/grants/migrations/0144_delete_matchpledge.py
Due: none

lint fixes
  app/assets/v2/js/grants/landingpage.js
Due: eslint

add grant elibility reason
  app/assets/v2/js/grants/_new.js
  app/grants/admin.py
  app/grants/migrations/0145_grant_tag_eligibility_reason.py
  app/grants/models/grant.py
  app/grants/templates/grants/_new.html
  app/grants/views.py
Due: eslint

chore: update claim page text
  app/assets/v2/js/grants/matching_funds.js
  app/grants/templates/grants/components/historical_claim.html
  app/grants/templates/grants/components/ready_claim.html
  app/grants/templates/grants/matching_funds.html
Due: eslint

Update broken link
  app/grants/templates/grants/detail/template-grant-details.html
Due: none

chore: add custom error message
  app/grants/admin.py
Due: none

Revert "10480 change result amount logic (#10557)"
  app/app/settings.py
  app/assets/v2/js/search.js
  app/assets/v2/scss/search.scss
  app/dashboard/templates/shared/search.html
  app/search/management/commands/create_search_index_with_active_grants.py
  app/search/models.py
  app/search/views.py
Due: eslint, stylelint

reset networkid
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/landingpage.js
Due: eslint

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
