Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -r
  - -e
  - app/**/migrations/
  - app/dataviz/
  - app/app/

add FFKD token
  erc20/0x897d549EF2f848DE133Ba88F1983F0ec0C3222a7.json
Due: none

if it were me, i'd hide the marketing stuff all together after a user logs in
  app/retail/templates/shared/footer.html
  app/retail/templates/shared/nav.html
Due: none

update sina to weibo
  erc20/0x357aAc74D5Fc24f271E5652Ec6Bdd8AbfE048505.json
Due: none

Update notice msg
  test/index.js
Due: eslint

login button
  app/retail/templates/shared/nav.html
Due: none

Add CST Token
  erc20/0xceb43cc2625db7eb86c3a3a69a97d3da1931a9a3.json
  images/0xceb43cc2625db7eb86c3a3a69a97d3da1931a9a3.png
Due: none

zoomable /results graph
  app/dataviz/templates/dataviz/graph.html
  app/retail/templates/results.html
Due: none

delete , for BRC
  erc20/0x21ab6c9fac80c59d401b37cb43f81ea9dde7fe34.json
Due: none

weeeeeeEEE
  app/retail/templates/shared/nav.html
Due: none

token信息更新
  erc20/0xa4228f76abc218d981db1995b779954c78c00e99.json
  images/0xa4228f76abc218d981db1995b779954c78c00e99.jpg
Due: none

settings design
  app/retail/templates/settings/settings.html
Due: none

amount
  app/assets/v2/js/pages/tokens_settings.js
Due: eslint

close button
  app/assets/v2/js/shared.js
Due: eslint

update symbol value is BTB
  erc20/0x0Ef009AD1899f1f3228073d1Bff8f3Db67d1061a.json
Due: none

add ARP token
  erc20/0xbeb6fdf4ef6ceb975157be43cbe0047b248a8922.json
  images/0xbeb6fdf4ef6ceb975157be43cbe0047b248a8922.png
Due: none

Add new ERC20 token FCS
  erc20/0x574b5b500517ccad92c78573c7daf8be8cc0de19.json
  images/0x574b5b500517ccad92c78573c7daf8be8cc0de19.png
Due: none

update json file
  erc20/0x574b5b500517ccad92c78573c7daf8be8cc0de19.json
Due: none

Change HUM address because of hardfork
  erc20/0x301a7F0F98725D3f9cA889E935b579f1D896B322.json
  images/0x301a7F0F98725D3f9cA889E935b579f1D896B322.png
Due: none

add 0x5D4232EAC1EA003a4dB87138585aA5078DeD2b10.png
  images/0x5D4232EAC1EA003a4dB87138585aA5078DeD2b10.png
Due: none

Introduce of Erc20 Token - RECT
  erc20/0x9216707C81438d9593c4e215BCBb0E7bB10d07F5.json
Due: none

RealEstateCouponToken Logo
  images/0x9216707C81438d9593c4e215BCBb0E7bB10d07F5.png
Due: none

landing: removed undefined method moveWithScroll
  app/assets/v2/js/landing_page.js
Due: eslint

rollbar : quickstart
  app/dashboard/templates/quickstart.html
Due: none

review: added feedback
  app/dashboard/templates/quickstart.html
Due: none

pre.js : removed console.log
  app/assets/yge/youvegoteth/pre.js
Due: eslint

hx
  erc20/0xBD3eEB167CE98a6dF6Ce66e4abe404A53495C6C0.json
  images/0xBD3eEB167CE98a6dF6Ce66e4abe404A53495C6C0.png
Due: none

Update 0x5D4232EAC1EA003a4dB87138585aA5078DeD2b10.json
  erc20/0x5D4232EAC1EA003a4dB87138585aA5078DeD2b10.json
Due: none

Delete 0x9216707C81438d9593c4e215BCBb0E7bB10d07F5.png
  images/0x9216707C81438d9593c4e215BCBb0E7bB10d07F5.png
Due: none

small cleanup fix for erc20 stuff
  app/assets/v2/js/shared.js
  app/assets/yge/youvegoteth/send.js
Due: eslint

no flex on alert messages
  app/assets/v2/css/base.css
Due: stylelint

ios: updated css + refactored
  app/assets/v2/css/card.css
  app/assets/v2/css/ios.css
  app/dashboard/templates/ios.html
Due: stylelint

color
  app/assets/v2/css/base.css
  app/assets/v2/js/shared.js
  app/dashboard/templates/bounty_details.html
Due: eslint, stylelint

Add variables for elements needed on GET
  app/dashboard/templates/funder_dashboard.html
Due: none

suspend auto approval and hide bounty
  app/assets/v2/css/base.css
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/helpers.py
  app/dashboard/migrations/0086_bounty_admin_override_suspend_auto_approval.py
  app/dashboard/models.py
  app/dashboard/templates/bounty_details.html
  app/dashboard/views.py
  app/marketing/management/commands/pending_start_work_actions.py
Due: eslint, stylelint, yapf

remarket ready bounties
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/helpers.py
  app/dashboard/models.py
  app/dashboard/views.py
  app/marketing/management/commands/new_bounties_email.py
  app/marketing/management/commands/remarket_tweet.py
Due: eslint, yapf

remarket ready bounties
  app/dashboard/migrations/0087_bounty_admin_mark_as_remarket_ready.py
Due: yapf

admin contact actions
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/views.py
  app/marketing/mails.py
  app/retail/emails.py
Due: eslint, yapf

from email
  app/marketing/mails.py
Due: yapf

snooze
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

remarket bounties
  app/marketing/management/commands/remarket_bounties.py
  scripts/crontab
Due: yapf

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
  yapf: any of: \.py$
