Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -r
  - -e
  - app/**/migrations/
  - app/dataviz/
  - app/app/

landing : added review comments
  app/assets/v2/css/buttons.css
  app/assets/v2/css/gitcoin.css
  app/assets/v2/css/landing_page.css
  app/retail/templates/index.html
  app/retail/templates/shared/hero.html
Due: stylelint

Add files via upload
  erc20/0x423FfB66AECC906361d79F87d85dB310897bDB6D.json
Due: none

Add files via upload
  0x423FfB66AECC906361d79F87d85dB310897bDB6D.png
Due: none

review: feedback added again
  app/assets/v2/css/landing_page.css
  app/retail/templates/index.html
  app/retail/templates/shared/footer.html
Due: stylelint

Fix job listing css
  app/assets/v2/css/jobs.css
  app/jobs/templates/jobs/list.html
Due: stylelint

Fix migrations and rename avatar template for onboard usage
  app/dashboard/migrations/0070_merge_20180508_2059.py
  app/dashboard/migrations/0075_merge_20180523_1620.py
  app/dashboard/migrations/0085_auto_20180606_1916.py
  app/dashboard/templates/avatar.html
Due: yapf

Added Cuz token support
  erc20/0xf832484f0c9f6b7cd5c945488899035467508a5d.json
  images/0xf832484f0c9f6b7cd5c945488899035467508a5d.png
Due: none

review: final feedback
  app/assets/v2/css/colors.css
  app/assets/v2/css/landing_page.css
  app/assets/v2/images/market.jpg
  app/assets/v2/images/testimonials/kames.jpg
  app/assets/v2/images/testimonials/pipermerriam.jpg
  app/assets/v2/images/uport.jpg
  app/retail/templates/index.html
  app/retail/templates/landing/pilot.html
  app/retail/templates/shared/hero.html
  app/retail/views.py
Due: stylelint, yapf

review: added feedback
  app/dashboard/templates/profile_details.html
  app/dashboard/templates/shared/profile_activities_bounty.html
Due: none

Added RightMesh token information.
  erc20/0x8d5682941ce456900b12d47ac06a88b47c764ce1.json
  images/0x8d5682941ce456900b12d47ac06a88b47c764ce1.png
Due: none

use post param instead of url defined variable at views.uninterested
  app/assets/v2/js/shared.js
  app/dashboard/views.py
Due: eslint, yapf

fix line length
  app/dashboard/views.py
Due: yapf

add telegram
  erc20/0x2630eea29da3148b271268f46b263ca41a02f8f7.json
Due: none

add LBA token info for imtoken
  erc20/0xfe5f141bf94fe84bc28ded0ab966c16b17490657.json
  images/0xfe5f141bf94fe84bc28ded0ab966c16b17490657.jpg
Due: none

logo modify
  images/0x2630eea29da3148b271268f46b263ca41a02f8f7.png
Due: none

Add files via upload
  images/0x439d6bf9506fb86e4ba620be4971b04525da57c5.png
Due: none

Delete smalllogo.png
  images/smalllogo.png
Due: none

add FAS token info to imToken
  erc20/0xB47e9b43eE0772aBaC3856a1ADF8f90C0e6c1067.json
  images/0xB47e9b43eE0772aBaC3856a1ADF8f90C0e6c1067.png
Due: none

Update 0x4488ed050cd13ccfe0b0fcf3d168216830142775.json
  erc20/0x4488ed050cd13ccfe0b0fcf3d168216830142775.json
Due: none

LNQ
  erc20/0x27aebC51AF422525461b9DdBE74e4A9a5995D015.json
  images/0x27aebC51AF422525461b9DdBE74e4A9a5995D015.png
Due: none

Remove state
  erc20/0xFbb20e554d804C8c355Be94d456921Ea26aC2B37.json
Due: none

update LBA token image
  images/0xfe5f141bf94fe84bc28ded0ab966c16b17490657.jpg
  images/0xfe5f141bf94fe84bc28ded0ab966c16b17490657.png
Due: none

Add TMAC token profile
  erc20/0xa6858b98e5c14db67ec22c668701b1d33a3de1f7.json
  images/0xa6858b98e5c14db67ec22c668701b1d33a3de1f7.png
Due: none

暂无LOGO，感谢审核
  erc20/0x5f3fe72d30868c2BFaBeFf9c32cF2414abaA0581.json
  erc20/0xF3b6FA35C2cD0dbB640f03da07cE7e397c66939a.json
Due: none

Update 0x6D06095d75784e948E0F98Dd680C798bFf1aaBAf.json
  erc20/0x6D06095d75784e948E0F98Dd680C798bFf1aaBAf.json
Due: none

modify initial field about CTC token Apply
  erc20/0x4F1D24F8D60B1F8872ABBd409e6BFaA54d7A9F40.json
Due: none

修改state为NORMAL
  erc20/0xdde9af5314f938e33aaf784f38e40e0a9effd359.json
Due: none

footer: padding fix for mobile
  app/assets/v2/css/gitcoin.css
  app/assets/yge/css/main.css
Due: stylelint

新增能量链json文件和图标Logo
  erc20/0x1f9232e7f1318abf91366e6081d57fa3c1bcde88.json
  images/0x1f9232e7f1318abf91366e6081d57fa3c1bcde88.png
Due: none

banner: fixed padding + margin on mobile
  app/assets/v2/css/base.css
  app/dashboard/templates/shared/no_issue_error.html
  app/dashboard/templates/shared/unlock_metamask.html
Due: stylelint

更新 overview zh
  erc20/0x2630eea29da3148b271268f46b263ca41a02f8f7.json
Due: none

增加BOX5 PR文件
  erc20/0x6fF9FF021B978605DEA99b35d212AE950e9EA36e.json
  images/0x6fF9FF021B978605DEA99b35d212AE950e9EA36e.png
Due: none

Update TRUE logo
  images/0xa4d17ab1ee0efdd23edc2869e7ba96b89eecf9ab.png
Due: none

add ZIB content
  erc20/0x357aAc74D5Fc24f271E5652Ec6Bdd8AbfE048505.json
  images/0x357aAc74D5Fc24f271E5652Ec6Bdd8AbfE048505.png
Due: none

Add ADE TOKEN
  erc20/0x54a2a7c9ff039af7412223405534c174d304d835.json
Due: none

0x54a2a7c9ff039af7412223405534c174d304d835.json
  erc20/0x54a2a7c9ff039af7412223405534c174d304d835.json
Due: none

Keep categories and other issue details in the v3 form
  app/assets/v2/css/submit_bounty.css
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/submit_bounty.html
Due: eslint, stylelint

0x54a2a7c9FF039af7412223405534C174D304d835.json
  erc20/0x54a2a7c9ff039af7412223405534c174d304d835.json
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
  yapf: any of: \.py$
