Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

results.js
  app/assets/v2/js/pages/results.js
Due: eslint

search by multiple skills
  app/dashboard/views.py
Due: none

discord link
  app/dashboard/templates/dashboard/hackathon/ethhack_2019.html
Due: none

fix behavior
  app/assets/v2/css/forms/select.css
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/shared/issue_details.html
  app/dashboard/views.py
Due: eslint, stylelint

fix isort
  app/dashboard/views.py
Due: none

Update test
  test/index.ts
Due: none

add data to request
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/shared/issue_details.html
  app/dashboard/views.py
Due: eslint

remove comments
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

remove when no data
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/shared/issue_details.html
Due: eslint

MTV token (#3952)
  erc20/0x8aa688AB789d1848d131C65D98CEAA8875D97eF1.json
  images/0x8aa688AB789d1848d131C65D98CEAA8875D97eF1.png
Due: none

Add WON token (#3984)
  erc20/0x0DA345128EB3337E091942f4Ff57a5dD199854bF.json
  images/0x0DA345128EB3337E091942f4Ff57a5dD199854bF.png
Due: none

Fix conflicts
  app/dashboard/views.py
Due: none

Replace id based specificity with class based. Update compass component styles
  app/assets/v2/css/home.css
  app/retail/templates/home/index.html
  app/retail/templates/shared/compass.html
Due: stylelint

2018 -> 2019
  app/retail/templates/shared/video_preview_block.html
Due: none

2018 -> 2019
  app/retail/templates/shared/compass.html
Due: none

Refactor vars to consts in Javascript code
  app/retail/templates/home/index.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

fix for opera working in hackathon explorer
  app/assets/v2/css/base.css
  app/assets/v2/css/bounty.css
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/shared.js
  app/retail/templates/shared/result.html
Due: eslint, stylelint

fix condition after onboard
  app/assets/v2/js/pages/dashboard.js
Due: eslint

Send ids for the contributors
  app/dashboard/views.py
Due: none

remove return false
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

fix opera
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

add new logos and fix old
  app/assets/v2/images/hackathon-sponsors/big/adex-vector-logo.svg
  app/assets/v2/images/hackathon-sponsors/big/microsoft.svg
  app/assets/v2/images/hackathon-sponsors/big/quorum.svg
  app/assets/v2/images/hackathon-sponsors/small/alethio-no-bg.svg
  app/assets/v2/images/hackathon-sponsors/small/alethio-white-bg.svg
  app/assets/v2/images/hackathon-sponsors/small/kauri_logo_vertical.svg
  app/assets/v2/images/hackathon-sponsors/small/kleros-logo-vertical.svg
  app/assets/v2/images/hackathon-sponsors/small/leapdao.svg
  app/dashboard/templates/shared/hackathon_sponsors.html
Due: none

add logos
  app/assets/v2/images/hackathon-sponsors/small/autom8.svg
  app/assets/v2/images/hackathon-sponsors/small/coinmark_blue_lg.svg
  app/assets/v2/images/hackathon-sponsors/small/fluence-h.svg
  app/assets/v2/images/hackathon-sponsors/small/fluence.svg
  app/assets/v2/images/hackathon-sponsors/small/logo_poa.svg
  app/assets/v2/images/hackathon-sponsors/small/wordmark_blue copy 6.svg
  app/dashboard/templates/shared/hackathon_sponsors.html
Due: none

Add FPC token (#3987)
  eos-token/FPC@fupindotclub.json
  images/FPC@fupindotclub.png
Due: none

Add UUQ token (#3989)
  erc20/0x0a7e91c185B6fA2B795bDc739F2269257Fd24De8.json
  images/0x0a7e91c185B6fA2B795bDc739F2269257Fd24De8.png
Due: none

add svin token (#3992)
  erc20/0x0748F33259a1fD83405D27Ff0A807A31D3496bEC.json
  images/0x0748F33259a1fD83405D27Ff0A807A31D3496bEC.png
Due: none

invites now array of users id
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/views.py
Due: eslint

no rounded corneres on msft logo
  app/assets/v2/css/sidebar_search.css
  app/assets/v2/js/pages/dashboard.js
Due: eslint, stylelint

support for submitting msft hackathon bounties http://bits.owocki.com/a2902f0f2f9a/Image%202019-04-17%20at%209.49.06%20AM.png
  app/assets/v2/js/pages/fulfill_bounty.js
  app/dashboard/router.py
Due: eslint

one more fix for previous commit
  app/assets/v2/js/pages/kill_bounty.js
  app/assets/v2/js/pages/process_bounty.js
Due: eslint

fixes https://gitcoincore.slack.com/archives/CAXQ7PT60/p1555494786040400
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

Adds function to send out emails
  app/dashboard/helpers.py
Due: none

small fixes
  app/dashboard/templates/dashboard/hackathon/ethhack_2019.html
  app/dashboard/templates/shared/hackathon_sponsors.html
Due: none

Fix keys
  app/dashboard/helpers.py
Due: none

Adds check condition to not show kudos
  app/dashboard/helpers.py
Due: none

Fix underscore error
  app/dashboard/helpers.py
Due: none

Fix the concat issue
  app/dashboard/helpers.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
