Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.3'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: [-r, -e, "app/**/migrations/", app/dataviz/, app/app/]

更新代币名称
  erc20/0x1f9232e7f1318abf91366e6081d57fa3c1bcde88.json
Due: none

Add files via upload
  images/0xbf3caa1a66f5e5fd4ee4eda7391871dbb06b8dc1.png
Due: none

1.update reddit
  erc20/0xDAc15794F0fadfDcF3A93AEAabdc7caC19066724.json
Due: none

修改hx-token为HEX-token
  erc20/0x9888e6f8fcf52a21d3d78f66cc20af5d046d83d7.json
Due: none

fix problem
  erc20/0xc5faadd1206ca91d9f8dd015b3498affad9a58bc.json
Due: none

更新代币锁仓规则
  erc20/0x1f9232e7f1318abf91366e6081d57fa3c1bcde88.json
Due: none

Update 0xbf3caa1a66f5e5fd4ee4eda7391871dbb06b8dc1.json
  erc20/0xbf3caa1a66f5e5fd4ee4eda7391871dbb06b8dc1.json
Due: none

add CFCB
  erc20/0x28Ed591C567Ab57aC3a885DF7770eBfd82D8Cd3e.json
Due: none

add CFCB logo
  images/0x28Ed591C567Ab57aC3a885DF7770eBfd82D8Cd3e.png
Due: none

Convert to utf-8 encoding
  erc20/0x0cFD0Cc77f3b6Af24Dcf505CF02A6be219457e1c.json
  erc20/0x423FfB66AECC906361d79F87d85dB310897bDB6D.json
  erc20/0x66969da31cccab81366524de642a9fc764532c26.json
  erc20/0x7C2AF3a86B4bf47E6Ee63AD9bde7B3B0ba7F95da.json
  erc20/0xc44948cbbaf37a4d7f1315c08972b4338080bf59.json
Due: none

Add utf-8 detect
  test/index.js
Due: eslint

Add logo png file for holo host.
  images/0x6c6ee5e31d828de241282b9606c8e98ea48526e2.png
Due: none

onboard: minor changes after feedback
  app/assets/v2/css/avatar_builder.css
  app/assets/v2/css/onboard.css
  app/assets/v2/js/pages/onboard.js
  app/avatar/utils.py
  app/dashboard/templates/_dashboard/ftux.html
  app/dashboard/templates/dashboard.html
  app/dashboard/templates/ftux/avatar.html
  app/dashboard/templates/ftux/github.html
  app/dashboard/templates/ftux/skills.html
Due: eslint, stylelint, yapf

Fix #1502 - Check interest obj before notification
  app/dashboard/views.py
Due: yapf

Dont show button when logged in or metamask locked
  app/assets/v2/js/pages/onboard.js
  app/dashboard/templates/ftux/onboard.html
Due: eslint

Adjust save avatar response to json and modify update avatar handling
  app/avatar/models.py
  app/avatar/views.py
Due: yapf

Update avatar save to record useraction
  app/avatar/views.py
  app/dashboard/models.py
  app/media/.gitkeep
Due: yapf

Makes the swatches and the avatar area into proper grid
  app/assets/v2/css/avatar_builder.css
Due: stylelint

Update media storage handling to use local FS for local
  .gitignore
  app/app/settings.py
  app/app/urls.py
Due: yapf

Redirect to login in onboard and link on index page
  app/avatar/views.py
  app/dashboard/views.py
  app/retail/templates/index.html
Due: yapf

Save avatar and load it on reload
  app/assets/v2/js/avatar_builder.js
Due: eslint

Add two new colors to skin
  app/assets/v2/images/avatar/Ears/0-FEF7EB.svg
  app/assets/v2/images/avatar/Ears/0-FFFFF6.svg
  app/assets/v2/images/avatar/Ears/1-FEF7EB.svg
  app/assets/v2/images/avatar/Ears/1-FFFFF6.svg
  app/assets/v2/images/avatar/Ears/2-FEF7EB.svg
  app/assets/v2/images/avatar/Ears/2-FFFFF6.svg
  app/assets/v2/images/avatar/Ears/3-FEF7EB.svg
  app/assets/v2/images/avatar/Ears/3-FFFFF6.svg
  app/assets/v2/images/avatar/Head/0-FEF7EB.svg
  app/assets/v2/images/avatar/Head/0-FFFFF6.svg
  app/assets/v2/images/avatar/Head/1-FEF7EB.svg
  app/assets/v2/images/avatar/Head/1-FFFFF6.svg
  app/assets/v2/images/avatar/Head/2-FEF7EB.svg
  app/assets/v2/images/avatar/Head/2-FFFFF6.svg
  app/assets/v2/images/avatar/Head/3-FEF7EB.svg
  app/assets/v2/images/avatar/Head/3-FFFFF6.svg
  app/assets/v2/images/avatar/Head/4-FEF7EB.svg
  app/assets/v2/images/avatar/Head/4-FFFFF6.svg
  app/assets/v2/js/avatar_builder.js
Due: eslint

Reorder color palette for skin
  app/assets/v2/images/avatar/avatar.svg
  app/assets/v2/js/avatar_builder.js
Due: eslint

Whoops
  app/assets/v2/images/avatar/avatar.svg
Due: none

Fix frontend issues in avatar page
  app/assets/v2/css/avatar_builder.css
  app/assets/v2/js/avatar_builder.js
  app/assets/v2/js/pages/onboard.js
  app/dashboard/templates/ftux/avatar.html
Due: eslint, stylelint

Adjust avatar on github step
  app/dashboard/templates/ftux/github.html
Due: none

Fix CSS for New Jobs posting page
  app/jobs/templates/jobs/create_job.html
Due: none

onboard: fixes
  app/assets/v2/css/dashboard.css
  app/assets/v2/js/pages/onboard.js
  app/dashboard/templates/dashboard.html
  app/dashboard/templates/ftux/metamask.html
  app/dashboard/templates/ftux/skills.html
Due: eslint, stylelint

Reduce spacing between heading 'Pick your xxx' and the avatar builder
  app/assets/v2/css/avatar_builder.css
Due: stylelint

Re-enable analytics for non-prod envs...
  app/retail/templates/shared/analytics.html
Due: none

removed csrf from avatar.html
  app/dashboard/templates/ftux/avatar.html
Due: none

when skills autopopulates -> change to plus icon to tick on highlighted skills
  app/assets/v2/js/pages/onboard.js
Due: eslint

Move existing avatar logic to the avatar app
  Makefile
  app/app/urls.py
  app/avatar/utils.py
  app/avatar/views.py
  app/dashboard/embed.py
Due: yapf

Fix typo
  app/dashboard/templates/addinterest.html
Due: none

Fix typo (#1508)
  app/dashboard/templates/addinterest.html
Due: none

added UI for avatar in settings/account
  app/retail/templates/settings/account.html
Due: none

Add png field to store GH avatars on Avatar and temp file handling
  app/avatar/migrations/0002_auto_20180619_2218.py
  app/avatar/models.py
  app/avatar/utils.py
  app/avatar/views.py
  app/dashboard/migrations/0088_auto_20180619_2218.py
Due: yapf

Fixes avatar reload for non compulsory items
  app/assets/v2/js/avatar_builder.js
Due: eslint
