Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

Update ingestion script (#8123)
  app/grants/management/commands/ingest_grant_txns.py
Due: none

Add BFI token
  erc20/0x0033fc6ed0aed8201D61B862D89D7aafffbdb550.json
  images/0x0033fc6ed0aed8201D61B862D89D7aafffbdb550.png
Due: none

Adding Matic Token profile details
  erc20/0x7D1AfA7B718fb893dB30A3aBc0Cfc608AaCfeBB0.json
  images/0x7D1AfA7B718fb893dB30A3aBc0Cfc608AaCfeBB0.png
Due: none

Optimize images with svgo
  app/assets/v2/images/hackathon/onboarding_v2/avatar.svg
  app/assets/v2/images/hackathon/onboarding_v2/icon-01-pick.svg
  app/assets/v2/images/hackathon/onboarding_v2/icon-02-register.svg
  app/assets/v2/images/hackathon/onboarding_v2/icon-03-choose.svg
  app/assets/v2/images/hackathon/onboarding_v2/icon-04-meet.svg
  app/assets/v2/images/hackathon/onboarding_v2/icon-05-submit.svg
Due: none

Fix indentation to 2 spaces
  app/assets/v2/css/onboarding_v2.css
  app/dashboard/templates/dashboard/hackathon/onboarding_v2.html
Due: stylelint

Remove extra spaces
  app/dashboard/templates/dashboard/hackathon/onboarding_v2.html
Due: none

Check and update email addres from github
  app/marketing/views.py
Due: none

review feedback
  app/assets/v2/js/cart.js
Due: eslint

pre-move js to seperate file
  app/quadraticlands/templates/quadraticlands/web3.html
Due: none

add methods
  app/assets/v2/js/mautic.js
Due: eslint

del fake 1inch
  erc20/0xc5B183C6e0A5908d6eE40a7f7a831AC6B08100Fe.json
  images/0xc5B183C6e0A5908d6eE40a7f7a831AC6B08100Fe.png
Due: none

Check and update email addres from github (#8245)
  app/marketing/views.py
Due: none

Revert "Dotc token"
  erc20/0xc0748CF90e231b8f21F75b7AD69732F19C76B751.json
  images/0xc0748CF90e231b8f21F75b7AD69732F19C76B751.png
Due: none

Send one mail instead of n mail to supporter on checkout of n grants
  app/grants/tasks.py
  app/grants/views.py
  app/marketing/mails.py
  app/retail/emails.py
  app/retail/templates/emails/grants/batch_thank_you_for_supporting.html
  app/retail/templates/emails/grants/batch_thank_you_for_supporting.txt
Due: none

before integrating Vue app
  app/dashboard/templates/future/register.html
  package.json
  yarn.lock
Due: none

remove autofill
  app/assets/v2/js/pages/hackathon_new_bounty.js
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

update proof of knowledge + proposal
  app/assets/quadraticlands/config.codekit3
  app/assets/quadraticlands/css/app.css
  app/assets/quadraticlands/css/app.css.map
  app/assets/quadraticlands/images/background/_old/right.svg
  app/assets/quadraticlands/images/background/_old/timeout.svg
  app/assets/quadraticlands/images/background/_old/wrong.svg
  app/assets/quadraticlands/images/background/right.svg
  app/assets/quadraticlands/images/background/timeout.svg
  app/assets/quadraticlands/images/background/wrong.svg
  app/assets/quadraticlands/js/particles-min.js
  app/assets/quadraticlands/js/particles-min.js.map
  app/assets/quadraticlands/js/particles.js
  app/assets/quadraticlands/scss/app.scss
  app/assets/quadraticlands/scss/section_background.scss
  app/assets/quadraticlands/scss/section_table.scss
  app/quadraticlands/templates/quadraticlands/leaderboard.html
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_1_right.html
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_1_timeout.html
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_1_wrong.html
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_2_right.html
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_2_timeout.html
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_2_wrong.html
  app/quadraticlands/templates/quadraticlands/proposal.html
  app/quadraticlands/templates/quadraticlands/proposal/vote.html
Due: eslint, stylelint

a few grant admin fixes
  app/grants/admin.py
Due: none

gr9 dates
  app/grants/templates/grants/shared/landing_announce.html
Due: none

added missing files
  app/assets/vue-custom-element/vue-custom-element.esm.js
  app/assets/vue-custom-element/vue-custom-element.js
  app/assets/vue-custom-element/vue-custom-element.min.js
Due: eslint

typo
  app/dashboard/templates/shared/menu.html
Due: none

wrong link
  app/dashboard/templates/future/donate.html
Due: none

page title
  app/dashboard/templates/future/register.html
Due: none

updating animationsfor claim,claiming,claimed
  app/assets/quadraticlands/config.codekit3
  app/assets/quadraticlands/images/background/_old/claim.svg
  app/assets/quadraticlands/images/background/_old/claimed.svg
  app/assets/quadraticlands/images/background/_old/claiming.svg
  app/assets/quadraticlands/images/background/claim.svg
  app/assets/quadraticlands/images/background/claimed.svg
  app/assets/quadraticlands/images/background/claiming.svg
  app/quadraticlands/templates/quadraticlands/mission/receive/claim.html
Due: none

make manual address input a fallback
  app/assets/v2/js/pages/hackathon_new_bounty.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/bounty/new_bounty.html
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
Due: eslint

add GOSS logo thanks
  erc20/0x06Ee5a52AaA96074e9A6fEaEcD9fcE6809d9aE39.json
  images/0x06Ee5a52AaA96074e9A6fEaEcD9fcE6809d9aE39.png
Due: none

fix funderAddressFallback model field to hackathon
  app/assets/v2/js/pages/hackathon_new_bounty.js
Due: eslint

add spa token
  erc20/0x9631483f28B7f5CBf7D435Ab249Be8f709215bC3.json
Due: none

add spa logo
  images/0x9631483f28B7f5CBf7D435Ab249Be8f709215bC3.png
Due: none

Add DORC token
  erc20/0xc0748CF90e231b8f21F75b7AD69732F19C76B751.json
  images/0xc0748CF90e231b8f21F75b7AD69732F19C76B751.png
Due: none

Delete the incorrect spa logo
  images/0x9631483f28B7f5CBf7D435Ab249Be8f709215bC3.png
Due: none

update spa logo
  images/0x9631483f28B7f5CBf7D435Ab249Be8f709215bC3.png
Due: none

Update DSM information
  erc20/0xab8e8F2f6684685aA09135Cd03b3a7CEa2CFb11E.json
Due: none

Fix Hackathon typo
  app/dashboard/templates/dashboard/hackathon/onboarding_v2.html
Due: none

Fix typos & order
  app/dashboard/templates/dashboard/hackathon/onboarding_v2.html
Due: none

a few grant admin fixes (#8263)
  app/grants/admin.py
Due: none

manual fallback to binance address autofill for new bounty (#8260)
  app/assets/v2/js/pages/hackathon_new_bounty.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/bounty/new_bounty.html
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
Due: eslint

chore: prevent PR link being submitted in bounty creation
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

Add testimonial
  app/assets/v2/css/onboarding_v2.css
  app/assets/v2/images/hackathon/onboarding_v2/matt-solomon.png
  app/dashboard/templates/dashboard/hackathon/onboarding_v2.html
Due: stylelint
