Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

Create 0x1A82E31Ce0565C2328d4c7dCc968bfBeE8BF545c.png
  images/0x1A82E31Ce0565C2328d4c7dCc968bfBeE8BF545c.png
Due: none

Create 0xa52817aba4fa2533e6be9f4e82c47de738649d09.json
  erc20/0xa52817aba4fa2533e6be9f4e82c47de738649d09.json
Due: none

QL Postcard generator
  app/assets/v2/images/quadraticlands/postcard.svg
  app/assets/v2/quadraticlands/js/postcard.js
  app/quadraticlands/views.py
Due: eslint

Add AINU token
  erc20/0xa52817Aba4FA2533E6bE9f4e82C47de738649D09.png
  erc20/0xa52817aba4fa2533e6be9f4e82c47de738649d09.json
Due: none

Add ainu Token Logo
  images/0xa52817Aba4FA2533E6bE9f4e82C47de738649D09.png
Due: none

update ainu token ERC20 infomaction
  erc20/0xa52817aba4fa2533e6be9f4e82c47de738649d09.json
Due: none

fix for isdigit
  app/grants/management/commands/estimate_clr.py
  app/retail/views.py
Due: none

add dynamic value and comma
  app/retail/templates/home/index2021.html
  app/retail/views.py
Due: none

Add APN token
  erc20/0xd4342a57ecf2fe7ffa37c33cb8f63b1500e575e6.json
  images/0xd4342a57ecf2fe7ffa37c33cb8f63b1500e575e6.png
Due: none

list hackathon event numbers on page
  app/dashboard/templates/dashboard/hackathon/hackathons.html
  app/dashboard/views.py
Due: none

updates hack page bg
  app/assets/v2/images/bg/space.png
  app/dashboard/templates/dashboard/hackathon/hackathons.html
Due: none

Fixes google_user_id migration, adds facebook_user_id and tidies up error/success messages (also fixes minor bugs in profile-trust.js)
  app/app/templates/shared/messages.html
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/migrations/0179_auto_20210424_0534.py
  app/dashboard/migrations/0180_goog_fb_id_clean_up.py
  app/dashboard/models.py
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templatetags/replace.py
  app/dashboard/views.py
Due: eslint

fix is_active -> active
  app/grants/views.py
Due: none

Upgrades wiki (0.5 -> 0.7.3) and prevents navbar.js from being served on onepagers
  app/dashboard/templates/onepager/base.html
  app/dashboard/templates/shared/onepager_auth.html
  app/grants/templates/grants/landingpage.html
  app/kudos/templates/transaction/base.html
  app/kudos/templates/transaction/kudos_auth.html
  app/retail/templates/home/index2021.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/shared/footer_scripts.html
  requirements/base.txt
Due: none

Upgrades wiki (0.5 -> 0.7.3) and prevents navbar.js from being served on onepagers (#8822)
  app/dashboard/templates/onepager/base.html
  app/dashboard/templates/shared/onepager_auth.html
  app/grants/templates/grants/landingpage.html
  app/kudos/templates/transaction/base.html
  app/kudos/templates/transaction/kudos_auth.html
  app/retail/templates/home/index2021.html
  app/retail/templates/jtbd/earn.html
  app/retail/templates/shared/footer_scripts.html
  requirements/base.txt
Due: none

add dynamic value and comma (#8812)
  app/retail/templates/home/index2021.html
  app/retail/views.py
Due: none

restore block for manual payout for bounty
  app/dashboard/views.py
Due: none

add SNF token
  erc20/0x73a7b887040144ec96899bE36bd9532aE8AD66E7.json
  images/0x73a7b887040144ec96899bE36bd9532aE8AD66E7.png
Due: none

img optimization
  app/assets/v2/images/bg/space.png
Due: none

Adds compress for JS files
  app/dashboard/templates/profiles/profile.html
Due: none

Minor refactor
  app/dashboard/views.py
Due: none

Adding a local vagrant+ansible setup option for testing deployments and package lists
  .gitignore
  Vagrantfile
  ansible.cfg
  ansible/config-db.yml
  ansible/config-web.yml
  ansible/inventory.yml
  ansible/test-connection.yml
  docs/RUNNING_LOCALLY_VAGRANT.md
  requirements/apt-base-packages.txt
  requirements/apt-build-deps.txt
Due: none

write nervos extension + update fe flow
  app/assets/v2/js/pages/bounty_detail/nervos_extension.js
  app/assets/v2/js/pages/bounty_details2.js
  app/dashboard/templates/bounty/details2.html
Due: eslint

mission page styles and content
  app/retail/templates/home/nav_mission.html
  app/retail/templates/mission.html
Due: none

Moves data migration to management command
  app/dashboard/management/commands/cleanup_goog_fb_ids.py
Due: none

Fixes google_user_id migration and adds facebook_user_id field (#8824)
  app/app/templates/shared/messages.html
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/management/commands/cleanup_goog_fb_ids.py
  app/dashboard/migrations/0179_auto_20210424_0534.py
  app/dashboard/models.py
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templatetags/replace.py
  app/dashboard/views.py
Due: eslint

add YLYD token
  erc20/0x96d9Afb3c0Ce0641F154734fA37f1A0ee073d6C2.json
  images/0x96d9Afb3c0Ce0641F154734fA37f1A0ee073d6C2.png
Due: none

updates hack page bg (#8821)
  app/assets/v2/images/bg/space.png
  app/dashboard/templates/dashboard/hackathon/hackathons.html
Due: none

list hackathon event numbers on page (#8820)
  app/dashboard/templates/dashboard/hackathon/hackathons.html
  app/dashboard/views.py
Due: none

Implemented POH trust score, gitcoinco/skunkworks#208
  app/app/urls.py
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/migrations/0179_poh_fields.py
  app/dashboard/models.py
  app/dashboard/poh_utils.py
  app/dashboard/templates/profiles/trust-vue.html
  app/dashboard/views.py
  app/grants/views.py
  app/marketing/management/commands/post_data.py
Due: eslint

Coding style
  app/assets/v2/js/pages/profile-trust.js
Due: eslint

Add error handling
  app/assets/v2/js/pages/profile-trust.js
Due: eslint

add yfs token
  erc20/0x92d984Ff5593fcc209Adb525Adef90D119EB0D9d.json
  images/0x92d984Ff5593fcc209Adb525Adef90D119EB0D9d.png
Due: none

Removed handle from verify_poh url
  app/app/urls.py
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/views.py
Due: eslint

remove vision page
  app/app/urls.py
  app/assets/v2/images/vision/blockchain.jpg
  app/assets/v2/images/vision/blockchain.png
  app/assets/v2/images/vision/consensys.svg
  app/assets/v2/images/vision/future.png
  app/assets/v2/images/vision/gitcoin.svg
  app/assets/v2/images/vision/hand-plus.png
  app/assets/v2/images/vision/illu.png
  app/assets/v2/images/vision/macro.svg
  app/assets/v2/images/vision/market.svg
  app/assets/v2/images/vision/oss.png
  app/assets/v2/images/vision/people_care.svg
  app/assets/v2/images/vision/search-brief.png
  app/assets/v2/images/vision/triangle.jpg
  app/assets/v2/images/vision/triangle.png
  app/assets/v2/images/vision/triangle.svg
  app/assets/v2/images/vision/twit.png
  app/assets/v2/scss/vision.scss
  app/retail/templates/vision.html
  app/retail/views.py
Due: stylelint

add timeago
  app/marketing/mails.py
Due: none

Rewrites assemble_leaderboards tests (not hitting 100% coverage yet) and backs out duniterpy integration
  app/app/urls.py
  app/dashboard/tests/__init__.py
  app/dashboard/tests/test_dashboard_views.py
  app/dashboard/views.py
  app/marketing/management/commands/assemble_leaderboards.py
  app/marketing/tests/management/commands/test_assemble_leaderboards.py
Due: none

bug fix
  app/dashboard/management/commands/cleanup_goog_fb_ids.py
  app/dashboard/router.py
Due: none

bug fix (#8830)
  app/dashboard/management/commands/cleanup_goog_fb_ids.py
  app/dashboard/router.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
