Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -r
  - -e
  - app/**/migrations/
  - app/dataviz/
  - app/app/

Adjust convert_txn to use decode vs str(), replace, strip
  app/enssubdomain/tests/test_ens_utils.py
  app/enssubdomain/utils.py
Due: yapf

Fix logger ref
  app/enssubdomain/views.py
Due: yapf

ENS: Ensure 10%+ gas minimum (#1303)
  app/enssubdomain/management/commands/reprocess_txs.py
  app/enssubdomain/management/commands/warn_when_wallet_out_of_eth.py
  app/enssubdomain/models.py
  app/enssubdomain/tests/test_ens_utils.py
  app/enssubdomain/utils.py
  app/enssubdomain/views.py
Due: yapf

Enable yapf for enssubdomain
  .pre-commit-config.yaml
  Makefile
  app/enssubdomain/views.py
Due: yapf

Fix migrations and yapf
  app/enssubdomain/migrations/0007_enssubdomainregistration_gas_cost_eth.py
  app/enssubdomain/views.py
Due: yapf

Add gas multiplier to get_gas_price
  app/enssubdomain/views.py
Due: yapf

Stickler
  app/enssubdomain/views.py
Due: yapf

Stickler
  app/enssubdomain/models.py
Due: yapf

Fix primary button style
  app/assets/yge/youvegoteth/receive.js
Due: eslint

Merge mgiration, also migrates work type / schemes to project type
  CHANGELOG.md
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/dashboard.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/helpers.py
  app/dashboard/migrations/0075_auto_20180523_0751.py
  app/dashboard/migrations/0082_merge_20180530_1704.py
  app/dashboard/models.py
  app/dashboard/notifications.py
  app/dashboard/router.py
  app/dashboard/templates/addinterest.html
  app/dashboard/templates/bounty_details.html
  app/dashboard/templates/shared/permissions_type_tooltip.html
  app/dashboard/templates/shared/project_type_tooltip.html
  app/dashboard/templates/shared/sidebar_search.html
  app/dashboard/templates/submit_bounty.html
  app/dashboard/views.py
Due: eslint, yapf

docker-compose was wrong
  docker-compose.yml
Due: none

approval required as a default"
  app/dashboard/templates/submit_bounty.html
Due: none

for contests, make it so it's open even if it's started
  app/dashboard/models.py
Due: yapf

Fix email link in newsletter and mailchimp templates
  app/dashboard/templates/shared/newsletter.html
  app/retail/templates/shared/mailchimp.html
Due: none

Update gitcoin welcomebot copy to link to onboarding doc
  ops/lambdas/welcomebot/app.py
Due: yapf

Fix email link in newsletter and mailchimp templates (#1321)
  app/dashboard/templates/shared/newsletter.html
  app/retail/templates/shared/mailchimp.html
Due: none

all the app schema emails
  app/app/urls.py
  app/dashboard/models.py
  app/dashboard/views.py
  app/marketing/mails.py
  app/marketing/management/commands/pending_start_work_actions.py
  app/retail/emails.py
  app/retail/templates/emails/bounty.html
  app/retail/templates/emails/bounty.txt
  app/retail/templates/emails/start_work_applicant_about_to_expire.html
  app/retail/templates/emails/start_work_applicant_about_to_expire.txt
  app/retail/templates/emails/start_work_applicant_expired.html
  app/retail/templates/emails/start_work_applicant_expired.txt
  app/retail/templates/emails/start_work_approved.html
  app/retail/templates/emails/start_work_approved.txt
  app/retail/templates/emails/start_work_new_applicant.html
  app/retail/templates/emails/start_work_new_applicant.txt
  app/retail/templates/emails/start_work_rejected.html
  app/retail/templates/emails/start_work_rejected.txt
  scripts/crontab
Due: yapf

make fix
  app/dashboard/views.py
  app/marketing/mails.py
  app/marketing/management/commands/pending_start_work_actions.py
Due: yapf

qa and notifications
  app/dashboard/notifications.py
  app/marketing/mails.py
Due: yapf

pricing guide on new bounty form
  app/assets/v2/js/amounts.js
Due: eslint

Eslint
  app/assets/v2/js/amounts.js
Due: eslint

Make external link open in new tab
  app/assets/v2/js/amounts.js
Due: eslint

updated styles for submit bounty banners
  app/assets/v2/css/current_balance.css
Due: stylelint

Add stats component
  app/dashboard/templates/funder_dashboard.html
Due: none

submit GSG PR
  erc20/0x08b427001ba2150490fe4d18b76700fe6e38136c.json
  images/0x08b427001ba2150490fe4d18b76700fe6e38136c.png
Due: none

submit GSG PR
  erc20/0x08b427001ba2150490fe4d18b76700fe6e38136c.json
Due: none

add LEMO token
  erc20/0xB5AE848EdB296C21259b7467331467d2647eEcDf.json
  images/0xB5AE848EdB296C21259b7467331467d2647eEcDf.png
Due: none

quarterly_stats Fixes: https://github.com/gitcoinco/web/issues/946 (#1016)
  app/app/urls.py
  app/dashboard/models.py
  app/marketing/mails.py
  app/marketing/management/commands/send_quarterly_stats.py
  app/marketing/utils.py
  app/retail/emails.py
  app/retail/templates/emails/quarterly_stats.html
  app/retail/templates/emails/quarterly_stats.txt
  scripts/crontab
Due: yapf

Update migrations
  app/dashboard/migrations/0082_auto_20180531_1521.py
  app/dashboard/migrations/0082_merge_20180530_1704.py
Due: yapf

Disable rollbar logging element
  app/app/settings.py
Due: yapf

toolbox: avoid $.get when url is undefined
  app/assets/v2/js/toolbox.js
Due: eslint

Remove document preloads
  app/assets/v2/js/toolbox.js
Due: eslint

Front-end for latest on bounties
  app/dashboard/templates/funder_dashboard.html
Due: none

Use .lead on stats cards
  app/dashboard/templates/funder_dashboard.html
Due: none

Decrease the scope of GH perms requested on login
  app/app/settings.py
Due: yapf

XstarToken contract informations updated into imtoken.
  erc20/0x528d068ae69e90c90ad090b3c2b0d18241e9e9b5.json
  images/0x528d068ae69e90c90ad090b3c2b0d18241e9e9b5.png
Due: none

[MOD] XstarToken contract informations updated into imtoken.
  erc20/0x528d068ae69e90c90ad090b3c2b0d18241e9e9b5.json
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
  yapf: any of: \.py$
