Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

Only show theme customization for profile
  app/dashboard/views.py
  app/marketing/views.py
  app/retail/views.py
Due: none

Only show theme for current user profile
  app/dashboard/templates/profiles/profile.html
Due: none

Remove unused lines of codes
  app/assets/v2/css/bounty.css
  app/assets/v2/css/dashboard.css
  app/dashboard/views.py
  app/marketing/views.py
  app/retail/templates/shared/head.html
  app/retail/views.py
Due: stylelint

mgmt command to select 0 app bounties and fire email
  app/marketing/management/commands/no_applicants_email.py
  scripts/crontab
Due: none

fix help text
  app/marketing/management/commands/no_applicants_email.py
Due: none

add group by skill and change subject (#5081)
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/shared/reserved.html
  app/marketing/mails.py
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

change dir files
  app/dashboard/templates/board/contributor.html
  app/dashboard/templates/board/funder.html
  app/dashboard/templates/board/index.html
  app/dashboard/views.py
Due: none

Dashboard work started (#5074)
  app/assets/v2/js/board.js
  app/dashboard/templates/board.html
  app/dashboard/templates/board/contributor.html
  app/dashboard/templates/board/funder.html
  app/dashboard/templates/board/index.html
  app/dashboard/templates/shared/nav_auth.html
  app/dashboard/views.py
Due: eslint

feat: base commit for stnadard bounties 2 contract
  app/assets/v2/js/abi.js
  app/assets/v2/js/pages/bulk_payout.js
  app/assets/v2/js/pages/fulfill_bounty.js
  app/assets/v2/js/pages/increase_bounty.js
  app/assets/v2/js/pages/kill_bounty.js
  app/assets/v2/js/pages/new_bounty.js
  app/assets/v2/js/pages/process_bounty.js
  app/dashboard/admin.py
  app/dashboard/management/commands/sync_all_bounties.py
  app/dashboard/management/commands/sync_geth.py
  app/dashboard/management/commands/sync_listener.py
  app/dashboard/management/commands/sync_recent_bounties.py
  app/dashboard/models.py
  app/dashboard/templates/shared/bounty_actions_hidden_vars.html
  app/dashboard/tests/test_dashboard_utils.py
  app/dashboard/utils.py
  app/dashboard/views.py
  scripts/crontab
  scripts/debug/debug_bounty_details.js
Due: eslint

- update debug_bounty to invoke function based on contract_version - updated bounty_address invocation with contract_version - remove unused variable + updated error msg
  app/assets/v2/js/abi.js
  app/assets/v2/js/pages/fulfill_bounty.js
  app/assets/v2/js/pages/increase_bounty.js
  app/assets/v2/js/pages/kill_bounty.js
  app/assets/v2/js/pages/new_bounty.js
  app/assets/v2/js/pages/process_bounty.js
  app/assets/v2/js/pages/tokens_settings.js
  app/dashboard/models.py
  scripts/debug/debug_bounty_details.js
Due: eslint

activity dataviz
  app/app/urls.py
  app/assets/v2/css/profile.css
  app/dashboard/templates/profiles/heatmap.html
  app/dashboard/templates/profiles/organization.html
  app/dashboard/templates/profiles/scorecard_funder.html
  app/dashboard/templates/profiles/scorecard_hunter.html
  app/dashboard/views.py
Due: stylelint

whos viewed my profile
  app/assets/v2/js/pages/profile.js
  app/dashboard/admin.py
  app/dashboard/migrations/0050_auto_20190829_2141.py
  app/dashboard/models.py
  app/dashboard/templates/profiles/tab_workedwith.html
  app/dashboard/views.py
Due: eslint

fixes event listener for when ur not looking at ur own profile
  app/assets/v2/js/status.js
Due: eslint

moves the dataviz into a stats tab
  app/assets/v2/css/profile.css
  app/assets/v2/js/pages/profile.js
  app/dashboard/templates/profiles/activity_stats.html
  app/dashboard/templates/profiles/heatmap.html
  app/dashboard/templates/profiles/organization.html
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/profiles/scorecard_funder.html
  app/dashboard/templates/profiles/scorecard_hunter.html
  app/dashboard/templates/profiles/tab_stats.html
  app/dashboard/templates/profiles/tabs.html
Due: eslint, stylelint

remove printing data on console
  app/dashboard/models.py
Due: none

fix future deprecated tags
  app/dashboard/templates/shared/profile_kudos.html
  app/dashboard/templates/shared/rate_bounties.html
  app/kudos/templates/shared/kudos_card.html
  app/retail/templates/results.html
Due: none

disable cache on query unrated bounties
  app/dashboard/views.py
Due: none

remove comments
  app/dashboard/views.py
Due: none

fix so that DAI / ETH can be converted back and forth
  app/dashboard/models.py
  app/economy/utils.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  economy/utils/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

account for diff between usdt/dai on prev commit
  app/economy/utils.py
Due: none

one last thing
  app/economy/utils.py
Due: none

another try
  app/economy/utils.py
Due: none

final fix for http://localhost:8000/profile/IgorBarinov
  app/dashboard/models.py
Due: none

skill charts
  app/dashboard/templates/profiles/heatmap.html
  app/dashboard/templates/profiles/skillchart.html
  app/dashboard/templates/profiles/tab_stats.html
Due: none

rel graph
  app/dashboard/templates/profiles/relationshipgraph.html
Due: none

gets activity map working again
  app/dashboard/templates/profiles/heatmap.html
  app/dashboard/templates/profiles/tab_stats.html
  app/dashboard/views.py
Due: none

newsletter 2019-08-30
  app/retail/emails.py
Due: none

gets demo ready for tomorrow
  app/dashboard/templates/profiles/heatmap.html
  app/dashboard/templates/profiles/relationshipgraph.html
  app/dashboard/templates/profiles/skillchart.html
  app/dashboard/templates/profiles/tab_activity.html
  app/dashboard/templates/profiles/tab_details.html
  app/dashboard/templates/profiles/tab_resume.html
  app/dashboard/templates/profiles/tab_stats.html
  app/dashboard/templates/profiles/tab_workedwith.html
  app/dashboard/templates/profiles/tabs.html
Due: none

fixes test
  app/dashboard/tests/test_dashboard_models.py
Due: none

test fix, better
  app/dashboard/tests/test_dashboard_models.py
Due: none

some small updates for tomo
  app/dashboard/templates/profiles/activity_stats.html
  app/dashboard/templates/profiles/scorecard_funder.html
Due: none

more profile fun
  app/dashboard/templates/profiles/activity_stats.html
  app/dashboard/templates/profiles/tab_stats.html
  app/dashboard/templates/profiles/tabs.html
Due: none

Add SKE token
  erc20/0x57D21f2B0ff6d6Ac2aC13FDAF7f1B3A1AE7E4DA2.json
  images/0x57D21f2B0ff6d6Ac2aC13FDAF7f1B3A1AE7E4DA2.jpg
Due: none

Add SKE token
  images/0x57D21f2B0ff6d6Ac2aC13FDAF7f1B3A1AE7E4DA2.jpg
  images/0x57D21f2B0ff6d6Ac2aC13FDAF7f1B3A1AE7E4DA2.png
Due: none
