Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

ethe
  erc20/0x64E02b2f0603B8002b0bD02DBf703C266D50281a.json
Due: none

add seele token
  erc20/0xB1e93236ab6073fdAC58adA5564897177D4bcC43.json
  images/0xB1e93236ab6073fdAC58adA5564897177D4bcC43.png
Due: none

Improve cart gas estimates for DAI, aDAI, cDAI, and ANT (#6961)
  app/assets/v2/js/cart.js
  app/retail/templates/about.html
Due: eslint

wallet improvments (#6952)
  app/assets/v2/js/activity.js
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/fund.js
  app/assets/v2/js/grants/funding.js
  app/assets/v2/js/grants/new.js
  app/assets/v2/js/pages/bulk_payout.js
  app/assets/v2/js/pages/fulfill_bounty/index.js
  app/assets/v2/js/pages/kudos_send.js
  app/assets/v2/js/pages/new_bounty.js
  app/assets/v2/js/pages/process_bounty.js
  app/assets/v2/js/wallet.js
  app/dashboard/templates/onepager/base.html
  app/grants/templates/grants/detail/index.html
  app/grants/templates/grants/detail/info.html
  app/grants/templates/grants/shared/shared_scripts.html
  app/kudos/templates/transaction/base.html
  app/quests/templates/quests/base.html
  app/quests/templates/quests/index.html
  app/retail/templates/shared/footer_scripts.html
  app/retail/templates/shared/footer_scripts_lite.html
  app/retail/templates/shared/grant_thanks_modal.html
  app/retail/templates/shared/shared_scripts.html
  app/townsquare/templates/townsquare/index.html
Due: eslint

Unavailable network link (#6967)
  docs/README.md
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fixed: design features on hackthon box #6870
  app/townsquare/migrations/0020_auto_20200521_1020.py
  app/townsquare/templates/townsquare/index.html
  app/townsquare/templates/townsquare/shared/hackathons.html
Due: none

1s timeout wiki
  app/app/settings.py
Due: none

chore: fixed twitter link
  app/retail/templates/shared/grant_thanks_modal.html
Due: none

chore: update syc/get_amount to support multiple tokens
  app/assets/v2/js/amounts.js
  app/assets/v2/js/cart.js
  app/assets/v2/js/shared.js
  app/dashboard/helpers.py
  app/dashboard/tests/test_dashboard_helpers.py
Due: eslint

Fix for bottomVisible method scope. (#6964)
  app/assets/v2/js/pages/dashboard-hackathon.js
  app/assets/v2/js/vue-components.js
  app/dashboard/router.py
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/views.py
  chatconfig/config.json
Due: eslint

formalizes the types of conversion rates in the DB
  app/dashboard/management/commands/cleanup_db_space.py
  app/economy/models.py
Due: none

1 thing
  app/economy/models.py
Due: none

new prize hackathon form (#6540)
  app/app/urls.py
  app/assets/v2/js/pages/hackathon_new_bounty.js
  app/assets/v2/js/vue-filters.js
  app/dashboard/helpers.py
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
  app/dashboard/views.py
  app/retail/views.py
Due: eslint

add token chain
  app/assets/v2/images/chains/ethereum-classic.svg
  app/assets/v2/images/chains/ethereum.svg
  app/assets/v2/images/chains/paypal.svg
  app/assets/v2/images/chains/zilliqa.svg
  app/economy/migrations/0002_auto_20200616_2140.py
  app/economy/models.py
  app/retail/views.py
Due: none

pick chain
  app/assets/v2/js/pages/hackathon_new_bounty.js
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
  app/retail/views.py
Due: eslint

fixes A few annoying things about kudso
  app/dashboard/models.py
  app/dashboard/templates/profiles/scorecard_hunter.html
  app/dashboard/templates/shared/profile_kudos.html
  app/kudos/admin.py
  app/kudos/migrations/0017_token_metadata.py
  app/kudos/models.py
  app/kudos/templates/kudos_details.html
  app/kudos/templates/kudos_marketplace.html
  app/kudos/templates/shared/kudos_card.html
  app/kudos/utils.py
Due: none

make fix
  app/dashboard/admin.py
  app/grants/views.py
  app/kudos/templates/kudos_details.html
  app/kudos/templates/shared/kudos_card.html
  app/marketing/mails.py
  app/retail/templates/shared/activity.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  economy/models/index.html
  kudos/models/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

listen network
  app/assets/v2/js/pages/hackathon_new_bounty.js
Due: eslint

lint and hoisting
  app/assets/v2/js/pages/hackathon_new_bounty.js
Due: eslint

Fix error saving created token to database
  app/assets/v2/js/board.js
Due: eslint

hotfix for kudos stuff
  app/assets/v2/css/base.css
  app/dashboard/models.py
  app/dashboard/templates/shared/profile_kudos.html
  app/kudos/models.py
  app/kudos/templates/shared/kudos_card.html
  app/kudos/templates/shared/kudos_card_profile.html
  app/kudos/templates/transaction/receive_bulk.html
Due: stylelint

copy
  app/dashboard/templates/shared/profile_kudos.html
Due: none

patches the super janky nav work in grants to not forget ur cateogry when u change sort option. herp derp. this probably all needs a rewrite at some pt
  app/assets/v2/js/shared.js
  app/grants/views.py
Due: eslint

fix for donation comments not showing
  app/assets/v2/js/cart.js
Due: eslint

usdc issue
  app/app/settings.py
  app/grants/views.py
Due: none

increment grant id
  app/assets/v2/js/cart.js
  app/grants/templates/grants/cart-vue.html
  app/grants/views.py
Due: eslint

Quests Table (#6808)
  app/assets/v2/css/quests.css
  app/quests/templates/quests/index.html
Due: stylelint

re-indent
  app/townsquare/templates/townsquare/shared/hackathons.html
Due: none

feat: New Box Hackathon Feature on Townsquare (#6898)
  app/assets/v2/css/town_square.css
  app/retail/templates/emails/assets/css/activity_stream.css
  app/townsquare/templates/townsquare/index.html
  app/townsquare/templates/townsquare/shared/hackathons.html
  app/townsquare/templates/townsquare/shared/reflink.html
  app/townsquare/views.py
Due: stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

feat: add sync_eth to fetch txn status
  app/app/local.env
  app/app/settings.py
  app/assets/v2/js/pages/bounty_detail/web3_modal.js
  app/assets/v2/js/pages/bounty_details2.js
  app/dashboard/admin.py
  app/dashboard/management/commands/sync_pending_fulfillments.py
  app/dashboard/sync/eth.py
  app/dashboard/sync/helpers.py
  app/dashboard/utils.py
  app/dashboard/views.py
  app/grants/views.py
  app/marketing/mails.py
  scripts/crontab
Due: eslint

a few cleanup commits; fixes economy and kudos model.. silences a sentry alert, and fixes the objectview tabled
  app/dashboard/tasks.py
  app/economy/migrations/0002_auto_20200625_1454.py
  app/grants/views.py
  app/kudos/migrations/0018_auto_20200625_1454.py
  app/kudos/models.py
Due: none

for the chat application move all logger calls to info instead of debug or error
  app/chat/management/commands/setup_hackathon_event_chat.py
  app/chat/management/commands/sync_event_bounties_to_chat.py
  app/chat/management/commands/sync_users_to_chat.py
  app/chat/tasks.py
  app/chat/views.py
Due: none

add portis
  app/assets/v2/css/gitcoin.css
  app/assets/v2/js/wallet.js
  app/retail/templates/shared/footer_scripts.html
  app/retail/templates/shared/footer_scripts_lite.html
Due: eslint, stylelint

fix for token validator
  app/economy/tx.py
Due: none

one last stab at validating txn
  app/economy/tx.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
