Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.3'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: [-r, -e, "app/**/migrations/", app/dataviz/, app/app/]

shared: refactored + removed dead code
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/shared.js
Due: eslint

cleaning up lint errors
  app/assets/v2/js/pages/results.js
Due: eslint

adds todos, stub results views.py
  app/assets/v2/js/pages/results.js
  app/retail/templates/results.html
  app/retail/views.py
Due: eslint, yapf

removes empty css block
  app/assets/v2/css/base.css
Due: stylelint

removes trailing comma
  app/retail/views.py
Due: yapf

adds a blank line to fix python lint error
  app/retail/views.py
Due: yapf

fix lint issue
  app/assets/v2/js/pages/results.js
Due: eslint

adds blocktrans
  app/retail/templates/results.html
Due: none

UX/UI for new results page
  app/app/urls.py
  app/assets/v2/css/base.css
  app/assets/v2/images/results/abandoned_bounties.svg
  app/assets/v2/images/results/calendar_icon.svg
  app/assets/v2/images/results/clock.svg
  app/assets/v2/images/results/completed_bounties.svg
  app/assets/v2/images/results/gitcoin_alumni.svg
  app/assets/v2/images/results/hourly_rate_distribution.svg
  app/assets/v2/js/pages/results.js
  app/retail/templates/results.html
  app/retail/templates/shared/head.html
  app/retail/templates/shared/nav.html
  app/retail/views.py
Due: eslint, stylelint, yapf

stickler cleanup
  app/assets/v2/js/pages/results.js
  app/retail/views.py
Due: eslint, yapf

responsive fixes and shorten function length
  app/assets/v2/js/pages/results.js
  app/retail/templates/results.html
Due: eslint

rebase master to fix codebeat, remove animation, change background, muli font, change button
  app/assets/v2/css/base.css
  app/retail/templates/results.html
Due: stylelint

Add PAL token
  erc20/0xfeDAE5642668f8636A11987Ff386bfd215F942EE.json
  images/0xfeDAE5642668f8636A11987Ff386bfd215F942EE.png
Due: none

Add files via upload
  erc20/0x6D06095d75784e948E0F98Dd680C798bFf1aaBAf.json
Due: none

Add files via upload
  images/0x6D06095d75784e948E0F98Dd680C798bFf1aaBAf.png
Due: none

Decrease the scope of GH perms requested on login (#1328)
  app/app/settings.py
Due: yapf

Fix #1334 - Adjust sync_geth settings and docs for local
  app/dashboard/management/commands/sync_geth.py
  docs/RUNNING_LOCALLY.md
  docs/RUNNING_LOCALLY_DOCKER.md
  scripts/crontab
Due: yapf

Squash SVGs
  app/app/urls.py
  app/assets/v2/images/results/abandoned_bounties.svg
  app/assets/v2/images/results/calendar_icon.svg
  app/assets/v2/images/results/clock.svg
  app/assets/v2/images/results/completed_bounties.svg
  app/assets/v2/images/results/gitcoin_alumni.svg
  app/assets/v2/images/results/hourly_rate_distribution.svg
  app/assets/v2/js/pages/results.js
Due: eslint, yapf

Trim issue message before validation
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

hotfix for standard bounty id being wrong on http://localhost:8000//ssue/gitcoinco/web/1036/460
  app/dashboard/views.py
Due: yapf

unty_admin_override_and_hide
  app/dashboard/migrations/0082_bounty_admin_override_and_hide.py
  app/dashboard/models.py
Due: yapf

admin_override_and_hide from bounty to bounty
  app/dashboard/helpers.py
Due: yapf

this field should be blank
  app/dashboard/models.py
Due: yapf

disable sendgrid events until we figure out root cause of https://github.com/gitcoinco/web/issues/1278
  app/marketing/webhookviews.py
Due: yapf

disable sendgrid events until we figure out root cause of https://github.com/gitcoinco/web/issues/1278 (#1339)
  app/marketing/webhookviews.py
Due: yapf

roundup
  app/assets/v2/images/colony.png
  app/assets/v2/images/press/ethereal.png
  app/retail/emails.py
  app/retail/templates/index.html
Due: yapf

image address
  app/retail/emails.py
Due: yapf

img
  app/retail/emails.py
Due: yapf

more img updates
  app/retail/emails.py
Due: yapf

Adjust social auth GH scope
  app/app/settings.py
Due: yapf

shill: PS - i've got some new gitcoin schwag on order. send me your mailing address and your t shirt size and i'll ship you some.
  app/retail/emails.py
Due: yapf

merge migrations
  app/dashboard/migrations/0083_merge_20180601_1945.py
  app/marketing/migrations/0029_merge_20180601_1945.py
Due: yapf

Adjust template trans and add base context builder for results
  app/retail/templates/results.html
  app/retail/utils.py
  app/retail/views.py
Due: yapf

trans tag
  app/retail/templates/results.html
Due: none

starting to put in dynamic data
  app/assets/v2/js/pages/results.js
  app/retail/templates/results.html
  app/retail/utils.py
Due: eslint, yapf

data driven /results page
  app/assets/v2/js/pages/results.js
  app/marketing/management/commands/pull_stats.py
  app/retail/templates/results.html
  app/retail/utils.py
Due: eslint, yapf

card desc
  app/retail/utils.py
Due: yapf

Remove state from PAL json
  erc20/0xfeDAE5642668f8636A11987Ff386bfd215F942EE.json
Due: none

css: removed commented out code
  app/dashboard/templates/shared/yge_auth.html
Due: none
