Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

Upgrades travis ubuntu distro (16.04 -> 18.04) to match docker
  .travis.yml
Due: none

Installs libsecp256k1-dev for travis build
  .travis.yml
Due: none

remove flexbox usages
  app/retail/templates/emails/funded_featured_bounty.html
  app/retail/templates/emails/kudos_mint.html
  app/retail/templates/emails/kudos_mkt.html
  app/retail/templates/emails/new_bounty.html
  app/retail/templates/emails/new_bounty_acceptance.html
  app/retail/templates/emails/new_kudos.html
  app/retail/templates/emails/new_tip.html
  app/retail/templates/emails/request_funds.html
  app/retail/templates/emails/template.html
Due: none

Add rule to validte if the address associated to one domain is already registered
  app/dashboard/views.py
Due: none

ADD sunny TOKEN
  erc20/0x56Aa2f35Ad4Bf936a144D193b43FCc0F27b16F5B.json
  images/0x56Aa2f35Ad4Bf936a144D193b43FCc0F27b16F5B.png
Due: none

add poap owner account
  app/dashboard/migrations/0174_profile_poap_owner_account.py
  app/dashboard/models.py
  app/dashboard/views.py
Due: none

fix
  erc20/0x8b92A08E9456a649EAA4a163fF2f42b34D6d37d1.json
Due: none

https://gitcoincore.slack.com/archives/CAXQ7PT60/p1616152106020600
  app/dashboard/templates/profiles/tab_grant_contribs.html
  scripts/debug/migrate_earnings.py
Due: none

try catch
  app/grants/migrations/0118_auto_20210318_2150.py
Due: none

rate limit update
  app/marketing/tasks.py
Due: none

content update 2
  app/assets/quadraticlands/config.codekit3
  app/assets/quadraticlands/css/app.css
  app/assets/quadraticlands/css/app.css.map
  app/assets/quadraticlands/images/mission/antisybil.svg
  app/assets/quadraticlands/images/mission/proof-of-know-end.svg
  app/assets/quadraticlands/images/mission/proof-of-know-start.svg
  app/assets/quadraticlands/images/mission/proof-of-receive-end.svg
  app/assets/quadraticlands/images/mission/proof-of-receive-start.svg
  app/assets/quadraticlands/images/mission/proof-of-use-end.svg
  app/assets/quadraticlands/images/mission/proof-of-use-start.svg
  app/assets/quadraticlands/scss/section_hero.scss
  app/quadraticlands/templates/quadraticlands/_inlinesvg/hero-about.svg
  app/quadraticlands/templates/quadraticlands/about.html
  app/quadraticlands/templates/quadraticlands/index.html
Due: stylelint

delete data from grants if not staff
  app/grants/views.py
Due: none

adjusts permissoins
  app/grants/views.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

Add TARA token
  erc20/0xF001937650bb4f62b57521824B2c20f5b91bEa05.json
  images/0xF001937650bb4f62b57521824B2c20f5b91bEa05.png
Due: none

Adds sticky checkout btn to side-cart and mobile grants-details
  app/assets/v2/scss/gc-mixins.scss
  app/assets/v2/scss/gc-utilities.scss
  app/assets/v2/scss/grants/side-cart.scss
  app/assets/v2/scss/lib/bootstrap.scss
  app/assets/v2/scss/notifications.scss
  app/dashboard/templates/shared/menu.html
  app/grants/templates/grants/components/card.html
  app/grants/templates/grants/components/collection.html
  app/grants/templates/grants/detail/_index.html
  app/grants/templates/grants/detail/index.html
  app/grants/templates/grants/detail/side-cart.html
  app/grants/templates/grants/detail/template-grant-details.html
  app/grants/templates/grants/index.html
  app/grants/templates/grants/landingpage.html
Due: stylelint

Fixes stylelint issues
  .stylelintrc
  app/assets/v2/scss/gc-mixins.scss
Due: stylelint

corrects celery queues being messed and crushing the db; also fixes grant earning amout calculations
  app/gas/utils.py
  app/grants/models.py
  app/marketing/tasks.py
Due: none

performance fixes
  app/grants/management/commands/grant_related.py
  scripts/crontab
  scripts/crontab3
Due: none

fix activity on results page
  app/assets/v2/scss/results.scss
Due: stylelint

remove not a token
  app/retail/templates/shared/what_is_gitcoin.html
Due: none

remove sending to mautic on hackathon registrer
  app/dashboard/views.py
Due: none

change newsletters to mautic and landing fixes
  app/assets/landingpage/twitter_pics/PaulRBerg.jpeg
  app/assets/landingpage/twitter_pics/VitalikButerin.jpeg
  app/assets/landingpage/twitter_pics/kamescg.jpeg
  app/assets/landingpage/twitter_pics/lalleclausen.jpeg
  app/assets/landingpage/twitter_pics/sassal0x.jpeg
  app/assets/landingpage/twitter_pics/spencernoon.jpeg
  app/assets/v2/js/mautic.js
  app/dashboard/templates/dashboard/hackathon/hackathons.html
  app/dashboard/templates/shared/newsletter.html
  app/retail/templates/home/index2020.html
Due: eslint

eslint fixes
  app/assets/v2/js/mautic.js
Due: eslint

amount reconcliliation
  app/grants/models.py
  app/marketing/tasks.py
  scripts/debug/migrate_earnings.py
Due: none

just for you Graham
  app/assets/v2/js/mautic.js
Due: eslint

move const to top
  app/assets/v2/js/mautic.js
Due: eslint

move to let
  app/assets/v2/js/mautic.js
Due: eslint

config num search results
  app/search/models.py
Due: none

https://gitcoincore.slack.com/archives/CCL5Q0G5S/p1616188510007200
  app/assets/v2/js/search.js
  app/dashboard/templates/shared/search.html
  app/search/models.py
Due: eslint

search button fix
  app/assets/v2/js/search.js
  app/assets/v2/scss/search.scss
  app/dashboard/templates/shared/search.html
Due: eslint, stylelint

fix
  app/dashboard/templates/shared/search.html
Due: none

jobs dont run at top of hour, that time slot load was spiking
  app/retail/management/commands/warm_cache.py
  scripts/crontab
Due: none

format
  scripts/crontab
  scripts/debug/migrate_earnings.py
Due: none

content update 3
  app/assets/quadraticlands/config.codekit3
  app/assets/quadraticlands/css/app.css
  app/assets/quadraticlands/css/app.css.map
  app/assets/quadraticlands/images/empower.svg
  app/assets/quadraticlands/images/graph-2.svg
  app/assets/quadraticlands/images/graph.svg
  app/assets/quadraticlands/images/help.svg
  app/assets/quadraticlands/images/pie.svg
  app/assets/quadraticlands/images/quote.svg
  app/assets/quadraticlands/scss/section_column.scss
  app/quadraticlands/templates/quadraticlands/about.html
Due: stylelint

fix for bad usd amounts on earnings
  app/dashboard/models.py
Due: none

add mig file
  app/dashboard/migrations/0174_auto_20210319_0631.py
Due: none

improved mission/receive intro interface
  app/assets/quadraticlands/css/app.css
  app/assets/quadraticlands/css/app.css.map
  app/assets/quadraticlands/scss/app.scss
  app/assets/quadraticlands/scss/dashboard/section_dashboard.scss
  app/assets/quadraticlands/scss/section_mission.scss
  app/quadraticlands/templates/quadraticlands/about.html
  app/quadraticlands/templates/quadraticlands/index.html
  app/quadraticlands/templates/quadraticlands/mission/receive/index.html
Due: stylelint

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
