Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.3'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: [-r, -e, "app/**/migrations/", app/dataviz/, app/app/]

Update 0x9216707C81438d9593c4e215BCBb0E7bB10d07F5.json
  erc20/0x9216707C81438d9593c4e215BCBb0E7bB10d07F5.json
Due: none

Add files via upload
  images/0x9216707C81438d9593c4e215BCBb0E7bB10d07F5.png
Due: none

save search recents
  app/app/urls.py
  app/assets/v2/css/search_bar.css
  app/assets/v2/js/pages/dashboard.js
  app/dashboard/templates/dashboard.html
  app/dashboard/templates/shared/search_bar.html
  app/dashboard/views.py
Due: eslint, stylelint, yapf

linting
  app/assets/v2/js/pages/dashboard.js
Due: eslint

removes save search button
  app/dashboard/templates/shared/search_bar.html
Due: none

copy
  app/dashboard/templates/dashboard.html
Due: none

hebing
  erc20/$template.json
  erc20/0x3109af90eedbeeba9df921a23dc6ac45188b4366.json
  images/0x3109af90eedbeeba9df921a23dc6ac45188b4366.png
Due: none

Add dollar to tax amount and translate You Have
  app/dashboard/templates/funder_dashboard.html
Due: none

Update 0x5D4232EAC1EA003a4dB87138585aA5078DeD2b10.json
  erc20/0x5D4232EAC1EA003a4dB87138585aA5078DeD2b10.json
Due: none

add profile for cnn token
  erc20/0x8713d26637cf49e1b6b4a7ce57106aabc9325343.json
  images/0x8713d26637cf49e1b6b4a7ce57106aabc9325343.png
Due: none

shorten the overview of CNN
  erc20/0x8713d26637cf49e1b6b4a7ce57106aabc9325343.json
Due: none

add fti image
  images/0x943ED852DadB5C3938ECdC6883718df8142DE4C8.png
Due: none

add fti file
  erc20/0x943ED852DadB5C3938ECdC6883718df8142DE4C8.json
Due: none

Update 0x943ED852DadB5C3938ECdC6883718df8142DE4C8.json
  erc20/0x943ED852DadB5C3938ECdC6883718df8142DE4C8.json
Due: none

updated font-size for ftux large devices
  app/assets/v2/css/onboard.css
  app/dashboard/templates/ftux/onboard.html
Due: stylelint

Revert "removes ios link from landing page"
  app/retail/templates/index.html
  app/retail/templates/shared/bottom_notification.html
Due: none

landing: ios banner fixed
  app/assets/v2/css/gitcoin.css
  app/retail/templates/index.html
  app/retail/templates/landing/ios_banner.html
Due: stylelint

change BRC logo
  images/0x21ab6c9fac80c59d401b37cb43f81ea9dde7fe34.png
Due: none

Consolidate migrations, line length, and cleanup whitespace
  app/dashboard/migrations/0086_auto_20180613_1328.py
  app/dashboard/migrations/0086_bounty_admin_override_suspend_auto_approval.py
  app/dashboard/models.py
  app/dashboard/views.py
  app/marketing/management/commands/pending_start_work_actions.py
Due: yapf

Fix pytest
  app/marketing/tests/management/commands/test_remarket_tweet.py
Due: yapf

Add new token SphinxChain SPX.
  erc20/0x1AAC60e9acAfaED0cF84AdD412aB8071ef64196E.json
  images/0x1AAC60e9acAfaED0cF84AdD412aB8071ef64196E.png
Due: none

Fix some mistakes.
  erc20/$template.json
  erc20/0x1AAC60e9acAfaED0cF84AdD412aB8071ef64196E.json
Due: none

Fix isort
  app/marketing/mails.py
Due: yapf

Fix linting in app/urls.py
  app/app/urls.py
Due: yapf

merge stuff
  app/assets/v2/js/base.js
Due: eslint

Update 0x1AAC60e9acAfaED0cF84AdD412aB8071ef64196E.json whiteaper
  erc20/0x1AAC60e9acAfaED0cF84AdD412aB8071ef64196E.json
Due: none

why gitcoin dropdown
  app/assets/v2/css/base.css
  app/retail/templates/shared/nav.html
Due: stylelint

use gitcoin dropdown
  app/retail/templates/shared/nav.html
Due: none

Revert "use gitcoin dropdown"
  app/retail/templates/shared/nav.html
Due: none

Adds frontend design for gas settings
  app/assets/v2/css/submit_bounty.css
  app/assets/v2/js/pages/wallet_estimate.js
  app/dashboard/templates/shared/wallet_estimate.html
Due: eslint, stylelint

robot_error: set max-width
  app/assets/v2/css/base.css
Due: stylelint

pixelant nav
  app/assets/v2/css/buttons.css
  app/dashboard/templates/shared/nav_auth.html
  app/retail/templates/shared/nav.html
Due: stylelint

Add name linking to vivek's slack notification and welcomebot
  app/dashboard/notifications.py
  ops/lambdas/welcomebot/app.py
Due: yapf

Fixes https://github.com/gitcoinco/web/issues/1436
  app/dashboard/templates/profile_details.html
  app/dashboard/views.py
Due: yapf

Fix linking - link_names deprecated
  app/dashboard/notifications.py
  ops/lambdas/welcomebot/app.py
Due: yapf

Add @SaptakS, @thelostone-mc, Scott, and Ben to the staff list in the welcomebot message
  ops/lambdas/welcomebot/app.py
Due: yapf

Add name linking to vivek's slack notification and welcomebot (#1452)
  app/dashboard/notifications.py
  ops/lambdas/welcomebot/app.py
Due: yapf

First draft of JS for the outgoing funds template
  app/dashboard/templates/funder_dashboard.html
Due: none

nav: minor changes
  app/assets/v2/css/base.css
  app/assets/v2/css/gitcoin.css
  app/retail/templates/shared/nav.html
Due: stylelint
