Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

remove unused components
  app/dashboard/templates/profiles/tribes-vue.html
Due: none

makes town square post limit higher across all town squares, not just the main one
  app/app/context.py
  app/townsquare/views.py
Due: none

fix for grants.models issue https://sentry.io/organizations/gitcoin/issues/1650147666/?project=1398424&query=is%3Aunresolved&statsPeriod=14d&utc=true
  app/grants/models.py
Due: none

adds custom fb event for fb reg
  app/assets/v2/js/pages/dashboard-hackathon.js
Due: eslint

fixes warning script
  app/enssubdomain/management/commands/warn_when_wallet_out_of_eth.py
Due: none

allows an admin to reject a kudos token request
  app/kudos/admin.py
  app/kudos/migrations/0015_tokenrequest_rejection_reason.py
  app/kudos/models.py
  app/marketing/mails.py
  app/retail/templates/admin/change_form.html
Due: none

make fix
  app/app/context.py
  app/assets/v2/js/pages/dashboard-hackathon.js
Due: eslint

hackathon flow fixes
  app/assets/v2/js/pages/dashboard-hackathon.js
Due: eslint

fix for the featured bounty container slider
  app/assets/v2/js/pages/dashboard-hackathon.js
Due: eslint

eslint fixes
  app/assets/v2/js/pages/dashboard-hackathon.js
Due: eslint

remove pulling activity when not in townsquare tab
  app/assets/v2/js/activity.js
  app/assets/v2/js/pages/profile-tribes.js
  app/dashboard/templates/profiles/tribes-vue.html
Due: eslint

fb pixel update
  app/retail/templates/shared/fbpixel.html
Due: none

fixes about page
  app/retail/templates/about.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  kudos/models/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

prevent running several instances of the same quest in parallel
  app/quests/helpers.py
  app/quests/migrations/0026_questattempt_last_question.py
  app/quests/models.py
  app/quests/quest_types/quiz_style.py
Due: none

comment
  app/quests/quest_types/quiz_style.py
Due: none

temporarily disable quests referral rewards
  app/quests/helpers.py
Due: none

Minor fixes to styles on projects and hackatho main view
  app/dashboard/templates/dashboard/hackathon/onboard.html
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/templates/profiles/tribes-vue.html
Due: none

Replace images
  app/assets/v2/images/tribes/landing/grow-tribe.png
  app/assets/v2/images/tribes/landing/grow-tribe.svg
  app/assets/v2/images/tribes/landing/host-workshop.png
  app/assets/v2/images/tribes/landing/host-workshop.svg
Due: none

automates the pulling of codefund numbers for /results page, and update export script for electric capital
  app/dashboard/management/commands/pull_codefund_numbers.py
  scripts/crontab
  scripts/debug/hackathon_export.py
Due: none

Implement new landing design (#6460)
  app/app/urls.py
  app/assets/v2/css/home.css
  app/assets/v2/css/retail/tribes_landing.css
  app/assets/v2/images/project_logos/alto-io.png
  app/assets/v2/images/project_logos/gnosis.png
  app/assets/v2/images/project_logos/mythx.png
  app/assets/v2/images/project_logos/status-im.png
  app/assets/v2/images/tribes-bg.png
  app/assets/v2/images/tribes/landing/chat.svg
  app/assets/v2/images/tribes/landing/grow-tribe.png
  app/assets/v2/images/tribes/landing/grow.svg
  app/assets/v2/images/tribes/landing/hackathon.svg
  app/assets/v2/images/tribes/landing/host-workshop.png
  app/assets/v2/images/tribes/landing/how-works-mobile.svg
  app/assets/v2/images/tribes/landing/how-works.svg
  app/assets/v2/images/tribes/landing/kudos.svg
  app/assets/v2/images/tribes/landing/new-idea.svg
  app/assets/v2/images/tribes/landing/payout.svg
  app/assets/v2/images/tribes/landing/sam.png
  app/assets/v2/images/tribes/landing/scott.png
  app/assets/v2/images/tribes/landing/stats.svg
  app/assets/v2/images/tribes/landing/suggest.svg
  app/assets/v2/images/tribes/landing/tommycox.png
  app/assets/v2/images/tribes/landing/townsquare.svg
  app/assets/v2/images/tribes/landing/workshop.svg
  app/dashboard/templates/shared/nav_auth.html
  app/dashboard/templates/shared/newsletter.html
  app/retail/templates/tribes/landing.html
  app/retail/utils.py
  app/retail/views.py
Due: stylelint

gas upper limit increase
  app/kudos/tasks.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

Replace with new images
  app/retail/templates/tribes/landing.html
Due: none

tribe landing fixes
  app/assets/v2/css/home.css
  app/retail/templates/tribes/landing.html
Due: stylelint

fix link
  app/dashboard/templates/shared/nav_auth.html
Due: none

bug fix
  app/quests/helpers.py
Due: none

funder options
  app/dashboard/templates/shared/issue_details.html
Due: none

css fixes
  app/assets/v2/css/colors.css
  app/assets/v2/js/vue-components.js
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/templates/profiles/tribes-vue.html
Due: eslint, stylelint

css: update button style
  app/dashboard/templates/profiles/tribes-vue.html
Due: none

css: manage tab fixes for tribes
  app/dashboard/templates/profiles/tribes-vue.html
Due: none

css: fix manage section
  app/dashboard/templates/profiles/tribes-vue.html
Due: none

Add dMMM token
  images/0xF453Ac18fa17b9eC9a76fbF219Ba9fe4612eDd0a.png
Due: none

Pop Over Across the site
  app/dashboard/templates/profiles/profile.html
Due: none

Add TRC-token
  erc20/0xB09283501cf158b9A7EC81751eB5B327CBD346a0.json
  images/0xB09283501cf158b9A7EC81751eB5B327CBD346a0.png
Due: none

bug: tribe follow button
  app/assets/v2/js/users.js
Due: eslint

bug: fix weird css button
  app/dashboard/templates/dashboard/index-vue.html
  app/dashboard/templates/profiles/tribes-vue.html
Due: none
