Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

GITC-503: fix flashing of load previous
  app/assets/v2/js/grants/index.js
Due: eslint

refactor
  app/assets/v2/js/grants/index.js
Due: eslint

GITC-437: Fixes tag editing on edit grant (#9569)
  app/assets/v2/js/grants/_detail-component.js
Due: eslint

GITC-463: Implements create collection flow
  app/assets/v2/js/grants/create-new-collection-modal.js
  app/grants/templates/grants/components/card.html
  app/grants/templates/grants/explorer.html
  app/grants/views.py
  app/retail/templates/shared/create_new_collection_modal.html
Due: eslint

fix: pin futures to fix travis
  requirements/test.txt
Due: none

fix: updates test_relative_bounty_url_with_malformed_issue_number to use lowercase
  app/dashboard/tests/test_dashboard_models.py
  app/townsquare/views.py
Due: none

GITC-454: Implements Grant Collection explorer redesign
  app/assets/v2/js/grants/components.js
  app/assets/v2/js/grants/index.js
  app/assets/v2/scss/grants/collection.scss
  app/dashboard/models.py
  app/grants/models/grant_collection.py
  app/grants/templates/grants/components/collection.html
  app/grants/templates/grants/explorer.html
  app/grants/templates/grants/shared/landing_grants.html
  app/townsquare/views.py
Due: eslint, stylelint

GITC-455: Implements 'view collection' flow
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/index.js
  app/grants/templates/grants/explorer.html
  app/grants/templates/grants/shared/landing_grants.html
  app/grants/views.py
  app/townsquare/views.py
Due: eslint

GITC-456: Implements grant Collections owner flow
  app/assets/v2/js/grants/components.js
  app/assets/v2/js/grants/delete-collection-modal.js
  app/assets/v2/js/grants/index.js
  app/assets/v2/scss/grants/collection.scss
  app/grants/templates/grants/components/card.html
  app/grants/templates/grants/explorer.html
  app/grants/urls.py
  app/grants/views.py
  app/retail/templates/shared/delete_collection_modal.html
Due: eslint, stylelint

fix: fixes share cart on checkout
  app/grants/templates/grants/cart-vue.html
Due: none

GITC-456: fixes mobile bugs
  app/grants/templates/grants/explorer.html
  app/retail/templates/shared/delete_collection_modal.html
Due: none

GITC-456: fixes encoding issue when passing strings from django to vue
  app/assets/v2/js/shared.js
  app/grants/templates/grants/explorer.html
Due: eslint

GITC-503: fix flashing of load previous (#9578)
  app/assets/v2/js/grants/index.js
Due: eslint

add missing reject_worker_url to email render methods
  app/retail/emails.py
Due: none

attempting to debug live site performance issues
  app/app/urls.py
  app/marketing/migrations/0029_auto_20211012_1422.py
  app/marketing/models.py
  scripts/crontab
Due: none

backend work
  app/dashboard/management/commands/sync_pending_fulfillments.py
  app/dashboard/models.py
  app/dashboard/sync/cosmos.py
  app/dashboard/utils.py
  app/dashboard/views.py
  app/grants/models/contribution.py
Due: none

fix for traces
  app/dashboard/migrations/0191_bounty_org.py
  app/dashboard/migrations/0192_auto_20211012_1509.py
  app/dashboard/models.py
Due: none

perf stuff for sitemap
  app/app/sitemaps.py
  app/app/urls.py
Due: none

marketing perf fixes
  app/marketing/migrations/0030_emailsubscriber_email_index.py
  app/marketing/migrations/0031_auto_20211012_1635.py
  app/marketing/models.py
  app/marketing/utils.py
Due: none

fix
  app/marketing/utils.py
Due: none

quest performance
  app/quests/views.py
Due: none

GITC-456: removes 'this' from 'Add to this Collection' button
  app/grants/templates/grants/components/card.html
Due: none

GITC-456: list-view fixes
  app/grants/templates/grants/components/card.html
  app/retail/templates/shared/delete_collection_modal.html
Due: none

include cosmos in bounty creation forms
  app/assets/v2/images/chains/cosmos.svg
  app/dashboard/templates/bounty/new_bounty.html
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
Due: none

set address and tx urls
  app/assets/v2/js/pages/bounty_details2.js
Due: eslint

marketing perf fixes (#9590)
  app/marketing/migrations/0030_emailsubscriber_email_index.py
  app/marketing/migrations/0031_auto_20211012_1635.py
  app/marketing/models.py
  app/marketing/utils.py
Due: none

fix: fixes share cart on checkout (#9586)
  app/grants/templates/grants/cart-vue.html
Due: none

Fix: travis build (#9582)
  app/dashboard/tests/test_dashboard_models.py
  app/townsquare/views.py
  requirements/test.txt
Due: none

master -> stable (#9593)
  app/assets/v2/js/grants/index.js
  app/dashboard/tests/test_dashboard_models.py
  app/grants/templates/grants/cart-vue.html
  app/townsquare/views.py
  requirements/test.txt
  yarn.lock
Due: eslint

add missing reject_worker_url to email render methods (#9587)
  app/retail/emails.py
Due: none

fix for traces (#9589)
  app/dashboard/migrations/0191_bounty_org.py
  app/dashboard/migrations/0192_auto_20211012_1509.py
  app/dashboard/models.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  marketing/models/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

add cypress tests for bounty creation
  cypress/integration/bounties/test_bounty_creation.js
Due: eslint

add comment about {force: true}
  cypress/integration/bounties/test_bounty_creation.js
Due: eslint

refactor
  cypress/integration/bounties/test_bounty_creation.js
Due: eslint

update grants details page
  app/dashboard/templates/bounty/details2.html
Due: none

update txt version
  app/retail/templates/emails/grants/clr_match_claim.html
  app/retail/templates/emails/grants/clr_match_claim.txt
Due: none

bug: case insenstive filter on bounty
  app/dashboard/router.py
  app/dashboard/views.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
