Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

stray migration
  app/dashboard/migrations/0083_auto_20200215_1517.py
Due: none

a few small twaeks
  app/retail/templates/shared/activity.html
  app/townsquare/views.py
Due: none

fixed an issue highlighted by eslint
  app/assets/v2/js/pages/quests.quest.code_battle_style.js
Due: eslint

fixed a minor issue highlighted by running "make tests" (related to import sorting)
  app/quests/views.py
Due: none

fix for missing postsave tip call"
  app/dashboard/models.py
  app/dashboard/tip_views.py
Due: none

exclude staff from rankings
  app/townsquare/models.py
Due: none

u can backspace
  app/assets/v2/js/status.js
Due: eslint

Fixes:https://github.com/gitcoinco/web/issues/5865
  app/assets/v2/js/grants/fund.js
  app/assets/v2/js/grants/new.js
Due: eslint

add ability to join tribe in townsquare activity feed
  app/assets/v2/js/pages/join_tribe.js
  app/retail/templates/shared/activity.html
  app/retail/views.py
Due: eslint

Add VEK token
  erc20/0x44C51525EB83825fFF5a9D9b4462a4955fD2f035.json
  images/0x44C51525EB83825fFF5a9D9b4462a4955fD2f035.png
Due: none

Add WXB token
  erc20/0x572328202d37B031B490F6659d8549e7BD712324.json
  images/0x572328202d37B031B490F6659d8549e7BD712324.png
Due: none

Fixes:https://github.com/gitcoinco/web/issues/5865 (#5988)
  app/assets/v2/js/grants/fund.js
  app/assets/v2/js/grants/new.js
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Update 0x44C51525EB83825fFF5a9D9b4462a4955fD2f035.json
  erc20/0x44C51525EB83825fFF5a9D9b4462a4955fD2f035.json
Due: none

bug: hide follow button on users own profile
  app/dashboard/templates/profiles/follow.html
Due: none

feat: update tribe landing page
  app/assets/v2/css/retail/tribes_landing.css
  app/assets/v2/images/tribes/how-it-works.svg
  app/assets/v2/images/tribes/landing/abstract-square.svg
  app/assets/v2/images/tribes/landing/chat.svg
  app/assets/v2/images/tribes/landing/grow.svg
  app/assets/v2/images/tribes/landing/hackathon.svg
  app/assets/v2/images/tribes/landing/payout.svg
  app/assets/v2/images/tribes/landing/plan-launch.svg
  app/assets/v2/images/tribes/landing/plan-lite.svg
  app/assets/v2/images/tribes/landing/purple-strip.svg
  app/assets/v2/images/tribes/landing/stats.svg
  app/assets/v2/images/tribes/landing/suggest.svg
  app/assets/v2/images/tribes/landing/townsquare.svg
  app/assets/v2/images/tribes/landing/tribe-one.svg
  app/assets/v2/images/tribes/landing/tribe-two.svg
  app/assets/v2/images/tribes/landing/viraj.png
  app/assets/v2/images/tribes/landing/workshop.svg
  app/assets/v2/images/tribes/logo-with-text.svg
  app/assets/v2/images/tribes/logo.svg
  app/retail/templates/tribes/landing.html
  app/retail/views.py
Due: stylelint

fix up slide animation
  app/assets/v2/js/shared.js
Due: eslint

add banner for url users?persona=Organization
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
Due: eslint

chore: update users directory for tribes
  app/assets/v2/css/users.css
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
Due: eslint, stylelint

hide filters not applicable for orgs
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
Due: eslint

updated text
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/users.html
Due: eslint

fix error when tribemember user was deleted
  app/dashboard/models.py
Due: none

dont show plan info if no plan
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/profiles/tab_tribe.html
Due: none

Add info for dMMM token
  erc20/0xF453Ac18fa17b9eC9a76fbF219Ba9fe4612eDd0a.json
  images/0xF453Ac18fa17b9eC9a76fbF219Ba9fe4612eDd0a.png
Due: none

new wallpaper download link
  app/retail/views.py
Due: none

fix token price
  erc20/0xF453Ac18fa17b9eC9a76fbF219Ba9fe4612eDd0a.json
Due: none

updated follower logic to both tribes + users
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
Due: eslint

default
  app/assets/v2/js/activity.js
Due: eslint

tweaks to icon + sidebar filter
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/users.html
  app/dashboard/templates/profiles/follow.html
Due: eslint

feat: use 'shift+enter' to make newline
  app/assets/v2/js/activity.js
Due: eslint

chore: update uri for users directory
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/sidebar_search.html
  app/dashboard/templates/dashboard/users.html
  app/dashboard/templates/shared/menu.html
  app/dashboard/templates/shared/organization_tooltip.html
  app/dashboard/views.py
  app/townsquare/templates/townsquare/index.html
Due: eslint

add /tribes/explore page
  app/app/urls.py
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
Due: eslint

style: fix eslint errors
  app/assets/v2/js/activity.js
Due: eslint

minor refactor tweak
  app/assets/v2/js/activity.js
  app/assets/v2/js/status.js
  app/townsquare/templates/townsquare/index.html
Due: eslint

fix: duplicate activity comments
  app/assets/v2/js/activity.js
Due: eslint

style: newline-after-var
  app/assets/v2/js/activity.js
Due: eslint

Add Sablier Tip Streaming
  app/app/urls.py
  app/assets/onepager/css/main.css
  app/assets/onepager/js/send.js
  app/assets/v2/js/abi.js
  app/dashboard/migrations/0082_tip_stream.py
  app/dashboard/migrations/0083_tip_streamid.py
  app/dashboard/models.py
  app/dashboard/templates/onepager/send2.html
  app/dashboard/tip_views.py
  app/inbox/signals.py
  app/retail/templates/emails/new_tip.html
  app/retail/templates/emails/new_tip.txt
  app/retail/templates/shared/activity.html
Due: eslint, stylelint

fixes a few sloppy pieces of code that were causing 500s
  app/dashboard/tip_views.py
  app/marketing/mails.py
Due: none

add browser notifications flow
  app/assets/v2/js/browser-notifications.js
  app/townsquare/templates/townsquare/index.html
Due: eslint

fix stylelint
  app/assets/v2/css/town_square.css
Due: stylelint

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
