Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

deploy: ae0c45b9a69a4166c56d2607667a5c08c0beb022
  sitemap.xml
  sitemap.xml.gz
Due: none

Fixing the migration process for DB when the env is created and deletion of S3 bucket in cleanup
  .github/workflows/ci-review-cleanup.yml
  .github/workflows/ci-review.yml
  infra/infra-review/index.ts
  infra/infra-review/package-lock.json
  infra/infra-review/package.json
Due: none

Pinning the ccxt version to the last version that seems to install in our docker env. Newer version requier newer setuptools
  requirements/base.txt
Due: none

No need for emptying bucket first before deleting, force is set when creating bucket
  .github/workflows/ci-review-cleanup.yml
Due: none

Enabling back the ecs service
  infra/infra-review/index.ts
Due: none

Dummy change to test workflow
  infra/infra-review/index.ts
Due: none

Keeping only 1 ec2 instace for the review env, also removing comments in the code
  .github/workflows/ci-review.yml
  infra/infra-review/index.ts
Due: none

Adding command to start migration task in the workflow
  .github/workflows/ci-review.yml
  infra/infra-review/index.ts
  infra/infra-review/package-lock.json
  infra/infra-review/package.json
Due: none

Removing references to @pulumi.command
  infra/infra-review/index.ts
Due: none

Fix: adidng env variables for build step
  .github/workflows/ci-review.yml
Due: none

Fix: moving definition of env vars
  .github/workflows/ci-review.yml
Due: none

Removing migration step for testing purposes
  .github/workflows/ci-review.yml
Due: none

Fix: adding back the step for running the migration task
  .github/workflows/ci-review.yml
Due: none

Dummy change to test workflow (#10198)
  .github/workflows/ci-review.yml
  infra/infra-review/index.ts
  infra/infra-review/package-lock.json
  infra/infra-review/package.json
Due: none

Fix: specifying "test" for ENV var
  infra/infra-review/index.ts
Due: none

Fix cleanup flow
  .github/workflows/ci-review-cleanup.yml
Due: none

sample implementation of wrapper
  app/assets/v2/js/grants/_new.js
Due: eslint

finishing up form wrapper
  app/assets/v2/js/grants/_new.js
  app/assets/v2/js/grants/grant_creation_wrapper.js
  app/assets/v2/scss/grants/grant_creation_wrapper.scss
  app/assets/v2/scss/grants/new.scss
  app/grants/templates/grants/components/grant_creation_wrapper.html
Due: eslint, stylelint

renamed component and component files, added sample implementation
  app/assets/v2/js/grants/form_wrapper.js
  app/assets/v2/scss/grants/form_wrapper.scss
  app/grants/templates/grants/_new.html
  app/grants/templates/grants/components/form_wrapper.html
Due: eslint, stylelint

removed sample implementation of form wrapper
  app/grants/templates/grants/_new.html
Due: none

linting
  app/assets/v2/js/grants/form_wrapper.js
  app/assets/v2/js/grants/progress_bar.js
  app/assets/v2/scss/grants/form_wrapper.scss
  app/assets/v2/scss/grants/new.scss
  app/grants/templates/grants/_new.html
  app/grants/templates/grants/components/form_wrapper.html
  app/grants/templates/grants/components/progress_bar.html
Due: eslint, stylelint

Pinning the ccxt version to the last version that seems to install in our docker env. Newer version requier newer setuptools (#10197)
  requirements/base.txt
Due: none

deploy: 84ff1a57d1672a24399955ffdea1d809ccfa8c60
  sitemap.xml.gz
Due: none

wip
  app/assets/v2/js/cart-ethereum-polygon.js
  app/assets/v2/js/cart-ethereum-zksync.js
  app/assets/v2/js/cart.js
  app/grants/templates/grants/cart-vue.html
  app/grants/templates/grants/cart/eth_polygon.html
  app/grants/templates/grants/cart/extension/harmony.html
Due: eslint

filter out old rounds for available matches since payout does not exist
  app/assets/v2/js/grants/matching_funds.js
Due: eslint

ready for review
  app/assets/v2/js/cart-ethereum-polygon.js
  app/assets/v2/js/cart.js
  app/grants/templates/grants/cart-vue.html
  app/grants/templates/grants/cart/eth.html
  app/grants/templates/grants/cart/eth_checkout_button.html
  app/grants/templates/grants/cart/eth_polygon.html
  app/grants/templates/grants/cart/extension/algorand.html
  app/grants/templates/grants/cart/extension/binance.html
  app/grants/templates/grants/cart/extension/harmony.html
  app/grants/templates/grants/cart/extension/kusama.html
  app/grants/templates/grants/cart/extension/polkadot.html
  app/grants/templates/grants/cart/extension/rsk.html
  app/grants/templates/grants/cart/polygon_modal.html
  app/grants/templates/grants/cart/qr/celo.html
  app/grants/templates/grants/cart/qr/zcash.html
  app/grants/templates/grants/cart/qr/zil.html
  app/grants/templates/grants/cart/zksync_modal.html
Due: eslint

skip active grants
  app/dashboard/ethelo.py
Due: none

updated matching payout conditional
  app/assets/v2/js/grants/matching_funds.js
Due: eslint

remove learn more; bump static json
  app/assets/v2/js/grants/_detail-component.js
  app/assets/v2/js/grants/_detail.js
  app/grants/templates/grants/detail/_index.html
  app/grants/templates/grants/detail/template-grant-details.html
  app/grants/tests/management/commands/test_sync_clr_match_payouts.py
  app/grants/utils.py
  app/grants/views.py
Due: eslint

filter out old rounds for available matches since payout does not exist (#10213)
  app/assets/v2/js/grants/matching_funds.js
Due: eslint

deploy: 5c5df5a6dcc0eb89aa8de20bcc45a9efa30cfa95
  sitemap.xml
  sitemap.xml.gz
Due: none

deploy: 24a3d1479346d863617a6bf4ead25917674ff219
  sitemap.xml.gz
Due: none

add undefined check
  app/assets/v2/js/grants/_detail-component.js
Due: eslint

update grant creation modal text
  app/grants/templates/grants/detail/_index.html
Due: none

update broken linnk
  app/grants/templates/grants/detail/_index.html
Due: none

hide header
  app/grants/templates/grants/detail/_index.html
Due: none

10164 build grant creation components (#10201)
  app/assets/v2/js/grants/form_wrapper.js
  app/assets/v2/js/grants/progress_bar.js
  app/assets/v2/scss/grants/form_wrapper.scss
  app/assets/v2/scss/progress_bar.scss
  app/grants/templates/grants/_new.html
  app/grants/templates/grants/components/form_wrapper.html
  app/grants/templates/grants/components/progress_bar.html
Due: eslint, stylelint

update inactive grant status banner (#10175)
  app/assets/v2/js/grants/_detail-component.js
  app/assets/v2/js/grants/_detail.js
  app/grants/templates/grants/detail/_index.html
  app/grants/templates/grants/detail/template-grant-details.html
  app/grants/utils.py
  app/grants/views.py
Due: eslint

set default
  app/grants/utils.py
Due: none

fix: spelling of insufficient
  app/assets/v2/js/grants/cart/algorand_extension.js
  app/assets/v2/js/grants/cart/rsk_extension.js
  app/assets/v2/js/lib/polkadot/utils.js
  app/assets/v2/js/pages/bounty_detail/algorand_extension.js
  app/assets/v2/js/pages/bounty_detail/rsk_extension.js
  app/assets/v2/js/pages/bounty_detail/xinfin_extension.js
  app/grants/templates/grants/cart/extension/kusama.html
  app/grants/templates/grants/cart/extension/polkadot.html
Due: eslint

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
