Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

lint fix
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

mxm token (#3870)
  erc20/0x8E766F57F7d16Ca50B4A0b90b88f6468A09b0439.json
  images/0x8E766F57F7d16Ca50B4A0b90b88f6468A09b0439.png
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/admin/index.html
  dashboard/models/index.html
  dashboard/views/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

add image to share and fixes
  app/assets/v2/images/ethhack_2019_media.png
  app/dashboard/templates/dashboard/hackathon/ethhack_2019.html
  app/dashboard/views.py
  app/retail/templates/shared/cards_pic.html
Due: none

added release-drafter
  .github/release-drafter.yml
Due: none

added test file
  x.js
Due: eslint

der
  x.js
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

Correct validation in JS form
  app/assets/v2/js/grants/newMatchingPartner.js
  app/grants/views.py
Due: eslint

fix condition for nda link
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/templates/bounty/details.html
Due: eslint

url fitx
  app/grants/urls.py
Due: none

dont show match pledge until the button is fixed
  app/grants/templates/grants/index.html
Due: none

migrations and rating in payout
  app/assets/v2/js/pages/fulfill_bounty.js
  app/assets/v2/js/pages/process_bounty.js
  app/dashboard/migrations/0026_auto_20190328_0137.py
  app/dashboard/templates/bounty/details.html
  app/dashboard/templates/bounty/fulfill.html
  app/dashboard/templates/dashboard/index.html
  app/dashboard/templates/ftux/avatar.html
  app/dashboard/templates/process_bounty.html
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/rating_modal.html
  app/dashboard/views.py
  app/grants/templates/grants/detail/index.html
  app/grants/templates/grants/faq.html
  app/grants/templates/grants/index.html
  app/grants/templates/grants/leaderboard.html
  app/inbox/templates/inbox.html
  app/kudos/templates/kudos_about.html
  app/kudos/templates/kudos_details.html
  app/kudos/templates/kudos_marketplace.html
  app/retail/templates/home/index.html
Due: eslint

clean
  app/dashboard/views.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

leaderboard update
  app/assets/v2/css/leaderboard.css
  app/retail/templates/leaderboard.html
Due: stylelint

fix fetch data and user in modal
  app/dashboard/templates/rating_modal.html
  app/dashboard/views.py
Due: none

fix required field in admin
  app/dashboard/migrations/0026_auto_20190328_1314.py
  app/dashboard/models.py
Due: none

Filter feedback based on feedbackType
  app/dashboard/views.py
Due: none

fixed leaderboard background
  app/retail/templates/leaderboard.html
Due: none

make it so that and only run once at a time
  scripts/crontab
Due: none

more kudoiii
  app/kudos/kudos.yaml
Due: none

format stuff
  app/kudos/kudos.yaml
Due: none

mint all kudos matching
  app/kudos/management/commands/mint_all_kudos.py
Due: none

remove cloudwatch
  app/app/settings.py
Due: none

rapheal update
  app/kudos/kudos.yaml
Due: none

fix joe bender kudoii gs
  app/assets/v2/images/kudos/blockbuster.svg
  app/assets/v2/images/kudos/minesweeper.svg
  app/assets/v2/images/kudos/solitare.svg
  app/assets/v2/images/kudos/technology.svg
  app/assets/v2/images/kudos/tetris.svg
  app/assets/v2/images/kudos/walkman.svg
Due: none

results page
  app/assets/v2/js/pages/results.js
Due: eslint

judge kudos was messed up
  app/assets/v2/images/kudos/judge.svg
Due: none

Retrieve bounty document for new bounty creation on transaction update
  app/dashboard/helpers.py
Due: none

fixed leaderboard styelint errors
  app/assets/v2/css/leaderboard.css
Due: stylelint

fix for sync_profile errors
  app/dashboard/management/commands/sync_profiles.py
Due: none

crontab update
  scripts/crontab
Due: none

fix for https://sentry.io/organizations/gitcoin/issues/910818101/
  app/dashboard/views.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
