Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

Add bzb token (#3529)
  erc20/0x0774a2D936e4f01E7CFA969497497484E7E059ad.json
  images/0x0774a2D936e4f01E7CFA969497497484E7E059ad.png
Due: none

Update STYLEGUIDE.md
  docs/STYLEGUIDE.md
Due: none

add LAMB token (#3510)
  erc20/0x8971f9fd7196e5cEE2C1032B50F656855af7Dd26.json
  images/0x8971f9fd7196e5cEE2C1032B50F656855af7Dd26.png
Due: none

Fix for
  app/git/utils.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

fix for https://github.com/gitcoinco/web/issues/3337
  app/marketing/management/commands/test_email.py
  app/retail/templates/emails/new_kudos.html
Due: none

Revert "fix for https://github.com/gitcoinco/web/issues/3337"
  app/marketing/management/commands/test_email.py
  app/retail/templates/emails/new_kudos.html
Due: none

fix for kudos email
  app/retail/emails.py
  app/retail/templates/emails/new_kudos.html
Due: none

new, fund, and cancel_sub working. Testing subminer on unconfirmed cancel_sub. Then do cancel_grant.
  app/assets/v2/js/grants/cancel_subscription.js
  app/assets/v2/js/grants/fund.js
  app/grants/management/commands/subminer.py
  app/grants/models.py
  app/grants/templates/grants/cancel.html
  app/grants/templates/grants/fund.html
  app/grants/views.py
  {
Due: eslint

all functionality running through first tests. need to test again and make sure nothing is displayed before it is confirmed.
  app/assets/v2/js/grants/detail.js
  app/grants/management/commands/subminer.py
  app/grants/views.py
  app/marketing/mails.py
  app/retail/emails.py
Due: eslint

add scroll
  app/assets/v2/css/featured-bounties.css
  app/dashboard/templates/dashboard/featured_bounties.html
  app/dashboard/templates/dashboard/index.html
  app/retail/templates/shared/featured_bounty_cards.html
Due: stylelint

email added, but admin view not working correctly. Adding a TODO to keep moving.
  app/app/urls.py
  app/marketing/mails.py
  app/retail/emails.py
  app/retail/templates/emails/grants/transaction_failed.html
  app/retail/templates/emails/grants/transaction_failed.txt
Due: none

carousel scroll styles
  app/assets/v2/css/dashboard.css
  app/assets/v2/css/featured-bounties.css
  app/assets/v2/css/search_bar.css
  app/dashboard/migrations/0008_auto_20190117_2144.py
  app/dashboard/templates/dashboard/featured_bounties.html
  app/dashboard/templates/shared/search_bar.html
  app/retail/templates/shared/featured_bounty_cards.html
Due: stylelint

fix for messed up /gas views
  app/retail/templates/gas.html
  app/retail/templates/gas_calculator.html
  app/retail/templates/gas_faq.html
  app/retail/templates/gas_faucet_list.html
  app/retail/templates/gas_guzzler.html
  app/retail/templates/gas_heatmap.html
  app/retail/templates/gas_history.html
  app/retail/templates/gas_intro.html
Due: none

all functionality working as expected. Except recurring tx in subminer seems to acting weird.
  app/assets/v2/js/grants/cancel_subscription.js
  app/assets/v2/js/grants/fund.js
  app/assets/v2/js/grants/new.js
  app/grants/management/commands/subminer.py
  app/grants/views.py
Due: eslint

fixes /ens
  app/dashboard/templates/ens/base.html
Due: none

add load correct data
  app/assets/v2/js/pages/change_bounty.js
  app/dashboard/views.py
Due: eslint

add Wib token (#3539)
  erc20/0x3F17Dd476faF0a4855572F0B6ed5115D9bBA22AD.json
  images/0x3F17Dd476faF0a4855572F0B6ed5115D9bBA22AD.png
Due: none

Add CIYA Token (#3541)
  erc20/0xf75fBfa2f681860B9A6D19FC3FF3D34CB322E2D6.json
  images/0xf75fBfa2f681860B9A6D19FC3FF3D34CB322E2D6.png
Due: none

Update 0x89d24A6b4CcB1B6fAA2625fE562bDD9a23260359.json
  erc20/0x89d24A6b4CcB1B6fAA2625fE562bDD9a23260359.json
Due: none

browser open flow working. now to test browser close flow.
  app/assets/v2/js/grants/cancel_subscription.js
  app/grants/templates/grants/cancel.html
  app/grants/views.py
Due: eslint

Newsletter
  app/retail/emails.py
Due: none

performance stuff for app servers
  app/app/context.py
  app/app/sitemaps.py
  app/dashboard/migrations/0007_auto_20190118_1832.py
  app/inbox/models.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

browser_close flow tested and fully functional
  app/grants/migrations/0009_auto_20190118_1835.py
  app/grants/models.py
Due: none

remoce grants_listener as functionality moved to subminer
  app/grants/management/commands/grants_listener.py
Due: none

roundup, courtesy of @vs77bb
  app/retail/emails.py
Due: none

remove logs
  app/assets/v2/js/grants/cancel_subscription.js
  app/assets/v2/js/grants/detail.js
  app/assets/v2/js/grants/fund.js
  app/assets/v2/js/grants/new.js
  app/grants/management/commands/subminer.py
  app/grants/views.py
Due: eslint

Update changes on STYLEGUIDE.md
  docs/STYLEGUIDE.md
Due: none

lint and clean up.
  app/grants/forms.py
  app/grants/management/commands/subminer.py
  app/grants/views.py
  app/marketing/mails.py
  app/retail/emails.py
Due: none

more clean up
  app/dashboard/models.py
  app/retail/emails.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
