Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

check by display_name instead of org_name
  app/dashboard/templates/dashboard/sidebar_search_hackathon.html
  app/dashboard/views.py
Due: none

check by display_name instead of org_name (#5948)
  app/dashboard/templates/dashboard/sidebar_search_hackathon.html
  app/dashboard/views.py
Due: none

verify grant contribution transactions on the blockchain
  app/grants/abi.py
  app/grants/management/commands/verify_contributions.py
  app/grants/models.py
  app/grants/utils.py
Due: none

fix migrations
  app/dashboard/migrations/0080_merge_20200205_1511.py
Due: none

remove migrations
  app/dashboard/migrations/0067_profile_automatic_backup.py
  app/dashboard/migrations/0069_merge_20191219_0645.py
Due: none

recreate migrations
  app/dashboard/migrations/0081_auto_20200205_1521.py
Due: none

migrations fixes
  app/dashboard/migrations/0081_auto_20200205_1521.py
  app/dashboard/models.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  bounty_requests/models/index.html
  dashboard/models/index.html
  dashboard/views/index.html
  economy/admin/index.html
  grants/models/index.html
  kudos/models/index.html
  marketing/models/index.html
  mk_setup/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

added missing migration
  app/grants/migrations/0040_auto_20200205_1543.py
  app/townsquare/migrations/0007_auto_20200205_1543.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

show tribe only on org
  app/dashboard/templates/profiles/tabs.html
Due: none

str -> float
  app/grants/models.py
Due: none

str -> float (#5952)
  app/grants/models.py
Due: none

fix emojis
  app/assets/v2/css/base.css
  app/assets/v2/js/status.js
  app/dashboard/templates/profiles/profile.html
  app/retail/templates/shared/footer_scripts.html
  app/retail/templates/shared/footer_scripts_lite.html
  app/townsquare/templates/townsquare/index.html
Due: eslint, stylelint

fix hackathon filter
  app/dashboard/templates/dashboard/sidebar_search_hackathon.html
Due: none

fix for grant detail if logged out
  app/grants/utils.py
Due: none

fix for totally untested line of code
  app/townsquare/views.py
Due: none

adds bot avatar to the avatar builder
  app/assets/v2/js/avatar3d.js
  app/avatar/views_3d.py
  app/dashboard/templates/ftux/avatar.html
  app/dashboard/views.py
Due: eslint

adds bot avatar to the avatar builder
  app/assets/v2/images/avatar3d/bot_avatar.svg
Due: none

make fix
  app/app/context.py
  app/app/urls.py
Due: none

make fix and cleanup
  app/assets/v2/images/avatar3d/avatar_female.svg
  app/assets/v2/js/avatar3d.js
  app/avatar/views_3d.py
Due: eslint

fixes the multiple errors associated with https://github.com/gitcoinco/web/pull/5839
  app/marketing/mails.py
  app/retail/emails.py
  app/retail/templates/emails/mention.html
  app/townsquare/views.py
Due: none

fix quest point issue
  app/quests/views.py
Due: none

Use webp format instead of gif
  app/assets/v2/js/status.js
Due: eslint

Add SOMT token
  erc20/0x2AD63474Cfeaa0352988F0d71b301F58E7cBa98a.json
  images/0x2AD63474Cfeaa0352988F0d71b301F58E7cBa98a.png
Due: none

adds the ability for alpha testers to export their earnings and spendings
  app/marketing/views.py
  app/retail/templates/settings/account.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

initial work wip
  app/assets/v2/css/town_square.css
  app/assets/v2/js/activity.js
  app/retail/templates/shared/activity.html
  app/retail/templates/shared/activity_container.html
  app/townsquare/templates/townsquare/index.html
Due: eslint, stylelint

fixed linting errors
  app/assets/v2/css/town_square.css
  app/assets/v2/js/activity.js
Due: eslint, stylelint

clickable actions
  app/townsquare/templates/townsquare/index.html
Due: none

fix merge conflict
  app/retail/templates/shared/activity.html
Due: none

added ui changes and responsive design
  app/assets/v2/css/town_square.css
  app/assets/v2/js/activity.js
  app/retail/templates/shared/activity.html
  app/retail/templates/shared/activity_container.html
  app/townsquare/templates/townsquare/index.html
Due: eslint, stylelint

added active styles to leftsidebar links
  app/assets/v2/css/town_square.css
  app/townsquare/templates/townsquare/index.html
Due: stylelint

added fix for updates
  app/retail/templates/shared/activity.html
Due: none

added search functionality
  app/assets/v2/css/town_square.css
  app/assets/v2/js/pages/townsquare.js
  app/townsquare/templates/townsquare/index.html
Due: eslint, stylelint

added search logic from old design and fixed merge conflict
  app/assets/v2/js/pages/townsquare.js
  app/townsquare/templates/townsquare/index.html
Due: eslint

add busd
  erc20/0x4Fabb145d64652a948d72533023f6E7A623C7C53.json
Due: none

add busd
  images/0x4Fabb145d64652a948d72533023f6E7A623C7C53.png
Due: none
