Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

fix save job data on onboard and settings
  app/app/urls.py
Due: none

Fix web3 connectivity bug
  app/app/management/commands/feeSwapper.py
Due: none

Formatting changes
  app/app/management/commands/feeSwapper.py
Due: none

injects web3 0.20.6 if no web3 is present so that opera will work
  app/assets/v2/js/web3.js
  app/grants/templates/grants/cancel.html
  app/grants/templates/grants/detail/index.html
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/index.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/profile/index.html
  app/retail/templates/shared/footer_scripts.html
Due: eslint

Add feeSwapper to crontab
  scripts/crontab
Due: none

Infer testnet from provider instead of test arg
  app/app/management/commands/feeSwapper.py
Due: none

Remove test arg
  app/app/management/commands/tests/test_feeSwapper.py
Due: none

fix for the airdrop class which was missing before
  app/kudos/views.py
Due: none

adds the ability for anyone to send a kudos via an airdrop link
  app/assets/v2/css/kudos/styles.css
  app/assets/v2/js/pages/kudos_send.js
  app/assets/v2/js/pages/process_bounty.js
  app/kudos/admin.py
  app/kudos/models.py
  app/kudos/templates/transaction/send.html
  app/kudos/views.py
Due: eslint, stylelint

make fix
  app/assets/v2/js/pages/kudos_send.js
  app/kudos/views.py
Due: eslint

grant stats to make things more legit
  app/assets/v2/css/grants/grant.css
  app/grants/templates/grants/index.html
  app/grants/views.py
Due: stylelint

add missing styles
  app/assets/v2/css/users.css
  app/assets/v2/js/users.js
  app/dashboard/templates/dashboard/users.html
Due: eslint, stylelint

modify tusd logo
  images/0x8dd5fbCe2F6a956C3022bA3663759011Dd51e73E.png
Due: none

addresses review comments
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/bounty/increase.html
  app/dashboard/templates/bounty/new.html
Due: eslint

grants/index: clean up landing page
  app/assets/v2/css/grants/grant.css
  app/grants/templates/grants/index.html
Due: stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Initial commit of create-react-app
  frontend/.gitignore
  frontend/config/env.js
  frontend/config/jest/cssTransform.js
  frontend/config/jest/fileTransform.js
  frontend/config/modules.js
  frontend/config/paths.js
  frontend/config/webpack.config.js
  frontend/config/webpackDevServer.config.js
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/scripts/build.js
  frontend/scripts/start.js
  frontend/scripts/test.js
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/serviceWorker.js
  frontend/yarn.lock
Due: eslint, stylelint

Added webpack-bundle-tracker
  frontend/config/paths.js
  frontend/config/webpack.config.js
  frontend/package.json
  frontend/yarn.lock
Due: eslint

Add organization match card game
  app/app/urls.py
  app/assets/v2/js/pages/matches.js
  app/dashboard/migrations/0032_profile_matches_m2m_fields.py
  app/dashboard/models.py
  app/retail/templates/matches.html
  app/retail/templates/matches_card.html
  app/retail/templates/matches_history.html
  app/retail/templates/shared/nav.html
  app/retail/utils.py
  app/retail/views.py
Due: eslint

Ayb token (#4003)
  erc20/0x922B9C95EF7E6f8eF0A843e4A75B2365C656593c.json
  images/0x922B9C95EF7E6f8eF0A843e4A75B2365C656593c.png
Due: none

BIZ token (#3985)
  erc20/0x399f9A95305114efAcB91d1d6C02CBe234dD36aF.json
  images/0x399f9A95305114efAcB91d1d6C02CBe234dD36aF.png
Due: none

add SuperPay Token (#4022)
  erc20/0x28a3FC44E4f0E39A5350d8Eb991773914075510e.json
  images/0x28a3FC44E4f0E39A5350d8Eb991773914075510e.png
Due: none

Delete 0x8dd5fbce2f6a956c3022ba3663759011dd51e73e.json
  erc20/0x8dd5fbce2f6a956c3022ba3663759011dd51e73e.json
Due: none

add bzc token (#4063)
  erc20/0xE7cEfbE857659690fd0d288752A81C7238A00756.json
  images/0xE7cEfbE857659690fd0d288752A81C7238A00756.png
Due: none

Add files via upload (#4064)
  images/0xA352f6908d398EB2A54E4B7A1CA170d3d63C0C01.png
Due: none

MGC 的资料提交申请 (#4065)
  erc20/0x174BfA6600Bf90C885c7c01C7031389ed1461Ab9.json
  images/0x174BfA6600Bf90C885c7c01C7031389ed1461Ab9.png
Due: none

修改合约 (#4017)
  erc20/0xC11326aa6bd9CEa8b51F34097ba32c4e5D8aa8D5.json
  erc20/0xb1C96f736181Fc1DC89577f752815f96F6AC92c5.json
  images/0xb1C96f736181Fc1DC89577f752815f96F6AC92c5.png
Due: none

Add MIX token
  erc20/0x5d285F735998F36631F678FF41fb56A10A4d0429.json
  images/0x5d285F735998F36631F678FF41fb56A10A4d0429.jpg
Due: none

remove unnused css
  app/assets/v2/css/users.css
Due: stylelint

trim space
  app/dashboard/templates/dashboard/users.html
Due: none

cleanup grant/fund
  app/grants/templates/grants/fund.html
Due: none

nav
  app/retail/templates/shared/top_nav.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

Makes the nav more sane by segmenting the broader gitcoin nav from bounties
  app/assets/v2/css/results.css
  app/retail/templates/about.html
  app/retail/templates/base.html
  app/retail/templates/home/nav.html
  app/retail/templates/jobs.html
  app/retail/templates/mission.html
  app/retail/templates/not_a_token.html
  app/retail/templates/products.html
  app/retail/templates/results.html
  app/retail/templates/vision.html
  app/retail/views.py
Due: stylelint

raw id fields on activity
  app/dashboard/admin.py
Due: none

codefund numberes
  app/retail/utils.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
