Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

Update 0028_auto_20201109_2213.py (#8239)
  app/quests/migrations/0028_auto_20201109_2213.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Add a font style for "big" * a slightly bigger font for inline use
  app/assets/landingpage/app.css
  app/assets/landingpage/section_intro.scss
Due: stylelint

Remove signup button & reduce height of the townsquare buildings
  app/retail/templates/home/index2020.html
Due: none

Fix twitter icon in WOL
  app/retail/templates/home/index2020.html
Due: none

Show hackathon guide
  CHANGELOG.md
  app/assets/v2/images/hackathon/onboarding_v2/avatar.svg
  app/assets/v2/images/hackathon/onboarding_v2/icon-01-pick.svg
  app/assets/v2/images/hackathon/onboarding_v2/icon-02-register.svg
  app/assets/v2/images/hackathon/onboarding_v2/icon-03-choose.svg
  app/assets/v2/images/hackathon/onboarding_v2/icon-04-meet.svg
  app/assets/v2/images/hackathon/onboarding_v2/icon-05-submit.svg
  app/dashboard/templates/dashboard/hackathon/hackathons.html
  app/dashboard/templates/dashboard/hackathon/onboarding_v2.html
Due: none

triage work
  app/dashboard/templates/dashboard/hackathon/hackathons.html
  app/dashboard/templates/shared/menu.html
  app/dashboard/templates/shared/nav_auth.html
  app/retail/templates/tribes/landing.html
  app/retail/views.py
Due: none

Add PRQ token
  erc20/0x362bc847A3a9637d3af6624EeC853618a43ed7D2.json
  images/0x362bc847A3a9637d3af6624EeC853618a43ed7D2.png
Due: none

feat: enable grant owner opt out of clr matching
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/_detail-component.js
  app/assets/v2/js/grants/_new.js
  app/grants/admin.py
  app/grants/clr.py
  app/grants/management/commands/round8_payouts.py
  app/grants/models.py
  app/grants/templates/grants/_new.html
  app/grants/templates/grants/bulk_add_to_cart.html
  app/grants/templates/grants/cart/eth.html
  app/grants/templates/grants/cart/qr/celo.html
  app/grants/templates/grants/cart/qr/zcash.html
  app/grants/templates/grants/cart/qr/zil.html
  app/grants/templates/grants/components/card.html
  app/grants/templates/grants/components/hidden_inputs.html
  app/grants/templates/grants/detail/funding.html
  app/grants/templates/grants/detail/template-grant-details.html
  app/grants/templates/grants/shared/hidden_inputs.html
  app/grants/views.py
  app/marketing/management/commands/post_data.py
Due: eslint

Corrects bulkTransferCoupon.quest_pk insertion
  app/quests/helpers.py
Due: none

Adds quest_pk to record_award_helper's bulkTransferCoupon insertion
  app/quests/helpers.py
Due: none

choice loop
  app/quadraticlands/helpers.py
  app/quadraticlands/templates/quadraticlands/proposal/index.html
Due: none

fixes leaerboard " gs
  app/marketing/management/commands/assemble_leaderboards.py
Due: none

another small leaderboard fix
  app/marketing/management/commands/assemble_leaderboards.py
Due: none

web3 improvements - adding dynamic addys, gtc abi, get votes sample, removing hardcoded addys
  app/assets/v2/js/abi.js
  app/quadraticlands/templates/quadraticlands/components/wallet-provider.html
  app/quadraticlands/templates/quadraticlands/mission/receive/claim.html
  app/quadraticlands/templates/quadraticlands/web3.html
Due: eslint

new migration
  app/grants/migrations/0108_grant_opt_out_clr.py
Due: none

Add PROT token
  erc20/0x734bDFC240F03dF761FF012fA78Eb2e2e07515E9.json
  images/0x734bDFC240F03dF761FF012fA78Eb2e2e07515E9.png
Due: none

Create groups for ptokens (#7944)
  app/dashboard/templates/board/index.html
  app/dashboard/templates/board/ptokens.html
  app/dashboard/views.py
  app/ptokens/management/commands/setup_ptoken_launch.py
  app/ptokens/views.py
Due: none

set default value to 0x0
  app/grants/migrations/0108_auto_20210114_0810.py
  app/grants/models.py
Due: none

Add accordion text
  app/dashboard/templates/dashboard/hackathon/onboarding_v2.html
Due: none

fix lint issues
  app/assets/v2/js/cart.js
  app/assets/v2/js/vue-filters.js
Due: eslint

use only yarn.lock
  package-lock.json
  yarn.lock
Due: none

Undo changelog
  CHANGELOG.md
Due: none

copy changes to landing
  app/retail/templates/home/index2020.html
Due: none

copy changes
  app/retail/templates/home/index2020.html
Due: none

Implement responsiveness
  app/assets/v2/css/onboarding_v2.css
  app/dashboard/templates/dashboard/hackathon/hackathons.html
  app/dashboard/templates/dashboard/hackathon/onboarding_v2.html
Due: stylelint

governance
  app/assets/quadraticlands/config.codekit3
  app/assets/quadraticlands/css/app.css
  app/assets/quadraticlands/css/app.css.map
  app/assets/quadraticlands/scss/app.scss
  app/assets/quadraticlands/scss/dashboard/content-delegation.scss
  app/assets/quadraticlands/scss/dashboard/content-governance.scss
  app/assets/quadraticlands/scss/dashboard/section_dashboard.scss
  app/quadraticlands/templates/quadraticlands/dashboard/delegation.html
  app/quadraticlands/templates/quadraticlands/dashboard/governance.html
  app/quadraticlands/templates/quadraticlands/dashboard/index.html
  app/quadraticlands/templates/quadraticlands/dashboard/wallet.html
  app/quadraticlands/urls.py
Due: stylelint

Limit cart to 40 items
  app/assets/v2/js/cart-ethereum-zksync.js
  app/assets/v2/js/cart.js
  app/grants/templates/grants/cart/eth.html
Due: eslint

fix edit grant flow
  app/assets/v2/js/grants/_detail-component.js
  app/assets/v2/js/grants/_new.js
  app/grants/templates/grants/detail/template-grant-details.html
  app/grants/views.py
Due: eslint

fix new grant flow
  app/grants/templates/grants/_new.html
Due: none

Finish up responsiveness and hidden persistence
  app/assets/v2/css/onboarding_v2.css
  app/dashboard/templates/dashboard/hackathon/onboarding_v2.html
Due: stylelint

Add to hackahton detail page
  app/dashboard/templates/dashboard/index-vue.html
Due: none

getCurrent and getPriorVotes
  app/quadraticlands/templates/quadraticlands/web3.html
Due: none

quick commit test
  app/quadraticlands/helpers.py
Due: none

adding full proposals page
  app/quadraticlands/helpers.py
  app/quadraticlands/templates/quadraticlands/proposal.html
  app/quadraticlands/urls.py
  app/quadraticlands/views.py
Due: none

proposal interface
  app/assets/quadraticlands/css/app.css
  app/assets/quadraticlands/css/app.css.map
  app/assets/quadraticlands/scss/quest/quest-vote.scss
  app/assets/quadraticlands/scss/section_footer.scss
  app/quadraticlands/migrations/0004_choice_proposal_question.py
  app/quadraticlands/templates/quadraticlands/proposal/index.html
  app/quadraticlands/templates/quadraticlands/proposal/vote.html
  app/quadraticlands/templates/quadraticlands/proposal/vote_item.html
  app/quadraticlands/views.py
Due: stylelint

Changes to the Landing page (#8176)
  app/assets/landingpage/app.css
  app/assets/landingpage/section_intro.scss
  app/assets/landingpage/section_whatisgitcoin.scss
  app/assets/v2/images/helmet-white.svg
  app/retail/templates/home/index2020.html
Due: stylelint

Limit cart to 40 items (#8234)
  app/assets/v2/js/cart-ethereum-zksync.js
  app/assets/v2/js/cart.js
  app/grants/templates/grants/cart/eth.html
Due: eslint

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
