Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

gameboard
  app/assets/v2/css/quests.css
  app/quests/templates/quests/quest.html
  app/quests/templates/quests/shared/alts_to_characters.html
  app/quests/views.py
Due: stylelint

audio + lock and unlock quest"
  app/assets/v2/audio/boss.mid
  app/assets/v2/audio/boss2.mid
  app/assets/v2/audio/bossmusic.mid
  app/assets/v2/audio/hero.mid
  app/assets/v2/css/quests.css
  app/assets/v2/js/pages/quests.js
  app/quests/admin.py
  app/quests/migrations/0003_auto_20190923_0040.py
  app/quests/models.py
  app/quests/templates/quests/index.html
  app/quests/templates/quests/quest.html
  app/quests/views.py
Due: eslint, stylelint

leaderboard
  app/assets/v2/css/quests.css
  app/quests/templates/quests/index.html
  app/quests/views.py
Due: stylelint

PAXG-token
  erc20/0x45804880De22913dAFE09f4980848ECE6EcbAf78.json
  images/0x45804880De22913dAFE09f4980848ECE6EcbAf78.png
Due: none

it works
  app/assets/v2/css/quests.css
  app/assets/v2/images/quests/enemies/helpful_guide.svg
  app/assets/v2/js/pages/quests.helpers.js
  app/assets/v2/js/pages/quests.js
  app/quests/migrations/0004_questattempt_state.py
  app/quests/models.py
  app/quests/templates/quests/base.html
  app/quests/templates/quests/index.html
  app/quests/templates/quests/quest.html
  app/quests/templates/quests/shared/alts_to_characters.html
  app/quests/views.py
Due: eslint, stylelint

make fix
  app/app/urls.py
  app/assets/v2/css/quests.css
  app/assets/v2/js/pages/quests.helpers.js
  app/assets/v2/js/pages/quests.js
  app/quests/admin.py
  app/quests/models.py
  app/quests/views.py
Due: eslint, stylelint

Add hccs token
  eos-token/HCC@hurricaneccc.json
Due: none

add english msg
  erc20/0x2ffeAfF7F85798FC98F9Ea94e1121aA59a900525.json
Due: none

Create 0x781912BF2dc1f440820Cc20FA9bd6ED880Ccd2bd.json
  erc20/0x781912BF2dc1f440820Cc20FA9bd6ED880Ccd2bd.json
Due: none

Add files via upload
  images/0x781912BF2dc1f440820Cc20FA9bd6ED880Ccd2bd.png
Due: none

update checksum
  erc20/0xc6532592c435f0e67aFa664C5e14FB4C5efa3b41.json
  images/0xc6532592c435f0e67aFa664C5e14FB4C5efa3b41.png
Due: none

update emial and initial_price
  erc20/0xc6532592c435f0e67aFa664C5e14FB4C5efa3b41.json
Due: none

make fix
  app/assets/v2/css/quests.css
Due: stylelint

Add DFNC token
  erc20/0xed5D96E6Ac926ec4A3024E564ECa58852642D357.json
  images/0xed5D96E6Ac926ec4A3024E564ECa58852642D357.png
Due: none

messed up layout
  app/quests/templates/quests/index.html
Due: none

quests
  app/assets/v2/css/quests.css
  app/assets/v2/js/pages/quests.helpers.js
  app/assets/v2/js/pages/quests.js
  app/quests/models.py
  app/quests/templates/quests/base.html
  app/quests/templates/quests/index.html
  app/quests/views.py
Due: eslint, stylelint

squashed quests commit
  app/app/settings.py
  app/app/urls.py
  app/assets/v2/audio/boss.mid
  app/assets/v2/audio/boss2.mid
  app/assets/v2/audio/bossmusic.mid
  app/assets/v2/audio/hero.mid
  app/assets/v2/audio/secret-discovery-sound.wav
  app/assets/v2/css/quests.css
  app/assets/v2/images/quests/back_city.png
  app/assets/v2/images/quests/camping.png
  app/assets/v2/images/quests/city.png
  app/assets/v2/images/quests/enemies/enlightenment.svg
  app/assets/v2/images/quests/enemies/genie.svg
  app/assets/v2/images/quests/enemies/helpful_guide.svg
  app/assets/v2/images/quests/enemies/jedi.svg
  app/assets/v2/images/quests/enemies/logic_bot.svg
  app/assets/v2/images/quests/enemies/narwhal.svg
  app/assets/v2/images/quests/enemies/v.svg
  app/assets/v2/images/quests/night.png
  app/assets/v2/js/pages/quests.helpers.js
  app/assets/v2/js/pages/quests.js
  app/dashboard/models.py
  app/economy/models.py
  app/quests/__init__.py
  app/quests/admin.py
  app/quests/apps.py
  app/quests/migrations/0001_initial.py
  app/quests/migrations/0002_auto_20190922_1502.py
  app/quests/migrations/0003_auto_20190923_0040.py
  app/quests/migrations/0004_questattempt_state.py
  app/quests/migrations/__init__.py
  app/quests/models.py
  app/quests/templates/quests/base.html
  app/quests/templates/quests/index.html
  app/quests/templates/quests/quest.html
  app/quests/templates/quests/shared/alts_to_characters.html
  app/quests/tests.py
  app/quests/views.py
Due: eslint, stylelint

HTML LINTING
  app/grants/templates/grants/card/clr_estimate_prev.html
  app/grants/templates/grants/clr_estimate.html
Due: none

squashed quests commit
  app/app/settings.py
  app/app/urls.py
  app/assets/v2/audio/boss.mid
  app/assets/v2/audio/boss2.mid
  app/assets/v2/audio/bossmusic.mid
  app/assets/v2/audio/hero.mid
  app/assets/v2/audio/secret-discovery-sound.wav
  app/assets/v2/css/quests.css
  app/assets/v2/images/quests/back_city.png
  app/assets/v2/images/quests/camping.png
  app/assets/v2/images/quests/city.png
  app/assets/v2/images/quests/enemies/enlightenment.svg
  app/assets/v2/images/quests/enemies/genie.svg
  app/assets/v2/images/quests/enemies/helpful_guide.svg
  app/assets/v2/images/quests/enemies/jedi.svg
  app/assets/v2/images/quests/enemies/logic_bot.svg
  app/assets/v2/images/quests/enemies/narwhal.svg
  app/assets/v2/images/quests/enemies/v.svg
  app/assets/v2/images/quests/night.png
  app/assets/v2/js/pages/quests.helpers.js
  app/assets/v2/js/pages/quests.js
  app/economy/models.py
  app/quests/__init__.py
  app/quests/admin.py
  app/quests/apps.py
  app/quests/migrations/0001_initial.py
  app/quests/migrations/0002_auto_20190922_1502.py
  app/quests/migrations/0003_auto_20190923_0040.py
  app/quests/migrations/0004_questattempt_state.py
  app/quests/migrations/__init__.py
  app/quests/models.py
  app/quests/templates/quests/base.html
  app/quests/templates/quests/index.html
  app/quests/templates/quests/quest.html
  app/quests/templates/quests/shared/alts_to_characters.html
  app/quests/tests.py
  app/quests/views.py
Due: eslint, stylelint

grants clr estimates sort by https://github.com/gitcoinco/web/pull/5233
  app/assets/v2/css/grants/card.css
  app/assets/v2/css/grants/grant.css
  app/grants/clr.py
  app/grants/templates/grants/card/clr_estimate.html
  app/grants/templates/grants/card/clr_estimate_prev.html
  app/grants/templates/grants/card/front.html
  app/grants/templates/grants/clr_estimate.html
  app/grants/templates/grants/detail/info.html
  app/grants/templates/grants/index.html
  app/grants/views.py
Due: stylelint

travis fix
  app/dashboard/models.py
Due: none

funder scorecard fix
  app/dashboard/templates/profiles/scorecard_funder.html
Due: none

fix for https://sentry.io/organizations/gitcoin/issues/1238978623/?project=1398424&query=is%3Aunresolved&statsPeriod=14d&utc=true
  app/app/context.py
Due: none

fix for https://sentry.io/organizations/gitcoin/issues/1238978576
  app/dashboard/models.py
Due: none

fix for https://sentry.io/organizations/gitcoin/issues/1069476142/
  app/assets/v2/js/pages/wallet_estimate.js
Due: eslint

fix for https://sentry.io/organizations/gitcoin/issues/1239204697/?project=1398424&query=is%3Aunresolved&statsPeriod=14d&utc=true
  app/grants/templates/grants/detail/index.html
Due: none

fix empty star styles
  app/assets/v2/css/rating.css
  app/dashboard/templates/profiles/tab_ratings.html
  app/dashboard/templates/shared/feedback.html
Due: stylelint

rounding issue on activity feed
  app/grants/views.py
Due: none

Build UI for surgical email unsubscribe
  app/app/urls.py
  app/assets/v2/css/unsubscribe_email.css
  app/assets/v2/images/emails/email-subscribe-logo.png
  app/assets/v2/images/emails/email-unsubscribe-background.png
  app/assets/v2/images/emails/email-unsubscribe-mail.png
  app/assets/v2/images/emails/mail-bot.png
  app/dashboard/templates/email_unsubscribed.html
  app/dashboard/views.py
Due: stylelint

Move email_unsubscribed to marketing
  app/app/urls.py
  app/dashboard/templates/email_unsubscribed.html
  app/dashboard/views.py
Due: none

Fix lint errors
  app/assets/v2/css/unsubscribe_email.css
  app/dashboard/templates/email_unsubscribed.html
Due: stylelint

Remove preferences link to force users to only unsubscribe from the current email type
  app/retail/templates/emails/template.html
Due: none

Update email_settings() to handle GET requests
  app/marketing/views.py
  app/retail/emails.py
  app/retail/templates/email_unsubscribed.html
  app/retail/templates/emails/template.html
Due: none

Update changes
  app/marketing/views.py
Due: none

Remove duplicates
  app/app/urls.py
  app/retail/emails.py
Due: none

Update email_type
  app/retail/emails.py
  app/retail/templates/emails/template.html
Due: none

Fix lint
  app/marketing/views.py
Due: none

Replace background .png with .svg to show some love for optimization
  app/assets/v2/css/unsubscribe_email.css
  app/assets/v2/images/emails/email-unsubscribe-background.png
  app/assets/v2/images/emails/email-unsubscribe-background.svg
Due: stylelint
