Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

fixes townsquare activity links
  app/townsquare/views.py
Due: none

Buidl UI for search feature
  app/assets/v2/css/search.css
  app/assets/v2/js/search.js
  app/dashboard/templates/shared/labs_nav.html
  app/dashboard/templates/shared/nav_auth.html
  app/dashboard/templates/shared/onepager_auth.html
  app/dashboard/templates/shared/search.html
  app/grants/templates/grants/nav.html
  app/kudos/templates/shared/kudos_nav.html
  app/kudos/templates/transaction/kudos_auth.html
  app/quests/templates/quests/nav.html
  app/retail/templates/home/nav.html
  app/retail/templates/shared/head.html
  app/retail/templates/shared/nav.html
  app/retail/templates/shared/nav_hackathons.html
  app/search/migrations/0001_initial.py
  app/search/migrations/__init__.py
Due: eslint, stylelint

Can't trust the delete button activity on Dashboard
  app/assets/v2/js/activity.js
Due: eslint

reverse comment thread order
  app/townsquare/views.py
Due: none

Add FK token
  erc20/0xF6Fe745e5647298639072D942E0eb4f2E3930ECB.json
  images/0xF6Fe745e5647298639072D942E0eb4f2E3930ECB.png
Due: none

Add status upload file feature
  app/assets/v2/css/profile.css
  app/assets/v2/js/status.js
  app/dashboard/migrations/0071_activity_file.py
  app/dashboard/models.py
  app/dashboard/templates/profiles/status_box.html
  app/retail/views.py
Due: eslint, stylelint

Update migrations
  app/dashboard/migrations/0075_merge_20200119_1050.py
  app/dashboard/migrations/0076_auto_20200119_1051.py
Due: none

Show dropdown when user is about to tag a person using @
  app/assets/v2/js/status.js
  app/dashboard/templates/profiles/status_box.html
Due: eslint

town square is now smart enuf to remember when tab u were on + take u back to it
  app/townsquare/views.py
Due: none

Liscense -> License fix
  app/retail/templates/newkudos.html
Due: none

liscense -> license
  app/locale/zh_Hans/LC_MESSAGES/django.po
Due: none

liscense -> license
  app/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

liscense -> license
  app/locale/pl/LC_MESSAGES/django.po
Due: none

Typo fixes on "liscense" (#5841)
  app/locale/pl/LC_MESSAGES/django.po
  app/locale/zh_Hans/LC_MESSAGES/django.po
  app/locale/zh_Hant/LC_MESSAGES/django.po
  app/retail/templates/newkudos.html
Due: none

activity update
  app/retail/templates/shared/activity.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

just 1 thing
  app/townsquare/admin.py
Due: none

Add update session endpoint and client
  app/app/urls.py
  app/assets/v2/js/mentor.js
  app/mentor/templates/active_session.html
  app/mentor/views.py
Due: eslint

Add waiting page and update mentee option
  app/assets/v2/js/mentor.js
  app/mentor/templates/waiting_session.html
  app/mentor/views.py
Due: eslint

Add close session endpoint and function
  app/app/urls.py
  app/assets/v2/js/mentor.js
  app/mentor/views.py
Due: eslint

sybil prevention stuff
  app/dashboard/utils.py
Due: none

add erase user data on different selection actions
  app/kudos/templates/transaction/send.html
Due: none

Fix changes
  app/dashboard/templates/shared/nav_auth.html
  app/dashboard/templates/shared/search.html
Due: none

Surfaced grant type in form to drive category data
  app/assets/v2/js/grants/detail.js
  app/assets/v2/js/grants/new.js
  app/assets/v2/js/grants/shared.js
  app/grants/templates/grants/new.html
Due: eslint

Fix changes
  app/assets/v2/css/profile.css
  app/assets/v2/css/status.css
  app/assets/v2/js/status.js
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/profiles/status_box.html
  app/townsquare/templates/townsquare/index.html
Due: eslint, stylelint

add datadog django integration (ddtrace)
  app/app/settings.py
  requirements/base.txt
Due: none

phantom fund anti sybill
  app/grants/admin.py
Due: none

just added a github created + ip address to the admin view for phantom funds, contributions, + offer actions… to prevent/monitor sybill attacks
  app/grants/admin.py
  app/townsquare/admin.py
Due: none

python -> python3
  bin/docker-command.bash
Due: none

fixes CLR script
  scripts/crontab
Due: none

fix for bounty load speed
  app/dashboard/migrations/0078_profile_as_representation.py
  app/dashboard/models.py
Due: none

refactor
  app/assets/v2/js/base.js
  app/retail/templates/shared/footer.html
Due: eslint

Send notification email to tagged users on posts
  app/marketing/mails.py
  app/retail/emails.py
  app/retail/templates/emails/mention.html
  app/retail/templates/emails/mention.txt
  app/retail/views.py
Due: none

Add preference to receive notifications for user mentions
  app/marketing/mails.py
  app/retail/emails.py
Due: none

fix fixture loading via python -> python3 (#5853)
  bin/docker-command.bash
Due: none

feed img fix
  app/retail/templates/shared/cards.html
Due: none

remove fulfiller email references
  app/dashboard/router.py
  app/dashboard/templates/bounty/details.html
Due: none

remove reference from js
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

Add vatiable to know the current user is the mentor
  app/mentor/templates/active_session.html
  app/mentor/views.py
Due: none
