Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

Update featured-bounties.css
  app/assets/v2/css/featured-bounties.css
Due: stylelint

fix stylelint
  app/assets/v2/css/featured-bounties.css
Due: stylelint

add crowdfunding alert
  app/dashboard/templates/bulk_payout_bounty.html
  app/dashboard/templates/payout_bounty.html
Due: none

feat: update funder guide
  app/assets/v2/css/quickstart.css
  app/assets/v2/images/quickstart-icons/acceptance-icon.svg
  app/assets/v2/images/quickstart-icons/access-icon.svg
  app/assets/v2/images/quickstart-icons/architecture-icon.svg
  app/assets/v2/images/quickstart-icons/awarness-icon.svg
  app/assets/v2/images/quickstart-icons/bug-icon.svg
  app/assets/v2/images/quickstart-icons/design-icon.svg
  app/assets/v2/images/quickstart-icons/doc-icon.svg
  app/assets/v2/images/quickstart-icons/documentation-icon.svg
  app/assets/v2/images/quickstart-icons/feature-icon.svg
  app/assets/v2/images/quickstart-icons/iteration-icon.svg
  app/assets/v2/images/quickstart-icons/list-icon.svg
  app/assets/v2/images/quickstart-icons/newproduct-icon.svg
  app/assets/v2/images/quickstart-icons/other-icon.svg
  app/assets/v2/images/quickstart-icons/performance-icon.svg
  app/assets/v2/images/quickstart-icons/price-icon.svg
  app/assets/v2/images/quickstart-icons/review-icon.svg
  app/assets/v2/images/quickstart-icons/security-icon.svg
  app/assets/v2/images/quickstart-icons/startsmall-icon.svg
  app/assets/v2/images/quickstart-icons/testing-icon.svg
  app/assets/v2/images/quickstart-icons/timeframe-icon.svg
  app/assets/v2/images/quickstart-icons/upgrade-icon.svg
  app/dashboard/context/quickstart.py
  app/dashboard/templates/quickstart.html
  app/dashboard/views.py
Due: stylelint

chore: cleanup contribute + payout page
  app/assets/v2/css/base.css
  app/assets/v2/images/bounty/share.svg
  app/assets/v2/images/hackathon/bot.svg
  app/dashboard/templates/contribute_bounty.html
  app/dashboard/templates/payout_bounty.html
Due: stylelint

Add carousel arrows (#4977)
  app/assets/v2/css/featured-bounties.css
  app/assets/v2/js/pages/dashboard.js
  app/dashboard/templates/dashboard/featured_bounties.html
Due: eslint, stylelint

Job status tab bugs (#4949)
  app/dashboard/views.py
Due: none

change lenght to 7
  app/dashboard/migrations/0045_auto_20190729_1900.py
  app/dashboard/models.py
Due: none

replace showdown with highlight + markdown
  .eslintignore
  .stylelintignore
  app/assets/v2/css/bounty.css
  app/assets/v2/css/highlight_github.css
  app/assets/v2/js/lib/highlight.js
  app/assets/v2/js/lib/markdown-it.js
  app/assets/v2/js/lib/showdown.js
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/templates/bounty/details.html
Due: eslint, stylelint

added review comments
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

purge: remove grant ownership feature (#4878)
  app/app/urls.py
  app/assets/v2/css/grants/detail.css
  app/assets/v2/js/grants/detail.js
  app/grants/admin.py
  app/grants/migrations/0027_remove_grant_request_ownership_change.py
  app/grants/models.py
  app/grants/templates/grants/detail/index.html
  app/grants/templates/grants/detail/info.html
  app/grants/views.py
  app/marketing/mails.py
  app/retail/emails.py
  app/retail/templates/emails/grants/change_owner_accept.html
  app/retail/templates/emails/grants/change_owner_accept.txt
  app/retail/templates/emails/grants/change_owner_notify.html
  app/retail/templates/emails/grants/change_owner_notify.txt
  app/retail/templates/emails/grants/change_owner_reject.html
  app/retail/templates/emails/grants/change_owner_reject.txt
  app/retail/templates/emails/grants/change_owner_request.html
  app/retail/templates/emails/grants/change_owner_request.txt
Due: eslint, stylelint

alter and copy context data properly
  app/dashboard/views.py
Due: none

feat: update funder guide + add alert for advanced payout (#4963)
  app/assets/v2/css/base.css
  app/assets/v2/css/quickstart.css
  app/assets/v2/images/bounty/share.svg
  app/assets/v2/images/hackathon/bot.svg
  app/assets/v2/images/quickstart-icons/acceptance-icon.svg
  app/assets/v2/images/quickstart-icons/access-icon.svg
  app/assets/v2/images/quickstart-icons/architecture-icon.svg
  app/assets/v2/images/quickstart-icons/awarness-icon.svg
  app/assets/v2/images/quickstart-icons/bug-icon.svg
  app/assets/v2/images/quickstart-icons/design-icon.svg
  app/assets/v2/images/quickstart-icons/doc-icon.svg
  app/assets/v2/images/quickstart-icons/documentation-icon.svg
  app/assets/v2/images/quickstart-icons/feature-icon.svg
  app/assets/v2/images/quickstart-icons/iteration-icon.svg
  app/assets/v2/images/quickstart-icons/list-icon.svg
  app/assets/v2/images/quickstart-icons/newproduct-icon.svg
  app/assets/v2/images/quickstart-icons/other-icon.svg
  app/assets/v2/images/quickstart-icons/performance-icon.svg
  app/assets/v2/images/quickstart-icons/price-icon.svg
  app/assets/v2/images/quickstart-icons/review-icon.svg
  app/assets/v2/images/quickstart-icons/security-icon.svg
  app/assets/v2/images/quickstart-icons/startsmall-icon.svg
  app/assets/v2/images/quickstart-icons/testing-icon.svg
  app/assets/v2/images/quickstart-icons/timeframe-icon.svg
  app/assets/v2/images/quickstart-icons/upgrade-icon.svg
  app/dashboard/context/quickstart.py
  app/dashboard/templates/bulk_payout_bounty.html
  app/dashboard/templates/contribute_bounty.html
  app/dashboard/templates/payout_bounty.html
  app/dashboard/templates/quickstart.html
  app/dashboard/views.py
Due: stylelint

added feedback
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

fix migrations
  app/dashboard/migrations/0046_auto_20190807_1541.py
Due: none

replace showdown with highlight + markdown (#4948)
  .eslintignore
  .stylelintignore
  app/assets/v2/css/bounty.css
  app/assets/v2/css/highlight_github.css
  app/assets/v2/js/lib/highlight.js
  app/assets/v2/js/lib/markdown-it.js
  app/assets/v2/js/lib/showdown.js
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/templates/bounty/details.html
Due: eslint, stylelint

change query (#4894)
  app/dashboard/router.py
Due: none

dedupe the activity feed (#4947)
  app/dashboard/models.py
Due: none

Revert "add field to change font color"
  app/dashboard/migrations/0046_auto_20190807_1541.py
  app/dashboard/models.py
  app/dashboard/templates/dashboard/index.html
Due: none

adds codefund kudos
  app/assets/v2/images/kudos/codefund/codefund_influencer_v1.0.svg
  app/kudos/kudos.yaml
Due: none

change styles vars
  app/dashboard/migrations/0046_auto_20190807_1541.py
  app/dashboard/migrations/0046_auto_20190807_1622.py
  app/dashboard/models.py
  app/dashboard/templates/dashboard/index.html
Due: none

resolve conflicts
  app/dashboard/migrations/0046_auto_20190807_1637.py
  app/dashboard/models.py
Due: none

fix conflicts
  app/dashboard/models.py
Due: none

new conflicts
  app/dashboard/models.py
Due: none

fixes codefund influencer kudos
  app/assets/v2/images/kudos/codefund/codefund_influencer_v1.0.svg
Due: none

add categories blank missing migration
  app/dashboard/migrations/0047_auto_20190807_1710.py
Due: none

remove classes
  app/dashboard/templates/dashboard/index.html
  app/dashboard/templates/shared/hackathon_sponsors.html
Due: none

Adding new fields for the api
  app/dashboard/models.py
Due: none

Update router.py
  app/dashboard/router.py
Due: none

Update models.py
  app/dashboard/models.py
Due: none

fix workplan in permissionless
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/shared.js
  app/dashboard/templates/bounty/details.html
Due: eslint

frank qa
  app/dashboard/models.py
Due: none

add missing migration
  app/dashboard/migrations/0047_auto_20190808_1206.py
Due: none

fix workplan in permissionless (#4987)
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/shared.js
  app/dashboard/templates/bounty/details.html
Due: eslint

remove classes (#4985)
  app/dashboard/templates/dashboard/index.html
  app/dashboard/templates/shared/hackathon_sponsors.html
Due: none

add missing migration (#4988)
  app/dashboard/migrations/0047_auto_20190808_1206.py
Due: none

fix bug with suppression check
  app/marketing/utils.py
Due: none

fix bug with suppression check (#4989)
  app/marketing/utils.py
Due: none

re-add tabs click
  app/assets/v2/js/grants/detail.js
Due: eslint

re-add tabs click (#4990)
  app/assets/v2/js/grants/detail.js
Due: eslint
