Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

debug logging
  app/chat/management/commands/setup_hackathon_project_chat.py
Due: none

try shorter purpose
  app/chat/management/commands/setup_hackathon_project_chat.py
Due: none

change project_profiles to profiles
  app/chat/management/commands/setup_hackathon_project_chat.py
Due: none

dont use .get, use .filter to get bounty profile
  app/chat/management/commands/setup_hackathon_project_chat.py
Due: none

disable add to channel, debug removal of unwanted gusts
  app/chat/management/commands/setup_hackathon_project_chat.py
Due: none

more debugging
  app/chat/management/commands/setup_hackathon_project_chat.py
Due: none

enable removing bad users from channels
  app/chat/management/commands/setup_hackathon_project_chat.py
Due: none

disable remove, enable add to channel
  app/chat/management/commands/setup_hackathon_project_chat.py
Due: none

more debug, disable add
  app/chat/management/commands/setup_hackathon_project_chat.py
Due: none

proper bounty owner
  app/chat/management/commands/setup_hackathon_project_chat.py
Due: none

enable add
  app/chat/management/commands/setup_hackathon_project_chat.py
Due: none

cross: redo payout flow
  app/assets/v2/css/bounty.css
  app/assets/v2/css/colors.css
  app/assets/v2/js/pages/bounty_details2.js
  app/assets/v2/js/vue-filters.js
  app/dashboard/sync/etc.py
  app/dashboard/templates/bounty/details2.html
  app/dashboard/views.py
Due: eslint, stylelint

Add files via upload
  erc20/0x0fdB7806db45Eea24af33963a2De0F565bf50664.json
Due: none

Add files via upload
  images/0x0fdB7806db45Eea24af33963a2De0F565bf50664.png
Due: none

fix codefund button color
  app/retail/templates/emails/bounty_roundup.html
Due: none

Add TB token
  erc20/0xEdF20cFADFCe60D9Fd816219FB711baB34741d6E.json
  images/0xEdF20cFADFCe60D9Fd816219FB711baB34741d6E.png
Due: none

Redesign Weekly Email (#6438)
  app/assets/v2/images/emails/email_header27.png
  app/retail/emails.py
  app/retail/templates/emails/bounty.html
  app/retail/templates/emails/bounty_roundup.html
  app/retail/templates/emails/shared_bounty_actions.html
  app/retail/templates/emails/template.html
Due: none

add fix codefund button color
  app/retail/templates/emails/bounty_roundup.html
Due: none

add fix codefund button color (#6525)
  app/retail/templates/emails/bounty_roundup.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

cross: redo payout flow (#6524)
  app/assets/v2/css/bounty.css
  app/assets/v2/css/colors.css
  app/assets/v2/js/pages/bounty_details2.js
  app/assets/v2/js/vue-filters.js
  app/dashboard/sync/etc.py
  app/dashboard/templates/bounty/details2.html
  app/dashboard/views.py
Due: eslint, stylelint

fix eslint
  app/assets/v2/js/pages/kudos_bulk_receive.js
Due: eslint

lint fixes
  app/assets/v2/js/theme_switcher.js
Due: eslint

Update town_square.css
  app/assets/v2/css/town_square.css
Due: stylelint

add some thing
  erc20/0x5e22A0a7D29626FF40FdB57e88e8Eea07372aD3c.json
Due: none

make kudos center aligned
  app/retail/emails.py
Due: none

fixing lint errors
  app/assets/v2/css/town_square.css
Due: stylelint

Fix errors and implemented requested changes
  app/assets/v2/js/pages/join_tribe.js
  app/dashboard/models.py
  app/dashboard/templates/profiles/tab_follow.html
  app/dashboard/views.py
Due: eslint

lint errors
  app/assets/v2/css/town_square.css
Due: stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  kudos/models/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/admin/index.html
  dashboard/models/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none
