Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

Infra as code clone (#10182)
  .github/workflows/ci-review-cleanup.yml
Due: none

Testing infra cleanup
  .github/workflows/ci-review-cleanup.yml
Due: none

Infra as code clone (#10183)
  .github/workflows/ci-review-cleanup.yml
Due: none

Infra as code clone (#10184)
  .github/workflows/ci-review-cleanup.yml
Due: none

Testing infra cleanup (#10185)
  .github/workflows/ci-review-cleanup.yml
Due: none

Infra as code clone 2 (#10186)
  .github/workflows/ci-review-cleanup.yml
Due: none

Infra as code clone 3 (#10187)
  .github/workflows/ci-review-cleanup.yml
Due: none

Testing infra cleanup
  .github/workflows/ci-review.yml
Due: none

fix: ensures we dont drop brightID from services
  app/dashboard/views.py
Due: none

fix: ensures we dont drop brightID from services (#10189)
  app/dashboard/views.py
Due: none

Preventing public IP addresses for EC2 instances, the number is limited
  infra/infra-review/index.ts
Due: none

Adding npm cahcing and removing public IPs for services
  .github/workflows/ci-review.yml
  infra/infra-review/index.ts
Due: none

Changing the way docker images are build + use caching
  .github/workflows/ci-review.yml
Due: none

Remove build strategy setting
  .github/workflows/ci-review.yml
Due: none

Creating ec2 instance with public IP for temporary debugging
  infra/infra-review/index.ts
Due: none

Fix typo
  app/dashboard/templates/legal/terms.html
Due: none

Fixing cleanup script
  .github/workflows/ci-review-cleanup.yml
Due: none

Fix typo (#10191)
  app/dashboard/templates/legal/terms.html
Due: none

deploy: 0108dd1c3594eeda3e8069236286bb6b997306fb
  sitemap.xml
  sitemap.xml.gz
Due: none

Testing workflow
  .github/workflows/ci-review-cleanup.yml
  infra/infra-review/Pulumi.gtc-review.yaml
Due: none

Implementing provisioning inrastructure_as_code for review environments
  .github/workflows/ci-review-cleanup.yml
  .github/workflows/ci-review.yml
  Dockerfile
  app/app/settings.py
  app/dashboard/templatetags/bundle.py
  docker-compose.yml
  infra/infra-review/.gitignore
  infra/infra-review/Pulumi.yaml
  infra/infra-review/env_vars.sample.sh
  infra/infra-review/index.ts
  infra/infra-review/package-lock.json
  infra/infra-review/package.json
  infra/infra-review/tsconfig.json
  requirements/base.txt
Due: none

added script to generate useful grant object
  app/grants/fixtures/create_active_grants.py
Due: none

adding progress bar component
  app/assets/v2/js/grants/progress_bar.js
  app/assets/v2/scss/progress_bar.scss
  app/grants/templates/grants/_new.html
  app/grants/templates/grants/components/progress_bar.html
Due: eslint, stylelint

styled and added active functionality to progress bar
  app/assets/v2/js/grants/progress_bar.js
  app/assets/v2/scss/progress_bar.scss
  app/grants/templates/grants/_new.html
  app/grants/templates/grants/components/progress_bar.html
Due: eslint, stylelint

styled and finished up progress bar component
  app/assets/v2/js/grants/progress_bar.js
  app/assets/v2/scss/progress_bar.scss
  app/grants/templates/grants/components/progress_bar.html
Due: eslint, stylelint

added responsive styles to hr
  app/assets/v2/js/grants/progress_bar.js
  app/assets/v2/scss/progress_bar.scss
  app/grants/templates/grants/components/progress_bar.html
Due: eslint, stylelint

remove temporary reference to component
  app/grants/templates/grants/_new.html
Due: none

basic implementation of wrapper component
  app/assets/v2/js/grants/grant_creation_wrapper.js
  app/assets/v2/scss/grants/new.scss
  app/grants/templates/grants/_new.html
  app/grants/templates/grants/components/grant_creation_wrapper.html
Due: eslint, stylelint

full width wrapper
  app/assets/v2/scss/grants/new.scss
  app/grants/templates/grants/components/grant_creation_wrapper.html
Due: stylelint

don't show web3 modal on cart page init and tab change
  app/assets/v2/js/cart.js
Due: eslint

wait for onConnect in initializeStandardCheckout
  app/assets/v2/js/cart.js
Due: eslint

open web3 modal on polygon checkout
  app/assets/v2/js/cart-ethereum-polygon.js
Due: eslint

open web3 modal on zksync checkout
  app/assets/v2/js/cart-ethereum-zksync.js
Due: eslint

don't show web3 modal on cart page init and tab change (#10087)
  app/assets/v2/js/cart-ethereum-polygon.js
  app/assets/v2/js/cart-ethereum-zksync.js
  app/assets/v2/js/cart.js
Due: eslint

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
