Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

quest v2.1
  app/assets/v2/audio/boss-battle.mid
  app/assets/v2/audio/bossmusic.mid
  app/assets/v2/css/quests.css
  app/assets/v2/images/quests/back_city.png
  app/assets/v2/images/quests/backs/0.gif
  app/assets/v2/images/quests/backs/1.gif
  app/assets/v2/images/quests/backs/2.gif
  app/assets/v2/images/quests/backs/3.gif
  app/assets/v2/images/quests/camping.png
  app/assets/v2/images/quests/city.png
  app/assets/v2/images/quests/night.png
  app/assets/v2/js/pages/quests.js
  app/quests/templates/quests/base.html
  app/quests/templates/quests/quest.html
  app/quests/views.py
Due: eslint, stylelint

fixes linter after merge messed tehm up
  app/assets/v2/css/quests.css
Due: stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  kudos_faq/index.html
  mk_rest_api/index.html
  mk_styleguide/index.html
  mk_third_party_integrations/index.html
  mk_widget/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add FF token
  erc20/0xC86D4914F3E162dc44A7dDd2326102E75FA1B0d1.json
  images/0xC86D4914F3E162dc44A7dDd2326102E75FA1B0d1.png
Due: none

feat: account for single contribution for grant in clr
  app/grants/clr.py
Due: none

Add city token
  erc20/0x45412250cb65B7A612d24a49ffC7DCA77771658c.json
  images/0x45412250cb65B7A612d24a49ffC7DCA77771658c.png
Due: none

Add city token
  erc20/0x45412250cb65B7A612d24a49ffC7DCA77771658c.json
Due: none

Update 0x6c3BE406174349cfa4501654313d97e6a31072e1.json
  erc20/0x6c3BE406174349cfa4501654313d97e6a31072e1.json
Due: none

add en
  erc20/0x6c3BE406174349cfa4501654313d97e6a31072e1.json
Due: none

delete null url
  erc20/0x6c3BE406174349cfa4501654313d97e6a31072e1.json
Due: none

newsletter 2019-09-27
  app/retail/emails.py
Due: none

gitcoin.co/owocki
  app/app/context.py
  app/app/urls.py
  app/dashboard/models.py
  app/dashboard/templates/shared/nav_auth.html
  app/dashboard/utils.py
Due: none

avoid circular import
  app/dashboard/models.py
Due: none

Add KLOWN token info
  erc20/0xc97A5cdF41BAfD51c8dBE82270097e704d748b92.json
Due: none

Add KLOWN logo
  images/0xc97A5cdF41BAfD51c8dBE82270097e704d748b92.png
Due: none

grants viz updatse for vitalik:> Would love to see X axis = total raw contribution value, Y axis = expected total match
  app/grants/clr.py
  app/grants/management/commands/estimate_clr.py
  app/grants/management/commands/output_leaderboard_viz.py
Due: none

Vitalik asks 9/27:
  app/grants/management/commands/grant_vitalik_shuffle.py
  app/grants/migrations/0031_grant_weighted_shuffle.py
  app/grants/models.py
  app/grants/templates/grants/card/clr_estimate_prev.html
  app/grants/templates/grants/card/front.html
  app/grants/templates/grants/index.html
  app/grants/views.py
  scripts/crontab
Due: none

quests updates
  app/assets/v2/audio/attack.mid
  app/assets/v2/audio/dead.mid
  app/assets/v2/audio/item.mid
  app/assets/v2/audio/secret-discovery.mid
  app/assets/v2/css/quests.css
  app/assets/v2/images/quests/enemies/enlightenment.png
  app/assets/v2/images/quests/enemies/genie.png
  app/assets/v2/images/quests/enemies/helpful_guide.png
  app/assets/v2/images/quests/enemies/jedi.png
  app/assets/v2/images/quests/enemies/logic_bot.png
  app/assets/v2/images/quests/enemies/narwhal.png
  app/assets/v2/images/quests/enemies/v.png
  app/assets/v2/images/quests/enemies/vc.png
  app/assets/v2/images/quests/enemies/vc.svg
  app/assets/v2/js/pages/quests.helpers.js
  app/assets/v2/js/pages/quests.js
  app/quests/migrations/0005_quest_cooldown_minutes.py
  app/quests/models.py
  app/quests/templates/quests/base.html
  app/quests/views.py
Due: eslint, stylelint

visibility
  app/quests/migrations/0006_quest_visible.py
  app/quests/models.py
  app/quests/views.py
Due: none

title
  app/quests/views.py
Due: none

final things:
  app/assets/v2/js/pages/quests.js
  app/quests/views.py
Due: eslint

responsive design
  app/assets/v2/css/quests.css
  app/assets/v2/js/pages/quests.js
Due: eslint, stylelint

adds activity feed items
  app/assets/v2/js/pages/quests.helpers.js
  app/assets/v2/js/pages/quests.js
  app/dashboard/models.py
  app/quests/models.py
  app/quests/views.py
  app/retail/templates/shared/activity.html
Due: eslint

last thing
  app/assets/v2/js/pages/quests.helpers.js
Due: eslint

add bcs
  erc20/0x31274db8b609Df99E5988ee527071643b5160Fc3.json
  images/0x31274db8b609Df99E5988ee527071643b5160Fc3.png
Due: none

add GPC token
  erc20/0x0B4A48418b4197D88626b19c8aA188D76327d2FA.json
  images/0x0B4A48418b4197D88626b19c8aA188D76327d2FA.png
Due: none

add GPC token
  erc20/0x0B4A48418b4197D88626b19c8aA188D76327d2FA.json
Due: none

adds logo
  app/app/context.py
  app/app/settings.py
  app/assets/v2/css/products.css
  app/assets/v2/css/quests.css
  app/assets/v2/images/products/graphics-Quests.png
  app/assets/v2/images/products/quests-symbol.svg
  app/assets/v2/images/quest_logo_hover.png
  app/assets/v2/images/quests_logo.png
  app/assets/v2/images/quests_logo_white.png
  app/assets/v2/images/top-bar/quests-logo.svg
  app/assets/v2/images/top-bar/quests-symbol.svg
  app/assets/v2/js/pages/quests.helpers.js
  app/assets/v2/js/pages/quests.js
  app/quests/templates/quests/base.html
  app/quests/templates/quests/index.html
  app/quests/templates/quests/nav.html
  app/retail/templates/products.html
  app/retail/templates/shared/top_nav.html
  app/retail/views.py
Due: eslint, stylelint

get_user method updated - added a scope variable that if set lets the scope path be queried for the user scope
  app/app/management/commands/sync_orgs_repos.py
  app/app/utils.py
  app/git/utils.py
Due: none

adds difficulty fixes
  app/assets/v2/css/quests.css
  app/assets/v2/js/pages/quests.js
  app/dashboard/migrations/0054_auto_20190928_1936.py
  app/quests/migrations/0007_quest_difficulty.py
  app/quests/models.py
  app/quests/templates/quests/index.html
  app/quests/templates/quests/nav.html
  app/quests/views.py
Due: eslint, stylelint

linty linty
  app/assets/v2/js/pages/quests.helpers.js
  app/assets/v2/js/pages/quests.js
Due: eslint

female items in avatar biuldedr
  app/assets/v2/css/avatar.css
  app/assets/v2/images/avatar3d/avatar.svg
  app/avatar/views_3d.py
  app/dashboard/templates/ftux/avatar.html
Due: stylelint

fixes the weighted shuffle algo; had it wrong last night
  app/grants/management/commands/grant_vitalik_shuffle.py
Due: none

shows kudii on leaderboard for each gs winner
  app/kudos/migrations/0007_bulktransfercoupon_tag.py
  app/kudos/models.py
  app/quests/templates/quests/index.html
  app/quests/views.py
Due: none

list comprehension
  app/dashboard/models.py
Due: none

Add files via upload
  images/0x781912BF2dc1f440820Cc20FA9bd6ED880Ccd2bd.png
Due: none

new icon
  images/0x6E3fd7E78aC97A2692fA87Ad28E2365e505b675e.png
Due: none

add xl-token
  erc20/0x336A24FC03c93101D4e31160c27EeaEdc34BE01d.json
  images/0x336A24FC03c93101D4e31160c27EeaEdc34BE01d.png
Due: none

Add EVC token
  erc20/0xA8B9cd2577d20224Af856C19aF20040290705932.json
  images/0xA8B9cd2577d20224Af856C19aF20040290705932.png
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
