Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

Hides #top_nav_notification until .ready (stops el from showing empty before removal)
  app/assets/v2/js/base.js
  app/assets/v2/scss/base.scss
  app/retail/templates/shared/top_nav.html
Due: eslint, stylelint

Fixes linting
  app/assets/v2/js/base.js
Due: eslint

Update desktop cart for new mockups
  app/grants/templates/grants/cart-vue.html
  app/grants/templates/grants/cart/eth.html
Due: none

fix wallet icon
  app/dashboard/templates/shared/nav_auth.html
Due: none

Improves responsiveness of landing page for larger screens
  app/assets/landingpage/app.css
  app/assets/landingpage/logo.scss
  app/assets/landingpage/section_footerconsensys.scss
  app/assets/landingpage/section_footersocial.scss
  app/assets/landingpage/section_grid.scss
  app/assets/landingpage/section_intro.scss
  app/assets/landingpage/section_newsletter.scss
  app/assets/landingpage/section_twitter.scss
  app/assets/landingpage/typography.scss
  app/retail/templates/home/index2020.html
Due: stylelint

Fixes font-size for < $laptop and improves padding-top for > $desktop
  app/assets/landingpage/app.css
  app/assets/landingpage/section_grid.scss
  app/assets/landingpage/typography.scss
Due: stylelint

donate ERC-20 bug fixed
  package.json
  yarn.lock
Due: none

new science-salaries article
  app/assets/docs/science-salaries.odt
  app/assets/docs/science-salaries.pdf
Due: none

Improves responsiveness of landing page for larger displays (#8386)
  app/assets/landingpage/app.css
  app/assets/landingpage/logo.scss
  app/assets/landingpage/section_footerconsensys.scss
  app/assets/landingpage/section_footersocial.scss
  app/assets/landingpage/section_grid.scss
  app/assets/landingpage/section_intro.scss
  app/assets/landingpage/section_newsletter.scss
  app/assets/landingpage/section_twitter.scss
  app/assets/landingpage/typography.scss
  app/retail/templates/home/index2020.html
Due: stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

typo
  app/retail/templates/admin/change_form.html
Due: none

Apply changes to sass version
  app/assets/landingpage/app.css
  app/assets/landingpage/logo.scss
  app/assets/landingpage/section_footerconsensys.scss
  app/assets/landingpage/section_footersocial.scss
  app/assets/landingpage/section_grid.scss
  app/assets/landingpage/section_intro.scss
  app/assets/landingpage/section_newsletter.scss
  app/assets/landingpage/section_twitter.scss
  app/assets/landingpage/typography.scss
  app/assets/v2/scss/landingpage/app.scss
Due: stylelint

adds trending kudos/quests to activty feed
  app/marketing/management/commands/post_data.py
  app/marketing/views.py
  scripts/crontab
Due: none

fixes grants api
  app/grants/views.py
Due: none

typo (#8387)
  app/retail/templates/admin/change_form.html
Due: none

Improves responsiveness of landing page for larger displays (#8388)
  app/assets/landingpage/app.css
  app/assets/landingpage/logo.scss
  app/assets/landingpage/section_footerconsensys.scss
  app/assets/landingpage/section_footersocial.scss
  app/assets/landingpage/section_grid.scss
  app/assets/landingpage/section_intro.scss
  app/assets/landingpage/section_newsletter.scss
  app/assets/landingpage/section_twitter.scss
  app/assets/landingpage/typography.scss
  app/assets/v2/scss/landingpage/app.scss
Due: stylelint

fixes grants api (#8392)
  app/grants/views.py
Due: none

just fixes some dumb kudos display issues
  app/kudos/models.py
  app/kudos/templates/kudos_details.html
  app/kudos/views.py
Due: none

Add Info for Razor Network (RAZOR) token
  erc20/0x50DE6856358Cc35f3A9a57eAAA34BD4cB707d2cd.json
Due: none

Add Logo for Razor Network (RAZOR) token
  images/0x50DE6856358Cc35f3A9a57eAAA34BD4cB707d2cd.png
Due: none

Add WOCS token
  erc20/0xF56d0642808DECbDeA695121cdCA1fCE6354A865.json
  images/0xF56d0642808DECbDeA695121cdCA1fCE6354A865.png
Due: none

Add WOCS token
  images/0xF56d0642808DECbDeA695121cdCA1fCE6354A865.png
Due: none

fix getbalance
  app/assets/v2/js/pages/bounty_detail/rsk_extension.js
Due: eslint

remove value compare cause of erc20 tokens
  app/dashboard/sync/rsk.py
Due: none

remove 'to' address compare
  app/dashboard/sync/rsk.py
Due: none

fix record_payout_activity bug
  app/dashboard/sync/helpers.py
Due: none

new email addr
  app/dashboard/templates/bounty/new_bounty.html
Due: none

fixes slowness of results page
  app/retail/templates/results.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

add condition for to_address compare
  app/dashboard/sync/rsk.py
Due: none

fixes https://github.com/gitcoinco/web/issues/8039
  app/grants/urls.py
  app/grants/views.py
Due: none

docs
  docs/API.md
Due: none

Fixes naming convention for variables/mixins
  app/assets/v2/scss/all-variables.scss
  app/assets/v2/scss/gc-mixins.scss
  app/assets/v2/scss/gc-variables.scss
  app/assets/v2/scss/lib/bootstrap-overwrites.scss
  app/assets/v2/scss/lib/bootstrap.scss
  app/assets/v2/scss/lib/index.scss
  app/assets/v2/scss/notifications.scss
Due: stylelint

Updates the remaining nav's, replaces logos and makes provider-icon responsive
  app/assets/v2/images/helmet-purple-animated.svg
  app/assets/v2/scss/gitcoin.scss
  app/assets/v2/scss/grants/detail.scss
  app/assets/v2/scss/home.scss
  app/assets/v2/scss/mission.scss
  app/assets/v2/scss/quickstart.scss
  app/dashboard/templates/bounty/new_bounty.html
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
  app/dashboard/templates/shared/labs_nav.html
  app/dashboard/templates/shared/menu.html
  app/dashboard/templates/shared/nav_auth.html
  app/dashboard/templates/shared/onepager_auth.html
  app/grants/templates/grants/_new.html
  app/grants/templates/grants/nav.html
  app/grants/templates/grants/shared/sidebar_search.html
  app/kudos/templates/shared/kudos_nav.html
  app/quests/templates/quests/nav.html
  app/retail/templates/emails/assets/css/gitcoin.css
  app/retail/templates/emails/grant_txn_failed.html
  app/retail/templates/emails/template.html
  app/retail/templates/home/nav_mission.html
  app/retail/templates/shared/head.html
  app/retail/templates/shared/helmet-purple-animated.html
  app/retail/templates/shared/nav.html
  app/retail/templates/shared/nav_hackathons.html
  app/retail/templates/shared/svg-embed/h35px_bounties.svg
  app/retail/templates/shared/svg-embed/h35px_grants.svg
  app/retail/templates/shared/svg-embed/h35px_hackathons.svg
  app/retail/templates/shared/svg-embed/h35px_kudos.svg
  app/retail/templates/shared/svg-embed/h35px_quests.svg
Due: stylelint

add FIRE TOKEN
  erc20/0x4F6DB2d2a2DDAd8E61b43B3d73cF649AF8AA7D2D.json
Due: none

sets datetime of server
  scripts/deploy.bash
Due: none
