Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

Improves quote removal from inputted html block
  app/dashboard/templatetags/bundle.py
  app/retail/templates/mission.html
Due: none

bundled/scss/*.css -> bundled/css/*.css --- keeping bundled dir consistent between [merge_css|css]
  .gitignore
  app/dashboard/management/commands/bundle.py
  app/dashboard/templatetags/bundle.py
Due: none

updated ingest
  app/marketing/management/commands/ingest_csv.py
  app/output.csv
  input/Intermediary Worksheet - Active Users.csv
  input/Intermediary Worksheet - GMV.csv
Due: none

fix hackathon
  app/dashboard/templates/dashboard/hackathon/index.html
Due: none

remove duplicate
  .gitignore
Due: none

remove dup bundle
  app/retail/templates/shared/head.html
Due: none

Adds bundle tag
  app/retail/templates/mission.html
Due: none

Replaces compress with bundle
  app/dashboard/templates/profiles/profile.html
Due: none

updates CSV script
  app/marketing/management/commands/ingest_csv.py
  input/Intermediary Worksheet - Active Users.csv
  input/Intermediary Worksheet - GMV.csv
Due: none

matt feedback
  app/quadraticlands/templates/quadraticlands/mission/postcard/postcard.html
  app/quadraticlands/views.py
Due: none

debug
  app/marketing/management/commands/ingest_csv.py
Due: none

disable auto sci py notation
  app/marketing/management/commands/ingest_csv.py
Due: none

Switches cssmin and jsmin for rcssmin and rjsmin
  app/dashboard/templatetags/bundle.py
  requirements/base.txt
Due: none

replace compress -> bundler
  app/assets/v2/js/pages/styleguide-components.js
  app/quadraticlands/templates/quadraticlands/components/footer_scripts.html
  app/quadraticlands/templates/quadraticlands/components/head.html
Due: eslint

adding new/post-audit GTC and TD Rinkeby contract ABIs and addys
  app/assets/v2/js/abi.js
Due: eslint

Rewrites assemble_leaderboards tests (not hitting 100% coverage yet) and backs out duniterpy integration
  app/app/urls.py
  app/dashboard/tests/__init__.py
  app/dashboard/tests/test_dashboard_views.py
  app/dashboard/views.py
  app/marketing/management/commands/assemble_leaderboards.py
  app/marketing/tests/management/commands/test_assemble_leaderboards.py
Due: none

fix issues
  app/quadraticlands/templates/quadraticlands/index.html
Due: none

updates with octavian's new postcard generator
  app/assets/v2/images/quadraticlands/postcard.svg
  app/quadraticlands/templates/quadraticlands/mission/postcard/postcard.html
  app/quadraticlands/views.py
Due: none

re-adds postcard.js stuff that was removed during merge
  app/assets/v2/js/quadraticlands/postcard.js
  app/assets/v2/scss/quadraticlands/section_postcard.scss
  app/quadraticlands/templates/quadraticlands/mission/postcard/postcard.html
Due: eslint, stylelint

adds multi color support
  app/assets/v2/images/quadraticlands/postcard.svg
  app/assets/v2/js/quadraticlands/postcard.js
  app/assets/v2/scss/quadraticlands/section_postcard.scss
  app/quadraticlands/views.py
Due: eslint, stylelint

1 last thign
  app/assets/v2/js/quadraticlands/postcard.js
Due: eslint

Fixes typo
  app/assets/v2/js/quadraticlands/mission/use/delegate.js
Due: eslint

fixes typo in GTC_DIST_KEY
  app/app/settings.py
Due: none

Uses libsass instead of webpack for sass compiling
  Dockerfile
  app/assets/v2/js/shared.js
  app/assets/v2/scss/cookielaw/cookielaw.scss
  app/assets/v2/scss/gc-utilities.scss
  app/assets/v2/scss/lib/bootstrap-overrides.scss
  app/dashboard/management/commands/bundle.py
  app/dashboard/templatetags/bundle.py
  bin/docker-command.bash
  package.json
  requirements/base.txt
  webpack.config.js
  yarn.lock
Due: eslint, stylelint

Drops bundle_experiment
  app/app/urls.py
  app/assets/v2/js/bundle_experiment.js
  app/retail/templates/home/bundle_experiment.html
  app/retail/views.py
Due: eslint

Add SUBT token info
  erc20/0x484d31e3cEA1D476181B0B2560EBf65C78961B4a.json
Due: none

Add SUBT token logo
  images/0x484d31e3cEA1D476181B0B2560EBf65C78961B4a.png
Due: none

Fixed POH icon
  app/assets/v2/images/project_logos/poh.svg
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/templates/profiles/trust-vue.html
Due: eslint

Add sts token
  erc20/0x33afDedD864fa9d438D7E65d215C10A8eB141c62.json
  images/0x33afDedD864fa9d438D7E65d215C10A8eB141c62.png
Due: none

Fixes sass
  app/dashboard/templatetags/bundle.py
Due: none

fix uni svg
  app/quadraticlands/templates/quadraticlands/mission/receive/claim.html
Due: none

fix footer links
  app/quadraticlands/templates/quadraticlands/components/footersocial.html
  app/retail/views.py
Due: none

cleanup js footer scripts and missing mautic
  app/quadraticlands/templates/quadraticlands/components/footer_scripts.html
Due: none

Fixed POH icon (#8871)
  app/assets/v2/images/project_logos/poh.svg
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/templates/profiles/trust-vue.html
Due: eslint

add shared back as used on postcard
  app/quadraticlands/templates/quadraticlands/components/footer_scripts.html
Due: none

content update
  app/assets/v2/images/quadraticlands/twitter/default.png
  app/assets/v2/js/quadraticlands/mission/use/delegatemode.js
  app/quadraticlands/templates/quadraticlands/about.html
  app/quadraticlands/templates/quadraticlands/components/nav.html
  app/quadraticlands/templates/quadraticlands/dashboard/governance.html
  app/quadraticlands/templates/quadraticlands/dashboard/proposals.html
  app/quadraticlands/templates/quadraticlands/faq.html
  app/quadraticlands/templates/quadraticlands/index.html
  app/quadraticlands/templates/quadraticlands/mission/index.html
  app/quadraticlands/templates/quadraticlands/mission/knowledge/index.html
  app/quadraticlands/templates/quadraticlands/mission/knowledge/question_1.html
  app/quadraticlands/templates/quadraticlands/mission/receive/claim.html
  app/quadraticlands/templates/quadraticlands/mission/use/delegate.html
  app/quadraticlands/templates/quadraticlands/mission/use/delegationmode.html
  app/quadraticlands/templates/quadraticlands/mission/use/outro.html
  app/quadraticlands/templates/quadraticlands/workstream/anti-collusion.html
  app/quadraticlands/templates/quadraticlands/workstream/decentralization.html
  app/quadraticlands/templates/quadraticlands/workstream/decentralize-gitcoin.html
  app/quadraticlands/templates/quadraticlands/workstream/index.html
  app/quadraticlands/templates/quadraticlands/workstream/labs.html
  app/quadraticlands/templates/quadraticlands/workstream/nav.html
  app/quadraticlands/templates/quadraticlands/workstream/public-goods-funding.html
  app/quadraticlands/templates/quadraticlands/workstream/publicgoods.html
  app/quadraticlands/templates/quadraticlands/workstream/stewards.html
  app/quadraticlands/templates/quadraticlands/workstream/sybil.html
  app/quadraticlands/urls.py
Due: eslint

not taken into account users will not see the 3 token distribution missions anymore
  app/quadraticlands/templates/quadraticlands/mission/index.html
Due: none

fix: no more date issues
  app/marketing/tests/management/commands/test_assemble_leaderboards.py
Due: none

Update index.html
  app/quadraticlands/templates/quadraticlands/mission/index.html
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
