Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

Info on Description Row Quests (#7260)
  app/assets/v2/css/quests.css
  app/quests/templates/quests/index.html
Due: stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

format json
  erc20/0xffF3ada5A2555a2B59BfF4F44DFad90146CcE8CB.json
Due: none

Add BFC token
  erc20/0x08853afdf973901F228F6C047553c371005028FC.json
  images/0x08853afdf973901F228F6C047553c371005028FC.png
Due: none

Revert "format json"
  erc20/0xffF3ada5A2555a2B59BfF4F44DFad90146CcE8CB.json
Due: none

V0 RC1
  app/app/context.py
  app/app/settings.py
  app/app/urls.py
  app/assets/v2/js/users.js
  app/assets/v2/js/vue-components.js
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
  requirements/base.txt
Due: eslint

restore old user directory
  app/app/urls.py
  app/assets/v2/js/users-elastic.js
  app/dashboard/templates/dashboard/users-elastic.html
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
Due: eslint

quadratic diplomacy WIP
  app/app/settings.py
  app/app/urls.py
  app/assets/v2/css/governance/diplomacy.css
  app/assets/v2/js/pages/governance-diplomacy.js
  app/governance/__init__.py
  app/governance/admin.py
  app/governance/apps.py
  app/governance/games/__init__.py
  app/governance/games/diplomacy.py
  app/governance/games/sybilhunt.py
  app/governance/migrations/__init__.py
  app/governance/models.py
  app/governance/templates/governance/games/diplomacy.html
  app/governance/templates/governance/games/sybilhunt.html
  app/governance/templates/governance/index.html
  app/governance/tests.py
  app/governance/urls.py
  app/governance/views.py
Due: eslint, stylelint

Add llwf token
  erc20/0x8618e0E4120f96eCCBC280A37445C4d444b2952d.json
  images/0x8618e0E4120f96eCCBC280A37445C4d444b2952d.png
Due: none

Add base structure for profile themes
  app/assets/v2/css/profile.css
  app/dashboard/templates/profiles/activity_level.html
  app/dashboard/templates/profiles/activity_stats.html
  app/dashboard/templates/profiles/header_details.html
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/profiles/scorecard_funder.html
  app/dashboard/templates/profiles/scorecard_hunter.html
  app/dashboard/templates/profiles/tab_follow.html
  app/dashboard/templates/profiles/tabs.html
  app/dashboard/templates/shared/rate_bounties.html
Due: stylelint

Add MBH token
  erc20/0x71C3C442cC91cd16327663A3a069F33dC6fE5d6e.json
  images/0x71C3C442cC91cd16327663A3a069F33dC6fE5d6e.png
Due: none

Add PNK
  erc20/0x93ED3FBe21207Ec2E8f2d3c3de6e058Cb73Bc04d.json
  images/0x93ED3FBe21207Ec2E8f2d3c3de6e058Cb73Bc04d.png
Due: none

migrate grant card to vue component
  app/assets/v2/js/grants/index.js
  app/grants/templates/grants/components/card.html
  app/grants/templates/grants/components/clr_estimate.html
  app/grants/templates/grants/components/hidden_inputs.html
  app/grants/templates/grants/index.html
  app/grants/templates/grants/shared/landing_grants.html
  app/grants/urls.py
  app/grants/views.py
Due: eslint

update url for projects
  app/assets/v2/js/vue-components.js
  app/dashboard/templates/dashboard/hackathon/project_page.html
  app/dashboard/templates/project/detail/info.html
  app/dashboard/views.py
Due: eslint

Add Gift token
  erc20/0x5651698DF622422845b73E8ca4AD72DB5AFf6D83.json
  images/0x5651698DF622422845b73E8ca4AD72DB5AFf6D83.png
Due: none

update yamv2
  erc20/0x0bC48b77df84d4E3d26D9c05442CFcda39BBF457.json
  erc20/0xAba8cAc6866B83Ae4eec97DD07ED254282f6aD8A.json
  images/0x0bC48b77df84d4E3d26D9c05442CFcda39BBF457.png
  images/0xAba8cAc6866B83Ae4eec97DD07ED254282f6aD8A.png
Due: none

fix
  erc20/0x0062BFfE15B3840F9d1eC81911FEfaf440b3Abc2.json
  images/0x0062BFfE15B3840F9d1eC81911FEfaf440b3Abc2.png
Due: none

Add FM token
  erc20/0x73e4a6b80f8de0aa3f95331c5a93e7f8431b6d95.json
Due: none

update FM token
  erc20/0x73e4A6B80F8De0aA3f95331c5a93e7f8431B6d95.json
  images/0x73e4A6B80F8De0aA3f95331c5a93e7f8431B6d95.png
Due: none

add HGZC image
  images/0x618cBB21ad1bdB878fa246E4Afc529Cb4F1c3deA.png
Due: none

add HGZC token
  erc20/0x618cBB21ad1bdB878fa246E4Afc529Cb4F1c3deA.json
Due: none

Always cast hour input to int before running calcValues
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/bounty/new_bounty.html
Due: eslint

Add AGS token
  erc20/0xdB2F2bCCe3efa95EDA95a233aF45F3e0d4f00e2A.json
  images/0xdB2F2bCCe3efa95EDA95a233aF45F3e0d4f00e2A.png
Due: none

add constant pot changing mechanism, add analytics script
  app/grants/clr.py
  app/grants/management/commands/analytics_clr.py
Due: none

update wscoin token
  erc20/0x988DaDD0B82fA7d94d9e6f084A08755bFD4da860.json
Due: none

Squash migrations for ptokens
  app/dashboard/migrations/0124_auto_20200629_0320.py
  app/dashboard/migrations/0125_auto_20200724_1050.py
  app/dashboard/migrations/0143_auto_20200825_0313.py
  app/ptokens/migrations/0001_initial.py
  app/ptokens/migrations/0002_auto_20200617_2137.py
  app/ptokens/migrations/0003_auto_20200628_1042.py
  app/ptokens/migrations/0004_auto_20200720_0453.py
  app/ptokens/migrations/0005_auto_20200724_1050.py
  app/ptokens/migrations/0006_ptokenevent.py
  app/ptokens/migrations/0007_auto_20200731_0901.py
  app/ptokens/migrations/0008_auto_20200814_0035.py
Due: none

Add FCC token
  erc20/0x37Bb191043aB23c44510a1A4985C1b2a2EFBe8ed.json
  images/0x37Bb191043aB23c44510a1A4985C1b2a2EFBe8ed.png
Due: none

Update text on cards
  app/app/urls.py
  app/dashboard/models.py
  app/dashboard/templates/board/ptokens.html
  app/dashboard/views.py
  app/ptokens/models.py
  app/ptokens/views.py
  app/retail/templates/shared/activity.html
Due: none

Add HAT token
  erc20/0x1F1dADFA39759436DF35be8752A2467E20609343.json
  images/0x1F1dADFA39759436DF35be8752A2467E20609343.png
Due: none

checksum
  erc20/0x1F1dADFA39759436DF35be8752A2467E20609343.json
Due: none

Add HAKKA token
  erc20/0x0E29e5AbbB5FD88e28b2d355774e73BD47dE3bcd.json
  images/0x0E29e5AbbB5FD88e28b2d355774e73BD47dE3bcd.png
Due: none

fix isort
  app/perftools/management/commands/create_page_cache.py
Due: none

Fix hackathon list page loadtime (#7254)
  app/dashboard/templates/dashboard/hackathon/hackathons.html
  app/dashboard/templatetags/date_fromisoformat.py
  app/dashboard/templatetags/timesince_fromisoformat.py
  app/dashboard/utils.py
  app/dashboard/views.py
  app/perftools/management/commands/create_page_cache.py
Due: none

Feature/project pages (#7169)
  app/app/urls.py
  app/assets/v2/js/hackathon-projects.js
  app/assets/v2/js/pages/project-page.js
  app/assets/v2/js/shared.js
  app/assets/v2/js/vue-components.js
  app/dashboard/models.py
  app/dashboard/templates/bounty/details.html
  app/dashboard/templates/dashboard/hackathon/project_page.html
  app/dashboard/templates/dashboard/hackathon/projects.html
  app/dashboard/templates/project/detail/info.html
  app/dashboard/views.py
  app/retail/views.py
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none
