Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

created migration
  app/dashboard/migrations/0063_merge_20191120_1423.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  app/utils/index.html
  dashboard/views/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

added migration
  app/dashboard/migrations/0064_merge_20191120_1512.py
Due: none

fix migrations merges
  app/dashboard/migrations/0063_merge_20191120_1423.py
  app/dashboard/migrations/0064_blockedurlfilter.py
  app/dashboard/migrations/0064_merge_20191120_1512.py
Due: none

add celerybeat.pid to ignore
  .gitignore
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/helpers/index.html
  dashboard/models/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

fix for https://github.com/gitcoinco/web/issues/5307#issuecomment-556328408
  app/dashboard/router.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  marketing/models/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

fix for https://gitcoincore.slack.com/archives/CAXQ7PT60/p1574291011334000"
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

fix not web3 bowsers, add brave support, fix blockedurl
  app/assets/v2/js/lib/web3.0.20.6.min.js
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/new_bounty.js
  app/assets/v2/js/shared.js
  app/retail/templates/shared/shared_scripts.html
Due: eslint

back owocki fix
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

feat: allow grant members to edit grant details
  app/assets/v2/css/grants/detail.css
  app/grants/templates/grants/detail/info.html
  app/grants/templates/grants/detail/summary.html
  app/grants/templates/grants/detail/tabs.html
  app/grants/views.py
Due: stylelint

bug: make bounty details responsive
  app/assets/v2/css/bounty.css
  app/dashboard/templates/bounty/details.html
Due: stylelint

fix responsive
  app/assets/v2/css/bounty.css
  app/dashboard/templates/bounty/details.html
Due: stylelint

remove inline resume render, script tag checking
  app/dashboard/templates/profiles/tab_resume.html
  app/dashboard/views.py
Due: none

remove inline resume render, script tag checking (#5527)
  app/dashboard/templates/profiles/tab_resume.html
  app/dashboard/views.py
Due: none

nav fix
  app/retail/templates/home/nav.html
Due: none

leaderboard fix
  app/marketing/management/commands/assemble_leaderboards.py
Due: none

more leaderboard fixes
  app/dashboard/models.py
  app/marketing/management/commands/assemble_leaderboards.py
Due: none

make fix
  app/app/redis_service.py
  app/app/urls.py
  app/app/utils.py
Due: none

hey ma look i fixed a test
  app/marketing/management/commands/assemble_leaderboards.py
Due: none

advanced settings on ratings https://gitcoincore.slack.com/archives/CBWA6A75M/p1574104949003500
  app/dashboard/templates/rating_modal.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Add APT token
  erc20/0xb50E1362d546DaC91c1F4A2764aF1AF0731cab0a.json
  images/0xb50E1362d546DaC91c1F4A2764aF1AF0731cab0a.png
Due: none

Add AICC token
  erc20/0xBbF45465CE51e2E5a6bb858597dD0079b0809483.json
  images/0xBbF45465CE51e2E5a6bb858597dD0079b0809483.png
Due: none

fix for slack leaderboard
  app/dashboard/management/commands/post_leaderboard_to_slack.py
Due: none

fixes https://github.com/gitcoinco/web/issues/5534
  app/dashboard/templates/ens/ens.html
Due: none

fix for kudos not showing
  app/marketing/management/commands/assemble_leaderboards.py
Due: none

Update emails.py
  app/retail/emails.py
Due: none

https://github.com/gitcoinco/web/issues/5534#issuecomment-557587732
  app/assets/ens/index.js
Due: eslint

fix indent in newsletter
  app/retail/emails.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
