Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

replace space with %20 in icon
  app/assets/v2/scss/top-nav.scss
Due: stylelint

finished validation functions
  app/assets/v2/js/pages/bounty_details2.js
Due: eslint

chore: remove border in mobile
  app/assets/v2/scss/grants/form_wrapper.scss
Due: stylelint

chore: remove border in mobile (#10300)
  app/assets/v2/scss/grants/form_wrapper.scss
Due: stylelint

deploy: 889506317813e3ebda6f395e51df78290016c126
  sitemap.xml
  sitemap.xml.gz
Due: none

deploy: 6feb3ed5499f3e9a7823a201874d231f3cca284e
  sitemap.xml.gz
Due: none

Adjustments, naming convention, fixing cleanup ...
  .github/workflows/ci-review-cleanup.yml
  .github/workflows/ci-review.yml
  infra/review-env/index.ts
  infra/review-pr/index.ts
Due: none

[small, high priority] export grant data for ethelo integration (#10104)
  app/app/urls.py
  app/dashboard/ethelo.py
  app/dashboard/templates/export_grants_ethelo.html
  app/dashboard/views.py
  app/grants/models/__init__.py
  app/retail/templates/admin/index.html
Due: none

feat: master -> stable (#10305)
  app/app/urls.py
  app/dashboard/ethelo.py
  app/dashboard/templates/export_grants_ethelo.html
  app/dashboard/views.py
  app/grants/models/__init__.py
  app/retail/templates/admin/index.html
Due: none

deploy: ce1ae24f52b3db44fb0ff807b329d98cd41d8c29
  sitemap.xml.gz
Due: none

deploy: 13396e620213b1a498ceec78b6ec5f3d602f9852
  sitemap.xml.gz
Due: none

added back button for grants page
  app/grants/templates/grants/explorer.html
Due: none

fix: recaptcha middleware to change POST to GET on second submission
  app/app/middleware.py
  app/app/settings.py
Due: none

fix: recaptcha middleware to change POST to GET on second submission (#10307)
  app/app/middleware.py
  app/app/settings.py
Due: none

update collections card ui
  app/assets/v2/js/grants/components.js
  app/assets/v2/scss/grants/collection.scss
  app/dashboard/ethelo.py
  app/dashboard/views.py
  app/grants/models/clr_match.py
  app/grants/models/grant_collection.py
  app/grants/templates/grants/components/collection.html
  app/grants/templates/grants/explorer.html
  app/grants/tests/models/test_clr_match.py
  app/grants/urls.py
  app/grants/views.py
Due: eslint, stylelint

feature: use the new merkle payout contract in the claim payout page
  app/assets/v2/js/grants/matching_funds.js
  app/assets/v2/js/grants/ready_claim.js
  app/grants/match_payouts_abi.json
  app/grants/serializers.py
  app/grants/templates/grants/components/historical_claim.html
  app/grants/templates/grants/components/ready_claim.html
  app/grants/templates/grants/matching_funds.html
Due: eslint

default to eth/chainid1 if unable to find tokens on current chain
  app/assets/v2/js/cart.js
Due: eslint

wip styling
  app/assets/v2/js/cart-ethereum-zksync.js
  app/assets/v2/js/ethereumjs-accounts.js
  app/assets/v2/js/wallet.js
  app/assets/v2/scss/grants/cart.scss
  app/grants/templates/grants/cart/eth_checkout_button.html
  app/grants/templates/grants/explorer.html
Due: eslint, stylelint

default to mainnet if cart cannot find tokens for network
  app/assets/v2/js/cart.js
Due: eslint

add user stats
  app/dashboard/models.py
  app/grants/templates/grants/components/collection.html
Due: none

default values for stats
  app/grants/templates/grants/components/collection.html
Due: none

update mobile lp ui
  app/grants/templates/grants/landing/landing_qf_active.html
Due: none

Forgit to adjust env variable for workflow step running pulumi
  .github/workflows/ci-review.yml
Due: none

Fixing env var ../../.github/workflows/ci-review.yml
  .github/workflows/ci-review.yml
Due: none

Outputting wnv vars in pulumi file, for debugging
  infra/review-pr/index.ts
Due: none

update mobile lp ui (#10313)
  app/grants/templates/grants/landing/landing_qf_active.html
Due: none

deploy: a2a222ce7ce292a5142573ce4742567883512fc7
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix env variable name in pulumi script
  infra/review-pr/index.ts
Due: none

fix: moves eth-checkout-button into tabs so that it can access the cart methods
  app/assets/v2/js/cart.js
  app/grants/templates/grants/cart-vue.html
Due: eslint

fix: moves eth-checkout-button into tabs so that it can access the cart methods (#10315)
  app/assets/v2/js/cart.js
  app/grants/templates/grants/cart-vue.html
Due: eslint

fix: prevents cart-ethereum-polygon from overwriting the network during estimatedGasCost
  app/assets/v2/js/cart-ethereum-polygon.js
Due: eslint

fix: ensure we're testing for the correct property when filtering chains
  app/assets/v2/js/cart.js
Due: eslint

updated disable styling
  app/assets/v2/scss/grants/cart.scss
  app/grants/templates/grants/cart/eth_checkout_button.html
Due: stylelint

updated disable logic
  app/grants/templates/grants/cart/eth_checkout_button.html
Due: none

add not-allowed cursor
  app/assets/v2/scss/grants/cart.scss
  app/grants/templates/grants/cart/eth_checkout_button.html
Due: stylelint

fix: use isPolygon to select networkId in getTokenByName()
  app/assets/v2/js/cart-ethereum-polygon.js
  app/assets/v2/js/cart.js
Due: eslint

fix: available tokens on change of network
  app/assets/v2/js/cart.js
  app/grants/templates/grants/cart/eth.html
  app/grants/templates/grants/cart/eth_polygon.html
Due: eslint

fix: defaults networkId to POLYGON_MAINNET_NETWORK_ID on grantsCartEthereumPolygon
  app/assets/v2/js/cart-ethereum-polygon.js
Due: eslint

fix: drops local networkId from grantsCartEthereumPolygon
  app/assets/v2/js/cart-ethereum-polygon.js
Due: eslint

refactor: improves getTokenByName time complexity
  app/assets/v2/js/cart.js
Due: eslint
