Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

fetch recently tipped profiles
  app/dashboard/tip_views.py
Due: none

display recent_tips_profiles
  app/dashboard/templates/onepager/send2.html
Due: none

display tooltip for recent_tips_profiles
  app/dashboard/templates/onepager/send2.html
Due: none

handle selecting recent_tips_profiles
  app/dashboard/templates/onepager/send2.html
Due: none

harmony
  app/assets/v2/images/chains/filecoin.svg
  app/assets/v2/images/chains/harmony.svg
  app/assets/v2/js/lib/harmony/HarmonyAccount.browser.js
  app/assets/v2/js/lib/harmony/HarmonyJs.browser.js
  app/assets/v2/js/lib/harmony/HarmonyTransaction.browser.js
  app/assets/v2/js/lib/harmony/HarmonyUtils.browser.js
  app/assets/v2/js/lib/harmony/utils.js
  app/assets/v2/js/pages/bounty_detail/harmony_extension.js
  app/assets/v2/js/pages/bounty_details2.js
  app/assets/v2/js/pages/hackathon_new_bounty.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/management/commands/sync_pending_fulfillments.py
  app/dashboard/models.py
  app/dashboard/sync/harmony.py
  app/dashboard/sync/helpers.py
  app/dashboard/templates/bounty/details2.html
  app/dashboard/templates/bounty/new_bounty.html
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
  app/dashboard/utils.py
  app/dashboard/views.py
Due: eslint

fix: update QR code for CELO + cUSD (#7824)
  app/assets/v2/js/pages/bounty_details2.js
Due: eslint

harmony (#7779)
  app/assets/v2/images/chains/filecoin.svg
  app/assets/v2/images/chains/harmony.svg
  app/assets/v2/js/lib/harmony/HarmonyAccount.browser.js
  app/assets/v2/js/lib/harmony/HarmonyJs.browser.js
  app/assets/v2/js/lib/harmony/HarmonyTransaction.browser.js
  app/assets/v2/js/lib/harmony/HarmonyUtils.browser.js
  app/assets/v2/js/lib/harmony/utils.js
  app/assets/v2/js/pages/bounty_detail/harmony_extension.js
  app/assets/v2/js/pages/bounty_details2.js
  app/assets/v2/js/pages/hackathon_new_bounty.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/management/commands/sync_pending_fulfillments.py
  app/dashboard/models.py
  app/dashboard/sync/harmony.py
  app/dashboard/sync/helpers.py
  app/dashboard/templates/bounty/details2.html
  app/dashboard/templates/bounty/new_bounty.html
  app/dashboard/templates/dashboard/hackathon/new_bounty.html
  app/dashboard/utils.py
  app/dashboard/views.py
Due: eslint

feat(grants): allow update of github project url (#7818)
  app/assets/v2/css/grants/detail.css
  app/assets/v2/js/grants/detail.js
  app/grants/templates/grants/detail/info.html
  app/grants/views.py
Due: eslint, stylelint

BTC Address validation (#7799)
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/sync/btc.py
Due: eslint

fix lint issues
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

Add BOR token
  erc20/0x3c9d6c1c73b31c837832c72e04d3152f051fc1a9.json
  images/0x3c9d6c1c73b31c837832c72e04d3152f051fc1a9.png
Due: none

readability upgrade for hero text's
  app/assets/quadraticlands/css/app.css
  app/quadraticlands/templates/quadraticlands/about.html
  app/quadraticlands/templates/quadraticlands/index.html
Due: stylelint

automates creation of mesh links
  app/grants/admin.py
Due: none

a few updates for the mesh network visualizer, for marketing, for my talk later today to trufflecon - its an admin only part of the site so i feel that risk is low
  app/dataviz/d3_views.py
  app/dataviz/templates/dataviz/mesh.html
  app/grants/admin.py
Due: none

onboard changes
  app/assets/v2/js/onboard.js
  app/retail/templates/shared/onboard.html
Due: eslint

fixed up bugs and add trust bonus
  app/grants/clr.py
Due: none

remove flag for zcash form
  app/grants/templates/grants/_new.html
Due: none

fix sentry error
  app/assets/v2/js/pages/townsquare.js
Due: eslint

SFR token
  erc20/0x8ab98C28295Ea3BD2DB6aC8b3CA57A625C054BD1.json
Due: none

bug: fix broken harmony code
  app/assets/v2/js/lib/harmony/HarmonyCrypto.browser.js
  app/assets/v2/js/lib/harmony/HarmonyNetwork.browser.js
  app/assets/v2/js/lib/harmony/HarmonyTransaction.browser.js
  app/assets/v2/js/lib/harmony/utils.js
  app/dashboard/templates/bounty/details2.html
Due: eslint

remove auto_add=now from last-modified field (#7758)
  app/marketing/models.py
  app/marketing/tests/management/commands/test_ingest_community_events_calender.py
Due: none

add duniter trust bonus and close skunkworks/issues/187
  app/app/local.env
  app/app/settings.py
  app/app/urls.py
  app/assets/v2/images/project_logos/duniter_brand.png
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/templates/profiles/tab_trust.html
  app/dashboard/views.py
  requirements/base.txt
Due: eslint

add duniter envs on Travis.env
  app/app/travis.env
Due: none

Add PZ token
  erc20/0x4a6431be40c1aA36EaEE17CE5010DDdaF23F77A4.json
  images/0x4a6431be40c1aA36EaEE17CE5010DDdaF23F77A4.png
Due: none

Add MRA token
  erc20/0x6E92E697fBc1Da61aa0F1726A264d613E48857E0.json
  images/0x6E92E697fBc1Da61aa0F1726A264d613E48857E0.png
Due: none

update checksum
  erc20/0xa2791bdf2d5055cda4d46ec17f9f429568275047.json
Due: none

Add files via upload
  images/0x4691937a7508860F876c9c0a2a617E7d9E945D4B.png
Due: none

Revert "Add BF11 token"
  erc20/0x5f4a26371D12555211Eb2f29a9eeD711e88890a0.json
  images/0x5f4a26371D12555211Eb2f29a9eeD711e88890a0.png
Due: none

Abdul/fix/grant new tab (#7805)
  app/grants/templates/grants/components/card.html
  app/grants/templates/grants/components/collection.html
  app/grants/templates/grants/shared/landing_grants.html
Due: none

bug: fix broken harmony code (#7843)
  app/assets/v2/js/lib/harmony/HarmonyCrypto.browser.js
  app/assets/v2/js/lib/harmony/HarmonyNetwork.browser.js
  app/assets/v2/js/lib/harmony/HarmonyTransaction.browser.js
  app/assets/v2/js/lib/harmony/utils.js
  app/dashboard/templates/bounty/details2.html
Due: eslint

Squash
  app/grants/migrations/0092_granttype_logo.py
  app/grants/migrations/0093_auto_20201104_1128.py
Due: none

If the regex of a string matches a tag, reset it.
  app/assets/v2/js/grants/_new.js
Due: eslint

Displays onboarding modal to a new user on each new session, not on every reload.
  app/assets/v2/js/onboard.js
Due: eslint

Rename 0x3c9d6c1c73b31c837832c72e04d3152f051fc1a9.json to 0x3c9d6c1C73b31c837832c72E04D3152f051fc1A9.json
  erc20/0x3c9d6c1C73b31c837832c72E04D3152f051fc1A9.json
Due: none

Delete 0x3c9d6c1c73b31c837832c72e04d3152f051fc1a9.png
  images/0x3c9d6c1c73b31c837832c72e04d3152f051fc1a9.png
Due: none

Create 0x3c9d6c1C73b31c837832c72E04D3152f051fc1A9.png
  images/0x3c9d6c1C73b31c837832c72E04D3152f051fc1A9.png
Due: none

a few small cleanup commits
  docs/user_directory.md
  scripts/debug/resubmit_kudos_transfers.py
Due: none

add poap badge verification
  app/app/urls.py
  app/assets/v2/images/project_logos/poap.svg
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/migrations/0155_auto_20201014_0946.py
  app/dashboard/models.py
  app/dashboard/templates/profiles/tab_trust.html
  app/dashboard/utils.py
  app/dashboard/views.py
Due: eslint

small fix
  app/dashboard/views.py
  patch
Due: none
