Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

fix js error in grant detail
  app/assets/v2/js/grants/shared.js
  app/grants/templates/grants/detail/index.html
Due: eslint

Delete 0x500565e098d98a273224ec8fb33d98dc8946f8b9.png
  images/0x500565e098d98a273224ec8fb33d98dc8946f8b9.png
Due: none

Fnt token (#4111)
  erc20/0x1f88badF3B56998673896572C8C1dE846aB0e6C2.json
  images/0x1f88badF3B56998673896572C8C1dE846aB0e6C2.png
Due: none

cleanup caveman debugging
  app/assets/v2/js/grants/shared.js
  app/grants/management/commands/subminer.py
  app/grants/templates/grants/new.html
  app/grants/views.py
Due: eslint

Add ccy token (#4120)
  erc20/0xA34d29Cf8a06E8d05D22454cC33e5FBe7A3d3213.json
  images/0xA34d29Cf8a06E8d05D22454cC33e5FBe7A3d3213.png
Due: none

Add GOMC token (#4110)
  erc20/0xc3fc3549e50c68662c21649f3F6D88e28271498F.json
  images/0xc3fc3549e50c68662c21649f3F6D88e28271498F.png
Due: none

Add PJD token (#4135)
  erc20/0x33eD80d4eA8361BCbb9Fa7Ac121773E3DBf0C4C1.json
  images/0x33eD80d4eA8361BCbb9Fa7Ac121773E3DBf0C4C1.png
Due: none

add SDS token (#4136)
  erc20/0xb3323480E26DdD6d5BD8A13b1b5F85e33Dff3748.json
  images/0xb3323480E26DdD6d5BD8A13b1b5F85e33Dff3748.png
Due: none

load addresses from env
  app/app/settings.py
  app/assets/v2/js/grants/fund.js
  app/grants/templates/grants/fund.html
  app/grants/urls.py
  app/grants/views.py
Due: eslint

fix env
  app/app/settings.py
Due: none

fix quotes in contract v1
  app/assets/v2/js/grants/compiledSubscriptionContract1.js
Due: eslint

Add bt token (#4093)
  erc20/0xE3176e757f3fDe2709ECf754DC194a3F50bd8449.json
  images/0xE3176e757f3fDe2709ECf754DC194a3F50bd8449.png
Due: none

pin slackclient
  requirements/base.txt
Due: none

update reqs
  requirements/base.txt
Due: none

Add BCHC token (#4146)
  erc20/0x2ab05B915C30093679165bcdba9C26D8Cd8BeE99.json
  images/0x2ab05B915C30093679165bcdba9C26D8Cd8BeE99.png
Due: none

Added AMLT (#3995)
  erc20/0xCA0e7269600d353F70b14Ad118A49575455C0f2f.json
  images/0xCA0e7269600d353F70b14Ad118A49575455C0f2f.png
Due: none

add taggit
  requirements/base.txt
Due: none

fix eslint
  app/assets/v2/js/grants/compiledSubscriptionContract1.js
  app/assets/v2/js/grants/fund.js
  app/assets/v2/js/grants/new.js
Due: eslint

Add MYC token (#4127)
  erc20/0xE1Ac9Eb7cDDAbfd9e5CA49c23bd521aFcDF8BE49.json
  images/0xE1Ac9Eb7cDDAbfd9e5CA49c23bd521aFcDF8BE49.png
Due: none

Fix typo
  app/marketing/mails.py
  app/retail/emails.py
Due: none

add HGT token (#4106)
  erc20/0xc0f3AA07DFd62a538bb370bD8A2A8597EF491C74.json
  images/0xc0f3AA07DFd62a538bb370bD8A2A8597EF491C74.png
Due: none

fix req
  requirements/base.txt
Due: none

grant/new: add grant amount splitter frontend code
  app/assets/v2/css/grants/fund.css
  app/assets/v2/js/grants/fund.js
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/heart.html
Due: eslint, stylelint

grants fee contracts, js code, templates
  app/app/settings.py
  app/assets/v2/js/grants/compiledSplitter.js
  app/assets/v2/js/grants/compiledSubscriptionContract0.js
  app/assets/v2/js/grants/compiledSubscriptionContract1.js
  app/assets/v2/js/grants/fund.js
  app/assets/v2/js/grants/new.js
  app/assets/v2/js/grants/shared.js
  app/grants/abi.py
  app/grants/abi_v1.json
  app/grants/admin.py
  app/grants/convert_abi.py
  app/grants/models.py
  app/grants/templates/grants/cancel.html
  app/grants/templates/grants/detail/index.html
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/newv0.html
  app/grants/urls.py
  app/grants/views.py
Due: eslint

addressed review comments
  app/assets/v2/js/grants/fund.js
  app/grants/templates/grants/fund.html
Due: eslint

make one time splitter payments
  app/assets/v2/js/grants/compiledSplitter.js
  app/assets/v2/js/grants/fund.js
  app/assets/v2/js/grants/shared.js
  app/grants/templates/grants/detail/index.html
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/new.html
Due: eslint

remove duplicate splitterAddress definition
  app/assets/v2/js/grants/shared.js
Due: eslint

Adds frontend for previously worked with
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
Due: none

fix breaking UI
  app/assets/v2/css/grants/fund.css
  app/grants/templates/grants/fund.html
Due: stylelint

bounty/new: updated text
  app/dashboard/templates/shared/issue_details.html
Due: none

fix typo in selector
  app/assets/v2/js/grants/fund.js
Due: eslint

allow 0% fee
  app/assets/v2/js/grants/fund.js
Due: eslint

css fix
  app/grants/templates/grants/fund.html
Due: none

add changeOwnership to v1 contract
  app/assets/v2/js/grants/compiledSubscriptionContract1.js
  app/grants/abi_v1.json
Due: eslint

add query
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/views.py
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

remove some console logs
  app/assets/v2/js/grants/fund.js
Due: eslint

Checks for user attribute in the wsgi request
  app/dashboard/views.py
Due: none

remove url reference
  app/assets/v2/js/grants/fund.js
Due: eslint

update fund button on landing page based on funder
  app/retail/templates/home/index.html
  app/retail/templates/shared/top_nav.html
  app/retail/views.py
Due: none
