Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Add PGL token (#3536)
  eos-token/PGL@prospectorsg.json
  images/PGL@prospectorsg.png
Due: none

Build a cleaner tagging experience on the Gitcoin funder form
  app/assets/v2/css/forms/select.css
  app/assets/v2/js/shared.js
  app/dashboard/templates/bounty/new.html
Due: eslint, stylelint

Added more notif generation
  app/inbox/signals.py
Due: none

grant/detail: modal + tooltip
  app/assets/v2/css/base.css
  app/assets/v2/css/grants/detail.css
  app/assets/v2/js/grants/detail.js
  app/grants/templates/grants/detail/index.html
  app/grants/templates/grants/index.html
  app/kudos/templates/kudos_details.html
  app/retail/templates/shared/head.html
Due: eslint, stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

bounty/new + bounty/fulfill revamp
  app/assets/v2/css/base.css
  app/assets/v2/css/submit_bounty.css
  app/dashboard/templates/bounty/fulfill.html
  app/dashboard/templates/bounty/new.html
  app/dashboard/templates/shared/github_username.html
  app/dashboard/templates/shared/issue_details.html
  app/dashboard/templates/shared/notification_email.html
  app/dashboard/templates/shared/pricing.html
Due: stylelint

minor fix
  app/assets/v2/css/forms/button.css
  app/dashboard/templates/bounty/new.html
Due: stylelint

updates bottom toolbar
  app/retail/templates/shared/bottom_notification.html
Due: none

fix jquery-ui modal import
  app/retail/templates/shared/head.html
Due: none

Update select card background color
  app/assets/v2/css/forms/select.css
Due: stylelint

add feature to form
  app/assets/v2/css/submit_bounty.css
  app/assets/v2/images/featured-example.jpg
  app/dashboard/templates/bounty/new.html
  app/dashboard/templates/shared/featured.html
Due: stylelint

featured bounties in list
  app/assets/v2/js/pages/dashboard.js
Due: eslint

full size mobile
  app/dashboard/templates/shared/featured.html
Due: none

fix for Error 500 on Manage Settings
  app/marketing/views.py
Due: none

fix for ''blocktrans' doesn't allow other block tags (seen url
  app/retail/templates/emails/new_bounty_expire_warning.html
Due: none

cancel_subscription save implemented. need to test.
  app/assets/v2/js/grants/cancel_subscription.js
  app/grants/views.py
Due: eslint

cancel_grant save implemented. need to test.
  app/assets/v2/js/grants/cancel_subscription.js
  app/assets/v2/js/grants/detail.js
  app/grants/views.py
Due: eslint

Update tags height and added additional spacing between text and close icon
  app/assets/v2/css/forms/select.css
Due: stylelint

all implemented testing now. Having issues with redirect on fund.
  app/assets/v2/js/grants/cancel_subscription.js
  app/assets/v2/js/grants/fund.js
  app/grants/management/commands/subminer.py
  app/grants/views.py
Due: eslint

add dynamic price and featured into edit
  app/assets/v2/js/pages/change_bounty.js
  app/assets/v2/js/pages/dashboard.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/bounty/change.html
  app/dashboard/templates/bounty/new.html
  app/dashboard/templates/dashboard/featured_bounties.html
  app/dashboard/templates/shared/featured.html
Due: eslint

add visual line
  app/dashboard/templates/bounty/change.html
Due: none

add metamask fnc
  app/assets/v2/js/pages/change_bounty.js
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

Fixes: https://github.com/gitcoinco/web/issues/3472
  app/assets/v2/js/grants/fund.js
  app/grants/templates/grants/fund.html
Due: eslint

Add PTI token (#3546)
  eos-token/PTI@ptitokenhome.json
  images/PTI@ptitokenhome.png
Due: none

Add TPT token (#3547)
  eos-token/TPT@eosiotptoken.json
  images/TPT@eosiotptoken.png
Due: none

push change for ECTT logo (#3550)
  images/ECTT@ectchaincoin.png
Due: none

add pr template
  .github/pull_request_template.md
Due: none

update pr template
  .github/pull_request_template.md
Due: none

Update style name
  app/assets/v2/css/forms/select.css
  app/dashboard/templates/bounty/new.html
Due: stylelint

add Y token (#3532)
  erc20/0xC9ca4b4368E4b83744b63B51D4b7857Fc4a9f310.json
  images/0xC9ca4b4368E4b83744b63B51D4b7857Fc4a9f310.png
Due: none

update ioa information (#3533)
  erc20/0x399a98fd25d43eab90b1bf0c3d75713be1dceeaa.json
  images/0x399a98fd25d43eab90b1bf0c3d75713be1dceeaa.png
Due: none
