Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

style typography
  app/assets/v2/scss/base.scss
  app/grants/templates/grants/landing/index.html
Due: stylelint

refactor
  app/assets/v2/scss/base.scss
Due: stylelint

fix: zksync - token id mismatch should result in a failed transaction (#9814)
  app/grants/models/contribution.py
Due: none

fix bug
  app/grants/models/contribution.py
Due: none

another fix
  app/grants/models/contribution.py
Due: none

adding back logs
  app/economy/tx.py
Due: none

update addr for matic on polygon
  app/economy/tx.py
Due: none

comment out logs
  app/economy/tx.py
Due: none

update twitter img
  app/assets/v2/images/twitter_cards/grants12.png
Due: none

particle
  app/grants/migrations/0132_auto_20211203_1423.py
  app/grants/models/grant.py
Due: none

hardcode matching token to DAI
  app/assets/v2/js/cart.js
Due: eslint

index_togehter
  app/grants/migrations/0132_auto_20211203_1423.py
  app/grants/models/grant.py
Due: none

index_togehter
  app/grants/migrations/0132_auto_20211203_1427.py
Due: none

anotoher perf fix
  app/dashboard/migrations/0198_profile_email_index.py
  app/dashboard/models.py
  app/retail/emails.py
Due: none

more callss
  app/retail/emails.py
Due: none

kevin tester
  app/marketing/mails.py
  app/marketing/management/commands/new_bounties_email.py
  app/retail/views.py
Due: none

DEBUG IN PROD
  app/retail/views.py
Due: none

retire activity_cache
  app/perftools/management/commands/create_activity_cache.py
  scripts/crontab
Due: none

inc gasLimit
  app/assets/v2/js/cart-ethereum-polygon.js
  app/perftools/management/commands/create_page_cache.py
Due: eslint

retire activity_cache (#9826)
  app/perftools/management/commands/create_activity_cache.py
  scripts/crontab
Due: none

GITC-650: added tooltip for contributor regarding cap reached.
  app/grants/templates/grants/detail/template-grant-details.html
Due: none

GITC-650: added tooltip for grants in cart checkout page.
  app/grants/templates/grants/cart/eth.html
Due: none

GITC-650: Max cap reached msg for owner of grant
  app/grants/templates/grants/detail/template-grant-details.html
Due: none

GITC-650: displaying icon in cart only if grant has reached cap
  app/assets/v2/js/cart.js
  app/grants/templates/grants/cart/eth.html
Due: eslint

wrap up
  app/assets/v2/js/pages/bounty_detail/casper_extension.js
Due: eslint

GITC-650 Added logic to display tooltips in grant details page, only if grant has reched cap
  app/assets/v2/js/grants/_detail.js
  app/grants/templates/grants/detail/template-grant-details.html
Due: eslint

fix: ensures the cart & details page load
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/_detail.js
  app/grants/templates/grants/cart/eth.html
Due: eslint

fix: drops activities from profiles as_dict
  app/dashboard/models.py
Due: none

fix: ensure types match
  app/grants/models/contribution.py
Due: none

refactor query
  app/app/sitemaps.py
  app/dashboard/models.py
  app/dashboard/views.py
  app/retail/views.py
Due: none

address feedback
  app/retail/views.py
Due: none

GITC-636: update survey links
  app/retail/templates/emails/grants/new_grant.html
  app/retail/templates/emails/grants/thank_you_for_supporting.html
Due: none

fix: 0 out predicted matching once a grant hits the `match_cap_per_grant` (#9815)
  app/grants/clr.py
Due: none

GITC-650: inform users cap reached (#9827)
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/_detail.js
  app/grants/templates/grants/cart/eth.html
  app/grants/templates/grants/detail/template-grant-details.html
Due: eslint

refactor query (#9828)
  app/app/sitemaps.py
  app/dashboard/models.py
  app/dashboard/views.py
  app/retail/views.py
Due: none

fix rounding bug
  app/assets/v2/js/cart.js
Due: eslint

shift indexes
  app/retail/views.py
Due: none

GITC-635: code changes to casper extension (#9787)
  app/assets/v2/js/pages/bounty_detail/casper_extension.js
Due: eslint

fix: stops border stretching beyond container
  app/grants/templates/grants/detail/template-grant-details.html
Due: none

fix: minor cleanup on activities
  app/marketing/views.py
  app/retail/views.py
Due: none
