Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

add kudos for Ethereal Blocks sponsors
  app/assets/v2/images/kudos/sponsor-01.svg
  app/assets/v2/images/kudos/sponsor-02.svg
  app/assets/v2/images/kudos/sponsor-03.svg
  app/assets/v2/images/kudos/sponsor-04.svg
  app/assets/v2/images/kudos/sponsor-05.svg
  app/assets/v2/images/kudos/sponsor-06.svg
  app/assets/v2/images/kudos/sponsor-07.svg
  app/assets/v2/images/kudos/sponsor-08.svg
  app/assets/v2/images/kudos/sponsor-09.svg
  app/assets/v2/images/kudos/sponsor-10.svg
  app/assets/v2/images/kudos/sponsor-11.svg
  app/kudos/kudos.yaml
Due: none

limit number and corner cases
  app/assets/v2/js/user_popover.js
  app/dashboard/views.py
Due: eslint

change limit orgs to 5
  app/assets/v2/js/user_popover.js
Due: eslint

Add new updates to profile
  app/assets/v2/css/profile.css
  app/dashboard/templates/profiles/activity_level.html
  app/dashboard/templates/profiles/header_avatar.html
  app/dashboard/templates/profiles/header_details.html
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/profiles/scorecard_funder.html
  app/dashboard/templates/profiles/scorecard_hunter.html
Due: stylelint

fix select2 reset
  app/assets/v2/js/vue-components.js
Due: eslint

add conditions and security
  app/dashboard/templates/dashboard/users.html
  app/dashboard/views.py
Due: none

Update 0x4F56198123EbB54B7355Ac8f24099bB3EDE38F34.json
  erc20/0x4F56198123EbB54B7355Ac8f24099bB3EDE38F34.json
Due: none

Remove user email from Raven.setUserContext
  app/app/templates/shared/sentry.html
Due: none

UPDATE XBBC TOKEN NAME
  erc20/0xcfAbFE37648e6C58E608eBa8f24d3Ee099DB119B.json
Due: none

Add files via upload
  erc20/0x5d48ACa3954d288A5fEA9fc374ac48a5dBF5fA6d.json
Due: none

Add files via upload
  images/0x5d48ACa3954d288A5fEA9fc374ac48a5dBF5fA6d.png
Due: none

overview update
  erc20/0x8Cb64095206bEbC4390f7E6374144a2231Eed6A7.json
Due: none

overview zh update
  erc20/0x8Cb64095206bEbC4390f7E6374144a2231Eed6A7.json
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/models/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore: update navbar
  app/dashboard/templates/shared/nav_auth.html
Due: none

chore: hide stop work if fulfiller logs in
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

updated about img
  app/assets/v2/images/team/aditya.png
Due: none

Add Nerthus Token profile
  erc20/0x3dfeaf13a6615e560aecc5648ace8fa50d7cf6bf.json
  images/0x3dfeaf13a6615e560aecc5648ace8fa50d7cf6bf.png
Due: none

update DCS Token
  erc20/0x53d47C83fCB0af1BB307736d288c75307A6abcD5.json
Due: none

Update Blog Message
  erc20/0x53d47C83fCB0af1BB307736d288c75307A6abcD5.json
Due: none

fix
  erc20/0x76E77B3653FF53Ec2dabb2EaF96fCdccd3a02DAF.json
  images/0x76E77B3653FF53Ec2dabb2EaF96fCdccd3a02DAF.png
Due: none

#7652# TDC-token
  erc20/0x763308a9bbFaa76790BfcBC9b160e8FA447b2D82.json
Due: none

Update profile designs
  app/assets/v2/css/profile.css
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/profiles/tab_activity.html
  app/dashboard/templates/profiles/tab_portfolio.html
  app/dashboard/templates/profiles/tab_ratings.html
  app/dashboard/templates/profiles/tab_resume.html
  app/dashboard/templates/profiles/tabs.html
  app/dashboard/templates/shared/feedback.html
  app/dashboard/views.py
Due: stylelint

Fix broken grant data
  app/app/fixtures/avatar.json
  app/app/fixtures/economy.json
  app/app/fixtures/grants.json
  app/app/fixtures/profiles.json
  app/app/fixtures/users.json
Due: none

Fix resume UI
  app/dashboard/templates/profiles/tab_resume.html
  app/dashboard/templates/profiles/tabs.html
Due: none

Fix relationship tab design
  app/dashboard/views.py
Due: none

Update tab design
  app/dashboard/templates/profiles/tab_workedwith.html
  app/dashboard/templates/shared/feedback.html
  app/dashboard/views.py
Due: none

Fix lint issues
  app/assets/v2/css/profile.css
  app/dashboard/templates/profiles/activity_level.html
  app/dashboard/templates/profiles/header_avatar.html
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/profiles/scorecard_funder.html
  app/dashboard/templates/profiles/scorecard_hunter.html
  app/dashboard/templates/profiles/tab_resume.html
  app/dashboard/templates/profiles/tab_workedwith.html
  app/dashboard/templates/profiles/tabs.html
  app/dashboard/templates/shared/feedback.html
  app/dashboard/views.py
Due: stylelint

Add progress bar to ratings
  app/dashboard/templates/profiles/tab_ratings.html
Due: none

DL fixes
  app/grants/templates/grants/fund.html
  app/grants/views.py
Due: none

hot patch for image header PR to make it roundup only
  app/assets/v2/images/emails/email_header3.png
  app/assets/v2/images/emails/email_header4.png
  app/assets/v2/images/emails/email_header5.png
  app/assets/v2/images/emails/email_header6.png
  app/retail/emails.py
  app/retail/templates/emails/template.html
Due: none

this commit adds methods for calculating all the info needed on profiles to give them activity data
  app/dashboard/admin.py
  app/dashboard/management/commands/cleanup_dupe_profiles.py
  app/dashboard/management/commands/create_rep_records.py
  app/dashboard/migrations/0052_auto_20190909_1822.py
  app/dashboard/migrations/0053_repentry.py
  app/dashboard/models.py
  app/dashboard/points.py
  app/dashboard/templates/profiles/activity_stats.html
  app/dashboard/templates/profiles/heatmap.html
Due: none
