Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

fix: ensures the delete-account modal displays correctly (#10250)
  app/retail/templates/settings/account.html
Due: none

Fix: working_dir in services in docker-compose needed adjustments, because Dockerfile changed in last merge (#10254)
  docker-compose.yml
Due: none

deploy: 5855b2a489da6d258f2077632733196f7fbc030e
  sitemap.xml.gz
Due: none

deploy: 70389a6c64bec1e4b9ad154256606c9bf23bd986
  sitemap.xml.gz
Due: none

add tooltip on grant detail
  app/grants/templates/grants/detail/template-grant-details.html
Due: none

hide grant type info on grant detail
  app/grants/templates/grants/detail/template-grant-details.html
Due: none

fix order
  app/grants/templates/grants/detail/template-grant-details.html
Due: none

deploy: 1f80bf5da7689bf0296e7c8b7b716755a79914a4
  sitemap.xml.gz
Due: none

deploy: 230a3d90560ee10580695e9a59039d1f57331249
  sitemap.xml.gz
Due: none

deploy: 73d88f39ef79a1332cb11d0c4512720c5d0ee38c
  sitemap.xml.gz
Due: none

fix eligibility tag error
  app/grants/views.py
Due: none

segmented dropdown into tag categories
  app/assets/v2/js/grants/_new.js
  app/assets/v2/scss/grants/form_wrapper.scss
  app/grants/templates/grants/_new.html
Due: eslint, stylelint

chore: update twitter card image for gr13
  app/assets/v2/images/twitter_cards/grants13.png
  app/grants/views.py
Due: none

myalgo wallet :white_check_mark:
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/cart/algorand_extension.js
Due: eslint

switching through fallbacks :white_check_mark:
  app/assets/v2/js/grants/cart/algorand_extension.js
Due: eslint

fix broken tab ui
  app/grants/templates/grants/cart/eth.html
  app/grants/templates/grants/cart/eth_polygon.html
Due: none

change verbiage
  app/grants/templates/grants/cart/extension/algorand.html
  app/grants/templates/grants/cart/extension/binance.html
  app/grants/templates/grants/cart/extension/harmony.html
  app/grants/templates/grants/cart/extension/kusama.html
  app/grants/templates/grants/cart/extension/polkadot.html
  app/grants/templates/grants/cart/extension/rsk.html
Due: none

fix sticky checkout button in crosschain tabs
  app/grants/templates/grants/cart-vue.html
Due: none

enhance tokenList filtering
  app/assets/v2/js/cart.js
Due: eslint

strict networkid
  app/assets/v2/js/cart.js
Due: eslint

remove unused cards
  app/assets/v2/images/twitter_cards/grants10.png
  app/assets/v2/images/twitter_cards/grants11.png
  app/assets/v2/images/twitter_cards/grants12.png
  app/assets/v2/images/twitter_cards/grants7-2.png
  app/assets/v2/images/twitter_cards/grants7.png
  app/assets/v2/images/twitter_cards/grants8.png
  app/assets/v2/images/twitter_cards/grants9.png
  app/grants/views.py
Due: none

chore: update twitter card image for gr13 (#10256)
  app/assets/v2/images/twitter_cards/grants10.png
  app/assets/v2/images/twitter_cards/grants11.png
  app/assets/v2/images/twitter_cards/grants12.png
  app/assets/v2/images/twitter_cards/grants13.png
  app/assets/v2/images/twitter_cards/grants7-2.png
  app/assets/v2/images/twitter_cards/grants7.png
  app/assets/v2/images/twitter_cards/grants8.png
  app/assets/v2/images/twitter_cards/grants9.png
  app/grants/views.py
Due: none

change verbiage (#10259)
  app/grants/templates/grants/cart/extension/algorand.html
  app/grants/templates/grants/cart/extension/binance.html
  app/grants/templates/grants/cart/extension/harmony.html
  app/grants/templates/grants/cart/extension/kusama.html
  app/grants/templates/grants/cart/extension/polkadot.html
  app/grants/templates/grants/cart/extension/rsk.html
Due: none

fix broken tab ui (#10258)
  app/grants/templates/grants/cart/eth.html
  app/grants/templates/grants/cart/eth_polygon.html
Due: none

fix eligibility tag error (#10255)
  app/assets/v2/js/grants/_new.js
  app/assets/v2/scss/grants/form_wrapper.scss
  app/grants/templates/grants/_new.html
  app/grants/views.py
Due: eslint, stylelint

algorand: multiple wallet fallback (#10257)
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/cart/algorand_extension.js
Due: eslint

enhance cart token filtering (#10260)
  app/assets/v2/js/cart.js
Due: eslint

deploy: a67173ad2a6b5e7383795998fbf9ef9e69f7bde2
  sitemap.xml
  sitemap.xml.gz
Due: none

deploy: 2dcba58c2ea9abdcdaeb9d6ef27a91a1fc3572cf
  sitemap.xml.gz
Due: none

deploy: bc49aa4e8f3a33d9b4795f8181c8cd527c105ded
  sitemap.xml.gz
Due: none

deploy: 55fea1f17840ede06cbb5bece7051587e15fb5d3
  sitemap.xml.gz
Due: none

deploy: 77f287679c2df522ed0b251d47d44a1d82b5f5b0
  sitemap.xml.gz
Due: none

fix: contract address check
  app/assets/v2/js/grants/_detail-component.js
  app/grants/templates/grants/detail/template-grant-details.html
Due: eslint

fix: use `request.headers.get` to avoid backend errors
  app/grants/views.py
Due: none

fix indent
  app/assets/v2/js/grants/_detail-component.js
Due: eslint

add migration file
  app/grants/migrations/0139_grantclr_grant_exclude.py
Due: none

feat: add ability grant_excludes
  app/grants/clr_data_src.py
  app/grants/models/grant.py
  app/grants/tests/models/test_grant_clr.py
Due: none

deploy: ca596641c61cbf9469e5f039a79a3687b207564d
  sitemap.xml.gz
Due: none

remove trailing ,
  app/grants/templates/grants/landing/landing_qf_active.html
Due: none

wip GA4 addition
  app/assets/v2/js/cart.js
  app/grants/templates/grants/analytics_manager.html
  app/grants/templates/grants/cart-vue.html
  app/grants/templates/grants/landing/index.html
Due: eslint

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
