Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

rank by number of actions taken
  app/dashboard/views.py
Due: none

fix condition
  app/assets/v2/js/base.js
Due: eslint

update bitcoint image
  images/bitcoin.png
Due: none

Use default button color for sponsored section of newsletter
  app/retail/templates/emails/bounty_roundup.html
Due: none

newsletter 2019-07-12
  app/retail/emails.py
Due: none

sync mail twice a day
  app/marketing/management/commands/sync_mail.py
  scripts/crontab
Due: none

sync mail twice a day (#4785)
  app/marketing/management/commands/sync_mail.py
  scripts/crontab
Due: none

a few morning optimizations
  app/dashboard/management/commands/set_user_personas.py
  scripts/crontab
Due: none

be smarter about refresh bounties, de-dupe refresh_remote_bounties from cleanup_dupe_bounties
  app/economy/management/commands/refresh_bounties.py
  scripts/crontab
Due: none

be smarter about refresh bounties, de-dupe refresh_remote_bounties from cleanup_dupe_bounties
  app/dashboard/management/commands/set_user_personas.py
  app/economy/management/commands/refresh_bounties.py
Due: none

kudos images dont mess up height of page while loading
  app/kudos/templates/shared/kudos_card.html
Due: none

Cache filtering by applicants
  app/dashboard/router.py
Due: none

unloading button after alerts
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

moar kudos
  app/assets/v2/images/kudos/labs_beyonde_blockchain.svg
  app/kudos/kudos.yaml
Due: none

new kudos
  app/assets/v2/images/kudos/doge2.svg
  app/assets/v2/images/kudos/meme_warrior.svg
  app/assets/v2/images/kudos/mythx_beta_champs.svg
  app/assets/v2/images/kudos/oracle.svg
  app/kudos/kudos.yaml
Due: none

kudos.yaml
  app/kudos/kudos.yaml
Due: none

round amount on dashbaord
  app/assets/v2/js/shared.js
  app/dashboard/router.py
Due: eslint

fix bad rounded value
  app/assets/v2/js/shared.js
Due: eslint

add h1 to explorer
  app/dashboard/templates/dashboard/index.html
Due: none

jquery-unvail anywhere and everywhere
  app/dashboard/templates/shared/nav_auth.html
  app/retail/templates/home/index.html
  app/retail/templates/shared/footer.html
  app/retail/templates/shared/footer_scripts.html
Due: none

site performance
  app/app/settings.py
  app/assets/v2/css/gitcoin.css
  app/assets/v2/css/home.css
  app/assets/v2/js/lib/jquery-unveil.js
  app/assets/v2/js/lib/vue.js
  app/dashboard/templates/bounty/details.html
  app/dashboard/templates/bounty/fulfill.html
  app/dashboard/templates/bulk_payout_bounty.html
  app/dashboard/templates/dashboard/index.html
  app/dashboard/templates/dashboard/users.html
  app/dashboard/templates/ftux/avatar.html
  app/dashboard/templates/process_bounty.html
  app/dashboard/templates/profiles/profile.html
  app/grants/templates/grants/detail/index.html
  app/grants/templates/grants/faq.html
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/index.html
  app/grants/templates/grants/leaderboard.html
  app/inbox/templates/inbox.html
  app/kudos/templates/kudos_about.html
  app/kudos/templates/kudos_details.html
  app/kudos/templates/kudos_marketplace.html
  app/kudos/templates/transaction/receive_bulk.html
  app/retail/templates/bounties/contributor.html
  app/retail/templates/home/index.html
  app/retail/templates/shared/analytics.html
  app/retail/templates/shared/compass.html
  app/retail/templates/shared/footer.html
  app/retail/templates/shared/footer_scripts.html
  app/retail/templates/shared/footer_scripts_lite.html
  app/retail/templates/shared/head.html
  app/retail/templates/shared/video_preview_block.html
  requirements/base.txt
  scripts/deploy.bash
Due: eslint, stylelint

runs images through imageoptim
  app/assets/v2/images/medium/1.png
  app/assets/v2/images/medium/2.png
  app/assets/v2/images/medium/3.png
  app/assets/v2/images/press/blockcrunch.jpg
  app/assets/v2/images/press/blockcrunch.png
  app/assets/v2/images/press/btc_podcast.jpg
  app/assets/v2/images/press/btcmanager.jpg
  app/assets/v2/images/press/btcmanager.png
  app/assets/v2/images/press/btcmanager2.jpg
  app/assets/v2/images/press/builtin.jpg
  app/assets/v2/images/press/chronologic.jpg
  app/assets/v2/images/press/coindesk.png
  app/assets/v2/images/press/coloradotechcast.jpg
  app/assets/v2/images/press/devhour.jpg
  app/assets/v2/images/press/epicenter.jpg
  app/assets/v2/images/press/epicenter.png
  app/assets/v2/images/press/ethereal.png
  app/assets/v2/images/press/ethnews.jpg
  app/assets/v2/images/press/ethnews.png
  app/assets/v2/images/press/floss_weekly.jpg
  app/assets/v2/images/press/forbes.jpg
  app/assets/v2/images/press/pressurecast.jpg
  app/assets/v2/images/press/unhashed.jpg
  app/assets/v2/images/press/unhashed.png
  app/retail/views.py
Due: none

more image optimmizations
  app/assets/v2/images/medium/1.png
  app/assets/v2/images/medium/2.png
  app/assets/v2/images/medium/3.png
  app/assets/v2/images/press/hosting-advice.png
Due: none

F fix incorrect token price conversion.
  app/grants/models.py
  app/grants/views.py
Due: none

Fix edit info on grant page
  app/assets/v2/js/grants/detail.js
  app/grants/templates/grants/detail/tabs.html
  app/grants/views.py
Due: eslint

Fix grant data eslint error
  app/assets/v2/js/grants/detail.js
Due: eslint

Fix grant/detail.js lint
  app/assets/v2/js/grants/detail.js
Due: eslint

sets results limit to 10 not 5
  app/assets/v2/js/pages/dashboard.js
Due: eslint

Vtm token (#4456)
  erc20/0x5adfBDf9B6dB65C71b7F44376549da6798470e1a.json
Due: none

Add BUSD token (#4315)
  erc20/0x7aA12F1069D13354aee8858622F9e3c6c40f38c3.json
  images/0x7aA12F1069D13354aee8858622F9e3c6c40f38c3.png
Due: none

Add BFB token (#4454)
  erc20/0x6cF6bbCf0e0e6d9d3801858ec1d9C9D93D396948.json
  images/0x6cF6bbCf0e0e6d9d3801858ec1d9C9D93D396948.png
Due: none

Boom (#4419)
  erc20/0x2CcFdf494a91c5212873dD267eC764F7b71b9B82.json
  erc20/0xDB7Eab9bA6be88B869F738f6DEeBa96d49Fe13fd.json
  images/0x2CcFdf494a91c5212873dD267eC764F7b71b9B82.png
  images/0xDB7Eab9bA6be88B869F738f6DEeBa96d49Fe13fd.png
Due: none

Add RB token (#4462)
  erc20/0xc9e35813B427D0Eb24914FDe441956651e946865.json
  images/0xc9e35813B427D0Eb24914FDe441956651e946865.png
Due: none

Add ea token (#4447)
  erc20/0x88c4A6854b4F35eC7CBDCA92F939354A779B9a49.json
  images/0x88c4A6854b4F35eC7CBDCA92F939354A779B9a49.png
Due: none

Trc (#4479)
  erc20/0xddb3Db2DFdD8705e606959637477AEE7B0Cc22F1.json
  images/0xddb3Db2DFdD8705e606959637477AEE7B0Cc22F1.png
Due: none

Add BGN token (#4427)
  erc20/0xB117ed8A61C139037e67d4e00c6292f65fFd7207.json
  images/0xB117ed8A61C139037e67d4e00c6292f65fFd7207.png
Due: none

DCC overview update (#4481)
  erc20/0x4dC975e2C100aab50702eD679F33d5c80cd18060.json
Due: none

Add hcc tomken
  eos-token/HCC@hurricaneccc.json
  images/HCC@hurricaneccc.png
Due: none
