Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

add is idle prop in admin (#9889)
  app/grants/admin.py
Due: none

remove using inkscape
  app/avatar/utils.py
  app/marketing/management/commands/debug_test.py
  pydocmd.yml
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

claim tx ingestion
  app/assets/v2/js/grants/matching_funds.js
  app/grants/models/clr_match.py
  app/grants/models/grant.py
  app/grants/serializers.py
  app/grants/templates/grants/matching_funds.html
  app/grants/views.py
Due: eslint

GITC-327: Adding caching to repos, issues and comments
  app/git/models.py
  app/git/utils.py
Due: none

GITC-327: Test cases & bug fixes
  app/git/models.py
  app/git/tests/models/test_git_cache.py
  app/git/tests/test_utils.py
  app/git/utils.py
Due: none

GITC-327 , GITC-569: Have fixed posting, patching, deleting issue comments, reacting to comments as well as maintaining the fulfillment comment on GH
  app/dashboard/notifications.py
  app/dashboard/views.py
  app/git/models.py
  app/git/tests/models/test_git_cache.py
  app/git/tests/test_utils.py
  app/git/utils.py
Due: none

GITC-327: rename self -> cls for class methods
  app/git/models.py
Due: none

truce
  app/assets/v2/js/grants/ingest-missing-contributions.js
Due: eslint

fix: adds more replica instances to the app
  app/app/db.py
  app/app/settings.py
Due: none

finish ingestion + new migration
  app/assets/v2/js/grants/matching_funds.js
  app/grants/migrations/0134_merge_20211216_2057.py
  app/grants/migrations/0135_auto_20211216_2059.py
  app/grants/templates/grants/matching_funds.html
  app/grants/views.py
Due: eslint

bella ciao
  app/assets/v2/js/grants/ingest-missing-contributions.js
  app/grants/templates/grants/ingest-contributions.html
  app/grants/views.py
Due: eslint

hide sticky feature
  app/grants/templates/grants/matching_funds.html
Due: none

fix: adds more replica instances to the app (#9891)
  app/app/db.py
  app/app/settings.py
Due: none

remove broken avatar mgmt
  app/avatar/management/commands/fix_broken_avatars.py
  app/avatar/utils.py
  scripts/crontab
Due: none

remove other pieces
  app/avatar/models.py
  app/avatar/utils.py
  app/kudos/models.py
Due: none

fixes https://gitcoin.atlassian.net/browse/GITC-678
  app/retail/views.py
Due: none

polygon manual ingestion (#9837)
  app/assets/v2/js/cart-ethereum-polygon.js
  app/assets/v2/js/grants/ingest-missing-contributions.js
  app/assets/v2/js/wallet.js
  app/grants/templates/grants/ingest-contributions.html
  app/grants/views.py
Due: eslint

GITC-655: Tooltips and additional fields in grants edit page.
  app/assets/v2/js/grants/_detail-component.js
  app/grants/templates/grants/detail/template-grant-details.html
Due: eslint

Have improved the error handling.
  app/grants/views.py
Due: none

Have moved initialization of vars
  app/grants/views.py
Due: none

Have improved the error handling. (#9893)
  app/grants/views.py
Due: none

comment on hall of fame
  app/dashboard/templates/shared/menu.html
  app/grants/templates/grants/landing/landing_qf_active.html
  app/grants/views.py
Due: none

Styling of tooltips and inputs
  app/assets/v2/scss/gc-utilities.scss
  app/assets/v2/scss/grants/new.scss
  app/grants/templates/grants/detail/_index.html
  app/grants/templates/grants/detail/template-grant-details.html
Due: stylelint

corrects an issue with how gmv totals were calculated
  app/retail/utils.py
Due: none

one more try
  app/retail/utils.py
Due: none

fix: purges inkscape from dockerfile
  Dockerfile
Due: none

fix https://app.travis-ci.com/github/gitcoinco/web/builds/243462513 (#9884)
  cypress/integration/bounties/test_bounty_creation.js
Due: eslint

Have removed unnecesarry fields.
  app/assets/v2/js/grants/_detail-component.js
  app/grants/templates/grants/detail/template-grant-details.html
Due: eslint

GITC-656: allow only metamask on polygon checkout
  app/assets/v2/js/cart-ethereum-polygon.js
  cypress/integration/bounties/test_bounty_creation.js
Due: eslint

GITC-697: enable admin to sync fulfillment
  app/dashboard/admin.py
  app/grants/admin.py
  app/grants/models/hall_of_fame.py
  app/grants/urls.py
  app/grants/views.py
  app/retail/templates/admin/change_form.html
Due: none

GITC-327: GitHub caching extension (#9864)
  app/dashboard/notifications.py
  app/dashboard/views.py
  app/git/models.py
  app/git/tests/models/test_git_cache.py
  app/git/tests/test_utils.py
  app/git/utils.py
Due: none

GITC-696: ensure only mainnet tokens loads in bounty
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

Update CODEOWNERS
  CODEOWNERS
Due: none

remove using inkscape (#9890)
  Dockerfile
  app/avatar/management/commands/fix_broken_avatars.py
  app/avatar/models.py
  app/avatar/utils.py
  app/kudos/models.py
  app/marketing/management/commands/debug_test.py
  pydocmd.yml
  scripts/crontab
Due: none

toggle submenus
  app/grants/templates/grants/explorer.html
Due: none

add and toggle carat symbol
  app/grants/templates/grants/explorer.html
Due: none

add styling
  app/grants/templates/grants/explorer.html
Due: none

add header and style
  app/grants/templates/grants/explorer.html
Due: none

refactor
  app/grants/templates/grants/explorer.html
Due: none
