Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

update contract address to checksum
  erc20/0x0c93b616933b0cd03b201b29cd8a22681dd9e0d9.json
Due: none

Rename 0x0c93b616933b0cd03b201b29cd8a22681dd9e0d9.json to 0x0c93B616933b0CD03B201b29Cd8a22681DD9E0d9.json
  erc20/0x0c93B616933b0CD03B201b29Cd8a22681DD9E0d9.json
Due: none

rename hgold icon filename to checksum
  images/0x0c93B616933b0CD03B201b29Cd8a22681DD9E0d9.png
Due: none

add mars token
  erc20/0x66C0DDEd8433c9EA86C8cf91237B14e10b4d70B7.json
  images/0x66C0DDEd8433c9EA86C8cf91237B14e10b4d70B7.png
Due: none

add dows token
  erc20/0x661Ab0Ed68000491d98C796146bcF28c20d7c559.json
  images/0x661Ab0Ed68000491d98C796146bcF28c20d7c559.png
Due: none

add ftm token
  erc20/0x4E15361FD6b4BB609Fa63C81A2be19d873717870.json
  images/0x4E15361FD6b4BB609Fa63C81A2be19d873717870.png
Due: none

add ftm token
  images/0x4E15361FD6b4BB609Fa63C81A2be19d873717870.png
Due: none

add badger token
  erc20/0x3472A5A71965499acd81997a54BBA8D852C6E53d.json
  images/0x3472A5A71965499acd81997a54BBA8D852C6E53d.png
Due: none

add badger token
  images/0x3472A5A71965499acd81997a54BBA8D852C6E53d.png
  images/0x4E15361FD6b4BB609Fa63C81A2be19d873717870.png
Due: none

Making this form more clear (#8592)
  app/grants/templates/grants/ingest-contributions.html
Due: none

Fixes content cards so that they properly link to respective pages (#8567)
  app/assets/v2/js/activity.js
  app/assets/v2/scss/activity_stream.scss
  app/assets/v2/scss/base.scss
  app/retail/templates/shared/activity-vue.html
  app/retail/templates/shared/activity.html
Due: eslint, stylelint

Fixes z-indexing on active QF cards (#8565)
  app/grants/templates/grants/shared/active_clr_round.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

fix modal reopen in loop
  app/dashboard/templates/quickstart.html
Due: none

feedback from octo
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

Opens twitter share in a new tab and ensures trust-bonus always opens (on thanks-modal close) (#8566)
  app/assets/v2/js/grants/contribution-trust-bonus.js
  app/assets/v2/js/grants/grant-thanks-modal.js
  app/retail/templates/shared/contribution_trust_bonus.html
  app/retail/templates/shared/grant_thanks_modal.html
Due: eslint

prevent quickstart from redirecting to /new page (#8594)
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/templates/quickstart.html
Due: eslint

Tune tx validator to be more conservative in how it treats pending txns. (#8583)
  app/grants/models.py
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

Remove cart.js backups since we werent using them anyway
  app/assets/v2/js/cart-ethereum-zksync.js
  app/assets/v2/js/cart.js
Due: eslint

Checkout falls back to manual ingestion if regular ingestion fails
  app/assets/v2/js/cart.js
Due: eslint

Make manual ingestion code more DRY
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/ingest-missing-contributions.js
  app/assets/v2/js/grants/shared.js
  app/grants/templates/grants/ingest-contributions.html
Due: eslint

increases premailer cache size by default
  app/app/local.env
Due: none

only load chains script if needed
  app/assets/v2/js/cart.js
  app/grants/templates/grants/cart-vue.html
Due: eslint

Various improvements to ingestion process
  app/assets/v2/js/grants/ingest-missing-contributions.js
  app/assets/v2/js/grants/shared.js
  app/grants/templates/grants/ingest-contributions.html
  app/grants/views.py
Due: eslint

Removes fly-out behaviour on side-cart and tidies up card/list-view
  app/assets/v2/js/grants/funding.js
  app/assets/v2/scss/grants/grant.scss
  app/assets/v2/scss/grants/side-cart.scss
  app/grants/templates/grants/components/card.html
  app/grants/templates/grants/detail/side-cart.html
  app/grants/templates/grants/index.html
Due: eslint, stylelint

Resolves stylelint errors
  app/assets/v2/scss/grants/grant.scss
Due: stylelint

Support pagination of zkSync API when ingesting contributions
  app/grants/views.py
Due: none

backend sync with explorer api
  app/dashboard/sync/nervos.py
Due: none

- remove unwanted text - center image @featured_funded_bounty
  app/retail/templates/emails/funded_featured_bounty.html
Due: none

show metabase for stats instead of perpetually broken stats page
  app/grants/clr.py
  app/grants/management/commands/grant_stats_fix.py
  app/grants/templates/grants/index.html
  app/grants/urls.py
  app/grants/views.py
  app/retail/emails.py
  scripts/crontab
  scripts/debug/fix_grants_stats.py
Due: none

add 3 tokens
  erc20/0x0391D2021f89DC339F60Fff84546EA23E337750f.json
  erc20/0x87d73E916D7057945c9BcD8cdd94e42A6F47f776.json
  erc20/0xa1faa113cbE53436Df28FF0aEe54275c13B40975.json
  images/0x0391D2021f89DC339F60Fff84546EA23E337750f.png
  images/0x87d73E916D7057945c9BcD8cdd94e42A6F47f776.png
  images/0xa1faa113cbE53436Df28FF0aEe54275c13B40975.png
Due: none

Fixes missing nav-toggle icons (for mobile)
  app/assets/v2/scss/gc-variables.scss
  app/assets/v2/scss/top-nav.scss
Due: stylelint

Switches order of empty/loading blocks so that we don't flash "empty"
  app/grants/templates/grants/cart-vue.html
Due: none

fix polkadot detection
  app/assets/v2/js/cart.js
  app/assets/v2/js/grants/cart/polkadot_extension.js
Due: eslint

Ensures that we only make isAllDai checks on Ethereum chain
  app/assets/v2/js/cart.js
Due: eslint

nicer designed trustbonus tab
  app/assets/v2/images/passport-cover.png
  app/assets/v2/images/passport_square.png
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/templates/profiles/trust-vue.html
Due: eslint

refactor brightid to not call on page load
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/templates/profiles/trust-vue.html
  app/dashboard/views.py
Due: eslint
