Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

Implements post-checkout modal designs - adding trust requirement details
  app/assets/v2/js/grants/create-collection-modal.js
  app/assets/v2/js/grants/grant-thanks-modal.js
  app/assets/v2/scss/gc-utilities.scss
  app/grants/views.py
  app/retail/templates/shared/create_collection_modal.html
  app/retail/templates/shared/grant_thanks_modal.html
Due: eslint, stylelint

Drop contribution-trust-bonus (html/js/trigger)
  app/assets/v2/js/grants/contribution-trust-bonus.js
  app/assets/v2/js/grants/grant-thanks-modal.js
  app/grants/templates/grants/index.html
  app/retail/templates/shared/contribution_trust_bonus.html
Due: eslint

Adds twitter card (grants10.png) (#9072)
  app/assets/v2/images/twitter_cards/grants10.png
Due: none

Implements trust requirement banners (#9076)
  app/assets/v2/images/trust/64x64-green.svg
  app/assets/v2/images/trust/64x64.svg
  app/assets/v2/js/grants/landingpage.js
  app/assets/v2/js/pages/profile-trust.js
  app/assets/v2/js/parseMonthDay.js
  app/assets/v2/js/why-this-matters-modal.js
  app/dashboard/idena_utils.py
  app/dashboard/models.py
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/profiles/trust-vue.html
  app/grants/templates/grants/cart-vue.html
  app/grants/templates/grants/landingpage.html
  app/grants/templates/grants/shared/landing_qf_active.html
  app/grants/views.py
Due: eslint

Implements post-checkout modal designs (#9077)
  app/assets/v2/js/grants/contribution-trust-bonus.js
  app/assets/v2/js/grants/create-collection-modal.js
  app/assets/v2/js/grants/grant-thanks-modal.js
  app/assets/v2/scss/gc-utilities.scss
  app/grants/templates/grants/index.html
  app/grants/views.py
  app/retail/templates/shared/contribution_trust_bonus.html
  app/retail/templates/shared/create_collection_modal.html
  app/retail/templates/shared/grant_thanks_modal.html
Due: eslint, stylelint

update image
  app/assets/v2/images/twitter_cards/grants10.png
Due: none

min contribution amount to 1 usd (#9069)
  app/assets/v2/js/cart-ethereum-zksync.js
  app/assets/v2/js/cart.js
  app/grants/tasks.py
  app/grants/templates/grants/cart/eth.html
Due: eslint

Fixes asset duplication
  app/dashboard/templates/profiles/profile.html
Due: none

Gov nav WIP - Should be overridden by Alisa/Design Squads design. (#8993)
  app/dashboard/templates/shared/menu.html
Due: none

fix: https://sentry.io/organizations/gitcoin/issues/1970042494
  app/avatar/models.py
Due: none

better try fix
  app/kudos/models.py
Due: none

order tribe by id before pagination
  app/dashboard/views.py
Due: none

dec zksync limit
  app/assets/v2/js/cart.js
Due: eslint

Restores variables lost in SHA: c10f867f994160feb7d2af8c3b3a21da0994ddb8
  app/grants/views.py
Due: none

fix #9083 change grants contrib on checkout
  app/grants/templates/grants/cart/eth.html
Due: none

increase font validation font size
  app/grants/templates/grants/cart/eth.html
Due: none

Restores about.html content
  app/retail/templates/about.html
Due: none

Restores about.html content (#9091)
  app/retail/templates/about.html
Due: none

Restores about + privacy content
  app/dashboard/templates/legal/privacy.html
  app/retail/templates/about.html
Due: none

fix: https://sentry.io/organizations/gitcoin/issues/174730290
  app/dashboard/views.py
Due: none

fix: https://sentry.io/organizations/gitcoin/issues/2359019308
  app/retail/templates/home/index2021.html
Due: none

sentry: https://sentry.io/organizations/gitcoin/issues/1435613939/
  app/kudos/views.py
Due: none

remove manageEthereumCartJSONStore (#9009)
  app/assets/v2/js/cart-ethereum-zksync.js
  app/assets/v2/js/cart.js
Due: eslint

bug: fix broken sidebar
  app/assets/v2/js/activity.js
  app/assets/v2/js/pages/profile-tribes.js
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/templates/profiles/tribes-vue.html
  app/grants/sync/celo.py
  app/grants/sync/zcash.py
  app/grants/views.py
  app/quests/templates/quests/index.html
  app/retail/templates/jtbd/connect.html
Due: eslint

+ browser script
  app/assets/v2/js/lib/tezos/walletbeacon.min.js
  app/dashboard/templates/bounty/details2.html
Due: eslint

Implements feedback from @PixelantDesign
  app/assets/v2/js/grants/create-collection-modal.js
  app/assets/v2/js/pages/profile-trust.js
  app/retail/templates/home/index2021.html
Due: eslint

adds some sanity to kudos mint
  app/kudos/admin.py
  app/kudos/tasks.py
  app/retail/templates/admin/change_form.html
Due: none

Fixes typo 'sucessfully' -> 'successfully'
  app/assets/v2/js/pages/profile-trust.js
Due: eslint

Implements feedback from @PixelantDesign (#9098)
  app/assets/v2/js/grants/create-collection-modal.js
  app/assets/v2/js/pages/profile-trust.js
  app/retail/templates/home/index2021.html
Due: eslint

bug: fix broken sidebar (#9096)
  app/assets/v2/js/activity.js
  app/assets/v2/js/pages/profile-tribes.js
  app/assets/v2/js/pages/profile-trust.js
  app/dashboard/templates/profiles/tribes-vue.html
  app/grants/sync/celo.py
  app/grants/sync/zcash.py
  app/grants/views.py
  app/quests/templates/quests/index.html
  app/retail/templates/jtbd/connect.html
Due: eslint

sentry fixes (#9092)
  app/dashboard/views.py
  app/kudos/views.py
  app/retail/templates/home/index2021.html
Due: none

Deletes mautic contact on profile deletion (#9073)
  app/marketing/views.py
Due: none

preview in admin
  app/kudos/admin.py
Due: none

Tidies up grant-details template
  app/grants/templates/grants/detail/template-grant-details.html
Due: none

Tidies up grant-details template (#9102)
  app/grants/templates/grants/detail/template-grant-details.html
Due: none

Fixes trust bonus images
  app/dashboard/views.py
Due: none

Uses created_on date rather than modified_on to source recent contributions
  app/retail/emails.py
Due: none

Uses created_on date rather than modified_on to source recent contributions (#9106)
  app/retail/emails.py
Due: none

Fixes missing function and nav visibility
  app/assets/v2/js/pages/onboard.js
  app/assets/v2/scss/onboard.scss
  app/retail/templates/avatar_landing.html
Due: eslint, stylelint

Fixes missing function and nav visibility (#9107)
  app/assets/v2/js/pages/onboard.js
  app/assets/v2/scss/onboard.scss
  app/retail/templates/avatar_landing.html
Due: eslint, stylelint

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
