Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

updated gitignore so that it correctly captures the .env file changes that should be excluded from the repo
  .gitignore
  app/app/local.env
Due: none

fix typo in eth_sum calc (#4915)
  app/dashboard/models.py
Due: none

Add work plan (#4864)
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/router.py
  app/dashboard/templates/bounty/details.html
Due: eslint

add card desc for grow eth hackathon (#4914)
  app/dashboard/views.py
Due: none

remove comments
  app/app/tests/test_app_urls.py
Due: none

Fix contract_owner_button onClick indentation
  app/assets/v2/js/grants/detail.js
Due: eslint

Dashboard (#4588)
  app/app/tests/test_app_urls.py
  app/app/urls.py
  app/assets/v2/css/board.css
  app/assets/v2/css/vue-loader.css
  app/assets/v2/images/zero-bounties.svg
  app/assets/v2/js/board.js
  app/dashboard/models.py
  app/dashboard/templates/board.html
  app/dashboard/templates/shared/nav_auth.html
  app/dashboard/views.py
Due: eslint, stylelint

Fix edit info on grant page (#4793)
  app/assets/v2/js/grants/detail.js
  app/grants/templates/grants/detail/tabs.html
  app/grants/views.py
Due: eslint

stable -> master (#4918)
  app/assets/v2/css/hackathons/explorer.css
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/increase_bounty.js
  app/assets/v2/js/shared.js
  app/dashboard/templates/bounty/increase.html
  app/dashboard/templates/shared/hackathon_sponsors.html
  app/dashboard/views.py
  app/economy/management/commands/refresh_bounties.py
  app/grants/models.py
  app/retail/emails.py
  app/retail/templates/gas.html
  app/retail/templates/shared/top_nav.html
  app/retail/utils.py
Due: eslint, stylelint

added missing migration
  app/grants/migrations/0026_auto_20190731_1433.py
Due: none

fixes breaking bounty detail page
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

Revert "Fix edit info on grant page (#4793)"
  app/assets/v2/js/grants/detail.js
  app/grants/templates/grants/detail/tabs.html
  app/grants/views.py
Due: eslint

Revert "Fix edit info on grant page (#4793)" (#4921)
  app/assets/v2/js/grants/detail.js
  app/grants/templates/grants/detail/tabs.html
  app/grants/views.py
Due: eslint

remove duplicate function
  app/assets/v2/js/pages/bulk_payout.js
Due: eslint

change sum eth value
  app/dashboard/models.py
Due: none

fix workplan showing in every activity
  app/dashboard/templates/bounty/details.html
Due: none

Deploy fixes (#4922)
  app/dashboard/models.py
  app/dashboard/templates/bounty/details.html
Due: none

remove duplicate function (#4923)
  app/assets/v2/js/pages/bulk_payout.js
Due: eslint

purge: remove grant ownership
  app/app/urls.py
  app/assets/v2/css/grants/detail.css
  app/assets/v2/js/grants/detail.js
  app/grants/admin.py
  app/grants/models.py
  app/grants/templates/grants/detail/index.html
  app/grants/templates/grants/detail/info.html
  app/grants/views.py
  app/marketing/mails.py
  app/retail/emails.py
  app/retail/templates/emails/grants/change_owner_accept.html
  app/retail/templates/emails/grants/change_owner_accept.txt
  app/retail/templates/emails/grants/change_owner_notify.html
  app/retail/templates/emails/grants/change_owner_notify.txt
  app/retail/templates/emails/grants/change_owner_reject.html
  app/retail/templates/emails/grants/change_owner_reject.txt
  app/retail/templates/emails/grants/change_owner_request.html
  app/retail/templates/emails/grants/change_owner_request.txt
Due: eslint, stylelint

catch email regex
  app/marketing/utils.py
Due: none

add network filter to dashboard
  app/dashboard/views.py
Due: none

Fix condition to initialize quill in grant edit
  app/grants/templates/grants/detail/tabs.html
Due: none

Show Tooltips On Bounty Details Page
  app/assets/v2/css/base.css
  app/assets/v2/js/shared.js
  app/dashboard/templates/bounty/details.html
Due: eslint, stylelint

heyo. its the newsletter.
  app/retail/emails.py
Due: none

newsletter
  app/retail/emails.py
Due: none

allow and check for regex in email suppression
  app/marketing/migrations/0004_auto_20190801_1303.py
  app/marketing/models.py
  app/marketing/utils.py
Due: none

fix isort
  app/marketing/models.py
Due: none

july numbers
  app/retail/templates/results.html
  app/retail/utils.py
Due: none

keep weekly leaderboard rank info
  app/dashboard/management/commands/cleanup_db_space.py
Due: none

copy on /results
  app/retail/templates/results.html
Due: none

tooltips
  app/assets/v2/css/base.css
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/shared.js
  app/dashboard/templates/bounty/details.html
Due: eslint, stylelint

fixes tooltips on bounties with otu crowdfunding
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

add cookielaw and fix styles
  app/assets/v2/css/home.css
  app/assets/v2/css/profile.css
  app/dashboard/templates/onepager/base.html
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/shared/labs_nav.html
  app/dashboard/templates/shared/rate_bounties.html
  app/grants/templates/grants/index.html
  app/grants/templates/grants/nav.html
  app/kudos/templates/kudos_about.html
  app/kudos/templates/kudos_details.html
  app/kudos/templates/kudos_marketplace.html
  app/kudos/templates/shared/kudos_nav.html
  app/retail/templates/about.html
  app/retail/templates/base.html
  app/retail/templates/home/index.html
  app/retail/templates/home/nav.html
  app/retail/templates/jobs.html
  app/retail/templates/mission.html
  app/retail/templates/not_a_token.html
  app/retail/templates/shared/nav.html
  app/retail/templates/vision.html
Due: stylelint

add network filter to dashboard (#4926)
  app/dashboard/views.py
Due: none

add cookielaw and fix styles (#4939)
  app/assets/v2/css/home.css
  app/assets/v2/css/profile.css
  app/dashboard/templates/onepager/base.html
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/shared/labs_nav.html
  app/dashboard/templates/shared/rate_bounties.html
  app/grants/templates/grants/index.html
  app/grants/templates/grants/nav.html
  app/kudos/templates/kudos_about.html
  app/kudos/templates/kudos_details.html
  app/kudos/templates/kudos_marketplace.html
  app/kudos/templates/shared/kudos_nav.html
  app/retail/templates/about.html
  app/retail/templates/base.html
  app/retail/templates/home/index.html
  app/retail/templates/home/nav.html
  app/retail/templates/jobs.html
  app/retail/templates/mission.html
  app/retail/templates/not_a_token.html
  app/retail/templates/shared/nav.html
  app/retail/templates/vision.html
Due: stylelint

fixes https://github.com/gitcoinco/web/issues/4934
  app/kudos/views.py
Due: none

kevins title suggestion
  app/retail/emails.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
