Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

change dep to https instead git
  requirements/base.txt
Due: none

make action buttons on first view; add login
  app/assets/landingpage/app.css
  app/retail/templates/home/index2020.html
Due: stylelint

Change print statements to log statements (#8320)
  app/grants/views.py
Due: none

Fix overflowing grant-data element (#8311)
  app/grants/templates/grants/detail/template-grant-details.html
Due: none

handle auth flag
  app/retail/templates/home/index2020.html
Due: none

adjust content
  app/assets/landingpage/app.css
  app/retail/templates/home/index2020.html
Due: stylelint

fix static proxy links
  app/assets/landingpage/app.css
  app/retail/templates/home/index2020.html
Due: stylelint

feedback
  app/dashboard/migrations/0169_profile_is_pro.py
  app/dashboard/models.py
Due: none

fix typo
  app/retail/templates/home/index2020.html
Due: none

fix redundancy
  app/grants/views.py
Due: none

xdai default
  app/kudos/views.py
Due: none

Add line break
  app/assets/v2/css/bounty.css
  app/dashboard/templates/bounty/details.html
  app/dashboard/templates/bounty/details2.html
Due: stylelint

Reverse css file
  app/assets/v2/css/bounty.css
Due: stylelint

handle duplicate email
  app/grants/urls.py
  app/marketing/views.py
Due: none

add sync email pref from settings
  app/retail/templates/settings/email.html
Due: none

Add planets :)
  app/assets/v2/css/onboarding_v2.css
  app/assets/v2/images/hackathon/onboarding_v2/achievement-sm.svg
  app/assets/v2/images/hackathon/onboarding_v2/achievement.svg
  app/dashboard/templates/dashboard/hackathon/onboarding_v2.html
Due: stylelint

Make image fully visible
  app/assets/v2/css/onboarding_v2.css
Due: stylelint

Allow bounty onwer to stop worker.
  app/assets/v2/js/pages/bounty_details2.js
  app/assets/v2/js/vue-filters.js
  app/dashboard/models.py
  app/dashboard/templates/bounty/details2.html
  app/dashboard/views.py
Due: eslint

Undo change apiUrlBounty to let
  app/assets/v2/js/pages/bounty_details2.js
Due: eslint

logo update
  images/0xB15c2b8bA695212fBc975034F7F0cB914460990D.png
Due: none

Add line break (#8325)
  app/assets/v2/css/bounty.css
  app/dashboard/templates/bounty/details.html
  app/dashboard/templates/bounty/details2.html
Due: stylelint

handle duplicate email (#8330)
  app/grants/urls.py
  app/marketing/views.py
Due: none

recreate migration files
  app/dashboard/migrations/0170_profile_is_pro.py
  app/dashboard/models.py
Due: none

adds an is_pro flag to the profile, so that we can easily toggle users back and forth into pro features (#8302)
  app/app/context.py
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/migrations/0170_profile_is_pro.py
  app/dashboard/models.py
Due: eslint

Add pETH token
  erc20/0x27A94869341838D5783368a8503FdA5fbCd7987c.json
  images/0x27A94869341838D5783368a8503FdA5fbCd7987c.png
Due: none

Send one mail instead of n mail to supporter on checkout of n grants (#8258)
  app/grants/sync/helpers.py
  app/grants/tasks.py
  app/grants/views.py
  app/marketing/mails.py
  app/retail/emails.py
  app/retail/templates/emails/grants/thank_you_for_supporting.html
  app/retail/templates/emails/grants/thank_you_for_supporting.txt
Due: none

add mig file
  app/grants/migrations/0109_grant_kusama_payout_address.py
  app/grants/tasks.py
Due: none

Add pDAI token
  erc20/0x85166b72c87697a6acfF24101B43Fd54fE28a179.json
  images/0x85166b72c87697a6acfF24101B43Fd54fE28a179.png
Due: none

Add pUSDC token
  erc20/0xf8E5b9738BF63ADFFf36a849F9b9C9617c8D8c1f.json
  images/0xf8E5b9738BF63ADFFf36a849F9b9C9617c8D8c1f.png
Due: none

Add pUSDT token
  erc20/0x5cFad792C4Df1323188180778AeC58E00eAcE32a.json
  images/0x5cFad792C4Df1323188180778AeC58E00eAcE32a.png
Due: none

Add pWBTC token
  erc20/0xc12B9D620bFCB48be3e0CCbf0ea80C717333b46F.json
  images/0xc12B9D620bFCB48be3e0CCbf0ea80C717333b46F.png
Due: none

Add WPC token
  erc20/0x4C78015679FabE22F6e02Ce8102AFbF7d93794eA.json
  images/0x4C78015679FabE22F6e02Ce8102AFbF7d93794eA.png
Due: none

Rename user-facing instances of 'personal token' to 'time token'
  app/app/urls.py
  app/assets/v2/js/board.js
  app/assets/v2/js/pages/profile_tokens.js
  app/dashboard/models.py
  app/dashboard/templates/board/index.html
  app/dashboard/templates/board/ptokens.html
  app/dashboard/templates/dashboard/users.html
  app/dashboard/templates/legal/terms.html
  app/dashboard/templates/profiles/scorecard_ptoken.html
  app/dashboard/templates/profiles/tab_ptokens.html
  app/dashboard/templates/profiles/tabs.html
  app/inbox/signals.py
  app/ptokens/emails.py
  app/ptokens/management/commands/update_ptoken_tx_status.py
  app/ptokens/models.py
  app/ptokens/templates/buy_a_token.html
  app/ptokens/templates/emails/ptoken_created.html
  app/ptokens/templates/emails/ptoken_created.txt
  app/ptokens/templates/personal_tokens.html
  app/ptokens/templates/shared/create_ptoken.html
  app/ptokens/templates/shared/edit_ptoken.html
  app/ptokens/templates/shared/ptokens_buy_faq.html
  app/ptokens/templates/shared/ptokens_faq.html
  app/ptokens/templates/shared/ptokens_make_faq.html
  app/ptokens/templates/shared/redeem_token_success_modal.html
  app/ptokens/templatetags/ptoken_tags.py
  app/retail/templates/shared/activity.html
Due: eslint

Add PROT token
  erc20/0x734bDFC240F03dF761FF012fA78Eb2e2e07515E9.json
  images/0x734bDFC240F03dF761FF012fA78Eb2e2e07515E9.png
Due: none

Excluded any file in dist from being tracked
  .gitignore
Due: none

Make style apply from JQuery
  app/assets/v2/js/grants/index.js
Due: eslint

Support background color to blend in image
  app/assets/v2/js/grants/index.js
Due: eslint

Check routing policy regex for background match
  app/assets/v2/js/grants/index.js
  app/grants/views.py
Due: eslint

Support background images
  app/assets/v2/js/grants/index.js
  app/grants/templates/grants/index.html
Due: eslint

Include all grant styles in request
  app/grants/templates/grants/index.html
  app/grants/views.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
