Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

bug: fix grant owner address etherscan link (#4854)
  app/assets/v2/js/abi.js
  app/assets/v2/js/grants/cancel_subscription.js
  app/assets/v2/js/grants/detail.js
  app/assets/v2/js/grants/fund.js
  app/assets/v2/js/grants/index.js
  app/assets/v2/js/grants/new.js
  app/assets/v2/js/pages/bounty_details.js
  app/grants/templates/grants/detail/index.html
Due: eslint

fixes https://github.com/gitcoinco/web/issues/4559 (#4842)
  app/dashboard/views.py
Due: none

massively simplifies the activity tabs on profile (#4818)
  app/dashboard/models.py
  app/dashboard/views.py
Due: none

joined activity
  app/app/context.py
  app/dashboard/models.py
  app/dashboard/templates/profiles/profile_activities.html
  app/dashboard/templates/shared/profile_activities_misc.html
  app/retail/templates/shared/activity.html
Due: none

joined activity (#4836)
  app/app/context.py
  app/dashboard/models.py
  app/dashboard/templates/profiles/profile_activities.html
  app/dashboard/templates/shared/profile_activities_misc.html
  app/retail/templates/shared/activity.html
Due: none

update django version -> 2.2.3 django-extensions 2.2.1 (#4841)
  requirements/base.txt
Due: none

As a gitcoin admin, I'd like the mailchimp syncing to be refactored, so the load on the database is lowered and the site runs faster (#4798)
  app/marketing/management/commands/sync_mail.py
Due: none

fix kudos url (#4855)
  app/app/sitemaps.py
  app/kudos/models.py
Due: none

add email capture to landing (#4847)
  app/assets/v2/css/home.css
  app/assets/v2/css/newsletter.css
  app/retail/templates/home/index.html
  app/retail/views.py
Due: stylelint

chore: css fixes on featured bounties (#4830)
  app/assets/v2/css/featured-bounties.css
  app/dashboard/templates/dashboard/index.html
Due: stylelint

feat: hackathon explorer background + sponsor is dynamic (#4831)
  app/assets/v2/css/hackathons/explorer.css
  app/dashboard/admin.py
  app/dashboard/migrations/0042_auto_20190719_2216.py
  app/dashboard/models.py
  app/dashboard/templates/dashboard/index.html
  app/dashboard/templates/shared/hackathon_sponsors.html
  app/dashboard/views.py
Due: stylelint

chore: update node dependencies (#4837)
  js-sdk/package-lock.json
  js-sdk/package.json
  js-sdk/yarn.lock
  package-lock.json
  package.json
  yarn.lock
Due: none

Fix reserve bounty to not require approval (#4716)
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/models.py
  app/dashboard/tests/test_dashboard_models.py
  app/dashboard/views.py
Due: eslint

added missing migration
  app/dashboard/migrations/0043_auto_20190724_1507.py
Due: none

added missing migration (#4859)
  app/dashboard/migrations/0043_auto_20190724_1507.py
Due: none

allow change ownership to be blank so you can edit via admin
  app/grants/models.py
Due: none

Fix build error on grant detail.js
  app/assets/v2/js/grants/detail.js
Due: eslint

allow change ownership to be blank so you can edit via admin (#4860)
  app/grants/models.py
Due: none

fix activities not loading
  app/dashboard/views.py
Due: none

fix activities not loading (#4861)
  app/dashboard/views.py
Due: none

change copy
  app/dashboard/templates/board.html
Due: none

add link to dashboard
  app/dashboard/templates/shared/nav_auth.html
Due: none

add workplan to activity
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/router.py
  app/dashboard/templates/bounty/details.html
Due: eslint

fix identation
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

fix image
  app/assets/v2/js/base.js
Due: eslint

FRESH NEWSLETTER
  app/retail/emails.py
Due: none

fix image (#4865)
  app/assets/v2/js/base.js
Due: eslint

Prevent extending foreign bounties (#4775)
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

chore: show supported by only if sponsors are present
  app/dashboard/templates/shared/hackathon_sponsors.html
Due: none

dont allow invalid profile wallpapers
  app/dashboard/views.py
Due: none

fix for 500 on 'delete account'
  app/marketing/utils.py
Due: none

fix for https://sentry.io/organizations/gitcoin/issues/1125876856/?project=1398424&query=is%3Aunresolved&statsPeriod=14d&utc=true
  app/marketing/utils.py
Due: none

mend
  app/app/local.env
  yarn.lock
Due: none

Clean up items requested by Owocki
  app/app/local.env
  app/feeswapper/management/commands/sampleOutput.txt
Due: none

leaderboard link
  app/marketing/views.py
Due: none
