Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

update setting local storage
  cypress/integration/bounties/test_bounty_creation.js
Due: eslint

correct typo in previous update
  cypress/integration/bounties/test_bounty_creation.js
Due: eslint

remove click on dismiss button
  cypress/integration/bounties/test_bounty_creation.js
Due: eslint

more descriptive text
  app/grants/README.md
Due: none

updated to please linter
  cypress/integration/grants/test_grant_explorer.js
Due: eslint

Gitc 617 - Url unfurl grants new (#9920)
  app/git/tests/models/test_git_cache.py
  app/git/tests/test_utils.py
  app/grants/models/__init__.py
  app/grants/templates/grants/_new.html
  app/grants/tests/views/resources/not_an_image.txt
  app/grants/tests/views/test_grant_new_routes.py
  app/grants/urls.py
  app/grants/views.py
  bin/ci/cypress-run
  cypress/integration/bounties/test_bounty_creation.js
  cypress/integration/grants/test_grant_explorer.js
Due: eslint

ready_for_payout in review + fix sorting
  app/assets/v2/js/grants/matching_funds.js
  app/grants/serializers.py
  app/grants/templates/grants/matching_funds.html
Due: eslint

ensure user is in right payout network to claim
  app/assets/v2/js/grants/matching_funds.js
  app/grants/serializers.py
Due: eslint

Allow specialshort twitter handles grant creation test (#9931)
  cypress/integration/grants/test_grant_creation.js
Due: eslint

fix conflicts
  app/grants/urls.py
Due: none

GITC-557/556: claim history + ready to claim (#9694)
  app/app/middleware.py
  app/assets/v2/js/grants/matching_funds.js
  app/dashboard/models.py
  app/grants/admin.py
  app/grants/management/commands/payout_round_noncustodial.py
  app/grants/migrations/0135_auto_20211223_0906.py
  app/grants/models/__init__.py
  app/grants/models/clr_match.py
  app/grants/models/contribution.py
  app/grants/models/grant.py
  app/grants/router.py
  app/grants/serializers.py
  app/grants/tasks.py
  app/grants/templates/grants/detail/template-grant-details.html
  app/grants/templates/grants/matching_funds.html
  app/grants/urls.py
  app/grants/utils.py
  app/grants/views.py
  cypress/integration/grants/test_grant_explorer.js
Due: eslint

added disclaimer for currently unsupported tokens
  app/grants/templates/grants/matching_funds.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  app/middleware/index.html
  avatar/models/index.html
  avatar/utils/index.html
  dashboard/models/index.html
  git/utils/index.html
  grants/admin/index.html
  grants/router/index.html
  grants/serializers/index.html
  grants/utils/index.html
  grants/views/index.html
  marketing/commands/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

update text
  app/app/settings.py
  app/assets/v2/js/grants/_detail-component.js
Due: eslint

fix: ensure only successfull contributions are sent (#9916)
  app/retail/emails.py
Due: none

Gitc 577: collections qa (#9923)
  app/assets/v2/js/grants/index.js
  app/assets/v2/scss/grants/collection.scss
  app/grants/serializers.py
  app/grants/templates/grants/components/collection.html
  app/grants/templates/grants/explorer.html
Due: eslint, stylelint

fix claim error
  app/grants/views.py
Due: none

refactor following code review
  app/grants/tests/models/test_grant.py
Due: none

add tests for sybil_score, funding_info, has_external_funding, clr_prediction_curve
  app/grants/tests/models/test_grant.py
Due: none

add tests for random_shuffle, weighted_shuffle, contribution_count, contributor_count, positive_round_contributor_count, and negative_round_contributor_count
  app/grants/tests/models/test_grant.py
Due: none

add test for slug and docstrings
  app/grants/tests/models/test_grant.py
Due: none

add test for visible and region attributes
  app/grants/tests/models/test_grant.py
Due: none

add test for grant factory and vector_column attribute
  app/grants/tests/models/test_grant.py
Due: none

add tests for has_network, required_gas_price, admin_profile, team_members, and image_css
  app/grants/tests/models/test_grant.py
Due: none

add tests for token_address, token_symbol, and contract_address
  app/grants/tests/models/test_grant.py
Due: none

add tests for weighted_risk_score, in_active_clrs, is_clr_active, and clr_round_num
  app/grants/tests/models/test_grant.py
Due: none

add test for twitter handles
  app/grants/tests/models/test_grant.py
Due: none

add tests for link_to_new_grant, logo, and logo_svg
  app/grants/tests/models/test_grant.py
Due: none

add tests for description and description_rich attributes
  app/grants/tests/models/test_grant.py
Due: none

add tests for amount_received_with_phantom_funds, active_subscriptions, and hidden
  app/grants/tests/models/test_grant.py
Due: none

add tests for reference_url, github_project_url, is_clr_eligible, and admin_message
  app/grants/tests/models/test_grant.py
Due: none

add tests for categories and tags
  app/grants/tests/models/test_grant.py
Due: none

add tests for amount_received_in_round and amount_received
  app/grants/tests/models/test_grant.py
Due: none

add test for deploy_tx_id
  app/grants/tests/models/test_grant.py
Due: none

add test cases for 'active', 'grant_type', and 'title' attributes
  app/grants/tests/models/test_grant.py
Due: none

remove unneeded import
  app/grants/tests/models/test_grant.py
Due: none

add tests for defer_clr_to, last_clr_calc_date, last_update
  app/grants/tests/models/test_grant.py
Due: none

add tests for cancel_tx_id, contract_version, metadata
  app/grants/tests/models/test_grant.py
Due: none

add test for twitter_verified, twitter_verified_by, and twitter_verified_at
  app/grants/tests/models/test_grant.py
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
